In [2]:
import pandas as pd
import numpy as np
import geopandas as gpd
import matplotlib.pyplot as plt

In [3]:
# 导入主表
df = pd.read_excel("UI_UER_2006.xlsx")   # 含 Citycode

In [4]:
df

,UrbanPopulation,Surface_Area_of_Built_District,Road_Surface_Area_Per_Capita_m2,Parkland_per_capita,Rate_of_non_hazardous_treatment_of_domestic_waste(%),Population_urbanization,GDP,First_sector_of_GDP,Industrial_wastewater_discharge_(tonnes),Industrial_fume_emissions_(tonnes),Comprehensive_industrial_solid_waste_utilisation_rate(%),Citycode,Area_of_administrative_districts,Greening_coverage_in_builtup_areas,Year
0,1333.00,1254.23,7.40,10.68,74.57,0.755995,78702835,1.42,10170,14648,80.79,110000,16405,44.34,2006
1,567.45,539.98,13.98,6.59,85.06,0.601798,43591500,3.04,22978,66920,98.41,120000,11924,5.55,2006
2,195.05,174.96,9.12,8.24,100.00,0.402863,20266320,13.87,24196,86665,95.84,130100,14058,36.15,2006
3,187.07,209.11,12.31,8.95,98.90,0.318862,23621410,11.65,28713,143440,61.64,130200,13808,42.17,2006
4,78.87,82.62,13.52,8.29,100.00,0.419655,5520509,10.44,5508,15740,91.94,130300,7792,42.70,2006
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,22.33,24.10,18.19,7.74,76.77,0.309494,1196379,16.33,6386,19834,76.63,640300,16747,26.43,2006
275,15.72,31.64,18.80,9.26,95.80,0.122991,519279,28.66,250,1650,95.29,640400,10524,22.50,2006
276,15.30,19.30,19.12,22.67,96.70,0.248776,750050,21.27,4189,28417,70.00,640500,13659,28.74,2006
277,201.83,235.88,7.30,5.46,65.39,0.786465,6543019,1.46,5232,47066,68.47,650100,13793,20.99,2006
278,25.72,48.20,19.86,8.06,67.70,0.989171,4732562,0.41,1527,4344,48.40,650200,7374,39.81,2006

In [5]:
# CO2
co2 = pd.read_excel("CO2_2006.xlsx")      # 含 Citycode, CO2
df = df.merge(co2[['Citycode', 'CO2']], on='Citycode', how='left')

# ISA
isa = pd.read_excel("ISA_2006.xlsx")      # 含 CITY_ID, ISA
df = df.merge(isa[['CITY_ID', 'ISA']], left_on='Citycode', right_on='CITY_ID', how='left')
df = df.drop(columns=['CITY_ID'])

# NPP
npp = pd.read_excel("NPP_2006_withCitycode.xlsx")   # 含 Citycode, NPP
df = df.merge(npp[['Citycode', 'NPP']], on='Citycode', how='left')

# NTL
ntl = pd.read_excel("NTL_2006.xlsx")      # 含 CITY_ID, NTL
df = df.merge(ntl[['CITY_ID', 'NTL']], left_on='Citycode', right_on='CITY_ID', how='left')
df = df.drop(columns=['CITY_ID'])

# PD
pd_df = pd.read_excel("PD_2006.xlsx")     # 含 CITY_ID, PD
df = df.merge(pd_df[['CITY_ID', 'PD']], left_on='Citycode', right_on='CITY_ID', how='left')
df = df.drop(columns=['CITY_ID'])

# PM2.5
pm25 = pd.read_excel("PM25_2006.xlsx")    # 含 CITY_ID, pm2.5
df = df.merge(pm25[['CITY_ID', 'pm2.5']], left_on='Citycode', right_on='CITY_ID', how='left')
df = df.drop(columns=['CITY_ID'])

# Science expenditure
sci = pd.read_excel("SCI_EXP_2006.xlsx")  # 含 Citycode, Science_expend
df = df.merge(sci[['Citycode', 'Science_expend']], on='Citycode', how='left')

# Water & SO2
water = pd.read_excel("Water_SO2_2006.xlsx")   # 含 code, SO2_REMOVE, Sewage
df = df.merge(water[['code', 'SO2_REMOVE', 'Sewage']], left_on='Citycode', right_on='code', how='left')
df = df.drop(columns=['code'])

In [6]:
df

,UrbanPopulation,Surface_Area_of_Built_District,Road_Surface_Area_Per_Capita_m2,Parkland_per_capita,Rate_of_non_hazardous_treatment_of_domestic_waste(%),Population_urbanization,GDP,First_sector_of_GDP,Industrial_wastewater_discharge_(tonnes),Industrial_fume_emissions_(tonnes),...,Year,CO2,ISA,NPP,NTL,PD,pm2.5,Science_expend,SO2_REMOVE,Sewage
0,1333.00,1254.23,7.40,10.68,74.57,0.755995,78702835,1.42,10170,14648,...,2006,6.389929e+07,2999.43,295.940510,15.594578,573.660600,71.287617,193238.0,86153.000000,75.08
1,567.45,539.98,13.98,6.59,85.06,0.601798,43591500,3.04,22978,66920,...,2006,8.383946e+07,3062.77,254.066118,18.353817,594.105793,87.997593,33063.0,176665.000000,83.50
2,195.05,174.96,9.12,8.24,100.00,0.402863,20266320,13.87,24196,86665,...,2006,6.219855e+07,2280.70,255.962650,7.444894,458.924146,92.621063,4542.0,179444.000000,93.46
3,187.07,209.11,12.31,8.95,98.90,0.318862,23621410,11.65,28713,143440,...,2006,1.520099e+08,2593.41,303.394370,9.906774,366.763864,75.550144,3287.0,170324.000000,93.61
4,78.87,82.62,13.52,8.29,100.00,0.419655,5520509,10.44,5508,15740,...,2006,1.596591e+07,801.55,373.610249,4.942014,245.107131,61.164192,745.0,13644.000000,92.48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,22.33,24.10,18.19,7.74,76.77,0.309494,1196379,16.33,6386,19834,...,2006,1.447830e+07,65.11,115.967043,1.023205,48.410165,50.564082,490.0,1316.000000,-13.88
275,15.72,31.64,18.80,9.26,95.80,0.122991,519279,28.66,250,1650,...,2006,1.370427e+06,13.08,297.646470,0.583831,90.032305,48.769983,623.0,254.571429,43.55
276,15.30,19.30,19.12,22.67,96.70,0.248776,750050,21.27,4189,28417,...,2006,8.910389e+06,70.55,121.509087,1.036594,54.277418,52.468350,164.0,953.000000,75.50
277,201.83,235.88,7.30,5.46,65.39,0.786465,6543019,1.46,5232,47066,...,2006,4.082909e+07,297.34,162.062913,3.016973,105.573638,46.525030,628.0,47254.000000,57.53
278,25.72,48.20,19.86,8.06,67.70,0.989171,4732562,0.41,1527,4344,...,2006,3.131131e+06,64.21,44.481827,3.491255,20.886957,42.172353,436.0,8314.000000,90.61

In [7]:
# Removes rows containing NaN values in the specified columns
columns_to_check = [ 
    'First_sector_of_GDP', 
    'GDP', 
    'Citycode', 
    'Area_of_administrative_districts',
    'NTL',
    'ISA',
    'PD'
    
]
df_cleaned = df.dropna(subset=columns_to_check)

In [8]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 278 entries, 0 to 278
Data columns (total 24 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   UrbanPopulation                                           278 non-null    float64
 1   Surface_Area_of_Built_District                            278 non-null    float64
 2   Road_Surface_Area_Per_Capita_m2                           278 non-null    float64
 3   Parkland_per_capita                                       278 non-null    float64
 4   Rate_of_non_hazardous_treatment_of_domestic_waste(%)      278 non-null    float64
 5   Population_urbanization                                   278 non-null    float64
 6   GDP                                                       278 non-null    int64
 7   First_sector_of_GDP                                       278 non-null    float64
 8   Industrial_wastewater_discharge_(tonnes)                  278 non-null    int64
 9   Industrial_fume_emissions_(tonnes)                        278 non-null    int64
 10  Comprehensive_industrial_solid_waste_utilisation_rate(%)  278 non-null    float64
 11  Citycode                                                  278 non-null    int64
 12  Area_of_administrative_districts                          278 non-null    int64
 13  Greening_coverage_in_builtup_areas                        278 non-null    float64
 14  Year                                                      278 non-null    int64
 15  CO2                                                       278 non-null    float64
 16  ISA                                                       278 non-null    float64
 17  NPP                                                       278 non-null    float64
 18  NTL                                                       278 non-null    float64
 19  PD                                                        278 non-null    float64
 20  pm2.5                                                     278 non-null    float64
 21  Science_expend                                            277 non-null    float64
 22  SO2_REMOVE                                                275 non-null    float64
 23  Sewage                                                    277 non-null    float64
dtypes: float64(18), int64(6)
memory usage: 54.3 KB

In [7]:
# Specify the columns to check for NaN values
columns_to_check = [
    'Population_urbanization',
    'PD',
    'ISA',
    'UrbanPopulation', 
    'First_sector_of_GDP', 
    'GDP', 
    'NTL',
    'Citycode', 
    'Road_Surface_Area_Per_Capita_m2',
]

# Convert these columns to numeric types to handle non-numeric content
for column in columns_to_check:
    df_cleaned[column] = pd.to_numeric(df_cleaned[column], errors='coerce')

/tmp/ipykernel_44874/2789612693.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned[column] = pd.to_numeric(df_cleaned[column], errors='coerce')

In [7]:
df_cleaned['UrbanTemporaryPopulation'] = df_cleaned['UrbanTemporaryPopulation'].fillna(0)

/tmp/ipykernel_4090/1004577029.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['UrbanTemporaryPopulation'] = df_cleaned['UrbanTemporaryPopulation'].fillna(0)

In [8]:
df_cleaned['PUI'] = (df_cleaned['Population_urbanization'])

/tmp/ipykernel_44874/629985429.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['PUI'] = (df_cleaned['Population_urbanization'])

In [14]:
df_cleaned

,UrbanPopulation,Surface_Area_of_Built_District,Road_Surface_Area_Per_Capita_m2,Parkland_per_capita,Rate_of_non_hazardous_treatment_of_domestic_waste(%),Population_urbanization,GDP,First_sector_of_GDP,Industrial_wastewater_discharge_(tonnes),Industrial_fume_emissions_(tonnes),...,CO2,ISA,NPP,NTL,PD,pm2.5,Science_expend,SO2_REMOVE,Sewage,PUI
0,1333.00,1254.23,7.40,10.68,74.57,0.755995,78702835,1.42,10170,14648,...,6.389929e+07,2999.43,NaN,15.594578,573.660600,71.287617,193238.0,86153.000000,75.08,0.755995
1,567.45,539.98,13.98,6.59,85.06,0.601798,43591500,3.04,22978,66920,...,8.383946e+07,3062.77,NaN,18.353817,594.105793,87.997593,33063.0,176665.000000,83.50,0.601798
2,195.05,174.96,9.12,8.24,100.00,0.402863,20266320,13.87,24196,86665,...,6.219855e+07,2280.70,255.962650,7.444894,458.924146,92.621063,4542.0,179444.000000,93.46,0.402863
3,187.07,209.11,12.31,8.95,98.90,0.318862,23621410,11.65,28713,143440,...,1.520099e+08,2593.41,303.394370,9.906774,366.763864,75.550144,3287.0,170324.000000,93.61,0.318862
4,78.87,82.62,13.52,8.29,100.00,0.419655,5520509,10.44,5508,15740,...,1.596591e+07,801.55,373.610249,4.942014,245.107131,61.164192,745.0,13644.000000,92.48,0.419655
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,22.33,24.10,18.19,7.74,76.77,0.309494,1196379,16.33,6386,19834,...,1.447830e+07,65.11,115.967043,1.023205,48.410165,50.564082,490.0,1316.000000,-13.88,0.309494
275,15.72,31.64,18.80,9.26,95.80,0.122991,519279,28.66,250,1650,...,1.370427e+06,13.08,297.646470,0.583831,90.032305,48.769983,623.0,254.571429,43.55,0.122991
276,15.30,19.30,19.12,22.67,96.70,0.248776,750050,21.27,4189,28417,...,8.910389e+06,70.55,121.509087,1.036594,54.277418,52.468350,164.0,953.000000,75.50,0.248776
277,201.83,235.88,7.30,5.46,65.39,0.786465,6543019,1.46,5232,47066,...,4.082909e+07,297.34,162.062913,3.016973,105.573638,46.525030,628.0,47254.000000,57.53,0.786465
278,25.72,48.20,19.86,8.06,67.70,0.989171,4732562,0.41,1527,4344,...,3.131131e+06,64.21,44.481827,3.491255,20.886957,42.172353,436.0,8314.000000,90.61,0.989171

In [9]:
df_cleaned['PUI'].describe()

count    278.000000
mean       0.343677
std        0.185301
min        0.080718
25%        0.211893
50%        0.294381
75%        0.436744
max        1.000000
Name: PUI, dtype: float64

In [10]:
df_cleaned['PD'].describe()

count     278.000000
mean      324.001328
std       328.364637
min         4.069782
25%       124.010402
50%       241.988099
75%       436.749026
max      3118.166389
Name: PD, dtype: float64

In [11]:
df_cleaned['LUI'] = (df_cleaned['ISA']) / df_cleaned['Area_of_administrative_districts']

/tmp/ipykernel_44874/2781354406.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['LUI'] = (df_cleaned['ISA']) / df_cleaned['Area_of_administrative_districts']

In [13]:
df_cleaned['LUI'].describe()

count    278.000000
mean       0.065294
std        0.070615
min        0.000000
25%        0.011698
50%        0.032934
75%        0.107416
max        0.387216
Name: LUI, dtype: float64

In [12]:
df_cleaned['EUI'] = 1 - (df_cleaned['First_sector_of_GDP']) / 100

/tmp/ipykernel_44874/1051056126.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['EUI'] = 1 - (df_cleaned['First_sector_of_GDP']) / 100

In [14]:
df_cleaned['EUI'].describe()

count    278.000000
mean       0.826105
std        0.101288
min        0.552900
25%        0.741300
50%        0.836450
75%        0.913400
max        0.998000
Name: EUI, dtype: float64

In [15]:
df_cleaned['EAL'] = df_cleaned['NTL']

/tmp/ipykernel_44874/309165452.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['EAL'] = df_cleaned['NTL']

In [16]:
df_cleaned['EAL'].describe()

count    278.000000
mean       4.981937
std        6.871210
min        0.098048
25%        1.121448
50%        2.556545
75%        6.759165
max       51.860408
Name: EAL, dtype: float64

In [23]:
df_cleaned

,UrbanPopulation,Surface_Area_of_Built_District,Road_Surface_Area_Per_Capita_m2,Parkland_per_capita,Rate_of_non_hazardous_treatment_of_domestic_waste(%),Population_urbanization,GDP,First_sector_of_GDP,Industrial_wastewater_discharge_(tonnes),Industrial_fume_emissions_(tonnes),...,NTL,PD,pm2.5,Science_expend,SO2_REMOVE,Sewage,PUI,LUI,EUI,EAL
0,1333.00,1254.23,7.40,10.68,74.57,0.755995,78702835,1.42,10170,14648,...,15.594578,573.660600,71.287617,193238.0,86153.000000,75.08,0.755995,0.182836,0.9858,15.594578
1,567.45,539.98,13.98,6.59,85.06,0.601798,43591500,3.04,22978,66920,...,18.353817,594.105793,87.997593,33063.0,176665.000000,83.50,0.601798,0.256858,0.9696,18.353817
2,195.05,174.96,9.12,8.24,100.00,0.402863,20266320,13.87,24196,86665,...,7.444894,458.924146,92.621063,4542.0,179444.000000,93.46,0.402863,0.162235,0.8613,7.444894
3,187.07,209.11,12.31,8.95,98.90,0.318862,23621410,11.65,28713,143440,...,9.906774,366.763864,75.550144,3287.0,170324.000000,93.61,0.318862,0.187819,0.8835,9.906774
4,78.87,82.62,13.52,8.29,100.00,0.419655,5520509,10.44,5508,15740,...,4.942014,245.107131,61.164192,745.0,13644.000000,92.48,0.419655,0.102868,0.8956,4.942014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,22.33,24.10,18.19,7.74,76.77,0.309494,1196379,16.33,6386,19834,...,1.023205,48.410165,50.564082,490.0,1316.000000,-13.88,0.309494,0.003888,0.8367,1.023205
275,15.72,31.64,18.80,9.26,95.80,0.122991,519279,28.66,250,1650,...,0.583831,90.032305,48.769983,623.0,254.571429,43.55,0.122991,0.001243,0.7134,0.583831
276,15.30,19.30,19.12,22.67,96.70,0.248776,750050,21.27,4189,28417,...,1.036594,54.277418,52.468350,164.0,953.000000,75.50,0.248776,0.005165,0.7873,1.036594
277,201.83,235.88,7.30,5.46,65.39,0.786465,6543019,1.46,5232,47066,...,3.016973,105.573638,46.525030,628.0,47254.000000,57.53,0.786465,0.021557,0.9854,3.016973
278,25.72,48.20,19.86,8.06,67.70,0.989171,4732562,0.41,1527,4344,...,3.491255,20.886957,42.172353,436.0,8314.000000,90.61,0.989171,0.008708,0.9959,3.491255

In [17]:
# Import land_use_intensity_by_city2006.csv data
df_land_use = pd.read_csv("land_use_intensity_by_city2006.csv", encoding='ISO-8859-1')

In [18]:
df_land_use

     Citycode  Provincecode          Province            City         LUL
0    110000.0      110000.0            ±±¾©ÊÐ          ±±¾©ÊÐ  264.527306
1    120000.0      120000.0            Ìì½òÊÐ          Ìì½òÊÐ  297.691218
2    130100.0      130000.0            ºÓ±±Ê¡        Ê¯¼Ò×¯ÊÐ  283.814306
3    130200.0      130000.0            ºÓ±±Ê¡          ÌÆÉ½ÊÐ  293.597938
4    130300.0      130000.0            ºÓ±±Ê¡        ÇØ»ÊµºÊÐ  264.204125
..        ...           ...               ...             ...         ...
365  659009.0      650000.0  ÐÂ½®Î¬Îá¶û×ÔÖÎÇø          À¥ÓñÊÐ  104.023058
366  659010.0      650000.0  ÐÂ½®Î¬Îá¶û×ÔÖÎÇø        ºúÑîºÓÊÐ  238.313187
367  710000.0      710000.0            Ì¨ÍåÊ¡          Ì¨ÍåÊ¡  230.894538
368  810000.0      810000.0    Ïã¸ÛÌØ±ðÐÐÕþÇø  Ïã¸ÛÌØ±ðÐÐÕþÇø  221.366624
369  820000.0      820000.0    °ÄÃÅÌØ±ðÐÐÕþÇø  °ÄÃÅÌØ±ðÐÐÕþÇø  198.935638

[370 rows x 5 columns]

In [19]:
df_merged = df_cleaned.merge(df_land_use[['Citycode', 'LUL']], on='Citycode', how='left')

In [20]:
df_merged

,UrbanPopulation,Surface_Area_of_Built_District,Road_Surface_Area_Per_Capita_m2,Parkland_per_capita,Rate_of_non_hazardous_treatment_of_domestic_waste(%),Population_urbanization,GDP,First_sector_of_GDP,Industrial_wastewater_discharge_(tonnes),Industrial_fume_emissions_(tonnes),...,PD,pm2.5,Science_expend,SO2_REMOVE,Sewage,PUI,LUI,EUI,EAL,LUL
0,1333.00,1254.23,7.40,10.68,74.57,0.755995,78702835,1.42,10170,14648,...,573.660600,71.287617,193238.0,86153.000000,75.08,0.755995,0.182836,0.9858,15.594578,264.527306
1,567.45,539.98,13.98,6.59,85.06,0.601798,43591500,3.04,22978,66920,...,594.105793,87.997593,33063.0,176665.000000,83.50,0.601798,0.256858,0.9696,18.353817,297.691218
2,195.05,174.96,9.12,8.24,100.00,0.402863,20266320,13.87,24196,86665,...,458.924146,92.621063,4542.0,179444.000000,93.46,0.402863,0.162235,0.8613,7.444894,283.814306
3,187.07,209.11,12.31,8.95,98.90,0.318862,23621410,11.65,28713,143440,...,366.763864,75.550144,3287.0,170324.000000,93.61,0.318862,0.187819,0.8835,9.906774,293.597938
4,78.87,82.62,13.52,8.29,100.00,0.419655,5520509,10.44,5508,15740,...,245.107131,61.164192,745.0,13644.000000,92.48,0.419655,0.102868,0.8956,4.942014,264.204125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,22.33,24.10,18.19,7.74,76.77,0.309494,1196379,16.33,6386,19834,...,48.410165,50.564082,490.0,1316.000000,-13.88,0.309494,0.003888,0.8367,1.023205,210.387268
274,15.72,31.64,18.80,9.26,95.80,0.122991,519279,28.66,250,1650,...,90.032305,48.769983,623.0,254.571429,43.55,0.122991,0.001243,0.7134,0.583831,240.457458
275,15.30,19.30,19.12,22.67,96.70,0.248776,750050,21.27,4189,28417,...,54.277418,52.468350,164.0,953.000000,75.50,0.248776,0.005165,0.7873,1.036594,204.353408
276,201.83,235.88,7.30,5.46,65.39,0.786465,6543019,1.46,5232,47066,...,105.573638,46.525030,628.0,47254.000000,57.53,0.786465,0.021557,0.9854,3.016973,138.926754
277,25.72,48.20,19.86,8.06,67.70,0.989171,4732562,0.41,1527,4344,...,20.886957,42.172353,436.0,8314.000000,90.61,0.989171,0.008708,0.9959,3.491255,57.812272

In [21]:
columns_to_check1 = ['PUI','PD', 'LUI', 'EUI', 'EAL','LUL']

data_merged = df_merged.dropna(subset=columns_to_check1)

In [31]:
data_merged

,UrbanPopulation,Surface_Area_of_Built_District,Road_Surface_Area_Per_Capita_m2,Parkland_per_capita,Rate_of_non_hazardous_treatment_of_domestic_waste(%),Population_urbanization,GDP,First_sector_of_GDP,Industrial_wastewater_discharge_(tonnes),Industrial_fume_emissions_(tonnes),...,PD,pm2.5,Science_expend,SO2_REMOVE,Sewage,PUI,LUI,EUI,EAL,LUL
0,1333.00,1254.23,7.40,10.68,74.57,0.755995,78702835,1.42,10170,14648,...,573.660600,71.287617,193238.0,86153.000000,75.08,0.755995,0.182836,0.9858,15.594578,264.527306
1,567.45,539.98,13.98,6.59,85.06,0.601798,43591500,3.04,22978,66920,...,594.105793,87.997593,33063.0,176665.000000,83.50,0.601798,0.256858,0.9696,18.353817,297.691218
2,195.05,174.96,9.12,8.24,100.00,0.402863,20266320,13.87,24196,86665,...,458.924146,92.621063,4542.0,179444.000000,93.46,0.402863,0.162235,0.8613,7.444894,283.814306
3,187.07,209.11,12.31,8.95,98.90,0.318862,23621410,11.65,28713,143440,...,366.763864,75.550144,3287.0,170324.000000,93.61,0.318862,0.187819,0.8835,9.906774,293.597938
4,78.87,82.62,13.52,8.29,100.00,0.419655,5520509,10.44,5508,15740,...,245.107131,61.164192,745.0,13644.000000,92.48,0.419655,0.102868,0.8956,4.942014,264.204125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,22.33,24.10,18.19,7.74,76.77,0.309494,1196379,16.33,6386,19834,...,48.410165,50.564082,490.0,1316.000000,-13.88,0.309494,0.003888,0.8367,1.023205,210.387268
274,15.72,31.64,18.80,9.26,95.80,0.122991,519279,28.66,250,1650,...,90.032305,48.769983,623.0,254.571429,43.55,0.122991,0.001243,0.7134,0.583831,240.457458
275,15.30,19.30,19.12,22.67,96.70,0.248776,750050,21.27,4189,28417,...,54.277418,52.468350,164.0,953.000000,75.50,0.248776,0.005165,0.7873,1.036594,204.353408
276,201.83,235.88,7.30,5.46,65.39,0.786465,6543019,1.46,5232,47066,...,105.573638,46.525030,628.0,47254.000000,57.53,0.786465,0.021557,0.9854,3.016973,138.926754
277,25.72,48.20,19.86,8.06,67.70,0.989171,4732562,0.41,1527,4344,...,20.886957,42.172353,436.0,8314.000000,90.61,0.989171,0.008708,0.9959,3.491255,57.812272

In [22]:
columns_to_keep = ['Year', 'Citycode', 'PUI','PD', 'LUI', 'EUI', 'EAL','LUL']
ui_index_2006 = data_merged[columns_to_keep]

ui_index_2006.to_csv('UI_index_2006.csv', index=False)

In [9]:
columns_to_fill = [
    'Industrial_wastewater_discharge_(tonnes)', 
    'Industrial_fume_emissions_(tonnes)', 
    'pm2.5',
    'CO2',
    'Comprehensive_industrial_solid_waste_utilisation_rate(%)', 
    'Rate_of_non_hazardous_treatment_of_domestic_waste(%)', 
    'Sewage',
    'SO2_REMOVE',
    'Greening_coverage_in_builtup_areas', 
    'Parkland_per_capita',
    'NPP',
    'Science_expend'
]

df_cleaned[columns_to_fill] = df_cleaned[columns_to_fill].fillna(0)

/tmp/ipykernel_85021/1814290371.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned[columns_to_fill] = df_cleaned[columns_to_fill].fillna(0)

In [10]:
df_cleaned

,UrbanPopulation,Surface_Area_of_Built_District,Road_Surface_Area_Per_Capita_m2,Parkland_per_capita,Rate_of_non_hazardous_treatment_of_domestic_waste(%),Population_urbanization,GDP,First_sector_of_GDP,Industrial_wastewater_discharge_(tonnes),Industrial_fume_emissions_(tonnes),...,Year,CO2,ISA,NPP,NTL,PD,pm2.5,Science_expend,SO2_REMOVE,Sewage
0,1333.00,1254.23,7.40,10.68,74.57,0.755995,78702835,1.42,10170,14648,...,2006,6.389929e+07,2999.43,295.940510,15.594578,573.660600,71.287617,193238.0,86153.000000,75.08
1,567.45,539.98,13.98,6.59,85.06,0.601798,43591500,3.04,22978,66920,...,2006,8.383946e+07,3062.77,254.066118,18.353817,594.105793,87.997593,33063.0,176665.000000,83.50
2,195.05,174.96,9.12,8.24,100.00,0.402863,20266320,13.87,24196,86665,...,2006,6.219855e+07,2280.70,255.962650,7.444894,458.924146,92.621063,4542.0,179444.000000,93.46
3,187.07,209.11,12.31,8.95,98.90,0.318862,23621410,11.65,28713,143440,...,2006,1.520099e+08,2593.41,303.394370,9.906774,366.763864,75.550144,3287.0,170324.000000,93.61
4,78.87,82.62,13.52,8.29,100.00,0.419655,5520509,10.44,5508,15740,...,2006,1.596591e+07,801.55,373.610249,4.942014,245.107131,61.164192,745.0,13644.000000,92.48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,22.33,24.10,18.19,7.74,76.77,0.309494,1196379,16.33,6386,19834,...,2006,1.447830e+07,65.11,115.967043,1.023205,48.410165,50.564082,490.0,1316.000000,-13.88
275,15.72,31.64,18.80,9.26,95.80,0.122991,519279,28.66,250,1650,...,2006,1.370427e+06,13.08,297.646470,0.583831,90.032305,48.769983,623.0,254.571429,43.55
276,15.30,19.30,19.12,22.67,96.70,0.248776,750050,21.27,4189,28417,...,2006,8.910389e+06,70.55,121.509087,1.036594,54.277418,52.468350,164.0,953.000000,75.50
277,201.83,235.88,7.30,5.46,65.39,0.786465,6543019,1.46,5232,47066,...,2006,4.082909e+07,297.34,162.062913,3.016973,105.573638,46.525030,628.0,47254.000000,57.53
278,25.72,48.20,19.86,8.06,67.70,0.989171,4732562,0.41,1527,4344,...,2006,3.131131e+06,64.21,44.481827,3.491255,20.886957,42.172353,436.0,8314.000000,90.61

In [12]:
#导出进行shap
#df_cleaned.to_csv('All_indi_2006.csv', index=False)

In [24]:
df_cleaned['Res1'] = df_cleaned['Industrial_wastewater_discharge_(tonnes)'] / df_cleaned['GDP']

/tmp/ipykernel_44874/2666823736.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Res1'] = df_cleaned['Industrial_wastewater_discharge_(tonnes)'] / df_cleaned['GDP']

In [25]:
df_cleaned['Res1'].describe()

count    278.000000
mean       0.001288
std        0.001349
min        0.000108
25%        0.000555
50%        0.001008
75%        0.001519
max        0.014516
Name: Res1, dtype: float64

In [26]:
df_cleaned['Res2'] = df_cleaned['Industrial_fume_emissions_(tonnes)'] / df_cleaned['GDP']

/tmp/ipykernel_44874/2575824147.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Res2'] = df_cleaned['Industrial_fume_emissions_(tonnes)'] / df_cleaned['GDP']

In [27]:
df_cleaned['Res2'].describe()

count    278.000000
mean       0.006355
std        0.007706
min        0.000069
25%        0.001741
50%        0.003886
75%        0.007849
max        0.059008
Name: Res2, dtype: float64

In [28]:
df_cleaned['Res3'] = df_cleaned['pm2.5']

/tmp/ipykernel_44874/2715485576.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Res3'] = df_cleaned['pm2.5']

In [29]:
df_cleaned['Res3'].describe()

count    278.000000
mean      55.141319
std       16.429131
min       22.794729
25%       42.840713
50%       51.810847
75%       65.361620
max       99.368113
Name: Res3, dtype: float64

In [31]:
df_cleaned['Res4'] = df_cleaned['CO2']

/tmp/ipykernel_44874/4017769138.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Res4'] = df_cleaned['CO2']

In [32]:
df_cleaned['Res4'].describe()

count    2.780000e+02
mean     2.242579e+07
std      2.192255e+07
min      1.175984e+06
25%      7.702930e+06
50%      1.718941e+07
75%      2.840765e+07
max      1.520099e+08
Name: Res4, dtype: float64

In [33]:
df_cleaned['Ada1'] = df_cleaned['Comprehensive_industrial_solid_waste_utilisation_rate(%)'] 
df_cleaned['Ada1'].describe()

/tmp/ipykernel_44874/526319254.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Ada1'] = df_cleaned['Comprehensive_industrial_solid_waste_utilisation_rate(%)']

count    278.000000
mean      75.998561
std       24.293212
min        0.000000
25%       62.657500
50%       85.825000
75%       94.975000
max      135.000000
Name: Ada1, dtype: float64

In [34]:
rows_ada1_above_100 = df_cleaned[df_cleaned['Ada1'] > 100]
rows_ada1_above_100

,UrbanPopulation,Surface_Area_of_Built_District,Road_Surface_Area_Per_Capita_m2,Parkland_per_capita,Rate_of_non_hazardous_treatment_of_domestic_waste(%),Population_urbanization,GDP,First_sector_of_GDP,Industrial_wastewater_discharge_(tonnes),Industrial_fume_emissions_(tonnes),...,Sewage,PUI,LUI,EUI,EAL,Res1,Res2,Res3,Res4,Ada1
212,13.7,23.2,12.81,4.57,0.0,0.14014,1896526,31.98,2749,18109,...,136.6,0.14014,0.007553,0.6802,0.665957,0.001449,0.009549,45.084689,3.952835e+06,135.0

In [35]:
df_cleaned['Ada2'] = df_cleaned['Rate_of_non_hazardous_treatment_of_domestic_waste(%)'] 
df_cleaned['Ada2'].describe()

/tmp/ipykernel_44874/2482281589.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Ada2'] = df_cleaned['Rate_of_non_hazardous_treatment_of_domestic_waste(%)']

count    278.000000
mean      62.046079
std       37.620033
min        0.000000
25%       33.900000
50%       74.325000
75%       97.170000
max      100.000000
Name: Ada2, dtype: float64

In [36]:
rows_ada2_above_100 = df_cleaned[df_cleaned['Ada2'] > 100]
rows_ada2_above_100

Empty DataFrame
Columns: [UrbanPopulation, Surface_Area_of_Built_District, Road_Surface_Area_Per_Capita_m2, Parkland_per_capita, Rate_of_non_hazardous_treatment_of_domestic_waste(%), Population_urbanization, GDP, First_sector_of_GDP, Industrial_wastewater_discharge_(tonnes), Industrial_fume_emissions_(tonnes), Comprehensive_industrial_solid_waste_utilisation_rate(%), Citycode, Area_of_administrative_districts, Greening_coverage_in_builtup_areas, Year, CO2, ISA, NPP, NTL, PD, pm2.5, Science_expend, SO2_REMOVE, Sewage, PUI, LUI, EUI, EAL, Res1, Res2, Res3, Res4, Ada1, Ada2]
Index: []

[0 rows x 34 columns]

In [37]:
df_cleaned['Ada3'] = df_cleaned['SO2_REMOVE'] 
df_cleaned['Ada3'].describe()

/tmp/ipykernel_44874/2674187087.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Ada3'] = df_cleaned['SO2_REMOVE']

count       278.000000
mean      49725.904933
std      104917.175801
min           0.000000
25%        2566.500000
50%       12386.500000
75%       45674.250000
max      808980.000000
Name: Ada3, dtype: float64

In [38]:
df_cleaned['Ada4'] = df_cleaned['Sewage'] 
df_cleaned['Ada4'].describe()

/tmp/ipykernel_44874/2337404170.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Ada4'] = df_cleaned['Sewage']

count    278.000000
mean      64.121619
std       60.007008
min     -220.480000
25%       41.315000
50%       74.195000
75%       91.675000
max      282.350000
Name: Ada4, dtype: float64

In [39]:
df_cleaned['Rec1'] = df_cleaned['Greening_coverage_in_builtup_areas'] 
df_cleaned['Rec2'] = df_cleaned['Parkland_per_capita'] 
df_cleaned['Rec3'] = df_cleaned['NPP'] 
df_cleaned['Rec4'] = df_cleaned['Science_expend']

/tmp/ipykernel_44874/2463940865.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Rec1'] = df_cleaned['Greening_coverage_in_builtup_areas']
/tmp/ipykernel_44874/2463940865.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Rec2'] = df_cleaned['Parkland_per_capita']
/tmp/ipykernel_44874/2463940865.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Rec3'] = df_cleaned['NPP']
/tmp/ipykernel_44874/2463940865.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Rec4'] = df_cleaned['Science_expend']

In [57]:
df_cleaned['Rec3'].describe()

count     278.000000
mean      501.866380
std       238.190739
min         0.000000
25%       345.982721
50%       454.781923
75%       616.695967
max      1321.597068
Name: Rec3, dtype: float64

In [39]:
rows_rec1_above_100 = df_cleaned[df_cleaned['Rec1'] > 100]
rows_rec1_above_100

Empty DataFrame
Columns: [Name_of_Regions, Unnamed: 1, Year, UrbanDistrictArea, UrbanDistrictPopulation, UrbanDistrictTemporaryPopulation, UrbanArea, UrbanPopulation, UrbanTemporaryPopulation, Surface_Area_of_Built_District, Area_of_Urban_Construction_Land_Subtotal, Residential, Area_for Public_Utilities, Area_for_Industrial_Overation, Area_for_Storage, Area_for_Traffic_System, Area_for_Roads_and_Plazas, Area_for_Municipal_Utilities, Greenland_Area, Area_for_Specialpurpose, Area_of_Land_Requisition_this_Year, Arable_Land, Road_Surface_Area_Per_Capita_m2, Unnamed: 23, Total_population_of_the_region, Unnamed: 25, Population_urbanization, Unnamed: 27, GDP, Unnamed: 29, First_sector_of_GDP, Unnamed: 31, Unnamed: 32, Citycode, Area_of_administrative_districts, Unnamed: 35, Industrial_wastewater_discharge_(tonnes), Industrial_sulphur_dioxide_emissions_(tonnes), Industrial_fume_emissions_(tonnes),     城市, Comprehensive_industrial_solid_waste_utilisation_rate(%), Urban_domestic_sewage_treatment_rate(%), Rate_of_non_hazardous_treatment_of_domestic_waste(%), CITY, Greening_coverage_in_builtup_areas, Unnamed: 45, Parkland_per_capita, PUI, URI, LUI, EUI, EAL, Res1, Res2, Ada1, Ada2, Rec1, Rec2]
Index: []

[0 rows x 58 columns]

In [58]:
df_cleaned['Rec4'].describe()

count       278.000000
mean       3585.751799
std       16989.086815
min           0.000000
25%         685.500000
50%        1157.000000
75%        2133.500000
max      202682.000000
Name: Rec4, dtype: float64

In [40]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 278 entries, 0 to 278
Data columns (total 40 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   UrbanPopulation                                           278 non-null    float64
 1   Surface_Area_of_Built_District                            278 non-null    float64
 2   Road_Surface_Area_Per_Capita_m2                           278 non-null    float64
 3   Parkland_per_capita                                       278 non-null    float64
 4   Rate_of_non_hazardous_treatment_of_domestic_waste(%)      278 non-null    float64
 5   Population_urbanization                                   278 non-null    float64
 6   GDP                                                       278 non-null    int64
 7   First_sector_of_GDP                                       278 non-null    float64
 8   Industrial_wastewater_discharge_(tonnes)                  278 non-null    int64
 9   Industrial_fume_emissions_(tonnes)                        278 non-null    int64
 10  Comprehensive_industrial_solid_waste_utilisation_rate(%)  278 non-null    float64
 11  Citycode                                                  278 non-null    int64
 12  Area_of_administrative_districts                          278 non-null    int64
 13  Greening_coverage_in_builtup_areas                        278 non-null    float64
 14  Year                                                      278 non-null    int64
 15  CO2                                                       278 non-null    float64
 16  ISA                                                       278 non-null    float64
 17  NPP                                                       278 non-null    float64
 18  NTL                                                       278 non-null    float64
 19  PD                                                        278 non-null    float64
 20  pm2.5                                                     278 non-null    float64
 21  Science_expend                                            278 non-null    float64
 22  SO2_REMOVE                                                278 non-null    float64
 23  Sewage                                                    278 non-null    float64
 24  PUI                                                       278 non-null    float64
 25  LUI                                                       278 non-null    float64
 26  EUI                                                       278 non-null    float64
 27  EAL                                                       278 non-null    float64
 28  Res1                                                      278 non-null    float64
 29  Res2                                                      278 non-null    float64
 30  Res3                                                      278 non-null    float64
 31  Res4                                                      278 non-null    float64
 32  Ada1                                                      278 non-null    float64
 33  Ada2                                                      278 non-null    float64
 34  Ada3                                                      278 non-null    float64
 35  Ada4                                                      278 non-null    float64
 36  Rec1                                                      278 non-null    float64
 37  Rec2                                                      278 non-null    float64
 38  Rec3                                                      278 non-null    float64
 39  Rec4                                                      278 non-null    float64
dtypes: float64(34), int64(6)
memory usage: 89.0 KB

In [41]:
columns_to_keep = ['Citycode','Year','Res1','Res2','Res3','Res4','Ada1','Ada2','Ada3','Ada4','Rec1','Rec2','Rec3','Rec4']
uer_index_2006 = df_cleaned[columns_to_keep]
uer_index_2006.to_csv('UER_index_2006.csv', index=False)

# 熵权法
# 标准化

In [42]:
# Initialize a column for the normalized values
data_merged['X1_star'] = pd.Series(dtype='float')
column_to_normalize = 'PUI'
# Iterate over each year to perform the normalization
for year in range(2006, 2007):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X1_max = year_data[column_to_normalize].max()
    X1_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X1_star'] = (year_data[column_to_normalize] - X1_min) / (X1_max - X1_min)

# Initialize a column for the normalized values
data_merged['X2_star'] = pd.Series(dtype='float')
column_to_normalize = 'PD'
# Iterate over each year to perform the normalization
for year in range(2006, 2007):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X2_max = year_data[column_to_normalize].max()
    X2_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X2_star'] = (year_data[column_to_normalize] - X2_min) / (X2_max - X2_min)


data_merged['X3_star'] = pd.Series(dtype='float')
column_to_normalize = 'LUI'
# Iterate over each year to perform the normalization
for year in range(2006, 2007):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X3_max = year_data[column_to_normalize].max()
    X3_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X3_star'] = (year_data[column_to_normalize] - X3_min) / (X3_max - X3_min)

data_merged['X4_star'] = pd.Series(dtype='float')
column_to_normalize = 'EUI'
# Iterate over each year to perform the normalization
for year in range(2006, 2007):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X4_max = year_data[column_to_normalize].max()
    X4_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X4_star'] = (year_data[column_to_normalize] - X4_min) / (X4_max - X4_min)

data_merged['X5_star'] = pd.Series(dtype='float')
column_to_normalize = 'EAL'
# Iterate over each year to perform the normalization
for year in range(2006, 2007):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X5_max = year_data[column_to_normalize].max()
    X5_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X5_star'] = (year_data[column_to_normalize] - X5_min) / (X5_max - X5_min)


data_merged['X6_star'] = pd.Series(dtype='float')
column_to_normalize = 'LUL'
# Iterate over each year to perform the normalization
for year in range(2006, 2007):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X6_max = year_data[column_to_normalize].max()
    X6_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X6_star'] = (year_data[column_to_normalize] - X6_min) / (X6_max - X6_min)

In [43]:
data_merged

,UrbanPopulation,Surface_Area_of_Built_District,Road_Surface_Area_Per_Capita_m2,Parkland_per_capita,Rate_of_non_hazardous_treatment_of_domestic_waste(%),Population_urbanization,GDP,First_sector_of_GDP,Industrial_wastewater_discharge_(tonnes),Industrial_fume_emissions_(tonnes),...,LUI,EUI,EAL,LUL,X1_star,X2_star,X3_star,X4_star,X5_star,X6_star
0,1333.00,1254.23,7.40,10.68,74.57,0.755995,78702835,1.42,10170,14648,...,0.182836,0.9858,15.594578,264.527306,0.734570,0.182907,0.472181,0.972590,0.299378,0.812381
1,567.45,539.98,13.98,6.59,85.06,0.601798,43591500,3.04,22978,66920,...,0.256858,0.9696,18.353817,297.691218,0.566834,0.189473,0.663344,0.936194,0.352684,0.925871
2,195.05,174.96,9.12,8.24,100.00,0.402863,20266320,13.87,24196,86665,...,0.162235,0.8613,7.444894,283.814306,0.350431,0.146063,0.418978,0.692878,0.141934,0.878383
3,187.07,209.11,12.31,8.95,98.90,0.318862,23621410,11.65,28713,143440,...,0.187819,0.8835,9.906774,293.597938,0.259054,0.116468,0.485050,0.742754,0.189495,0.911864
4,78.87,82.62,13.52,8.29,100.00,0.419655,5520509,10.44,5508,15740,...,0.102868,0.8956,4.942014,264.204125,0.368698,0.077402,0.265661,0.769939,0.093581,0.811275
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,22.33,24.10,18.19,7.74,76.77,0.309494,1196379,16.33,6386,19834,...,0.003888,0.8367,1.023205,210.387268,0.248864,0.014239,0.010041,0.637610,0.017873,0.627108
274,15.72,31.64,18.80,9.26,95.80,0.122991,519279,28.66,250,1650,...,0.001243,0.7134,0.583831,240.457458,0.045985,0.027604,0.003210,0.360593,0.009385,0.730011
275,15.30,19.30,19.12,22.67,96.70,0.248776,750050,21.27,4189,28417,...,0.005165,0.7873,1.036594,204.353408,0.182815,0.016123,0.013339,0.526623,0.018132,0.606459
276,201.83,235.88,7.30,5.46,65.39,0.786465,6543019,1.46,5232,47066,...,0.021557,0.9854,3.016973,138.926754,0.767715,0.032595,0.055673,0.971692,0.056391,0.382562
277,25.72,48.20,19.86,8.06,67.70,0.989171,4732562,0.41,1527,4344,...,0.008708,0.9959,3.491255,57.812272,0.988220,0.005400,0.022488,0.995282,0.065554,0.104980

In [44]:
columns_to_keep = ['Citycode','Year','X1_star','X2_star','X3_star','X4_star','X5_star','X6_star']
data_process_UI = data_merged[columns_to_keep]

In [45]:
data_process_UI

,Citycode,Year,X1_star,X2_star,X3_star,X4_star,X5_star,X6_star
0,110000,2006,0.734570,0.182907,0.472181,0.972590,0.299378,0.812381
1,120000,2006,0.566834,0.189473,0.663344,0.936194,0.352684,0.925871
2,130100,2006,0.350431,0.146063,0.418978,0.692878,0.141934,0.878383
3,130200,2006,0.259054,0.116468,0.485050,0.742754,0.189495,0.911864
4,130300,2006,0.368698,0.077402,0.265661,0.769939,0.093581,0.811275
...,...,...,...,...,...,...,...,...
273,640300,2006,0.248864,0.014239,0.010041,0.637610,0.017873,0.627108
274,640400,2006,0.045985,0.027604,0.003210,0.360593,0.009385,0.730011
275,640500,2006,0.182815,0.016123,0.013339,0.526623,0.018132,0.606459
276,650100,2006,0.767715,0.032595,0.055673,0.971692,0.056391,0.382562
277,650200,2006,0.988220,0.005400,0.022488,0.995282,0.065554,0.104980

In [46]:
#1.7熵权法

def calculate_entropy(indicator_data):
    # Replace zero values to avoid log(0) and negative infinity in entropy calculation
    indicator_data = indicator_data.replace(0, np.finfo(float).eps)  # Use a small number instead of zero
    p_ij = indicator_data / indicator_data.sum()  # Calculate the proportion p_ij
    K = 1 / np.log(278)  # Calculate the constant K
    e_j = -K * (p_ij * np.log(p_ij)).sum()  # Calculate the entropy e_j
    return e_j

# Initialize an empty list to store DataFrames for each year
dataframes_list = []

# Calculate entropies and weights for each year
for year in range(2006, 2007):
    year_data = data_process_UI[data_process_UI['Year'] == year].copy()
    entropies = year_data[['X1_star', 'X2_star', 'X3_star', 'X4_star','X5_star','X6_star']].apply(calculate_entropy, axis=0)
    weights = (1 - entropies) / (1 - entropies).sum()  # Calculate weights, ensuring they sum up to 1 within the year
    for i, indicator in enumerate(['X1_star', 'X2_star', 'X3_star', 'X4_star','X5_star','X6_star']):
        year_data[indicator + '_weighted'] = year_data[indicator] * weights.values[i]  # Apply weights to the indicators
    dataframes_list.append(year_data)  # Append the yearly data to the list

# Concatenate all DataFrames in the list to create the comprehensive_scores DataFrame
UI = pd.concat(dataframes_list, ignore_index=True)

# Now you should have the comprehensive_scores DataFrame with correctly calculated weights per year

In [47]:
UI

,Citycode,Year,X1_star,X2_star,X3_star,X4_star,X5_star,X6_star,X1_star_weighted,X2_star_weighted,X3_star_weighted,X4_star_weighted,X5_star_weighted,X6_star_weighted
0,110000,2006,0.734570,0.182907,0.472181,0.972590,0.299378,0.812381,0.090295,0.035717,0.135472,0.040194,0.102648,0.008694
1,120000,2006,0.566834,0.189473,0.663344,0.936194,0.352684,0.925871,0.069676,0.036999,0.190318,0.038690,0.120925,0.009908
2,130100,2006,0.350431,0.146063,0.418978,0.692878,0.141934,0.878383,0.043076,0.028522,0.120207,0.028634,0.048665,0.009400
3,130200,2006,0.259054,0.116468,0.485050,0.742754,0.189495,0.911864,0.031844,0.022743,0.139164,0.030696,0.064973,0.009758
4,130300,2006,0.368698,0.077402,0.265661,0.769939,0.093581,0.811275,0.045321,0.015114,0.076220,0.031819,0.032086,0.008682
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,640300,2006,0.248864,0.014239,0.010041,0.637610,0.017873,0.627108,0.030591,0.002780,0.002881,0.026350,0.006128,0.006711
274,640400,2006,0.045985,0.027604,0.003210,0.360593,0.009385,0.730011,0.005653,0.005390,0.000921,0.014902,0.003218,0.007812
275,640500,2006,0.182815,0.016123,0.013339,0.526623,0.018132,0.606459,0.022472,0.003148,0.003827,0.021764,0.006217,0.006490
276,650100,2006,0.767715,0.032595,0.055673,0.971692,0.056391,0.382562,0.094369,0.006365,0.015973,0.040157,0.019335,0.004094
277,650200,2006,0.988220,0.005400,0.022488,0.995282,0.065554,0.104980,0.121474,0.001055,0.006452,0.041132,0.022476,0.001123

In [48]:
# Calculate the combined weighted values for Resistance, Adaptability, and Recovery
UI['PU'] = UI['X1_star_weighted'] + UI['X2_star_weighted']
UI['LU'] = UI['X3_star_weighted'] + UI['X6_star_weighted']
#comprehensive_scores['ADA'] = comprehensive_scores['X2_star_weighted'] 
UI['EU'] = UI['X4_star_weighted'] + UI['X5_star_weighted']

# Assuming data_merged is the DataFrame with the standardized 'RES', 'ADA', and 'REC' columns.

# Define a small positive value to add to REC to avoid zero values
small_positive_value = 1e-6

# Replace zero values in REC with the small positive value
UI['PU_adj'] = UI['PU'].replace(0, small_positive_value)
UI['LU_adj'] = UI['LU'].replace(0, small_positive_value)
UI['EU_adj'] = UI['EU'].replace(0, small_positive_value)

# Now, the UER values should not be zero due to REC being zero, since we have adjusted REC values slightly above zero.

# Calculate the Urban Ecological Resilience (UER) for each borough and year
UI['UI'] = UI['PU_adj'] + UI['LU_adj'] + UI['EU_adj']

# Check the result
UI[['Year', 'Citycode', 'PU', 'LU', 'EU', 'UI']].head()

   Year  Citycode        PU        LU        EU        UI
0  2006    110000  0.126012  0.144166  0.142842  0.413019
1  2006    120000  0.106675  0.200226  0.159615  0.466516
2  2006    130100  0.071598  0.129607  0.077300  0.278505
3  2006    130200  0.054587  0.148922  0.095668  0.299177
4  2006    130300  0.060436  0.084902  0.063905  0.209243

In [49]:
UI

,Citycode,Year,X1_star,X2_star,X3_star,X4_star,X5_star,X6_star,X1_star_weighted,X2_star_weighted,...,X4_star_weighted,X5_star_weighted,X6_star_weighted,PU,LU,EU,PU_adj,LU_adj,EU_adj,UI
0,110000,2006,0.734570,0.182907,0.472181,0.972590,0.299378,0.812381,0.090295,0.035717,...,0.040194,0.102648,0.008694,0.126012,0.144166,0.142842,0.126012,0.144166,0.142842,0.413019
1,120000,2006,0.566834,0.189473,0.663344,0.936194,0.352684,0.925871,0.069676,0.036999,...,0.038690,0.120925,0.009908,0.106675,0.200226,0.159615,0.106675,0.200226,0.159615,0.466516
2,130100,2006,0.350431,0.146063,0.418978,0.692878,0.141934,0.878383,0.043076,0.028522,...,0.028634,0.048665,0.009400,0.071598,0.129607,0.077300,0.071598,0.129607,0.077300,0.278505
3,130200,2006,0.259054,0.116468,0.485050,0.742754,0.189495,0.911864,0.031844,0.022743,...,0.030696,0.064973,0.009758,0.054587,0.148922,0.095668,0.054587,0.148922,0.095668,0.299177
4,130300,2006,0.368698,0.077402,0.265661,0.769939,0.093581,0.811275,0.045321,0.015114,...,0.031819,0.032086,0.008682,0.060436,0.084902,0.063905,0.060436,0.084902,0.063905,0.209243
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,640300,2006,0.248864,0.014239,0.010041,0.637610,0.017873,0.627108,0.030591,0.002780,...,0.026350,0.006128,0.006711,0.033371,0.009592,0.032478,0.033371,0.009592,0.032478,0.075441
274,640400,2006,0.045985,0.027604,0.003210,0.360593,0.009385,0.730011,0.005653,0.005390,...,0.014902,0.003218,0.007812,0.011043,0.008733,0.018120,0.011043,0.008733,0.018120,0.037896
275,640500,2006,0.182815,0.016123,0.013339,0.526623,0.018132,0.606459,0.022472,0.003148,...,0.021764,0.006217,0.006490,0.025620,0.010317,0.027980,0.025620,0.010317,0.027980,0.063918
276,650100,2006,0.767715,0.032595,0.055673,0.971692,0.056391,0.382562,0.094369,0.006365,...,0.040157,0.019335,0.004094,0.100734,0.020067,0.059492,0.100734,0.020067,0.059492,0.180293
277,650200,2006,0.988220,0.005400,0.022488,0.995282,0.065554,0.104980,0.121474,0.001055,...,0.041132,0.022476,0.001123,0.122529,0.007575,0.063608,0.122529,0.007575,0.063608,0.193712

In [50]:
columns_to_keep = ['Citycode','Year','Res1','Res2','Res3','Res4','Ada1','Ada2','Ada3','Ada4','Rec1','Rec2','Rec3','Rec4']
data_merged = df_cleaned[columns_to_keep]

In [74]:
data_merged

,Citycode,Year,Res1,Res2,Res3,Res4,Ada1,Ada2,Ada3,Ada4,Rec1,Rec2,Rec3,Rec4
0,110000,2006,0.000129,0.000186,71.287617,6.389929e+07,80.79,74.57,86153.000000,75.08,44.34,10.68,0.000000,193238.0
1,120000,2006,0.000527,0.001535,87.997593,8.383946e+07,98.41,85.06,176665.000000,83.50,5.55,6.59,0.000000,33063.0
2,130100,2006,0.001194,0.004276,92.621063,6.219855e+07,95.84,100.00,179444.000000,93.46,36.15,8.24,255.962650,4542.0
3,130200,2006,0.001216,0.006072,75.550144,1.520099e+08,61.64,98.90,170324.000000,93.61,42.17,8.95,303.394370,3287.0
4,130300,2006,0.000998,0.002851,61.164192,1.596591e+07,91.94,100.00,13644.000000,92.48,42.70,8.29,373.610249,745.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,640300,2006,0.005338,0.016578,50.564082,1.447830e+07,76.63,76.77,1316.000000,-13.88,26.43,7.74,115.967043,490.0
275,640400,2006,0.000481,0.003177,48.769983,1.370427e+06,95.29,95.80,254.571429,43.55,22.50,9.26,297.646470,623.0
276,640500,2006,0.005585,0.037887,52.468350,8.910389e+06,70.00,96.70,953.000000,75.50,28.74,22.67,121.509087,164.0
277,650100,2006,0.000800,0.007193,46.525030,4.082909e+07,68.47,65.39,47254.000000,57.53,20.99,5.46,162.062913,628.0
278,650200,2006,0.000323,0.000918,42.172353,3.131131e+06,48.40,67.70,8314.000000,90.61,39.81,8.06,44.481827,436.0

In [51]:
# Initialize a column for the normalized values
data_merged['X1_star'] = pd.Series(dtype='float')
column_to_normalize = 'Res1'
# Iterate over each year to perform the normalization
for year in range(2006, 2007):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X1_max = year_data[column_to_normalize].max()
    X1_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X1_star'] = (X1_max - year_data[column_to_normalize]) / (X1_max - X1_min)


# Initialize a column for the normalized values
data_merged['X2_star'] = pd.Series(dtype='float')
column_to_normalize = 'Res2'
# Iterate over each year to perform the normalization
for year in range(2006, 2007):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X2_max = year_data[column_to_normalize].max()
    X2_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X2_star'] = (X2_max - year_data[column_to_normalize]) / (X2_max - X2_min)



# Initialize a column for the normalized values
data_merged['X3_star'] = pd.Series(dtype='float')
column_to_normalize = 'Res3'
# Iterate over each year to perform the normalization
for year in range(2006, 2007):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X3_max = year_data[column_to_normalize].max()
    X3_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X3_star'] = (X3_max - year_data[column_to_normalize]) / (X3_max - X3_min)


# Initialize a column for the normalized values
data_merged['X4_star'] = pd.Series(dtype='float')
column_to_normalize = 'Res4'
# Iterate over each year to perform the normalization
for year in range(2006, 2007):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X4_max = year_data[column_to_normalize].max()
    X4_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X4_star'] = (X4_max - year_data[column_to_normalize]) / (X4_max - X4_min)

data_merged['X5_star'] = pd.Series(dtype='float')
column_to_normalize = 'Ada1'
# Iterate over each year to perform the normalization
for year in range(2006, 2007):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X5_max = year_data[column_to_normalize].max()
    X5_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X5_star'] = (year_data[column_to_normalize] - X5_min) / (X5_max - X5_min)

data_merged['X6_star'] = pd.Series(dtype='float')
column_to_normalize = 'Ada2'
# Iterate over each year to perform the normalization
for year in range(2006, 2007):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X6_max = year_data[column_to_normalize].max()
    X6_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X6_star'] = (year_data[column_to_normalize] - X6_min) / (X6_max - X6_min)


data_merged['X7_star'] = pd.Series(dtype='float')
column_to_normalize = 'Ada3'
# Iterate over each year to perform the normalization
for year in range(2006, 2007):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X7_max = year_data[column_to_normalize].max()
    X7_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X7_star'] = (year_data[column_to_normalize] - X7_min) / (X7_max - X7_min)

data_merged['X8_star'] = pd.Series(dtype='float')
column_to_normalize = 'Ada4'
# Iterate over each year to perform the normalization
for year in range(2006, 2007):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X8_max = year_data[column_to_normalize].max()
    X8_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X8_star'] = (year_data[column_to_normalize] - X8_min) / (X8_max - X8_min)

data_merged['X9_star'] = pd.Series(dtype='float')
column_to_normalize = 'Rec1'
# Iterate over each year to perform the normalization
for year in range(2006, 2007):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X9_max = year_data[column_to_normalize].max()
    X9_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X9_star'] = (year_data[column_to_normalize] - X9_min) / (X9_max - X9_min)

data_merged['X10_star'] = pd.Series(dtype='float')
column_to_normalize = 'Rec2'
# Iterate over each year to perform the normalization
for year in range(2006, 2007):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X10_max = year_data[column_to_normalize].max()
    X10_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X10_star'] = (year_data[column_to_normalize] - X10_min) / (X10_max - X10_min)

data_merged['X11_star'] = pd.Series(dtype='float')
column_to_normalize = 'Rec3'
# Iterate over each year to perform the normalization
for year in range(2006, 2007):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X11_max = year_data[column_to_normalize].max()
    X11_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X11_star'] = (year_data[column_to_normalize] - X11_min) / (X11_max - X11_min)

data_merged['X12_star'] = pd.Series(dtype='float')
column_to_normalize = 'Rec4'
# Iterate over each year to perform the normalization
for year in range(2006, 2007):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X12_max = year_data[column_to_normalize].max()
    X12_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X12_star'] = (year_data[column_to_normalize] - X12_min) / (X12_max - X12_min)

/tmp/ipykernel_44874/1943805108.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X1_star'] = pd.Series(dtype='float')
/tmp/ipykernel_44874/1943805108.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X2_star'] = pd.Series(dtype='float')
/tmp/ipykernel_44874/1943805108.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X3_star'] = pd.Series(dtype='float')
/tmp/ipykernel_44874/1943805108.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X4_star'] = pd.Series(dtype='float')
/tmp/ipykernel_44874/1943805108.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X5_star'] = pd.Series(dtype='float')
/tmp/ipykernel_44874/1943805108.py:79: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X6_star'] = pd.Series(dtype='float')
/tmp/ipykernel_44874/1943805108.py:94: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X7_star'] = pd.Series(dtype='float')
/tmp/ipykernel_44874/1943805108.py:108: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X8_star'] = pd.Series(dtype='float')
/tmp/ipykernel_44874/1943805108.py:122: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X9_star'] = pd.Series(dtype='float')
/tmp/ipykernel_44874/1943805108.py:136: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X10_star'] = pd.Series(dtype='float')
/tmp/ipykernel_44874/1943805108.py:150: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X11_star'] = pd.Series(dtype='float')
/tmp/ipykernel_44874/1943805108.py:164: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X12_star'] = pd.Series(dtype='float')

In [76]:
data_merged

,Citycode,Year,Res1,Res2,Res3,Res4,Ada1,Ada2,Ada3,Ada4,...,X3_star,X4_star,X5_star,X6_star,X7_star,X8_star,X9_star,X10_star,X11_star,X12_star
0,110000,2006,0.000129,0.000186,71.287617,6.389929e+07,80.79,74.57,86153.000000,75.08,...,0.366714,0.584157,0.598444,0.7457,0.106496,0.587793,0.659821,0.322962,0.000000,0.953405
1,120000,2006,0.000527,0.001535,87.997593,8.383946e+07,98.41,85.06,176665.000000,83.50,...,0.148492,0.451957,0.728963,0.8506,0.218380,0.604538,0.082589,0.184647,0.000000,0.163127
2,130100,2006,0.001194,0.004276,92.621063,6.219855e+07,95.84,100.00,179444.000000,93.46,...,0.088112,0.595432,0.709926,1.0000,0.221815,0.624346,0.537946,0.240446,0.193677,0.022409
3,130200,2006,0.001216,0.006072,75.550144,1.520099e+08,61.64,98.90,170324.000000,93.61,...,0.311048,0.000000,0.456593,0.9890,0.210542,0.624645,0.627530,0.264457,0.229566,0.016218
4,130300,2006,0.000998,0.002851,61.164192,1.596591e+07,91.94,100.00,13644.000000,92.48,...,0.498919,0.901946,0.681037,1.0000,0.016866,0.622397,0.635417,0.242137,0.282696,0.003676
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,640300,2006,0.005338,0.016578,50.564082,1.447830e+07,76.63,76.77,1316.000000,-13.88,...,0.637350,0.911808,0.567630,0.7677,0.001627,0.410874,0.393304,0.223537,0.087748,0.002418
275,640400,2006,0.000481,0.003177,48.769983,1.370427e+06,95.29,95.80,254.571429,43.55,...,0.660780,0.998711,0.705852,0.9580,0.000315,0.525088,0.334821,0.274941,0.225217,0.003074
276,640500,2006,0.005585,0.037887,52.468350,8.910389e+06,70.00,96.70,953.000000,75.50,...,0.612481,0.948722,0.518519,0.9670,0.001178,0.588628,0.427679,0.728441,0.091941,0.000809
277,650100,2006,0.000800,0.007193,46.525030,4.082909e+07,68.47,65.39,47254.000000,57.53,...,0.690097,0.737108,0.507185,0.6539,0.058412,0.552891,0.312351,0.146432,0.122627,0.003098
278,650200,2006,0.000323,0.000918,42.172353,3.131131e+06,48.40,67.70,8314.000000,90.61,...,0.746940,0.987038,0.358519,0.6770,0.010277,0.618678,0.592411,0.234359,0.033658,0.002151

In [52]:
columns_to_keep = ['Citycode','Year','X1_star','X2_star','X3_star','X4_star','X5_star','X6_star','X7_star','X8_star','X9_star','X10_star','X11_star','X12_star']
data_process = data_merged[columns_to_keep]

In [53]:
#1.7熵权法

def calculate_entropy(indicator_data):
    # Replace zero values to avoid log(0) and negative infinity in entropy calculation
    indicator_data = indicator_data.replace(0, np.finfo(float).eps)  # Use a small number instead of zero
    p_ij = indicator_data / indicator_data.sum()  # Calculate the proportion p_ij
    K = 1 / np.log(278)  # Calculate the constant K
    e_j = -K * (p_ij * np.log(p_ij)).sum()  # Calculate the entropy e_j
    return e_j

# Initialize an empty list to store DataFrames for each year
dataframes_list = []

# Calculate entropies and weights for each year
for year in range(2006, 2007):
    year_data = data_process[data_process['Year'] == year].copy()
    entropies = year_data[['X1_star','X2_star','X3_star','X4_star','X5_star','X6_star','X7_star','X8_star','X9_star','X10_star','X11_star','X12_star']].apply(calculate_entropy, axis=0)
    weights = (1 - entropies) / (1 - entropies).sum()  # Calculate weights, ensuring they sum up to 1 within the year
    for i, indicator in enumerate(['X1_star','X2_star','X3_star','X4_star','X5_star','X6_star','X7_star','X8_star','X9_star','X10_star','X11_star','X12_star']):
        year_data[indicator + '_weighted'] = year_data[indicator] * weights.values[i]  # Apply weights to the indicators
    dataframes_list.append(year_data)  # Append the yearly data to the list

# Concatenate all DataFrames in the list to create the comprehensive_scores DataFrame
UER = pd.concat(dataframes_list, ignore_index=True)

# Now you should have the comprehensive_scores DataFrame with correctly calculated weights per year

In [54]:
UER

,Citycode,Year,X1_star,X2_star,X3_star,X4_star,X5_star,X6_star,X7_star,X8_star,...,X3_star_weighted,X4_star_weighted,X5_star_weighted,X6_star_weighted,X7_star_weighted,X8_star_weighted,X9_star_weighted,X10_star_weighted,X11_star_weighted,X12_star_weighted
0,110000,2006,0.998547,0.998012,0.366714,0.584157,0.598444,0.7457,0.106496,0.587793,...,0.008403,0.002941,0.010258,0.056698,0.032797,0.004205,0.009480,0.013348,0.006705,0.446184
1,120000,2006,0.970929,0.975123,0.148492,0.451957,0.728963,0.8506,0.218380,0.604538,...,0.003403,0.002275,0.012495,0.064674,0.067253,0.004325,0.001187,0.007632,0.005588,0.076342
2,130100,2006,0.924648,0.928616,0.088112,0.595432,0.709926,1.0000,0.221815,0.624346,...,0.002019,0.002997,0.012169,0.076034,0.068311,0.004467,0.007729,0.009938,0.005639,0.010487
3,130200,2006,0.923146,0.898141,0.311048,0.000000,0.456593,0.9890,0.210542,0.624645,...,0.007127,0.000000,0.007826,0.075197,0.064839,0.004469,0.009016,0.010930,0.006904,0.007590
4,130300,2006,0.938264,0.952795,0.498919,0.901946,0.681037,1.0000,0.016866,0.622397,...,0.011432,0.004540,0.011673,0.076034,0.005194,0.004453,0.009129,0.010008,0.008776,0.001720
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,640300,2006,0.637026,0.719891,0.637350,0.911808,0.567630,0.7677,0.001627,0.410874,...,0.014604,0.004590,0.009729,0.058371,0.000501,0.002940,0.005651,0.009239,0.001906,0.001131
274,640400,2006,0.974100,0.947259,0.660780,0.998711,0.705852,0.9580,0.000315,0.525088,...,0.015141,0.005027,0.012099,0.072840,0.000097,0.003757,0.004810,0.011363,0.006750,0.001438
275,640500,2006,0.619869,0.358359,0.612481,0.948722,0.518519,0.9670,0.001178,0.588628,...,0.014034,0.004776,0.008888,0.073524,0.000363,0.004211,0.006144,0.030107,0.002054,0.000379
276,650100,2006,0.952014,0.879124,0.690097,0.737108,0.507185,0.6539,0.058412,0.552891,...,0.015813,0.003710,0.008693,0.049718,0.017989,0.003956,0.004488,0.006052,0.003135,0.001450
277,650200,2006,0.985120,0.985596,0.746940,0.987038,0.358519,0.6770,0.010277,0.618678,...,0.017115,0.004969,0.006145,0.051475,0.003165,0.004426,0.008511,0.009686,0.000000,0.001007

In [55]:
# Calculate the combined weighted values for Resistance, Adaptability, and Recovery
UER['RES'] = UER['X1_star_weighted'] + UER['X2_star_weighted'] + UER['X3_star_weighted'] + UER['X4_star_weighted']
UER['ADA'] = UER['X5_star_weighted'] + UER['X6_star_weighted'] + UER['X7_star_weighted'] + UER['X8_star_weighted']
#comprehensive_scores['ADA'] = comprehensive_scores['X2_star_weighted'] 
UER['REC'] = UER['X9_star_weighted'] + UER['X10_star_weighted'] + UER['X11_star_weighted'] + UER['X12_star_weighted']

# Assuming data_merged is the DataFrame with the standardized 'RES', 'ADA', and 'REC' columns.

# Define a small positive value to add to REC to avoid zero values
small_positive_value = 1e-6

# Replace zero values in REC with the small positive value
UER['REC_adj'] = UER['REC'].replace(0, small_positive_value)
UER['ADA_adj'] = UER['ADA'].replace(0, small_positive_value)
UER['RES_adj'] = UER['RES'].replace(0, small_positive_value)

# Now, the UER values should not be zero due to REC being zero, since we have adjusted REC values slightly above zero.

# Calculate the Urban Ecological Resilience (UER) for each borough and year
UER['UER'] = (UER['RES_adj'] + UER['ADA_adj'] + UER['REC_adj'])

# Check the result
UER[['Year', 'Citycode', 'RES', 'ADA', 'REC', 'UER']].head()

   Year  Citycode       RES       ADA       REC       UER
0  2006    110000  0.017354  0.103958  0.475717  0.597028
1  2006    120000  0.011540  0.148747  0.090748  0.251036
2  2006    130100  0.010599  0.160980  0.033793  0.205372
3  2006    130200  0.012586  0.152331  0.034439  0.199356
4  2006    130300  0.021680  0.097354  0.029633  0.148666

In [83]:
UER

,Citycode,Year,X1_star,X2_star,X3_star,X4_star,X5_star,X6_star,X7_star,X8_star,...,X10_star_weighted,X11_star_weighted,X12_star_weighted,RES,ADA,REC,REC_adj,ADA_adj,RES_adj,UER
0,110000,2006,0.998547,0.998012,0.366714,0.584157,0.598444,0.7457,0.106496,0.587793,...,0.013376,0.000000,0.447108,0.017389,0.104173,0.469983,0.469983,0.104173,0.017389,0.591546
1,120000,2006,0.970929,0.975123,0.148492,0.451957,0.728963,0.8506,0.218380,0.604538,...,0.007647,0.000000,0.076500,0.011564,0.149055,0.085336,0.085336,0.149055,0.011564,0.245956
2,130100,2006,0.924648,0.928616,0.088112,0.595432,0.709926,1.0000,0.221815,0.624346,...,0.009958,0.006208,0.010509,0.010621,0.161313,0.034420,0.034420,0.161313,0.010621,0.206354
3,130200,2006,0.923146,0.898141,0.311048,0.000000,0.456593,0.9890,0.210542,0.624645,...,0.010953,0.007358,0.007605,0.012612,0.152647,0.034951,0.034951,0.152647,0.012612,0.200209
4,130300,2006,0.938264,0.952795,0.498919,0.901946,0.681037,1.0000,0.016866,0.622397,...,0.010028,0.009061,0.001724,0.021725,0.097556,0.029961,0.029961,0.097556,0.021725,0.149241
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,640300,2006,0.637026,0.719891,0.637350,0.911808,0.567630,0.7677,0.001627,0.410874,...,0.009258,0.002813,0.001134,0.023409,0.071689,0.018867,0.018867,0.071689,0.023409,0.113965
274,640400,2006,0.974100,0.947259,0.660780,0.998711,0.705852,0.9580,0.000315,0.525088,...,0.011387,0.007219,0.001441,0.025980,0.088976,0.024867,0.024867,0.088976,0.025980,0.139824
275,640500,2006,0.619869,0.358359,0.612481,0.948722,0.518519,0.9670,0.001178,0.588628,...,0.030169,0.002947,0.000379,0.021543,0.087166,0.039653,0.039653,0.087166,0.021543,0.148362
276,650100,2006,0.952014,0.879124,0.690097,0.737108,0.507185,0.6539,0.058412,0.552891,...,0.006065,0.003930,0.001453,0.025016,0.080523,0.015945,0.015945,0.080523,0.025016,0.121484
277,650200,2006,0.985120,0.985596,0.746940,0.987038,0.358519,0.6770,0.010277,0.618678,...,0.009706,0.001079,0.001009,0.028075,0.065346,0.020323,0.020323,0.065346,0.028075,0.113744

In [56]:
df_merged1 = pd.merge(UI, UER, on=['Citycode', 'Year'])

In [85]:
df_merged1

,Citycode,Year,X1_star_x,X2_star_x,X3_star_x,X4_star_x,X5_star_x,X6_star_x,X1_star_weighted_x,X2_star_weighted_x,...,X10_star_weighted,X11_star_weighted,X12_star_weighted,RES,ADA,REC,REC_adj,ADA_adj,RES_adj,UER
0,110000,2006,0.734570,0.182907,0.472181,0.972590,0.299378,0.812381,0.090295,0.035717,...,0.013376,0.000000,0.447108,0.017389,0.104173,0.469983,0.469983,0.104173,0.017389,0.591546
1,120000,2006,0.566834,0.189473,0.663344,0.936194,0.352684,0.925871,0.069676,0.036999,...,0.007647,0.000000,0.076500,0.011564,0.149055,0.085336,0.085336,0.149055,0.011564,0.245956
2,130100,2006,0.350431,0.146063,0.418978,0.692878,0.141934,0.878383,0.043076,0.028522,...,0.009958,0.006208,0.010509,0.010621,0.161313,0.034420,0.034420,0.161313,0.010621,0.206354
3,130200,2006,0.259054,0.116468,0.485050,0.742754,0.189495,0.911864,0.031844,0.022743,...,0.010953,0.007358,0.007605,0.012612,0.152647,0.034951,0.034951,0.152647,0.012612,0.200209
4,130300,2006,0.368698,0.077402,0.265661,0.769939,0.093581,0.811275,0.045321,0.015114,...,0.010028,0.009061,0.001724,0.021725,0.097556,0.029961,0.029961,0.097556,0.021725,0.149241
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,640300,2006,0.248864,0.014239,0.010041,0.637610,0.017873,0.627108,0.030591,0.002780,...,0.009258,0.002813,0.001134,0.023409,0.071689,0.018867,0.018867,0.071689,0.023409,0.113965
274,640400,2006,0.045985,0.027604,0.003210,0.360593,0.009385,0.730011,0.005653,0.005390,...,0.011387,0.007219,0.001441,0.025980,0.088976,0.024867,0.024867,0.088976,0.025980,0.139824
275,640500,2006,0.182815,0.016123,0.013339,0.526623,0.018132,0.606459,0.022472,0.003148,...,0.030169,0.002947,0.000379,0.021543,0.087166,0.039653,0.039653,0.087166,0.021543,0.148362
276,650100,2006,0.767715,0.032595,0.055673,0.971692,0.056391,0.382562,0.094369,0.006365,...,0.006065,0.003930,0.001453,0.025016,0.080523,0.015945,0.015945,0.080523,0.025016,0.121484
277,650200,2006,0.988220,0.005400,0.022488,0.995282,0.065554,0.104980,0.121474,0.001055,...,0.009706,0.001079,0.001009,0.028075,0.065346,0.020323,0.020323,0.065346,0.028075,0.113744

In [57]:
df_result = df_merged1[['Citycode', 'Year', 'UER', 'UI']]

In [87]:
df_result

     Citycode  Year       UER        UI
0      110000  2006  0.591546  0.413019
1      120000  2006  0.245956  0.466516
2      130100  2006  0.206354  0.278505
3      130200  2006  0.200209  0.299177
4      130300  2006  0.149241  0.209243
..        ...   ...       ...       ...
273    640300  2006  0.113965  0.075441
274    640400  2006  0.139824  0.037896
275    640500  2006  0.148362  0.063918
276    650100  2006  0.121484  0.180293
277    650200  2006  0.113744  0.193712

[278 rows x 4 columns]

In [58]:
# 定义计算公式
def calculate_C(UI, UER):
    return np.sqrt((UI * UER) / ((UI + UER) / 2)**2)

def calculate_T(UI, UER, mu1=0.5, mu2=0.5):
    return mu1 * UI + mu2 * UER

def calculate_D(C, T):
    return np.sqrt(C * T)

# 计算C耦合度
df_result['C'] = df_result.apply(lambda row: calculate_C(row['UI'], row['UER']), axis=1)

# 计算T协调度
df_result['T'] = df_result.apply(lambda row: calculate_T(row['UI'], row['UER']), axis=1)

# 计算D耦合协调度
df_result['D'] = df_result.apply(lambda row: calculate_D(row['C'], row['T']), axis=1)

/tmp/ipykernel_44874/4091750289.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_result['C'] = df_result.apply(lambda row: calculate_C(row['UI'], row['UER']), axis=1)
/tmp/ipykernel_44874/4091750289.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_result['T'] = df_result.apply(lambda row: calculate_T(row['UI'], row['UER']), axis=1)
/tmp/ipykernel_44874/4091750289.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_result['D'] = df_result.apply(lambda row: calculate_D(row['C'], row['T']), axis=1)

In [59]:
# 定义归一化公式
def normalize(column):
    return (column - column.min()) / (column.max() - column.min())

# 归一化处理
df_result['UI_normalized'] = normalize(df_result['UI'])
df_result['UER_normalized'] = normalize(df_result['UER'])

# 定义计算公式
def calculate_C(UI, UER):
    return np.sqrt((UI * UER) / ((UI + UER) / 2)**2)

def calculate_T(UI, UER, mu1=0.5, mu2=0.5):
    return mu1 * UI + mu2 * UER

def calculate_D(C, T):
    return np.sqrt(C * T)

# 计算C耦合度
df_result['C2'] = df_result.apply(lambda row: calculate_C(row['UI_normalized'], row['UER_normalized']), axis=1)

# 计算T协调度
df_result['T2'] = df_result.apply(lambda row: calculate_T(row['UI_normalized'], row['UER_normalized']), axis=1)

# 计算D耦合协调度
df_result['D2'] = df_result.apply(lambda row: calculate_D(row['C2'], row['T2']), axis=1)

/tmp/ipykernel_44874/3512385329.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_result['UI_normalized'] = normalize(df_result['UI'])
/tmp/ipykernel_44874/3512385329.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_result['UER_normalized'] = normalize(df_result['UER'])
/tmp/ipykernel_44874/3512385329.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_result['C2'] = df_result.apply(lambda row: calculate_C(row['UI_normalized'], row['UER_normalized']), axis=1)
/tmp/ipykernel_44874/3512385329.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_result['T2'] = df_result.apply(lambda row: calculate_T(row['UI_normalized'], row['UER_normalized']), axis=1)
/tmp/ipykernel_44874/3512385329.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_result['D2'] = df_result.apply(lambda row: calculate_D(row['C2'], row['T2']), axis=1)

In [60]:
df_result

,Citycode,Year,UER,UI,C,T,D,UI_normalized,UER_normalized,C2,T2,D2
0,110000,2006,0.597028,0.413019,0.983266,0.505024,0.704679,0.421771,0.965356,0.920017,0.693564,0.798806
1,120000,2006,0.251036,0.466516,0.953845,0.358776,0.584993,0.479557,0.353926,0.988575,0.416741,0.641857
2,130100,2006,0.205372,0.278505,0.988512,0.241938,0.489039,0.276473,0.273230,0.999983,0.274852,0.524258
3,130200,2006,0.199356,0.299177,0.979749,0.249267,0.494185,0.298803,0.262599,0.997918,0.280701,0.529261
4,130300,2006,0.148666,0.209243,0.985573,0.178954,0.419967,0.201659,0.173021,0.997075,0.187340,0.432194
...,...,...,...,...,...,...,...,...,...,...,...,...
273,640300,2006,0.112829,0.075441,0.980084,0.094135,0.303744,0.057132,0.109689,0.949073,0.083410,0.281359
274,640400,2006,0.139081,0.037896,0.820433,0.088489,0.269442,0.016576,0.156083,0.589197,0.086330,0.225533
275,640500,2006,0.147168,0.063918,0.918943,0.105543,0.311429,0.044684,0.170374,0.811433,0.107529,0.295385
276,650100,2006,0.120445,0.180293,0.979999,0.150369,0.383877,0.170388,0.123150,0.986966,0.146769,0.380599
277,650200,2006,0.112433,0.193712,0.964112,0.153072,0.384160,0.184884,0.108990,0.966077,0.146937,0.376765

In [61]:
# 导出comprehensive_scores数据框为Excel文件
output_excel_path = 'df_2006_result.xlsx'
df_result.to_excel(output_excel_path, index=False)

In [66]:
file_path = 'data/df_2006_result.xlsx'
df_result_2006 = pd.read_excel(file_path)

In [67]:
df_result_2006

,Name_of_Regions_x,Citycode,Year_x,UER,UI,C,T,D,UI_normalized,UER_normalized,C2,T2,D2
0,Beijing,110000,2006,0.137433,0.210078,0.977907,0.173756,0.412210,0.202760,0.702098,0.833949,0.452429,0.614250
1,Tianjin,120000,2006,0.103581,0.168235,0.971300,0.135908,0.363328,0.160479,0.529117,0.845124,0.344798,0.539812
2,Shijiazhuang,130100,2006,0.135975,0.075086,0.957483,0.105530,0.317873,0.066357,0.694645,0.564248,0.380501,0.463354
3,Tangshan,130200,2006,0.137393,0.076543,0.958697,0.106968,0.320234,0.067829,0.701890,0.566945,0.384860,0.467113
4,Qinhuangdao,130300,2006,0.140799,0.069600,0.941002,0.105200,0.314632,0.060814,0.719298,0.536204,0.390056,0.457329
...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,Guyuan,640400,2006,0.129806,0.020694,0.688750,0.075250,0.227659,0.011397,0.663123,0.257766,0.337260,0.294846
286,Zhongwei,640500,2006,0.126115,0.030682,0.793445,0.078398,0.249409,0.021489,0.644263,0.353476,0.332876,0.343022
287,Xinjiang,650000,2006,0.087788,0.075510,0.997170,0.081649,0.285338,0.066786,0.448413,0.671796,0.257600,0.415998
288,Urumuchi,650100,2006,0.100333,0.097620,0.999906,0.098976,0.314590,0.089127,0.512516,0.710475,0.300821,0.462305
289,Kelamayi,650200,2006,0.121824,0.102816,0.996414,0.112320,0.334540,0.094377,0.622335,0.676287,0.358356,0.492292

In [68]:
# 合并数据
df_merged2 = pd.merge(df_result_2006, df_result, left_on='Citycode', right_on='Citycode', suffixes=('_2006', '_2010'))

In [69]:
df_merged2

,Name_of_Regions_x_2006,Citycode,Year_x,UER_2006,UI_2006,C_2006,T_2006,D_2006,UI_normalized_2006,UER_normalized_2006,...,UER_2010,UI_2010,C_2010,T_2010,D_2010,UI_normalized_2010,UER_normalized_2010,C2_2010,T2_2010,D2_2010
0,Beijing,110000,2006,0.137433,0.210078,0.977907,0.173756,0.412210,0.202760,0.702098,...,0.168303,0.206704,0.994743,0.187503,0.431877,0.200826,0.839766,0.789294,0.520296,0.640833
1,Tianjin,120000,2006,0.103581,0.168235,0.971300,0.135908,0.363328,0.160479,0.529117,...,0.152355,0.197102,0.991768,0.174729,0.416281,0.190941,0.760175,0.801130,0.475558,0.617239
2,Shijiazhuang,130100,2006,0.135975,0.075086,0.957483,0.105530,0.317873,0.066357,0.694645,...,0.174103,0.079555,0.927936,0.126829,0.343059,0.069926,0.868715,0.525158,0.469321,0.496455
3,Tangshan,130200,2006,0.137393,0.076543,0.958697,0.106968,0.320234,0.067829,0.701890,...,0.173093,0.076014,0.920939,0.124553,0.338683,0.066281,0.863673,0.514562,0.464977,0.489142
4,Qinhuangdao,130300,2006,0.140799,0.069600,0.941002,0.105200,0.314632,0.060814,0.719298,...,0.183608,0.064805,0.878226,0.124207,0.330275,0.054742,0.916151,0.461319,0.485446,0.473229
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,Guyuan,640400,2006,0.129806,0.020694,0.688750,0.075250,0.227659,0.011397,0.663123,...,0.149317,0.017109,0.607403,0.083213,0.224820,0.005639,0.745015,0.172687,0.375327,0.254586
286,Zhongwei,640500,2006,0.126115,0.030682,0.793445,0.078398,0.249409,0.021489,0.644263,...,0.095024,0.023502,0.797418,0.059263,0.217388,0.012220,0.474050,0.313042,0.243135,0.275883
287,Xinjiang,650000,2006,0.087788,0.075510,0.997170,0.081649,0.285338,0.066786,0.448413,...,0.134498,0.027310,0.749113,0.080904,0.246183,0.016140,0.671055,0.302887,0.343597,0.322601
288,Urumuchi,650100,2006,0.100333,0.097620,0.999906,0.098976,0.314590,0.089127,0.512516,...,0.137691,0.103063,0.989602,0.120377,0.345146,0.094128,0.686991,0.651100,0.390560,0.504275
289,Kelamayi,650200,2006,0.121824,0.102816,0.996414,0.112320,0.334540,0.094377,0.622335,...,0.156935,0.072887,0.930728,0.114911,0.327034,0.063062,0.783035,0.525271,0.423048,0.471397

# 计算Tapio脱钩模型

In [70]:
# 计算增长率
df_merged2['Delta_UER'] = (df_merged2['UER_2010'] - df_merged2['UER_2006']) / df_merged2['UER_2006']
df_merged2['Delta_UI'] = (df_merged2['UI_2010'] - df_merged2['UI_2006']) / df_merged2['UI_2006']

# 计算脱钩指数DI
df_merged2['DI'] = df_merged2['Delta_UER'] / df_merged2['Delta_UI']

In [71]:
df_merged2

,Name_of_Regions_x_2006,Citycode,Year_x,UER_2006,UI_2006,C_2006,T_2006,D_2006,UI_normalized_2006,UER_normalized_2006,...,T_2010,D_2010,UI_normalized_2010,UER_normalized_2010,C2_2010,T2_2010,D2_2010,Delta_UER,Delta_UI,DI
0,Beijing,110000,2006,0.137433,0.210078,0.977907,0.173756,0.412210,0.202760,0.702098,...,0.187503,0.431877,0.200826,0.839766,0.789294,0.520296,0.640833,0.224613,-0.016062,-13.983872
1,Tianjin,120000,2006,0.103581,0.168235,0.971300,0.135908,0.363328,0.160479,0.529117,...,0.174729,0.416281,0.190941,0.760175,0.801130,0.475558,0.617239,0.470873,0.171589,2.744191
2,Shijiazhuang,130100,2006,0.135975,0.075086,0.957483,0.105530,0.317873,0.066357,0.694645,...,0.126829,0.343059,0.069926,0.868715,0.525158,0.469321,0.496455,0.280409,0.059519,4.711286
3,Tangshan,130200,2006,0.137393,0.076543,0.958697,0.106968,0.320234,0.067829,0.701890,...,0.124553,0.338683,0.066281,0.863673,0.514562,0.464977,0.489142,0.259842,-0.006908,-37.613687
4,Qinhuangdao,130300,2006,0.140799,0.069600,0.941002,0.105200,0.314632,0.060814,0.719298,...,0.124207,0.330275,0.054742,0.916151,0.461319,0.485446,0.473229,0.304040,-0.068890,-4.413412
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,Guyuan,640400,2006,0.129806,0.020694,0.688750,0.075250,0.227659,0.011397,0.663123,...,0.083213,0.224820,0.005639,0.745015,0.172687,0.375327,0.254586,0.150312,-0.173223,-0.867736
286,Zhongwei,640500,2006,0.126115,0.030682,0.793445,0.078398,0.249409,0.021489,0.644263,...,0.059263,0.217388,0.012220,0.474050,0.313042,0.243135,0.275883,-0.246529,-0.234007,1.053514
287,Xinjiang,650000,2006,0.087788,0.075510,0.997170,0.081649,0.285338,0.066786,0.448413,...,0.080904,0.246183,0.016140,0.671055,0.302887,0.343597,0.322601,0.532082,-0.638332,-0.833551
288,Urumuchi,650100,2006,0.100333,0.097620,0.999906,0.098976,0.314590,0.089127,0.512516,...,0.120377,0.345146,0.094128,0.686991,0.651100,0.390560,0.504275,0.372347,0.055761,6.677574
289,Kelamayi,650200,2006,0.121824,0.102816,0.996414,0.112320,0.334540,0.094377,0.622335,...,0.114911,0.327034,0.063062,0.783035,0.525271,0.423048,0.471397,0.288216,-0.291095,-0.990109

In [72]:
def classify_decoupling(row):
    Delta_ER = row['Delta_UER']
    Delta_UI = row['Delta_UI']
    DI = row['DI']
    
    if Delta_ER < 0 and Delta_UI < 0 and 1.2 <= DI < float('inf'):
        return 'Recession decoupling / Decoupling'
    elif Delta_ER < 0 and Delta_UI > 0 and float('-inf') < DI <= 0:
        return 'Strong decoupling / Decoupling'
    elif Delta_ER > 0 and Delta_UI > 0 and 0 <= DI <= 0.8:
        return 'Weak decoupling / Decoupling'
    elif Delta_ER > 0 and Delta_UI > 0 and 0.8 < DI <= 1.2:
        return 'Expansion connection / Connection'
    elif Delta_ER < 0 and Delta_UI < 0 and 0.8 < DI <= 1.2:
        return 'Recession connection / Connection'
    elif Delta_ER > 0 and Delta_UI > 0 and 1.2 <= DI < float('inf'):
        return 'Negative decoupling of expansion / Negative decoupling'
    elif Delta_ER > 0 and Delta_UI < 0 and float('-inf') < DI <= 0:
        return 'Strong negative decoupling / Negative decoupling'
    elif Delta_ER < 0 and Delta_UI < 0 and 0 <= DI <= 0.8:
        return 'Weak negative decoupling / Negative decoupling'
    else:
        return 'Unknown'

# Apply the function to the DataFrame
df_merged2['DI_Category'] = df_merged2.apply(classify_decoupling, axis=1)

In [73]:
df_merged2

,Name_of_Regions_x_2006,Citycode,Year_x,UER_2006,UI_2006,C_2006,T_2006,D_2006,UI_normalized_2006,UER_normalized_2006,...,D_2010,UI_normalized_2010,UER_normalized_2010,C2_2010,T2_2010,D2_2010,Delta_UER,Delta_UI,DI,DI_Category
0,Beijing,110000,2006,0.137433,0.210078,0.977907,0.173756,0.412210,0.202760,0.702098,...,0.431877,0.200826,0.839766,0.789294,0.520296,0.640833,0.224613,-0.016062,-13.983872,Strong negative decoupling / Negative decoupling
1,Tianjin,120000,2006,0.103581,0.168235,0.971300,0.135908,0.363328,0.160479,0.529117,...,0.416281,0.190941,0.760175,0.801130,0.475558,0.617239,0.470873,0.171589,2.744191,Negative decoupling of expansion / Negative de...
2,Shijiazhuang,130100,2006,0.135975,0.075086,0.957483,0.105530,0.317873,0.066357,0.694645,...,0.343059,0.069926,0.868715,0.525158,0.469321,0.496455,0.280409,0.059519,4.711286,Negative decoupling of expansion / Negative de...
3,Tangshan,130200,2006,0.137393,0.076543,0.958697,0.106968,0.320234,0.067829,0.701890,...,0.338683,0.066281,0.863673,0.514562,0.464977,0.489142,0.259842,-0.006908,-37.613687,Strong negative decoupling / Negative decoupling
4,Qinhuangdao,130300,2006,0.140799,0.069600,0.941002,0.105200,0.314632,0.060814,0.719298,...,0.330275,0.054742,0.916151,0.461319,0.485446,0.473229,0.304040,-0.068890,-4.413412,Strong negative decoupling / Negative decoupling
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,Guyuan,640400,2006,0.129806,0.020694,0.688750,0.075250,0.227659,0.011397,0.663123,...,0.224820,0.005639,0.745015,0.172687,0.375327,0.254586,0.150312,-0.173223,-0.867736,Strong negative decoupling / Negative decoupling
286,Zhongwei,640500,2006,0.126115,0.030682,0.793445,0.078398,0.249409,0.021489,0.644263,...,0.217388,0.012220,0.474050,0.313042,0.243135,0.275883,-0.246529,-0.234007,1.053514,Recession connection / Connection
287,Xinjiang,650000,2006,0.087788,0.075510,0.997170,0.081649,0.285338,0.066786,0.448413,...,0.246183,0.016140,0.671055,0.302887,0.343597,0.322601,0.532082,-0.638332,-0.833551,Strong negative decoupling / Negative decoupling
288,Urumuchi,650100,2006,0.100333,0.097620,0.999906,0.098976,0.314590,0.089127,0.512516,...,0.345146,0.094128,0.686991,0.651100,0.390560,0.504275,0.372347,0.055761,6.677574,Negative decoupling of expansion / Negative de...
289,Kelamayi,650200,2006,0.121824,0.102816,0.996414,0.112320,0.334540,0.094377,0.622335,...,0.327034,0.063062,0.783035,0.525271,0.423048,0.471397,0.288216,-0.291095,-0.990109,Strong negative decoupling / Negative decoupling

In [45]:
# 读取shapefile
shapefile_path = 'data/Chinamap_2019/Merged_Municipalities.shp'
gdf = gpd.read_file(shapefile_path)

In [46]:
gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 317 entries, 0 to 316
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Prvnc_c   317 non-null    float64
 1   City_cd   317 non-null    object
 2   Area      317 non-null    object
 3   Name      286 non-null    object
 4   geometry  317 non-null    geometry
dtypes: float64(1), geometry(1), object(3)
memory usage: 12.5+ KB

In [75]:
df_merged2['Citycode'] = df_merged2['Citycode'].astype(float)
gdf['City_cd'] = gdf['City_cd'].astype(float)

In [76]:

# 根据Citycode和市代码进行连接，保留不匹配的行
data_merged3 = gdf.merge(df_merged2, left_on='City_cd', right_on='Citycode', how='outer')

In [82]:
data_merged3

,Prvnc_c,City_cd,Area,Name,geometry,Name_of_Regions_x_2006,Citycode,Year_x,UER_2006,UI_2006,...,D_2010,UI_normalized_2010,UER_normalized_2010,C2_2010,T2_2010,D2_2010,Delta_UER,Delta_UI,DI,DI_Category
0,460000.0,460000.0,0,Hainan,"MULTIPOLYGON (((509245.473 1880004.210, 509230...",Hainan,460000.0,2006.0,0.126850,0.062596,...,0.279759,0.029700,0.754980,0.381667,0.392340,0.386967,0.192857,-0.353294,-0.545881,Strong negative decoupling / Negative decoupling
1,540000.0,540000.0,0,Tibet,"POLYGON ((-1051759.214 2954966.840, -1051995.7...",Tibet,540000.0,2006.0,0.057672,0.022349,...,0.207468,0.004016,0.595070,0.163205,0.299543,0.221104,1.068123,-0.304972,-3.502358,Strong negative decoupling / Negative decoupling
2,630000.0,630000.0,0,Qinghai,"POLYGON ((-228508.104 3789259.226, -228464.693...",Qinghai,630000.0,2006.0,0.122428,0.054317,...,0.238689,0.012656,0.676889,0.268455,0.344772,0.304230,0.108137,-0.559522,-0.193266,Strong negative decoupling / Negative decoupling
3,650000.0,650000.0,0,xinjiang,"POLYGON ((-1766120.224 3995392.661, -1766246.1...",Xinjiang,650000.0,2006.0,0.087788,0.075510,...,0.246183,0.016140,0.671055,0.302887,0.343597,0.322601,0.532082,-0.638332,-0.833551,Strong negative decoupling / Negative decoupling
4,110000.0,110000.0,16405,Beijing,"POLYGON ((964331.264 4474013.823, 964404.983 4...",Beijing,110000.0,2006.0,0.137433,0.210078,...,0.431877,0.200826,0.839766,0.789294,0.520296,0.640833,0.224613,-0.016062,-13.983872,Strong negative decoupling / Negative decoupling
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312,640000.0,640400.0,10524,Guyuan,"MULTIPOLYGON (((93771.810 3789604.316, 93641.5...",Guyuan,640400.0,2006.0,0.129806,0.020694,...,0.224820,0.005639,0.745015,0.172687,0.375327,0.254586,0.150312,-0.173223,-0.867736,Strong negative decoupling / Negative decoupling
313,640000.0,640500.0,13659,Zhongwei,"POLYGON ((75753.800 4044387.044, 76030.401 404...",Zhongwei,640500.0,2006.0,0.126115,0.030682,...,0.217388,0.012220,0.474050,0.313042,0.243135,0.275883,-0.246529,-0.234007,1.053514,Recession connection / Connection
314,710000.0,710000.0,36200,NaN,"MULTIPOLYGON (((1725282.722 2422889.823, 17253...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315,810000.0,810000.0,1115,NaN,"MULTIPOLYGON (((926766.217 2342789.464, 926841...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316,820000.0,820000.0,34,NaN,"MULTIPOLYGON (((891332.431 2339835.922, 891974...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [81]:
# 查找 Name_of_Regions_x_2010 有值但是 Name 列无值的行
rows_with_value_in_Regions_but_not_in_Name = data_merged3[(data_merged3['Name_of_Regions_x_2010'].notna()) & (data_merged3['Name'].isna())]

# 输出符合条件的行
print(rows_with_value_in_Regions_but_not_in_Name)

Empty GeoDataFrame
Columns: [Prvnc_c, City_cd, Area, Name, geometry, Name_of_Regions_x_2006, Citycode, Year_x, UER_2006, UI_2006, C_2006, T_2006, D_2006, UI_normalized_2006, UER_normalized_2006, C2_2006, T2_2006, D2_2006, Name_of_Regions_x_2010, Year, UER_2010, UI_2010, C_2010, T_2010, D_2010, UI_normalized_2010, UER_normalized_2010, C2_2010, T2_2010, D2_2010, Delta_UER, Delta_UI, DI, DI_Category]
Index: []

[0 rows x 34 columns]

In [79]:
# 删除 geometry 列为空值的行
data_merged3 = data_merged3.dropna(subset=['geometry'])

In [80]:
# 查找 geometry 列为空值的行
rows_with_nan_in_geometry = data_merged3[data_merged3['geometry'].isna()]

# 输出包含 geometry 列为空值的行
print(rows_with_nan_in_geometry)

Empty GeoDataFrame
Columns: [Prvnc_c, City_cd, Area, Name, geometry, Name_of_Regions_x_2006, Citycode, Year_x, UER_2006, UI_2006, C_2006, T_2006, D_2006, UI_normalized_2006, UER_normalized_2006, C2_2006, T2_2006, D2_2006, Name_of_Regions_x_2010, Year, UER_2010, UI_2010, C_2010, T_2010, D_2010, UI_normalized_2010, UER_normalized_2010, C2_2010, T2_2010, D2_2010, Delta_UER, Delta_UI, DI, DI_Category]
Index: []

[0 rows x 34 columns]

In [83]:
# 修改列名称“省代码”为“province”
data_merged3 = data_merged3.rename(columns={'省代码': 'Provincecode'})
# 修改列名称“省代码”为“province”
data_merged3 = data_merged3.rename(columns={'省': 'Province'})
# 修改列名称“省代码”为“province”
data_merged3 = data_merged3.rename(columns={'市代码': 'Citycode1'})
data_merged3 = data_merged3.rename(columns={'市': 'City'})
data_merged3 = data_merged3.rename(columns={'类型': 'Type'})

In [84]:
# 将data_merged导出为新的shapefile
output_shapefile_path = 'data/Chinamap_2019/CouplingValue_20062010.shp'
data_merged3.to_file(output_shapefile_path, driver='ESRI Shapefile')

/tmp/ipykernel_31992/3462740497.py:3: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  data_merged3.to_file(output_shapefile_path, driver='ESRI Shapefile')