In [79]:
import pandas as pd
import numpy as np
import geopandas as gpd
import matplotlib.pyplot as plt

In [80]:
# 导入主表
df = pd.read_excel("UI_UER_2010.xlsx")   # 含 Citycode

In [81]:
df

,UrbanPopulation,Surface_Area_of_Built_District,Road_Surface_Area_Per_Capita_m2,Parkland_per_capita,Rate_of_non_hazardous_treatment_of_domestic_waste(%),Population_urbanization,GDP,First_sector_of_GDP,Industrial_wastewater_discharge_(tonnes),Industrial_fume_emissions_(tonnes),Comprehensive_industrial_solid_waste_utilisation_rate(%),Citycode,Area_of_administrative_districts,Greening_coverage_in_builtup_areas,Year
0,1685.90,1186.00,5.57,11.28,96.95,0.8433,121530000,0.97,8198.0,21266.0,65.82,110000,16405,55.10,2010
1,587.40,686.71,14.89,8.56,100.00,0.7572,75218500,1.71,19680.0,53831.0,98.37,120000,11924,32.04,2010
2,227.60,202.90,16.91,14.39,100.00,0.3904,30012797,10.27,19254.0,32631.0,93.36,130100,14058,43.01,2010
3,193.08,234.00,15.12,15.13,100.00,0.3128,38127192,9.45,18170.0,98670.0,80.55,130200,13808,46.00,2010
4,82.97,89.48,19.44,19.90,100.00,0.4053,8045421,12.72,5608.0,11365.0,59.57,130300,7792,50.24,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,18.33,28.21,20.12,19.19,99.43,0.3104,1858945,16.09,6944.0,14200.0,90.01,640300,16747,38.79,2010
275,15.30,34.62,19.06,8.52,100.00,0.1222,879280,27.45,142.0,1000.0,99.20,640400,10524,28.31,2010
276,18.30,32.04,19.02,11.62,45.09,0.2169,1429824,18.14,5300.0,27833.0,60.61,640500,13659,26.03,2010
277,243.04,342.67,7.18,7.39,87.40,0.9744,10945200,1.50,5822.0,32993.0,68.20,650100,13793,34.77,2010
278,26.13,57.16,23.60,9.04,94.87,0.7686,4802909,0.66,1580.0,6010.0,63.55,650200,7374,50.68,2010

In [82]:
# CO2
co2 = pd.read_excel("CO2_2010.xlsx")      # 含 Citycode, CO2
df = df.merge(co2[['Citycode', 'CO2']], on='Citycode', how='left')

# ISA
isa = pd.read_excel("ISA_2010.xlsx")      # 含 CITY_ID, ISA
df = df.merge(isa[['CITY_ID', 'ISA']], left_on='Citycode', right_on='CITY_ID', how='left')
df = df.drop(columns=['CITY_ID'])

# NPP
npp = pd.read_excel("NPP_2010_withCitycode.xlsx")   # 含 Citycode, NPP
df = df.merge(npp[['Citycode', 'NPP']], on='Citycode', how='left')

# NTL
ntl = pd.read_excel("NTL_2010.xlsx")      # 含 CITY_ID, NTL
df = df.merge(ntl[['CITY_ID', 'NTL']], left_on='Citycode', right_on='CITY_ID', how='left')
df = df.drop(columns=['CITY_ID'])

# PD
pd_df = pd.read_excel("PD_2010.xlsx")     # 含 CITY_ID, PD
df = df.merge(pd_df[['CITY_ID', 'PD']], left_on='Citycode', right_on='CITY_ID', how='left')
df = df.drop(columns=['CITY_ID'])

# PM2.5
pm25 = pd.read_excel("PM25_2010.xlsx")    # 含 CITY_ID, pm2.5
df = df.merge(pm25[['CITY_ID', 'pm2.5']], left_on='Citycode', right_on='CITY_ID', how='left')
df = df.drop(columns=['CITY_ID'])

# Science expenditure
sci = pd.read_excel("SCI_EXP_2010.xlsx")  # 含 Citycode, Science_expend
df = df.merge(sci[['Citycode', 'Science_expend']], on='Citycode', how='left')

# Water & SO2
water = pd.read_excel("Water_SO2_2010.xlsx")   # 含 code, SO2_REMOVE, Sewage
df = df.merge(water[['code', 'SO2_REMOVE', 'Sewage']], left_on='Citycode', right_on='code', how='left')
df = df.drop(columns=['code'])

In [5]:
df

,UrbanPopulation,Surface_Area_of_Built_District,Road_Surface_Area_Per_Capita_m2,Parkland_per_capita,Rate_of_non_hazardous_treatment_of_domestic_waste(%),Population_urbanization,GDP,First_sector_of_GDP,Industrial_wastewater_discharge_(tonnes),Industrial_fume_emissions_(tonnes),...,Year,CO2,ISA,NPP,NTL,PD,pm2.5,Science_expend,SO2_REMOVE,Sewage
0,1685.90,1186.00,5.57,11.28,96.95,0.8433,121530000,0.97,8198.0,21266.0,...,2010,7.292345e+07,3333.80,309.232602,18.090527,580.735080,66.177431,1789154.0,129888.0,80.36
1,587.40,686.71,14.89,8.56,100.00,0.7572,75218500,1.71,19680.0,53831.0,...,2010,1.187070e+08,3524.78,258.074621,22.253577,601.187944,80.746845,432530.0,374014.0,86.10
2,227.60,202.90,16.91,14.39,100.00,0.3904,30012797,10.27,19254.0,32631.0,...,2010,7.539732e+07,2494.87,257.810521,8.821829,464.547330,84.157414,45021.0,371446.0,95.06
3,193.08,234.00,15.12,15.13,100.00,0.3128,38127192,9.45,18170.0,98670.0,...,2010,2.337953e+08,3079.26,309.636095,12.898492,371.363943,69.188712,47728.0,410080.0,94.41
4,82.97,89.48,19.44,19.90,100.00,0.4053,8045421,12.72,5608.0,11365.0,...,2010,2.081210e+07,898.59,386.528173,6.276958,248.421070,56.350381,7799.0,63450.0,92.52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,18.33,28.21,20.12,19.19,99.43,0.3104,1858945,16.09,6944.0,14200.0,...,2010,2.310977e+07,83.75,163.392834,1.713810,49.170537,44.528475,3424.0,2359.0,35.36
275,15.30,34.62,19.06,8.52,100.00,0.1222,879280,27.45,142.0,1000.0,...,2010,4.915335e+06,14.96,353.855949,1.072682,91.216047,44.647602,3865.0,594.0,63.83
276,18.30,32.04,19.02,11.62,45.09,0.2169,1429824,18.14,5300.0,27833.0,...,2010,9.040197e+06,86.44,159.453958,1.319449,54.829362,47.924572,2803.0,20325.0,91.82
277,243.04,342.67,7.18,7.39,87.40,0.9744,10945200,1.50,5822.0,32993.0,...,2010,5.666714e+07,356.26,163.047724,4.037538,106.633748,46.984990,21497.0,68796.0,73.77
278,26.13,57.16,23.60,9.04,94.87,0.7686,4802909,0.66,1580.0,6010.0,...,2010,5.561935e+06,90.73,64.929152,4.031482,21.563319,43.248923,9943.0,18070.0,91.85

In [83]:
# Removes rows containing NaN values in the specified columns
columns_to_check = [ 
    'First_sector_of_GDP', 
    'GDP', 
    'Citycode', 
    'Area_of_administrative_districts',
    'NTL',
    'ISA',
    'PD'
    
]
df_cleaned = df.dropna(subset=columns_to_check)

In [84]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 278 entries, 0 to 278
Data columns (total 24 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   UrbanPopulation                                           278 non-null    float64
 1   Surface_Area_of_Built_District                            278 non-null    float64
 2   Road_Surface_Area_Per_Capita_m2                           278 non-null    float64
 3   Parkland_per_capita                                       278 non-null    float64
 4   Rate_of_non_hazardous_treatment_of_domestic_waste(%)      278 non-null    float64
 5   Population_urbanization                                   278 non-null    float64
 6   GDP                                                       278 non-null    int64
 7   First_sector_of_GDP                                       278 non-null    float64
 8   Industrial_wastewater_discharge_(tonnes)                  278 non-null    float64
 9   Industrial_fume_emissions_(tonnes)                        278 non-null    float64
 10  Comprehensive_industrial_solid_waste_utilisation_rate(%)  278 non-null    float64
 11  Citycode                                                  278 non-null    int64
 12  Area_of_administrative_districts                          278 non-null    int64
 13  Greening_coverage_in_builtup_areas                        278 non-null    float64
 14  Year                                                      278 non-null    int64
 15  CO2                                                       278 non-null    float64
 16  ISA                                                       278 non-null    float64
 17  NPP                                                       278 non-null    float64
 18  NTL                                                       278 non-null    float64
 19  PD                                                        278 non-null    float64
 20  pm2.5                                                     278 non-null    float64
 21  Science_expend                                            278 non-null    float64
 22  SO2_REMOVE                                                275 non-null    float64
 23  Sewage                                                    277 non-null    float64
dtypes: float64(20), int64(4)
memory usage: 54.3 KB

In [8]:
# Specify the columns to check for NaN values
columns_to_check = [
    'Population_urbanization',
    'PD',
    'ISA',
    'UrbanPopulation', 
    'First_sector_of_GDP', 
    'GDP', 
    'NTL',
    'Citycode', 
    'Road_Surface_Area_Per_Capita_m2',
]

# Convert these columns to numeric types to handle non-numeric content
for column in columns_to_check:
    df_cleaned[column] = pd.to_numeric(df_cleaned[column], errors='coerce')

/tmp/ipykernel_46214/2789612693.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned[column] = pd.to_numeric(df_cleaned[column], errors='coerce')

In [9]:
df_cleaned['PUI'] = (df_cleaned['Population_urbanization'])

/tmp/ipykernel_46214/629985429.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['PUI'] = (df_cleaned['Population_urbanization'])

In [10]:
df_cleaned

,UrbanPopulation,Surface_Area_of_Built_District,Road_Surface_Area_Per_Capita_m2,Parkland_per_capita,Rate_of_non_hazardous_treatment_of_domestic_waste(%),Population_urbanization,GDP,First_sector_of_GDP,Industrial_wastewater_discharge_(tonnes),Industrial_fume_emissions_(tonnes),...,CO2,ISA,NPP,NTL,PD,pm2.5,Science_expend,SO2_REMOVE,Sewage,PUI
0,1685.90,1186.00,5.57,11.28,96.95,0.8433,121530000,0.97,8198.0,21266.0,...,7.292345e+07,3333.80,309.232602,18.090527,580.735080,66.177431,1789154.0,129888.0,80.36,0.8433
1,587.40,686.71,14.89,8.56,100.00,0.7572,75218500,1.71,19680.0,53831.0,...,1.187070e+08,3524.78,258.074621,22.253577,601.187944,80.746845,432530.0,374014.0,86.10,0.7572
2,227.60,202.90,16.91,14.39,100.00,0.3904,30012797,10.27,19254.0,32631.0,...,7.539732e+07,2494.87,257.810521,8.821829,464.547330,84.157414,45021.0,371446.0,95.06,0.3904
3,193.08,234.00,15.12,15.13,100.00,0.3128,38127192,9.45,18170.0,98670.0,...,2.337953e+08,3079.26,309.636095,12.898492,371.363943,69.188712,47728.0,410080.0,94.41,0.3128
4,82.97,89.48,19.44,19.90,100.00,0.4053,8045421,12.72,5608.0,11365.0,...,2.081210e+07,898.59,386.528173,6.276958,248.421070,56.350381,7799.0,63450.0,92.52,0.4053
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,18.33,28.21,20.12,19.19,99.43,0.3104,1858945,16.09,6944.0,14200.0,...,2.310977e+07,83.75,163.392834,1.713810,49.170537,44.528475,3424.0,2359.0,35.36,0.3104
275,15.30,34.62,19.06,8.52,100.00,0.1222,879280,27.45,142.0,1000.0,...,4.915335e+06,14.96,353.855949,1.072682,91.216047,44.647602,3865.0,594.0,63.83,0.1222
276,18.30,32.04,19.02,11.62,45.09,0.2169,1429824,18.14,5300.0,27833.0,...,9.040197e+06,86.44,159.453958,1.319449,54.829362,47.924572,2803.0,20325.0,91.82,0.2169
277,243.04,342.67,7.18,7.39,87.40,0.9744,10945200,1.50,5822.0,32993.0,...,5.666714e+07,356.26,163.047724,4.037538,106.633748,46.984990,21497.0,68796.0,73.77,0.9744
278,26.13,57.16,23.60,9.04,94.87,0.7686,4802909,0.66,1580.0,6010.0,...,5.561935e+06,90.73,64.929152,4.031482,21.563319,43.248923,9943.0,18070.0,91.85,0.7686

In [11]:
df_cleaned['PUI'].describe()

count    278.000000
mean       0.413214
std        0.175406
min        0.113700
25%        0.285275
50%        0.383700
75%        0.491725
max        1.000000
Name: PUI, dtype: float64

In [12]:
df_cleaned['PD'].describe()

count     278.000000
mean      327.961595
std       332.139867
min         4.119306
25%       125.611919
50%       244.956080
75%       442.131637
max      3144.378120
Name: PD, dtype: float64

In [13]:
df_cleaned['LUI'] = (df_cleaned['ISA']) / df_cleaned['Area_of_administrative_districts']

/tmp/ipykernel_46214/2781354406.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['LUI'] = (df_cleaned['ISA']) / df_cleaned['Area_of_administrative_districts']

In [14]:
df_cleaned['LUI'].describe()

count    278.000000
mean       0.073842
std        0.078436
min        0.000000
25%        0.013541
50%        0.037848
75%        0.117160
max        0.432894
Name: LUI, dtype: float64

In [15]:
df_cleaned['EUI'] = 1 - (df_cleaned['First_sector_of_GDP']) / 100

/tmp/ipykernel_46214/1051056126.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['EUI'] = 1 - (df_cleaned['First_sector_of_GDP']) / 100

In [16]:
df_cleaned['EUI'].describe()

count    278.000000
mean       0.859515
std        0.083917
min        0.555800
25%        0.800075
50%        0.867350
75%        0.929925
max        0.999200
Name: EUI, dtype: float64

In [17]:
df_cleaned['EAL'] = df_cleaned['NTL']

/tmp/ipykernel_46214/309165452.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['EAL'] = df_cleaned['NTL']

In [18]:
df_cleaned['EAL'].describe()

count    278.000000
mean       6.040098
std        7.537506
min        0.138133
25%        1.573344
50%        3.330958
75%        8.127245
max       52.021224
Name: EAL, dtype: float64

In [19]:
df_cleaned

,UrbanPopulation,Surface_Area_of_Built_District,Road_Surface_Area_Per_Capita_m2,Parkland_per_capita,Rate_of_non_hazardous_treatment_of_domestic_waste(%),Population_urbanization,GDP,First_sector_of_GDP,Industrial_wastewater_discharge_(tonnes),Industrial_fume_emissions_(tonnes),...,NTL,PD,pm2.5,Science_expend,SO2_REMOVE,Sewage,PUI,LUI,EUI,EAL
0,1685.90,1186.00,5.57,11.28,96.95,0.8433,121530000,0.97,8198.0,21266.0,...,18.090527,580.735080,66.177431,1789154.0,129888.0,80.36,0.8433,0.203219,0.9903,18.090527
1,587.40,686.71,14.89,8.56,100.00,0.7572,75218500,1.71,19680.0,53831.0,...,22.253577,601.187944,80.746845,432530.0,374014.0,86.10,0.7572,0.295604,0.9829,22.253577
2,227.60,202.90,16.91,14.39,100.00,0.3904,30012797,10.27,19254.0,32631.0,...,8.821829,464.547330,84.157414,45021.0,371446.0,95.06,0.3904,0.177470,0.8973,8.821829
3,193.08,234.00,15.12,15.13,100.00,0.3128,38127192,9.45,18170.0,98670.0,...,12.898492,371.363943,69.188712,47728.0,410080.0,94.41,0.3128,0.223006,0.9055,12.898492
4,82.97,89.48,19.44,19.90,100.00,0.4053,8045421,12.72,5608.0,11365.0,...,6.276958,248.421070,56.350381,7799.0,63450.0,92.52,0.4053,0.115322,0.8728,6.276958
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,18.33,28.21,20.12,19.19,99.43,0.3104,1858945,16.09,6944.0,14200.0,...,1.713810,49.170537,44.528475,3424.0,2359.0,35.36,0.3104,0.005001,0.8391,1.713810
275,15.30,34.62,19.06,8.52,100.00,0.1222,879280,27.45,142.0,1000.0,...,1.072682,91.216047,44.647602,3865.0,594.0,63.83,0.1222,0.001422,0.7255,1.072682
276,18.30,32.04,19.02,11.62,45.09,0.2169,1429824,18.14,5300.0,27833.0,...,1.319449,54.829362,47.924572,2803.0,20325.0,91.82,0.2169,0.006328,0.8186,1.319449
277,243.04,342.67,7.18,7.39,87.40,0.9744,10945200,1.50,5822.0,32993.0,...,4.037538,106.633748,46.984990,21497.0,68796.0,73.77,0.9744,0.025829,0.9850,4.037538
278,26.13,57.16,23.60,9.04,94.87,0.7686,4802909,0.66,1580.0,6010.0,...,4.031482,21.563319,43.248923,9943.0,18070.0,91.85,0.7686,0.012304,0.9934,4.031482

In [21]:
# Import land_use_intensity_by_city2006.csv data
df_land_use = pd.read_csv("land_use_intensity_by_city2010.csv", encoding='ISO-8859-1')

In [22]:
df_land_use

     Citycode  Provincecode          Province            City         LUL
0    110000.0      110000.0            ±±¾©ÊÐ          ±±¾©ÊÐ  265.965018
1    120000.0      120000.0            Ìì½òÊÐ          Ìì½òÊÐ  302.537533
2    130100.0      130000.0            ºÓ±±Ê¡        Ê¯¼Ò×¯ÊÐ  285.652043
3    130200.0      130000.0            ºÓ±±Ê¡          ÌÆÉ½ÊÐ  296.218637
4    130300.0      130000.0            ºÓ±±Ê¡        ÇØ»ÊµºÊÐ  264.130224
..        ...           ...               ...             ...         ...
365  659009.0      650000.0  ÐÂ½®Î¬Îá¶û×ÔÖÎÇø          À¥ÓñÊÐ  122.007043
366  659010.0      650000.0  ÐÂ½®Î¬Îá¶û×ÔÖÎÇø        ºúÑîºÓÊÐ  252.067914
367  710000.0      710000.0            Ì¨ÍåÊ¡          Ì¨ÍåÊ¡  231.407763
368  810000.0      810000.0    Ïã¸ÛÌØ±ðÐÐÕþÇø  Ïã¸ÛÌØ±ðÐÐÕþÇø  221.889611
369  820000.0      820000.0    °ÄÃÅÌØ±ðÐÐÕþÇø  °ÄÃÅÌØ±ðÐÐÕþÇø  200.459557

[370 rows x 5 columns]

In [23]:
df_merged = df_cleaned.merge(df_land_use[['Citycode', 'LUL']], on='Citycode', how='left')

In [24]:
df_merged

,UrbanPopulation,Surface_Area_of_Built_District,Road_Surface_Area_Per_Capita_m2,Parkland_per_capita,Rate_of_non_hazardous_treatment_of_domestic_waste(%),Population_urbanization,GDP,First_sector_of_GDP,Industrial_wastewater_discharge_(tonnes),Industrial_fume_emissions_(tonnes),...,PD,pm2.5,Science_expend,SO2_REMOVE,Sewage,PUI,LUI,EUI,EAL,LUL
0,1685.90,1186.00,5.57,11.28,96.95,0.8433,121530000,0.97,8198.0,21266.0,...,580.735080,66.177431,1789154.0,129888.0,80.36,0.8433,0.203219,0.9903,18.090527,265.965018
1,587.40,686.71,14.89,8.56,100.00,0.7572,75218500,1.71,19680.0,53831.0,...,601.187944,80.746845,432530.0,374014.0,86.10,0.7572,0.295604,0.9829,22.253577,302.537533
2,227.60,202.90,16.91,14.39,100.00,0.3904,30012797,10.27,19254.0,32631.0,...,464.547330,84.157414,45021.0,371446.0,95.06,0.3904,0.177470,0.8973,8.821829,285.652043
3,193.08,234.00,15.12,15.13,100.00,0.3128,38127192,9.45,18170.0,98670.0,...,371.363943,69.188712,47728.0,410080.0,94.41,0.3128,0.223006,0.9055,12.898492,296.218637
4,82.97,89.48,19.44,19.90,100.00,0.4053,8045421,12.72,5608.0,11365.0,...,248.421070,56.350381,7799.0,63450.0,92.52,0.4053,0.115322,0.8728,6.276958,264.130224
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,18.33,28.21,20.12,19.19,99.43,0.3104,1858945,16.09,6944.0,14200.0,...,49.170537,44.528475,3424.0,2359.0,35.36,0.3104,0.005001,0.8391,1.713810,213.451270
274,15.30,34.62,19.06,8.52,100.00,0.1222,879280,27.45,142.0,1000.0,...,91.216047,44.647602,3865.0,594.0,63.83,0.1222,0.001422,0.7255,1.072682,244.783708
275,18.30,32.04,19.02,11.62,45.09,0.2169,1429824,18.14,5300.0,27833.0,...,54.829362,47.924572,2803.0,20325.0,91.82,0.2169,0.006328,0.8186,1.319449,207.569339
276,243.04,342.67,7.18,7.39,87.40,0.9744,10945200,1.50,5822.0,32993.0,...,106.633748,46.984990,21497.0,68796.0,73.77,0.9744,0.025829,0.9850,4.037538,138.231543
277,26.13,57.16,23.60,9.04,94.87,0.7686,4802909,0.66,1580.0,6010.0,...,21.563319,43.248923,9943.0,18070.0,91.85,0.7686,0.012304,0.9934,4.031482,69.640647

In [25]:
columns_to_check1 = ['PUI','PD', 'LUI', 'EUI', 'EAL','LUL']

data_merged = df_merged.dropna(subset=columns_to_check1)

In [26]:
data_merged

,UrbanPopulation,Surface_Area_of_Built_District,Road_Surface_Area_Per_Capita_m2,Parkland_per_capita,Rate_of_non_hazardous_treatment_of_domestic_waste(%),Population_urbanization,GDP,First_sector_of_GDP,Industrial_wastewater_discharge_(tonnes),Industrial_fume_emissions_(tonnes),...,PD,pm2.5,Science_expend,SO2_REMOVE,Sewage,PUI,LUI,EUI,EAL,LUL
0,1685.90,1186.00,5.57,11.28,96.95,0.8433,121530000,0.97,8198.0,21266.0,...,580.735080,66.177431,1789154.0,129888.0,80.36,0.8433,0.203219,0.9903,18.090527,265.965018
1,587.40,686.71,14.89,8.56,100.00,0.7572,75218500,1.71,19680.0,53831.0,...,601.187944,80.746845,432530.0,374014.0,86.10,0.7572,0.295604,0.9829,22.253577,302.537533
2,227.60,202.90,16.91,14.39,100.00,0.3904,30012797,10.27,19254.0,32631.0,...,464.547330,84.157414,45021.0,371446.0,95.06,0.3904,0.177470,0.8973,8.821829,285.652043
3,193.08,234.00,15.12,15.13,100.00,0.3128,38127192,9.45,18170.0,98670.0,...,371.363943,69.188712,47728.0,410080.0,94.41,0.3128,0.223006,0.9055,12.898492,296.218637
4,82.97,89.48,19.44,19.90,100.00,0.4053,8045421,12.72,5608.0,11365.0,...,248.421070,56.350381,7799.0,63450.0,92.52,0.4053,0.115322,0.8728,6.276958,264.130224
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,18.33,28.21,20.12,19.19,99.43,0.3104,1858945,16.09,6944.0,14200.0,...,49.170537,44.528475,3424.0,2359.0,35.36,0.3104,0.005001,0.8391,1.713810,213.451270
274,15.30,34.62,19.06,8.52,100.00,0.1222,879280,27.45,142.0,1000.0,...,91.216047,44.647602,3865.0,594.0,63.83,0.1222,0.001422,0.7255,1.072682,244.783708
275,18.30,32.04,19.02,11.62,45.09,0.2169,1429824,18.14,5300.0,27833.0,...,54.829362,47.924572,2803.0,20325.0,91.82,0.2169,0.006328,0.8186,1.319449,207.569339
276,243.04,342.67,7.18,7.39,87.40,0.9744,10945200,1.50,5822.0,32993.0,...,106.633748,46.984990,21497.0,68796.0,73.77,0.9744,0.025829,0.9850,4.037538,138.231543
277,26.13,57.16,23.60,9.04,94.87,0.7686,4802909,0.66,1580.0,6010.0,...,21.563319,43.248923,9943.0,18070.0,91.85,0.7686,0.012304,0.9934,4.031482,69.640647

In [27]:
columns_to_keep = ['Year', 'Citycode', 'PUI','PD', 'LUI', 'EUI', 'EAL','LUL']
ui_index_2006 = data_merged[columns_to_keep]

ui_index_2006.to_csv('UI_index_2010.csv', index=False)

In [85]:
columns_to_fill = [
    'Industrial_wastewater_discharge_(tonnes)', 
    'Industrial_fume_emissions_(tonnes)', 
    'pm2.5',
    'CO2',
    'Comprehensive_industrial_solid_waste_utilisation_rate(%)', 
    'Rate_of_non_hazardous_treatment_of_domestic_waste(%)', 
    'Sewage',
    'SO2_REMOVE',
    'Greening_coverage_in_builtup_areas', 
    'Parkland_per_capita',
    'NPP',
    'Science_expend'
]

df_cleaned[columns_to_fill] = df_cleaned[columns_to_fill].fillna(0)

/tmp/ipykernel_46214/1814290371.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned[columns_to_fill] = df_cleaned[columns_to_fill].fillna(0)

In [86]:
df_cleaned

,UrbanPopulation,Surface_Area_of_Built_District,Road_Surface_Area_Per_Capita_m2,Parkland_per_capita,Rate_of_non_hazardous_treatment_of_domestic_waste(%),Population_urbanization,GDP,First_sector_of_GDP,Industrial_wastewater_discharge_(tonnes),Industrial_fume_emissions_(tonnes),...,Year,CO2,ISA,NPP,NTL,PD,pm2.5,Science_expend,SO2_REMOVE,Sewage
0,1685.90,1186.00,5.57,11.28,96.95,0.8433,121530000,0.97,8198.0,21266.0,...,2010,7.292345e+07,3333.80,309.232602,18.090527,580.735080,66.177431,1789154.0,129888.0,80.36
1,587.40,686.71,14.89,8.56,100.00,0.7572,75218500,1.71,19680.0,53831.0,...,2010,1.187070e+08,3524.78,258.074621,22.253577,601.187944,80.746845,432530.0,374014.0,86.10
2,227.60,202.90,16.91,14.39,100.00,0.3904,30012797,10.27,19254.0,32631.0,...,2010,7.539732e+07,2494.87,257.810521,8.821829,464.547330,84.157414,45021.0,371446.0,95.06
3,193.08,234.00,15.12,15.13,100.00,0.3128,38127192,9.45,18170.0,98670.0,...,2010,2.337953e+08,3079.26,309.636095,12.898492,371.363943,69.188712,47728.0,410080.0,94.41
4,82.97,89.48,19.44,19.90,100.00,0.4053,8045421,12.72,5608.0,11365.0,...,2010,2.081210e+07,898.59,386.528173,6.276958,248.421070,56.350381,7799.0,63450.0,92.52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,18.33,28.21,20.12,19.19,99.43,0.3104,1858945,16.09,6944.0,14200.0,...,2010,2.310977e+07,83.75,163.392834,1.713810,49.170537,44.528475,3424.0,2359.0,35.36
275,15.30,34.62,19.06,8.52,100.00,0.1222,879280,27.45,142.0,1000.0,...,2010,4.915335e+06,14.96,353.855949,1.072682,91.216047,44.647602,3865.0,594.0,63.83
276,18.30,32.04,19.02,11.62,45.09,0.2169,1429824,18.14,5300.0,27833.0,...,2010,9.040197e+06,86.44,159.453958,1.319449,54.829362,47.924572,2803.0,20325.0,91.82
277,243.04,342.67,7.18,7.39,87.40,0.9744,10945200,1.50,5822.0,32993.0,...,2010,5.666714e+07,356.26,163.047724,4.037538,106.633748,46.984990,21497.0,68796.0,73.77
278,26.13,57.16,23.60,9.04,94.87,0.7686,4802909,0.66,1580.0,6010.0,...,2010,5.561935e+06,90.73,64.929152,4.031482,21.563319,43.248923,9943.0,18070.0,91.85

In [87]:
#导出进行shap
#df_cleaned.to_csv('All_indi_2010.csv', index=False)

In [30]:
df_cleaned['Res1'] = df_cleaned['Industrial_wastewater_discharge_(tonnes)'] / df_cleaned['GDP']

/tmp/ipykernel_46214/2666823736.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Res1'] = df_cleaned['Industrial_wastewater_discharge_(tonnes)'] / df_cleaned['GDP']

In [31]:
df_cleaned['Res1'].describe()

count    278.000000
mean       0.000844
std        0.001204
min        0.000013
25%        0.000378
50%        0.000639
75%        0.001021
max        0.017121
Name: Res1, dtype: float64

In [32]:
df_cleaned['Res2'] = df_cleaned['Industrial_fume_emissions_(tonnes)'] / df_cleaned['GDP']

/tmp/ipykernel_46214/2575824147.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Res2'] = df_cleaned['Industrial_fume_emissions_(tonnes)'] / df_cleaned['GDP']

In [33]:
df_cleaned['Res2'].describe()

count    278.000000
mean       0.002542
std        0.002988
min        0.000011
25%        0.000789
50%        0.001499
75%        0.003270
max        0.026616
Name: Res2, dtype: float64

In [34]:
df_cleaned['Res3'] = df_cleaned['pm2.5']

/tmp/ipykernel_46214/2715485576.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Res3'] = df_cleaned['pm2.5']

In [35]:
df_cleaned['Res3'].describe()

count    278.000000
mean      52.475821
std       15.054075
min       21.623607
25%       41.285530
50%       49.333179
75%       63.320522
max       87.913166
Name: Res3, dtype: float64

In [36]:
df_cleaned['Res4'] = df_cleaned['CO2']

/tmp/ipykernel_46214/4017769138.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Res4'] = df_cleaned['CO2']

In [37]:
df_cleaned['Res4'].describe()

count    2.780000e+02
mean     2.901360e+07
std      2.859158e+07
min      1.549561e+06
25%      1.106993e+07
50%      2.087990e+07
75%      3.834928e+07
max      2.337953e+08
Name: Res4, dtype: float64

In [38]:
df_cleaned['Ada1'] = df_cleaned['Comprehensive_industrial_solid_waste_utilisation_rate(%)'] 
df_cleaned['Ada1'].describe()

/tmp/ipykernel_46214/526319254.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Ada1'] = df_cleaned['Comprehensive_industrial_solid_waste_utilisation_rate(%)']

count    278.000000
mean      82.660432
std       21.864456
min        1.300000
25%       74.587500
50%       91.090000
75%       97.460000
max      143.240000
Name: Ada1, dtype: float64

In [39]:
rows_ada1_above_100 = df_cleaned[df_cleaned['Ada1'] > 100]
rows_ada1_above_100

,UrbanPopulation,Surface_Area_of_Built_District,Road_Surface_Area_Per_Capita_m2,Parkland_per_capita,Rate_of_non_hazardous_treatment_of_domestic_waste(%),Population_urbanization,GDP,First_sector_of_GDP,Industrial_wastewater_discharge_(tonnes),Industrial_fume_emissions_(tonnes),...,Sewage,PUI,LUI,EUI,EAL,Res1,Res2,Res3,Res4,Ada1
165,68.61,66.40,10.61,9.51,0.0,0.2466,7095800,29.20,6104.0,47320.0,...,79.11,0.2466,0.033897,0.7080,1.479443,0.00086,0.006669,72.154096,1.677602e+07,143.24
183,1035.79,830.01,8.63,16.40,94.6,1.0000,82013176,0.08,9001.0,912.0,...,93.10,1.0000,0.396727,0.9992,47.326158,0.00011,0.000011,37.261048,2.198440e+07,134.74

In [40]:
df_cleaned['Ada2'] = df_cleaned['Rate_of_non_hazardous_treatment_of_domestic_waste(%)'] 
df_cleaned['Ada2'].describe()

/tmp/ipykernel_46214/2482281589.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Ada2'] = df_cleaned['Rate_of_non_hazardous_treatment_of_domestic_waste(%)']

count    278.000000
mean      78.609388
std       27.996261
min        0.000000
25%       67.000000
50%       90.680000
75%      100.000000
max      100.000000
Name: Ada2, dtype: float64

In [41]:
rows_ada2_above_100 = df_cleaned[df_cleaned['Ada2'] > 100]
rows_ada2_above_100

Empty DataFrame
Columns: [UrbanPopulation, Surface_Area_of_Built_District, Road_Surface_Area_Per_Capita_m2, Parkland_per_capita, Rate_of_non_hazardous_treatment_of_domestic_waste(%), Population_urbanization, GDP, First_sector_of_GDP, Industrial_wastewater_discharge_(tonnes), Industrial_fume_emissions_(tonnes), Comprehensive_industrial_solid_waste_utilisation_rate(%), Citycode, Area_of_administrative_districts, Greening_coverage_in_builtup_areas, Year, CO2, ISA, NPP, NTL, PD, pm2.5, Science_expend, SO2_REMOVE, Sewage, PUI, LUI, EUI, EAL, Res1, Res2, Res3, Res4, Ada1, Ada2]
Index: []

[0 rows x 34 columns]

In [42]:
df_cleaned['Ada3'] = df_cleaned['SO2_REMOVE'] 
df_cleaned['Ada3'].describe()

/tmp/ipykernel_46214/2674187087.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Ada3'] = df_cleaned['SO2_REMOVE']

count    2.780000e+02
mean     1.082794e+05
std      1.714559e+05
min      0.000000e+00
25%      1.661600e+04
50%      5.570150e+04
75%      1.263942e+05
max      1.204054e+06
Name: Ada3, dtype: float64

In [43]:
df_cleaned['Ada4'] = df_cleaned['Sewage'] 
df_cleaned['Ada4'].describe()

/tmp/ipykernel_46214/2337404170.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Ada4'] = df_cleaned['Sewage']

count    278.000000
mean      74.657878
std       23.509596
min      -23.360000
25%       63.865000
50%       80.440000
75%       91.210000
max      136.470000
Name: Ada4, dtype: float64

In [44]:
df_cleaned['Rec1'] = df_cleaned['Greening_coverage_in_builtup_areas'] 
df_cleaned['Rec2'] = df_cleaned['Parkland_per_capita'] 
df_cleaned['Rec3'] = df_cleaned['NPP'] 
df_cleaned['Rec4'] = df_cleaned['Science_expend']

/tmp/ipykernel_46214/2463940865.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Rec1'] = df_cleaned['Greening_coverage_in_builtup_areas']
/tmp/ipykernel_46214/2463940865.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Rec2'] = df_cleaned['Parkland_per_capita']
/tmp/ipykernel_46214/2463940865.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Rec3'] = df_cleaned['NPP']
/tmp/ipykernel_46214/2463940865.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Rec4'] = df_cleaned['Science_expend']

In [45]:
df_cleaned['Rec3'].describe()

count     278.000000
mean      517.411950
std       226.354543
min        64.929152
25%       357.405127
50%       475.559264
75%       624.989862
max      1191.524756
Name: Rec3, dtype: float64

In [39]:
rows_rec1_above_100 = df_cleaned[df_cleaned['Rec1'] > 100]
rows_rec1_above_100

Empty DataFrame
Columns: [Name_of_Regions, Unnamed: 1, Year, UrbanDistrictArea, UrbanDistrictPopulation, UrbanDistrictTemporaryPopulation, UrbanArea, UrbanPopulation, UrbanTemporaryPopulation, Surface_Area_of_Built_District, Area_of_Urban_Construction_Land_Subtotal, Residential, Area_for Public_Utilities, Area_for_Industrial_Overation, Area_for_Storage, Area_for_Traffic_System, Area_for_Roads_and_Plazas, Area_for_Municipal_Utilities, Greenland_Area, Area_for_Specialpurpose, Area_of_Land_Requisition_this_Year, Arable_Land, Road_Surface_Area_Per_Capita_m2, Unnamed: 23, Total_population_of_the_region, Unnamed: 25, Population_urbanization, Unnamed: 27, GDP, Unnamed: 29, First_sector_of_GDP, Unnamed: 31, Unnamed: 32, Citycode, Area_of_administrative_districts, Unnamed: 35, Industrial_wastewater_discharge_(tonnes), Industrial_sulphur_dioxide_emissions_(tonnes), Industrial_fume_emissions_(tonnes),     城市, Comprehensive_industrial_solid_waste_utilisation_rate(%), Urban_domestic_sewage_treatment_rate(%), Rate_of_non_hazardous_treatment_of_domestic_waste(%), CITY, Greening_coverage_in_builtup_areas, Unnamed: 45, Parkland_per_capita, PUI, URI, LUI, EUI, EAL, Res1, Res2, Ada1, Ada2, Rec1, Rec2]
Index: []

[0 rows x 58 columns]

In [46]:
df_cleaned['Rec4'].describe()

count    2.780000e+02
mean     4.699433e+04
std      1.773182e+05
min      1.110000e+03
25%      6.571250e+03
50%      1.210100e+04
75%      2.794975e+04
max      2.020326e+06
Name: Rec4, dtype: float64

In [47]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 278 entries, 0 to 278
Data columns (total 40 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   UrbanPopulation                                           278 non-null    float64
 1   Surface_Area_of_Built_District                            278 non-null    float64
 2   Road_Surface_Area_Per_Capita_m2                           278 non-null    float64
 3   Parkland_per_capita                                       278 non-null    float64
 4   Rate_of_non_hazardous_treatment_of_domestic_waste(%)      278 non-null    float64
 5   Population_urbanization                                   278 non-null    float64
 6   GDP                                                       278 non-null    int64
 7   First_sector_of_GDP                                       278 non-null    float64
 8   Industrial_wastewater_discharge_(tonnes)                  278 non-null    float64
 9   Industrial_fume_emissions_(tonnes)                        278 non-null    float64
 10  Comprehensive_industrial_solid_waste_utilisation_rate(%)  278 non-null    float64
 11  Citycode                                                  278 non-null    int64
 12  Area_of_administrative_districts                          278 non-null    int64
 13  Greening_coverage_in_builtup_areas                        278 non-null    float64
 14  Year                                                      278 non-null    int64
 15  CO2                                                       278 non-null    float64
 16  ISA                                                       278 non-null    float64
 17  NPP                                                       278 non-null    float64
 18  NTL                                                       278 non-null    float64
 19  PD                                                        278 non-null    float64
 20  pm2.5                                                     278 non-null    float64
 21  Science_expend                                            278 non-null    float64
 22  SO2_REMOVE                                                278 non-null    float64
 23  Sewage                                                    278 non-null    float64
 24  PUI                                                       278 non-null    float64
 25  LUI                                                       278 non-null    float64
 26  EUI                                                       278 non-null    float64
 27  EAL                                                       278 non-null    float64
 28  Res1                                                      278 non-null    float64
 29  Res2                                                      278 non-null    float64
 30  Res3                                                      278 non-null    float64
 31  Res4                                                      278 non-null    float64
 32  Ada1                                                      278 non-null    float64
 33  Ada2                                                      278 non-null    float64
 34  Ada3                                                      278 non-null    float64
 35  Ada4                                                      278 non-null    float64
 36  Rec1                                                      278 non-null    float64
 37  Rec2                                                      278 non-null    float64
 38  Rec3                                                      278 non-null    float64
 39  Rec4                                                      278 non-null    float64
dtypes: float64(36), int64(4)
memory usage: 89.0 KB

In [48]:
columns_to_keep = ['Citycode','Year','Res1','Res2','Res3','Res4','Ada1','Ada2','Ada3','Ada4','Rec1','Rec2','Rec3','Rec4']
uer_index_2006 = df_cleaned[columns_to_keep]
uer_index_2006.to_csv('UER_index_2010.csv', index=False)

# 熵权法
# 标准化

In [49]:
# Initialize a column for the normalized values
data_merged['X1_star'] = pd.Series(dtype='float')
column_to_normalize = 'PUI'
# Iterate over each year to perform the normalization
for year in range(2010, 2011):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X1_max = year_data[column_to_normalize].max()
    X1_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X1_star'] = (year_data[column_to_normalize] - X1_min) / (X1_max - X1_min)

# Initialize a column for the normalized values
data_merged['X2_star'] = pd.Series(dtype='float')
column_to_normalize = 'PD'
# Iterate over each year to perform the normalization
for year in range(2010, 2011):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X2_max = year_data[column_to_normalize].max()
    X2_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X2_star'] = (year_data[column_to_normalize] - X2_min) / (X2_max - X2_min)


data_merged['X3_star'] = pd.Series(dtype='float')
column_to_normalize = 'LUI'
# Iterate over each year to perform the normalization
for year in range(2010, 2011):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X3_max = year_data[column_to_normalize].max()
    X3_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X3_star'] = (year_data[column_to_normalize] - X3_min) / (X3_max - X3_min)

data_merged['X4_star'] = pd.Series(dtype='float')
column_to_normalize = 'EUI'
# Iterate over each year to perform the normalization
for year in range(2010, 2011):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X4_max = year_data[column_to_normalize].max()
    X4_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X4_star'] = (year_data[column_to_normalize] - X4_min) / (X4_max - X4_min)

data_merged['X5_star'] = pd.Series(dtype='float')
column_to_normalize = 'EAL'
# Iterate over each year to perform the normalization
for year in range(2010, 2011):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X5_max = year_data[column_to_normalize].max()
    X5_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X5_star'] = (year_data[column_to_normalize] - X5_min) / (X5_max - X5_min)


data_merged['X6_star'] = pd.Series(dtype='float')
column_to_normalize = 'LUL'
# Iterate over each year to perform the normalization
for year in range(2010, 2011):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X6_max = year_data[column_to_normalize].max()
    X6_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X6_star'] = (year_data[column_to_normalize] - X6_min) / (X6_max - X6_min)

In [50]:
data_merged

,UrbanPopulation,Surface_Area_of_Built_District,Road_Surface_Area_Per_Capita_m2,Parkland_per_capita,Rate_of_non_hazardous_treatment_of_domestic_waste(%),Population_urbanization,GDP,First_sector_of_GDP,Industrial_wastewater_discharge_(tonnes),Industrial_fume_emissions_(tonnes),...,LUI,EUI,EAL,LUL,X1_star,X2_star,X3_star,X4_star,X5_star,X6_star
0,1685.90,1186.00,5.57,11.28,96.95,0.8433,121530000,0.97,8198.0,21266.0,...,0.203219,0.9903,18.090527,265.965018,0.823198,0.183620,0.469442,0.979928,0.346016,0.810060
1,587.40,686.71,14.89,8.56,100.00,0.7572,75218500,1.71,19680.0,53831.0,...,0.295604,0.9829,22.253577,302.537533,0.726052,0.190134,0.682855,0.963239,0.426255,0.935477
2,227.60,202.90,16.91,14.39,100.00,0.3904,30012797,10.27,19254.0,32631.0,...,0.177470,0.8973,8.821829,285.652043,0.312197,0.146621,0.409961,0.770185,0.167370,0.877572
3,193.08,234.00,15.12,15.13,100.00,0.3128,38127192,9.45,18170.0,98670.0,...,0.223006,0.9055,12.898492,296.218637,0.224642,0.116947,0.515151,0.788678,0.245944,0.913808
4,82.97,89.48,19.44,19.90,100.00,0.4053,8045421,12.72,5608.0,11365.0,...,0.115322,0.8728,6.276958,264.130224,0.329008,0.077797,0.266398,0.714930,0.118320,0.803768
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,18.33,28.21,20.12,19.19,99.43,0.3104,1858945,16.09,6944.0,14200.0,...,0.005001,0.8391,1.713810,213.451270,0.221934,0.014346,0.011552,0.638926,0.030370,0.629977
274,15.30,34.62,19.06,8.52,100.00,0.1222,879280,27.45,142.0,1000.0,...,0.001422,0.7255,1.072682,244.783708,0.009590,0.027736,0.003284,0.382724,0.018013,0.737424
275,18.30,32.04,19.02,11.62,45.09,0.2169,1429824,18.14,5300.0,27833.0,...,0.006328,0.8186,1.319449,207.569339,0.116439,0.016148,0.014619,0.592693,0.022769,0.609806
276,243.04,342.67,7.18,7.39,87.40,0.9744,10945200,1.50,5822.0,32993.0,...,0.025829,0.9850,4.037538,138.231543,0.971116,0.032645,0.059666,0.967975,0.075158,0.372029
277,26.13,57.16,23.60,9.04,94.87,0.7686,4802909,0.66,1580.0,6010.0,...,0.012304,0.9934,4.031482,69.640647,0.738915,0.005555,0.028423,0.986919,0.075041,0.136813

In [51]:
columns_to_keep = ['Citycode','Year','X1_star','X2_star','X3_star','X4_star','X5_star','X6_star']
data_process_UI = data_merged[columns_to_keep]

In [52]:
data_process_UI

,Citycode,Year,X1_star,X2_star,X3_star,X4_star,X5_star,X6_star
0,110000,2010,0.823198,0.183620,0.469442,0.979928,0.346016,0.810060
1,120000,2010,0.726052,0.190134,0.682855,0.963239,0.426255,0.935477
2,130100,2010,0.312197,0.146621,0.409961,0.770185,0.167370,0.877572
3,130200,2010,0.224642,0.116947,0.515151,0.788678,0.245944,0.913808
4,130300,2010,0.329008,0.077797,0.266398,0.714930,0.118320,0.803768
...,...,...,...,...,...,...,...,...
273,640300,2010,0.221934,0.014346,0.011552,0.638926,0.030370,0.629977
274,640400,2010,0.009590,0.027736,0.003284,0.382724,0.018013,0.737424
275,640500,2010,0.116439,0.016148,0.014619,0.592693,0.022769,0.609806
276,650100,2010,0.971116,0.032645,0.059666,0.967975,0.075158,0.372029
277,650200,2010,0.738915,0.005555,0.028423,0.986919,0.075041,0.136813

In [53]:
#1.7熵权法

def calculate_entropy(indicator_data):
    # Replace zero values to avoid log(0) and negative infinity in entropy calculation
    indicator_data = indicator_data.replace(0, np.finfo(float).eps)  # Use a small number instead of zero
    p_ij = indicator_data / indicator_data.sum()  # Calculate the proportion p_ij
    K = 1 / np.log(278)  # Calculate the constant K
    e_j = -K * (p_ij * np.log(p_ij)).sum()  # Calculate the entropy e_j
    return e_j

# Initialize an empty list to store DataFrames for each year
dataframes_list = []

# Calculate entropies and weights for each year
for year in range(2010, 2011):
    year_data = data_process_UI[data_process_UI['Year'] == year].copy()
    entropies = year_data[['X1_star', 'X2_star', 'X3_star', 'X4_star','X5_star','X6_star']].apply(calculate_entropy, axis=0)
    weights = (1 - entropies) / (1 - entropies).sum()  # Calculate weights, ensuring they sum up to 1 within the year
    for i, indicator in enumerate(['X1_star', 'X2_star', 'X3_star', 'X4_star','X5_star','X6_star']):
        year_data[indicator + '_weighted'] = year_data[indicator] * weights.values[i]  # Apply weights to the indicators
    dataframes_list.append(year_data)  # Append the yearly data to the list

# Concatenate all DataFrames in the list to create the comprehensive_scores DataFrame
UI = pd.concat(dataframes_list, ignore_index=True)

# Now you should have the comprehensive_scores DataFrame with correctly calculated weights per year

In [54]:
UI

,Citycode,Year,X1_star,X2_star,X3_star,X4_star,X5_star,X6_star,X1_star_weighted,X2_star_weighted,X3_star_weighted,X4_star_weighted,X5_star_weighted,X6_star_weighted
0,110000,2010,0.823198,0.183620,0.469442,0.979928,0.346016,0.810060,0.083957,0.039853,0.144927,0.024858,0.115858,0.009761
1,120000,2010,0.726052,0.190134,0.682855,0.963239,0.426255,0.935477,0.074049,0.041266,0.210813,0.024435,0.142725,0.011272
2,130100,2010,0.312197,0.146621,0.409961,0.770185,0.167370,0.877572,0.031841,0.031822,0.126564,0.019537,0.056041,0.010574
3,130200,2010,0.224642,0.116947,0.515151,0.788678,0.245944,0.913808,0.022911,0.025382,0.159039,0.020007,0.082351,0.011011
4,130300,2010,0.329008,0.077797,0.266398,0.714930,0.118320,0.803768,0.033555,0.016885,0.082243,0.018136,0.039618,0.009685
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,640300,2010,0.221934,0.014346,0.011552,0.638926,0.030370,0.629977,0.022635,0.003114,0.003566,0.016208,0.010169,0.007591
274,640400,2010,0.009590,0.027736,0.003284,0.382724,0.018013,0.737424,0.000978,0.006020,0.001014,0.009709,0.006031,0.008885
275,640500,2010,0.116439,0.016148,0.014619,0.592693,0.022769,0.609806,0.011876,0.003505,0.004513,0.015035,0.007624,0.007348
276,650100,2010,0.971116,0.032645,0.059666,0.967975,0.075158,0.372029,0.099043,0.007085,0.018420,0.024555,0.025165,0.004483
277,650200,2010,0.738915,0.005555,0.028423,0.986919,0.075041,0.136813,0.075361,0.001206,0.008775,0.025035,0.025126,0.001648

In [55]:
# Calculate the combined weighted values for Resistance, Adaptability, and Recovery
UI['PU'] = UI['X1_star_weighted'] + UI['X2_star_weighted']
UI['LU'] = UI['X3_star_weighted'] + UI['X6_star_weighted']
#comprehensive_scores['ADA'] = comprehensive_scores['X2_star_weighted'] 
UI['EU'] = UI['X4_star_weighted'] + UI['X5_star_weighted']

# Assuming data_merged is the DataFrame with the standardized 'RES', 'ADA', and 'REC' columns.

# Define a small positive value to add to REC to avoid zero values
small_positive_value = 1e-6

# Replace zero values in REC with the small positive value
UI['PU_adj'] = UI['PU'].replace(0, small_positive_value)
UI['LU_adj'] = UI['LU'].replace(0, small_positive_value)
UI['EU_adj'] = UI['EU'].replace(0, small_positive_value)

# Now, the UER values should not be zero due to REC being zero, since we have adjusted REC values slightly above zero.

# Calculate the Urban Ecological Resilience (UER) for each borough and year
UI['UI'] = UI['PU_adj'] + UI['LU_adj'] + UI['EU_adj']

# Check the result
UI[['Year', 'Citycode', 'PU', 'LU', 'EU', 'UI']].head()

   Year  Citycode        PU        LU        EU        UI
0  2010    110000  0.123810  0.154688  0.140716  0.419214
1  2010    120000  0.115316  0.222084  0.167160  0.504560
2  2010    130100  0.063663  0.137138  0.075579  0.276380
3  2010    130200  0.048293  0.170049  0.102357  0.320699
4  2010    130300  0.050440  0.091928  0.057754  0.200121

In [49]:
UI

,Citycode,Year,X1_star,X2_star,X3_star,X4_star,X5_star,X6_star,X1_star_weighted,X2_star_weighted,...,X4_star_weighted,X5_star_weighted,X6_star_weighted,PU,LU,EU,PU_adj,LU_adj,EU_adj,UI
0,110000,2006,0.734570,0.182907,0.472181,0.972590,0.299378,0.812381,0.090295,0.035717,...,0.040194,0.102648,0.008694,0.126012,0.144166,0.142842,0.126012,0.144166,0.142842,0.413019
1,120000,2006,0.566834,0.189473,0.663344,0.936194,0.352684,0.925871,0.069676,0.036999,...,0.038690,0.120925,0.009908,0.106675,0.200226,0.159615,0.106675,0.200226,0.159615,0.466516
2,130100,2006,0.350431,0.146063,0.418978,0.692878,0.141934,0.878383,0.043076,0.028522,...,0.028634,0.048665,0.009400,0.071598,0.129607,0.077300,0.071598,0.129607,0.077300,0.278505
3,130200,2006,0.259054,0.116468,0.485050,0.742754,0.189495,0.911864,0.031844,0.022743,...,0.030696,0.064973,0.009758,0.054587,0.148922,0.095668,0.054587,0.148922,0.095668,0.299177
4,130300,2006,0.368698,0.077402,0.265661,0.769939,0.093581,0.811275,0.045321,0.015114,...,0.031819,0.032086,0.008682,0.060436,0.084902,0.063905,0.060436,0.084902,0.063905,0.209243
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,640300,2006,0.248864,0.014239,0.010041,0.637610,0.017873,0.627108,0.030591,0.002780,...,0.026350,0.006128,0.006711,0.033371,0.009592,0.032478,0.033371,0.009592,0.032478,0.075441
274,640400,2006,0.045985,0.027604,0.003210,0.360593,0.009385,0.730011,0.005653,0.005390,...,0.014902,0.003218,0.007812,0.011043,0.008733,0.018120,0.011043,0.008733,0.018120,0.037896
275,640500,2006,0.182815,0.016123,0.013339,0.526623,0.018132,0.606459,0.022472,0.003148,...,0.021764,0.006217,0.006490,0.025620,0.010317,0.027980,0.025620,0.010317,0.027980,0.063918
276,650100,2006,0.767715,0.032595,0.055673,0.971692,0.056391,0.382562,0.094369,0.006365,...,0.040157,0.019335,0.004094,0.100734,0.020067,0.059492,0.100734,0.020067,0.059492,0.180293
277,650200,2006,0.988220,0.005400,0.022488,0.995282,0.065554,0.104980,0.121474,0.001055,...,0.041132,0.022476,0.001123,0.122529,0.007575,0.063608,0.122529,0.007575,0.063608,0.193712

In [56]:
columns_to_keep = ['Citycode','Year','Res1','Res2','Res3','Res4','Ada1','Ada2','Ada3','Ada4','Rec1','Rec2','Rec3','Rec4']
data_merged = df_cleaned[columns_to_keep]

In [57]:
data_merged

,Citycode,Year,Res1,Res2,Res3,Res4,Ada1,Ada2,Ada3,Ada4,Rec1,Rec2,Rec3,Rec4
0,110000,2010,0.000067,0.000175,66.177431,7.292345e+07,65.82,96.95,129888.0,80.36,55.10,11.28,309.232602,1789154.0
1,120000,2010,0.000262,0.000716,80.746845,1.187070e+08,98.37,100.00,374014.0,86.10,32.04,8.56,258.074621,432530.0
2,130100,2010,0.000642,0.001087,84.157414,7.539732e+07,93.36,100.00,371446.0,95.06,43.01,14.39,257.810521,45021.0
3,130200,2010,0.000477,0.002588,69.188712,2.337953e+08,80.55,100.00,410080.0,94.41,46.00,15.13,309.636095,47728.0
4,130300,2010,0.000697,0.001413,56.350381,2.081210e+07,59.57,100.00,63450.0,92.52,50.24,19.90,386.528173,7799.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,640300,2010,0.003735,0.007639,44.528475,2.310977e+07,90.01,99.43,2359.0,35.36,38.79,19.19,163.392834,3424.0
275,640400,2010,0.000161,0.001137,44.647602,4.915335e+06,99.20,100.00,594.0,63.83,28.31,8.52,353.855949,3865.0
276,640500,2010,0.003707,0.019466,47.924572,9.040197e+06,60.61,45.09,20325.0,91.82,26.03,11.62,159.453958,2803.0
277,650100,2010,0.000532,0.003014,46.984990,5.666714e+07,68.20,87.40,68796.0,73.77,34.77,7.39,163.047724,21497.0
278,650200,2010,0.000329,0.001251,43.248923,5.561935e+06,63.55,94.87,18070.0,91.85,50.68,9.04,64.929152,9943.0

In [58]:
# Initialize a column for the normalized values
data_merged['X1_star'] = pd.Series(dtype='float')
column_to_normalize = 'Res1'
# Iterate over each year to perform the normalization
for year in range(2010, 2011):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X1_max = year_data[column_to_normalize].max()
    X1_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X1_star'] = (X1_max - year_data[column_to_normalize]) / (X1_max - X1_min)


# Initialize a column for the normalized values
data_merged['X2_star'] = pd.Series(dtype='float')
column_to_normalize = 'Res2'
# Iterate over each year to perform the normalization
for year in range(2010, 2011):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X2_max = year_data[column_to_normalize].max()
    X2_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X2_star'] = (X2_max - year_data[column_to_normalize]) / (X2_max - X2_min)



# Initialize a column for the normalized values
data_merged['X3_star'] = pd.Series(dtype='float')
column_to_normalize = 'Res3'
# Iterate over each year to perform the normalization
for year in range(2010, 2011):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X3_max = year_data[column_to_normalize].max()
    X3_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X3_star'] = (X3_max - year_data[column_to_normalize]) / (X3_max - X3_min)


# Initialize a column for the normalized values
data_merged['X4_star'] = pd.Series(dtype='float')
column_to_normalize = 'Res4'
# Iterate over each year to perform the normalization
for year in range(2010, 2011):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X4_max = year_data[column_to_normalize].max()
    X4_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X4_star'] = (X4_max - year_data[column_to_normalize]) / (X4_max - X4_min)

data_merged['X5_star'] = pd.Series(dtype='float')
column_to_normalize = 'Ada1'
# Iterate over each year to perform the normalization
for year in range(2010, 2011):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X5_max = year_data[column_to_normalize].max()
    X5_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X5_star'] = (year_data[column_to_normalize] - X5_min) / (X5_max - X5_min)

data_merged['X6_star'] = pd.Series(dtype='float')
column_to_normalize = 'Ada2'
# Iterate over each year to perform the normalization
for year in range(2010, 2011):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X6_max = year_data[column_to_normalize].max()
    X6_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X6_star'] = (year_data[column_to_normalize] - X6_min) / (X6_max - X6_min)


data_merged['X7_star'] = pd.Series(dtype='float')
column_to_normalize = 'Ada3'
# Iterate over each year to perform the normalization
for year in range(2010, 2011):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X7_max = year_data[column_to_normalize].max()
    X7_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X7_star'] = (year_data[column_to_normalize] - X7_min) / (X7_max - X7_min)

data_merged['X8_star'] = pd.Series(dtype='float')
column_to_normalize = 'Ada4'
# Iterate over each year to perform the normalization
for year in range(2010, 2011):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X8_max = year_data[column_to_normalize].max()
    X8_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X8_star'] = (year_data[column_to_normalize] - X8_min) / (X8_max - X8_min)

data_merged['X9_star'] = pd.Series(dtype='float')
column_to_normalize = 'Rec1'
# Iterate over each year to perform the normalization
for year in range(2010, 2011):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X9_max = year_data[column_to_normalize].max()
    X9_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X9_star'] = (year_data[column_to_normalize] - X9_min) / (X9_max - X9_min)

data_merged['X10_star'] = pd.Series(dtype='float')
column_to_normalize = 'Rec2'
# Iterate over each year to perform the normalization
for year in range(2010, 2011):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X10_max = year_data[column_to_normalize].max()
    X10_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X10_star'] = (year_data[column_to_normalize] - X10_min) / (X10_max - X10_min)

data_merged['X11_star'] = pd.Series(dtype='float')
column_to_normalize = 'Rec3'
# Iterate over each year to perform the normalization
for year in range(2010, 2011):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X11_max = year_data[column_to_normalize].max()
    X11_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X11_star'] = (year_data[column_to_normalize] - X11_min) / (X11_max - X11_min)

data_merged['X12_star'] = pd.Series(dtype='float')
column_to_normalize = 'Rec4'
# Iterate over each year to perform the normalization
for year in range(2010, 2011):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X12_max = year_data[column_to_normalize].max()
    X12_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X12_star'] = (year_data[column_to_normalize] - X12_min) / (X12_max - X12_min)

/tmp/ipykernel_46214/1675792073.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X1_star'] = pd.Series(dtype='float')
/tmp/ipykernel_46214/1675792073.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X2_star'] = pd.Series(dtype='float')
/tmp/ipykernel_46214/1675792073.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X3_star'] = pd.Series(dtype='float')
/tmp/ipykernel_46214/1675792073.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X4_star'] = pd.Series(dtype='float')
/tmp/ipykernel_46214/1675792073.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X5_star'] = pd.Series(dtype='float')
/tmp/ipykernel_46214/1675792073.py:79: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X6_star'] = pd.Series(dtype='float')
/tmp/ipykernel_46214/1675792073.py:94: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X7_star'] = pd.Series(dtype='float')
/tmp/ipykernel_46214/1675792073.py:108: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X8_star'] = pd.Series(dtype='float')
/tmp/ipykernel_46214/1675792073.py:122: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X9_star'] = pd.Series(dtype='float')
/tmp/ipykernel_46214/1675792073.py:136: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X10_star'] = pd.Series(dtype='float')
/tmp/ipykernel_46214/1675792073.py:150: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X11_star'] = pd.Series(dtype='float')
/tmp/ipykernel_46214/1675792073.py:164: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X12_star'] = pd.Series(dtype='float')

In [65]:
data_merged

,Citycode,Year,Res1,Res2,Res3,Res4,Ada1,Ada2,Ada3,Ada4,...,X3_star,X4_star,X5_star,X6_star,X7_star,X8_star,X9_star,X10_star,X11_star,X12_star
0,110000,2010,0.000067,0.000175,66.177431,7.292345e+07,65.82,96.95,129888.0,80.36,...,0.327891,0.692679,0.454558,0.9695,0.107876,0.648939,0.802533,0.350541,0.216851,0.885514
1,120000,2010,0.000262,0.000716,80.746845,1.187070e+08,98.37,100.00,374014.0,86.10,...,0.108106,0.495545,0.683881,1.0000,0.310629,0.684853,0.462966,0.255668,0.171442,0.213657
2,130100,2010,0.000642,0.001087,84.157414,7.539732e+07,93.36,100.00,371446.0,95.06,...,0.056657,0.682027,0.648584,1.0000,0.308496,0.740912,0.624503,0.459016,0.171207,0.021747
3,130200,2010,0.000477,0.002588,69.188712,2.337953e+08,80.55,100.00,410080.0,94.41,...,0.282465,0.000000,0.558335,1.0000,0.340583,0.736845,0.668532,0.484827,0.217209,0.023087
4,130300,2010,0.000697,0.001413,56.350381,2.081210e+07,59.57,100.00,63450.0,92.52,...,0.476135,0.917060,0.410526,1.0000,0.052697,0.725020,0.730967,0.651203,0.285461,0.003313
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,640300,2010,0.003735,0.007639,44.528475,2.310977e+07,90.01,99.43,2359.0,35.36,...,0.654472,0.907166,0.624982,0.9943,0.001959,0.367390,0.562362,0.626439,0.087399,0.001146
275,640400,2010,0.000161,0.001137,44.647602,4.915335e+06,99.20,100.00,594.0,63.83,...,0.652675,0.985508,0.689728,1.0000,0.000493,0.545517,0.408040,0.254273,0.256460,0.001364
276,640500,2010,0.003707,0.019466,47.924572,9.040197e+06,60.61,45.09,20325.0,91.82,...,0.603241,0.967747,0.417853,0.4509,0.016880,0.720641,0.374466,0.362400,0.083903,0.000838
277,650100,2010,0.000532,0.003014,46.984990,5.666714e+07,68.20,87.40,68796.0,73.77,...,0.617415,0.762676,0.471326,0.8740,0.057137,0.607708,0.503166,0.214859,0.087093,0.010096
278,650200,2010,0.000329,0.001251,43.248923,5.561935e+06,63.55,94.87,18070.0,91.85,...,0.673775,0.982724,0.438566,0.9487,0.015008,0.720828,0.737447,0.272410,0.000000,0.004374

In [66]:
columns_to_keep = ['Citycode','Year','X1_star','X2_star','X3_star','X4_star','X5_star','X6_star','X7_star','X8_star','X9_star','X10_star','X11_star','X12_star']
data_process = data_merged[columns_to_keep]

In [67]:
#1.7熵权法

def calculate_entropy(indicator_data):
    # Replace zero values to avoid log(0) and negative infinity in entropy calculation
    indicator_data = indicator_data.replace(0, np.finfo(float).eps)  # Use a small number instead of zero
    p_ij = indicator_data / indicator_data.sum()  # Calculate the proportion p_ij
    K = 1 / np.log(278)  # Calculate the constant K
    e_j = -K * (p_ij * np.log(p_ij)).sum()  # Calculate the entropy e_j
    return e_j

# Initialize an empty list to store DataFrames for each year
dataframes_list = []

# Calculate entropies and weights for each year
for year in range(2010, 2011):
    year_data = data_process[data_process['Year'] == year].copy()
    entropies = year_data[['X1_star','X2_star','X3_star','X4_star','X5_star','X6_star','X7_star','X8_star','X9_star','X10_star','X11_star','X12_star']].apply(calculate_entropy, axis=0)
    weights = (1 - entropies) / (1 - entropies).sum()  # Calculate weights, ensuring they sum up to 1 within the year
    for i, indicator in enumerate(['X1_star','X2_star','X3_star','X4_star','X5_star','X6_star','X7_star','X8_star','X9_star','X10_star','X11_star','X12_star']):
        year_data[indicator + '_weighted'] = year_data[indicator] * weights.values[i]  # Apply weights to the indicators
    dataframes_list.append(year_data)  # Append the yearly data to the list

# Concatenate all DataFrames in the list to create the comprehensive_scores DataFrame
UER = pd.concat(dataframes_list, ignore_index=True)

# Now you should have the comprehensive_scores DataFrame with correctly calculated weights per year

In [68]:
UER

,Citycode,Year,X1_star,X2_star,X3_star,X4_star,X5_star,X6_star,X7_star,X8_star,...,X3_star_weighted,X4_star_weighted,X5_star_weighted,X6_star_weighted,X7_star_weighted,X8_star_weighted,X9_star_weighted,X10_star_weighted,X11_star_weighted,X12_star_weighted
0,110000,2010,0.996833,0.993841,0.327891,0.692679,0.454558,0.9695,0.107876,0.648939,...,0.012517,0.002946,0.007160,0.030919,0.028131,0.007550,0.007482,0.009675,0.009324,0.489280
1,120000,2010,0.985482,0.973518,0.108106,0.495545,0.683881,1.0000,0.310629,0.684853,...,0.004127,0.002107,0.010772,0.031891,0.081003,0.007968,0.004316,0.007057,0.007371,0.118054
2,130100,2010,0.963276,0.959552,0.056657,0.682027,0.648584,1.0000,0.308496,0.740912,...,0.002163,0.002900,0.010216,0.031891,0.080447,0.008620,0.005822,0.012670,0.007361,0.012016
3,130200,2010,0.972918,0.903146,0.282465,0.000000,0.558335,1.0000,0.340583,0.736845,...,0.010783,0.000000,0.008794,0.031891,0.088814,0.008572,0.006232,0.013382,0.009339,0.012757
4,130300,2010,0.960030,0.947322,0.476135,0.917060,0.410526,1.0000,0.052697,0.725020,...,0.018176,0.003900,0.006466,0.031891,0.013742,0.008435,0.006814,0.017974,0.012274,0.001830
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,640300,2010,0.782421,0.713301,0.654472,0.907166,0.624982,0.9943,0.001959,0.367390,...,0.024984,0.003858,0.009844,0.031709,0.000511,0.004274,0.005243,0.017291,0.003758,0.000633
274,640400,2010,0.991336,0.957670,0.652675,0.985508,0.689728,1.0000,0.000493,0.545517,...,0.024915,0.004191,0.010864,0.031891,0.000129,0.006347,0.003804,0.007018,0.011027,0.000754
275,640500,2010,0.784099,0.268748,0.603241,0.967747,0.417853,0.4509,0.016880,0.720641,...,0.023028,0.004116,0.006581,0.014380,0.004402,0.008384,0.003491,0.010003,0.003608,0.000463
276,650100,2010,0.969682,0.887116,0.617415,0.762676,0.471326,0.8740,0.057137,0.607708,...,0.023569,0.003243,0.007424,0.027873,0.014900,0.007070,0.004691,0.005930,0.003745,0.005579
277,650200,2010,0.981546,0.953384,0.673775,0.982724,0.438566,0.9487,0.015008,0.720828,...,0.025720,0.004179,0.006908,0.030255,0.003914,0.008386,0.006875,0.007519,0.000000,0.002417

In [69]:
# Calculate the combined weighted values for Resistance, Adaptability, and Recovery
UER['RES'] = UER['X1_star_weighted'] + UER['X2_star_weighted'] + UER['X3_star_weighted'] + UER['X4_star_weighted']
UER['ADA'] = UER['X5_star_weighted'] + UER['X6_star_weighted'] + UER['X7_star_weighted'] + UER['X8_star_weighted']
#comprehensive_scores['ADA'] = comprehensive_scores['X2_star_weighted'] 
UER['REC'] = UER['X9_star_weighted'] + UER['X10_star_weighted'] + UER['X11_star_weighted'] + UER['X12_star_weighted']

# Assuming data_merged is the DataFrame with the standardized 'RES', 'ADA', and 'REC' columns.

# Define a small positive value to add to REC to avoid zero values
small_positive_value = 1e-6

# Replace zero values in REC with the small positive value
UER['REC_adj'] = UER['REC'].replace(0, small_positive_value)
UER['ADA_adj'] = UER['ADA'].replace(0, small_positive_value)
UER['RES_adj'] = UER['RES'].replace(0, small_positive_value)

# Now, the UER values should not be zero due to REC being zero, since we have adjusted REC values slightly above zero.

# Calculate the Urban Ecological Resilience (UER) for each borough and year
UER['UER'] = (UER['RES_adj'] + UER['ADA_adj'] + UER['REC_adj'])

# Check the result
UER[['Year', 'Citycode', 'RES', 'ADA', 'REC', 'UER']].head()

   Year  Citycode       RES       ADA       REC       UER
0  2010    110000  0.020504  0.073759  0.515761  0.610023
1  2010    120000  0.011186  0.131633  0.136798  0.279618
2  2010    130100  0.009932  0.131174  0.037869  0.178974
3  2010    130200  0.015469  0.138072  0.041710  0.195251
4  2010    130300  0.026896  0.060534  0.038893  0.126323

In [70]:
UER

,Citycode,Year,X1_star,X2_star,X3_star,X4_star,X5_star,X6_star,X7_star,X8_star,...,X10_star_weighted,X11_star_weighted,X12_star_weighted,RES,ADA,REC,REC_adj,ADA_adj,RES_adj,UER
0,110000,2010,0.996833,0.993841,0.327891,0.692679,0.454558,0.9695,0.107876,0.648939,...,0.009675,0.009324,0.489280,0.020504,0.073759,0.515761,0.515761,0.073759,0.020504,0.610023
1,120000,2010,0.985482,0.973518,0.108106,0.495545,0.683881,1.0000,0.310629,0.684853,...,0.007057,0.007371,0.118054,0.011186,0.131633,0.136798,0.136798,0.131633,0.011186,0.279618
2,130100,2010,0.963276,0.959552,0.056657,0.682027,0.648584,1.0000,0.308496,0.740912,...,0.012670,0.007361,0.012016,0.009932,0.131174,0.037869,0.037869,0.131174,0.009932,0.178974
3,130200,2010,0.972918,0.903146,0.282465,0.000000,0.558335,1.0000,0.340583,0.736845,...,0.013382,0.009339,0.012757,0.015469,0.138072,0.041710,0.041710,0.138072,0.015469,0.195251
4,130300,2010,0.960030,0.947322,0.476135,0.917060,0.410526,1.0000,0.052697,0.725020,...,0.017974,0.012274,0.001830,0.026896,0.060534,0.038893,0.038893,0.060534,0.026896,0.126323
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,640300,2010,0.782421,0.713301,0.654472,0.907166,0.624982,0.9943,0.001959,0.367390,...,0.017291,0.003758,0.000633,0.032565,0.046338,0.026924,0.026924,0.046338,0.032565,0.105827
274,640400,2010,0.991336,0.957670,0.652675,0.985508,0.689728,1.0000,0.000493,0.545517,...,0.007018,0.011027,0.000754,0.034012,0.049230,0.022603,0.022603,0.049230,0.034012,0.105845
275,640500,2010,0.784099,0.268748,0.603241,0.967747,0.417853,0.4509,0.016880,0.720641,...,0.010003,0.003608,0.000463,0.029313,0.033747,0.017565,0.017565,0.033747,0.029313,0.080625
276,650100,2010,0.969682,0.887116,0.617415,0.762676,0.471326,0.8740,0.057137,0.607708,...,0.005930,0.003745,0.005579,0.031437,0.057266,0.019945,0.019945,0.057266,0.031437,0.108648
277,650200,2010,0.981546,0.953384,0.673775,0.982724,0.438566,0.9487,0.015008,0.720828,...,0.007519,0.000000,0.002417,0.034775,0.049463,0.016811,0.016811,0.049463,0.034775,0.101049

In [71]:
df_merged1 = pd.merge(UI, UER, on=['Citycode', 'Year'])

In [72]:
df_merged1

,Citycode,Year,X1_star_x,X2_star_x,X3_star_x,X4_star_x,X5_star_x,X6_star_x,X1_star_weighted_x,X2_star_weighted_x,...,X10_star_weighted,X11_star_weighted,X12_star_weighted,RES,ADA,REC,REC_adj,ADA_adj,RES_adj,UER
0,110000,2010,0.823198,0.183620,0.469442,0.979928,0.346016,0.810060,0.083957,0.039853,...,0.009675,0.009324,0.489280,0.020504,0.073759,0.515761,0.515761,0.073759,0.020504,0.610023
1,120000,2010,0.726052,0.190134,0.682855,0.963239,0.426255,0.935477,0.074049,0.041266,...,0.007057,0.007371,0.118054,0.011186,0.131633,0.136798,0.136798,0.131633,0.011186,0.279618
2,130100,2010,0.312197,0.146621,0.409961,0.770185,0.167370,0.877572,0.031841,0.031822,...,0.012670,0.007361,0.012016,0.009932,0.131174,0.037869,0.037869,0.131174,0.009932,0.178974
3,130200,2010,0.224642,0.116947,0.515151,0.788678,0.245944,0.913808,0.022911,0.025382,...,0.013382,0.009339,0.012757,0.015469,0.138072,0.041710,0.041710,0.138072,0.015469,0.195251
4,130300,2010,0.329008,0.077797,0.266398,0.714930,0.118320,0.803768,0.033555,0.016885,...,0.017974,0.012274,0.001830,0.026896,0.060534,0.038893,0.038893,0.060534,0.026896,0.126323
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,640300,2010,0.221934,0.014346,0.011552,0.638926,0.030370,0.629977,0.022635,0.003114,...,0.017291,0.003758,0.000633,0.032565,0.046338,0.026924,0.026924,0.046338,0.032565,0.105827
274,640400,2010,0.009590,0.027736,0.003284,0.382724,0.018013,0.737424,0.000978,0.006020,...,0.007018,0.011027,0.000754,0.034012,0.049230,0.022603,0.022603,0.049230,0.034012,0.105845
275,640500,2010,0.116439,0.016148,0.014619,0.592693,0.022769,0.609806,0.011876,0.003505,...,0.010003,0.003608,0.000463,0.029313,0.033747,0.017565,0.017565,0.033747,0.029313,0.080625
276,650100,2010,0.971116,0.032645,0.059666,0.967975,0.075158,0.372029,0.099043,0.007085,...,0.005930,0.003745,0.005579,0.031437,0.057266,0.019945,0.019945,0.057266,0.031437,0.108648
277,650200,2010,0.738915,0.005555,0.028423,0.986919,0.075041,0.136813,0.075361,0.001206,...,0.007519,0.000000,0.002417,0.034775,0.049463,0.016811,0.016811,0.049463,0.034775,0.101049

In [73]:
df_result = df_merged1[['Citycode', 'Year', 'UER', 'UI']]

In [74]:
df_result

     Citycode  Year       UER        UI
0      110000  2010  0.610023  0.419214
1      120000  2010  0.279618  0.504560
2      130100  2010  0.178974  0.276380
3      130200  2010  0.195251  0.320699
4      130300  2010  0.126323  0.200121
..        ...   ...       ...       ...
273    640300  2010  0.105827  0.063282
274    640400  2010  0.105845  0.032637
275    640500  2010  0.080625  0.049900
276    650100  2010  0.108648  0.178751
277    650200  2010  0.101049  0.137152

[278 rows x 4 columns]

In [75]:
# 定义计算公式
def calculate_C(UI, UER):
    return np.sqrt((UI * UER) / ((UI + UER) / 2)**2)

def calculate_T(UI, UER, mu1=0.5, mu2=0.5):
    return mu1 * UI + mu2 * UER

def calculate_D(C, T):
    return np.sqrt(C * T)

# 计算C耦合度
df_result['C'] = df_result.apply(lambda row: calculate_C(row['UI'], row['UER']), axis=1)

# 计算T协调度
df_result['T'] = df_result.apply(lambda row: calculate_T(row['UI'], row['UER']), axis=1)

# 计算D耦合协调度
df_result['D'] = df_result.apply(lambda row: calculate_D(row['C'], row['T']), axis=1)

/tmp/ipykernel_46214/4091750289.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_result['C'] = df_result.apply(lambda row: calculate_C(row['UI'], row['UER']), axis=1)
/tmp/ipykernel_46214/4091750289.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_result['T'] = df_result.apply(lambda row: calculate_T(row['UI'], row['UER']), axis=1)
/tmp/ipykernel_46214/4091750289.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_result['D'] = df_result.apply(lambda row: calculate_D(row['C'], row['T']), axis=1)

In [76]:
# 定义归一化公式
def normalize(column):
    return (column - column.min()) / (column.max() - column.min())

# 归一化处理
df_result['UI_normalized'] = normalize(df_result['UI'])
df_result['UER_normalized'] = normalize(df_result['UER'])

# 定义计算公式
def calculate_C(UI, UER):
    return np.sqrt((UI * UER) / ((UI + UER) / 2)**2)

def calculate_T(UI, UER, mu1=0.5, mu2=0.5):
    return mu1 * UI + mu2 * UER

def calculate_D(C, T):
    return np.sqrt(C * T)

# 计算C耦合度
df_result['C2'] = df_result.apply(lambda row: calculate_C(row['UI_normalized'], row['UER_normalized']), axis=1)

# 计算T协调度
df_result['T2'] = df_result.apply(lambda row: calculate_T(row['UI_normalized'], row['UER_normalized']), axis=1)

# 计算D耦合协调度
df_result['D2'] = df_result.apply(lambda row: calculate_D(row['C2'], row['T2']), axis=1)

/tmp/ipykernel_46214/3512385329.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_result['UI_normalized'] = normalize(df_result['UI'])
/tmp/ipykernel_46214/3512385329.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_result['UER_normalized'] = normalize(df_result['UER'])
/tmp/ipykernel_46214/3512385329.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_result['C2'] = df_result.apply(lambda row: calculate_C(row['UI_normalized'], row['UER_normalized']), axis=1)
/tmp/ipykernel_46214/3512385329.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_result['T2'] = df_result.apply(lambda row: calculate_T(row['UI_normalized'], row['UER_normalized']), axis=1)
/tmp/ipykernel_46214/3512385329.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_result['D2'] = df_result.apply(lambda row: calculate_D(row['C2'], row['T2']), axis=1)

In [77]:
df_result

,Citycode,Year,UER,UI,C,T,D,UI_normalized,UER_normalized,C2,T2,D2
0,110000,2010,0.610023,0.419214,0.982665,0.514619,0.711124,0.426498,0.825664,0.947828,0.626081,0.770336
1,120000,2010,0.279618,0.504560,0.957975,0.392089,0.612871,0.520049,0.336704,0.976834,0.428376,0.646879
2,130100,2010,0.178974,0.276380,0.976853,0.227677,0.471600,0.269931,0.187763,0.983753,0.228847,0.474477
3,130200,2010,0.195251,0.320699,0.969991,0.257975,0.500234,0.318511,0.211851,0.979569,0.265181,0.509670
4,130300,2010,0.126323,0.200121,0.974112,0.163222,0.398744,0.186340,0.109846,0.966075,0.148093,0.378245
...,...,...,...,...,...,...,...,...,...,...,...,...
273,640300,2010,0.105827,0.063282,0.967836,0.084555,0.286069,0.036344,0.079515,0.927987,0.057930,0.231857
274,640400,2010,0.105845,0.032637,0.848840,0.069241,0.242435,0.002752,0.079541,0.359589,0.041147,0.121639
275,640500,2010,0.080625,0.049900,0.971900,0.065262,0.251850,0.021675,0.042218,0.946904,0.031947,0.173926
276,650100,2010,0.108648,0.178751,0.969795,0.143700,0.373309,0.162915,0.083690,0.946989,0.123303,0.341711
277,650200,2010,0.101049,0.137152,0.988447,0.119100,0.343110,0.117316,0.072443,0.971638,0.094879,0.303626

In [78]:
# 导出comprehensive_scores数据框为Excel文件
output_excel_path = 'df_2010_result.xlsx'
df_result.to_excel(output_excel_path, index=False)

In [66]:
file_path = 'data/df_2006_result.xlsx'
df_result_2006 = pd.read_excel(file_path)

In [67]:
df_result_2006

,Name_of_Regions_x,Citycode,Year_x,UER,UI,C,T,D,UI_normalized,UER_normalized,C2,T2,D2
0,Beijing,110000,2006,0.137433,0.210078,0.977907,0.173756,0.412210,0.202760,0.702098,0.833949,0.452429,0.614250
1,Tianjin,120000,2006,0.103581,0.168235,0.971300,0.135908,0.363328,0.160479,0.529117,0.845124,0.344798,0.539812
2,Shijiazhuang,130100,2006,0.135975,0.075086,0.957483,0.105530,0.317873,0.066357,0.694645,0.564248,0.380501,0.463354
3,Tangshan,130200,2006,0.137393,0.076543,0.958697,0.106968,0.320234,0.067829,0.701890,0.566945,0.384860,0.467113
4,Qinhuangdao,130300,2006,0.140799,0.069600,0.941002,0.105200,0.314632,0.060814,0.719298,0.536204,0.390056,0.457329
...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,Guyuan,640400,2006,0.129806,0.020694,0.688750,0.075250,0.227659,0.011397,0.663123,0.257766,0.337260,0.294846
286,Zhongwei,640500,2006,0.126115,0.030682,0.793445,0.078398,0.249409,0.021489,0.644263,0.353476,0.332876,0.343022
287,Xinjiang,650000,2006,0.087788,0.075510,0.997170,0.081649,0.285338,0.066786,0.448413,0.671796,0.257600,0.415998
288,Urumuchi,650100,2006,0.100333,0.097620,0.999906,0.098976,0.314590,0.089127,0.512516,0.710475,0.300821,0.462305
289,Kelamayi,650200,2006,0.121824,0.102816,0.996414,0.112320,0.334540,0.094377,0.622335,0.676287,0.358356,0.492292

In [68]:
# 合并数据
df_merged2 = pd.merge(df_result_2006, df_result, left_on='Citycode', right_on='Citycode', suffixes=('_2006', '_2010'))

In [69]:
df_merged2

,Name_of_Regions_x_2006,Citycode,Year_x,UER_2006,UI_2006,C_2006,T_2006,D_2006,UI_normalized_2006,UER_normalized_2006,...,UER_2010,UI_2010,C_2010,T_2010,D_2010,UI_normalized_2010,UER_normalized_2010,C2_2010,T2_2010,D2_2010
0,Beijing,110000,2006,0.137433,0.210078,0.977907,0.173756,0.412210,0.202760,0.702098,...,0.168303,0.206704,0.994743,0.187503,0.431877,0.200826,0.839766,0.789294,0.520296,0.640833
1,Tianjin,120000,2006,0.103581,0.168235,0.971300,0.135908,0.363328,0.160479,0.529117,...,0.152355,0.197102,0.991768,0.174729,0.416281,0.190941,0.760175,0.801130,0.475558,0.617239
2,Shijiazhuang,130100,2006,0.135975,0.075086,0.957483,0.105530,0.317873,0.066357,0.694645,...,0.174103,0.079555,0.927936,0.126829,0.343059,0.069926,0.868715,0.525158,0.469321,0.496455
3,Tangshan,130200,2006,0.137393,0.076543,0.958697,0.106968,0.320234,0.067829,0.701890,...,0.173093,0.076014,0.920939,0.124553,0.338683,0.066281,0.863673,0.514562,0.464977,0.489142
4,Qinhuangdao,130300,2006,0.140799,0.069600,0.941002,0.105200,0.314632,0.060814,0.719298,...,0.183608,0.064805,0.878226,0.124207,0.330275,0.054742,0.916151,0.461319,0.485446,0.473229
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,Guyuan,640400,2006,0.129806,0.020694,0.688750,0.075250,0.227659,0.011397,0.663123,...,0.149317,0.017109,0.607403,0.083213,0.224820,0.005639,0.745015,0.172687,0.375327,0.254586
286,Zhongwei,640500,2006,0.126115,0.030682,0.793445,0.078398,0.249409,0.021489,0.644263,...,0.095024,0.023502,0.797418,0.059263,0.217388,0.012220,0.474050,0.313042,0.243135,0.275883
287,Xinjiang,650000,2006,0.087788,0.075510,0.997170,0.081649,0.285338,0.066786,0.448413,...,0.134498,0.027310,0.749113,0.080904,0.246183,0.016140,0.671055,0.302887,0.343597,0.322601
288,Urumuchi,650100,2006,0.100333,0.097620,0.999906,0.098976,0.314590,0.089127,0.512516,...,0.137691,0.103063,0.989602,0.120377,0.345146,0.094128,0.686991,0.651100,0.390560,0.504275
289,Kelamayi,650200,2006,0.121824,0.102816,0.996414,0.112320,0.334540,0.094377,0.622335,...,0.156935,0.072887,0.930728,0.114911,0.327034,0.063062,0.783035,0.525271,0.423048,0.471397

# 计算Tapio脱钩模型

In [70]:
# 计算增长率
df_merged2['Delta_UER'] = (df_merged2['UER_2010'] - df_merged2['UER_2006']) / df_merged2['UER_2006']
df_merged2['Delta_UI'] = (df_merged2['UI_2010'] - df_merged2['UI_2006']) / df_merged2['UI_2006']

# 计算脱钩指数DI
df_merged2['DI'] = df_merged2['Delta_UER'] / df_merged2['Delta_UI']

In [71]:
df_merged2

,Name_of_Regions_x_2006,Citycode,Year_x,UER_2006,UI_2006,C_2006,T_2006,D_2006,UI_normalized_2006,UER_normalized_2006,...,T_2010,D_2010,UI_normalized_2010,UER_normalized_2010,C2_2010,T2_2010,D2_2010,Delta_UER,Delta_UI,DI
0,Beijing,110000,2006,0.137433,0.210078,0.977907,0.173756,0.412210,0.202760,0.702098,...,0.187503,0.431877,0.200826,0.839766,0.789294,0.520296,0.640833,0.224613,-0.016062,-13.983872
1,Tianjin,120000,2006,0.103581,0.168235,0.971300,0.135908,0.363328,0.160479,0.529117,...,0.174729,0.416281,0.190941,0.760175,0.801130,0.475558,0.617239,0.470873,0.171589,2.744191
2,Shijiazhuang,130100,2006,0.135975,0.075086,0.957483,0.105530,0.317873,0.066357,0.694645,...,0.126829,0.343059,0.069926,0.868715,0.525158,0.469321,0.496455,0.280409,0.059519,4.711286
3,Tangshan,130200,2006,0.137393,0.076543,0.958697,0.106968,0.320234,0.067829,0.701890,...,0.124553,0.338683,0.066281,0.863673,0.514562,0.464977,0.489142,0.259842,-0.006908,-37.613687
4,Qinhuangdao,130300,2006,0.140799,0.069600,0.941002,0.105200,0.314632,0.060814,0.719298,...,0.124207,0.330275,0.054742,0.916151,0.461319,0.485446,0.473229,0.304040,-0.068890,-4.413412
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,Guyuan,640400,2006,0.129806,0.020694,0.688750,0.075250,0.227659,0.011397,0.663123,...,0.083213,0.224820,0.005639,0.745015,0.172687,0.375327,0.254586,0.150312,-0.173223,-0.867736
286,Zhongwei,640500,2006,0.126115,0.030682,0.793445,0.078398,0.249409,0.021489,0.644263,...,0.059263,0.217388,0.012220,0.474050,0.313042,0.243135,0.275883,-0.246529,-0.234007,1.053514
287,Xinjiang,650000,2006,0.087788,0.075510,0.997170,0.081649,0.285338,0.066786,0.448413,...,0.080904,0.246183,0.016140,0.671055,0.302887,0.343597,0.322601,0.532082,-0.638332,-0.833551
288,Urumuchi,650100,2006,0.100333,0.097620,0.999906,0.098976,0.314590,0.089127,0.512516,...,0.120377,0.345146,0.094128,0.686991,0.651100,0.390560,0.504275,0.372347,0.055761,6.677574
289,Kelamayi,650200,2006,0.121824,0.102816,0.996414,0.112320,0.334540,0.094377,0.622335,...,0.114911,0.327034,0.063062,0.783035,0.525271,0.423048,0.471397,0.288216,-0.291095,-0.990109

In [72]:
def classify_decoupling(row):
    Delta_ER = row['Delta_UER']
    Delta_UI = row['Delta_UI']
    DI = row['DI']
    
    if Delta_ER < 0 and Delta_UI < 0 and 1.2 <= DI < float('inf'):
        return 'Recession decoupling / Decoupling'
    elif Delta_ER < 0 and Delta_UI > 0 and float('-inf') < DI <= 0:
        return 'Strong decoupling / Decoupling'
    elif Delta_ER > 0 and Delta_UI > 0 and 0 <= DI <= 0.8:
        return 'Weak decoupling / Decoupling'
    elif Delta_ER > 0 and Delta_UI > 0 and 0.8 < DI <= 1.2:
        return 'Expansion connection / Connection'
    elif Delta_ER < 0 and Delta_UI < 0 and 0.8 < DI <= 1.2:
        return 'Recession connection / Connection'
    elif Delta_ER > 0 and Delta_UI > 0 and 1.2 <= DI < float('inf'):
        return 'Negative decoupling of expansion / Negative decoupling'
    elif Delta_ER > 0 and Delta_UI < 0 and float('-inf') < DI <= 0:
        return 'Strong negative decoupling / Negative decoupling'
    elif Delta_ER < 0 and Delta_UI < 0 and 0 <= DI <= 0.8:
        return 'Weak negative decoupling / Negative decoupling'
    else:
        return 'Unknown'

# Apply the function to the DataFrame
df_merged2['DI_Category'] = df_merged2.apply(classify_decoupling, axis=1)

In [73]:
df_merged2

,Name_of_Regions_x_2006,Citycode,Year_x,UER_2006,UI_2006,C_2006,T_2006,D_2006,UI_normalized_2006,UER_normalized_2006,...,D_2010,UI_normalized_2010,UER_normalized_2010,C2_2010,T2_2010,D2_2010,Delta_UER,Delta_UI,DI,DI_Category
0,Beijing,110000,2006,0.137433,0.210078,0.977907,0.173756,0.412210,0.202760,0.702098,...,0.431877,0.200826,0.839766,0.789294,0.520296,0.640833,0.224613,-0.016062,-13.983872,Strong negative decoupling / Negative decoupling
1,Tianjin,120000,2006,0.103581,0.168235,0.971300,0.135908,0.363328,0.160479,0.529117,...,0.416281,0.190941,0.760175,0.801130,0.475558,0.617239,0.470873,0.171589,2.744191,Negative decoupling of expansion / Negative de...
2,Shijiazhuang,130100,2006,0.135975,0.075086,0.957483,0.105530,0.317873,0.066357,0.694645,...,0.343059,0.069926,0.868715,0.525158,0.469321,0.496455,0.280409,0.059519,4.711286,Negative decoupling of expansion / Negative de...
3,Tangshan,130200,2006,0.137393,0.076543,0.958697,0.106968,0.320234,0.067829,0.701890,...,0.338683,0.066281,0.863673,0.514562,0.464977,0.489142,0.259842,-0.006908,-37.613687,Strong negative decoupling / Negative decoupling
4,Qinhuangdao,130300,2006,0.140799,0.069600,0.941002,0.105200,0.314632,0.060814,0.719298,...,0.330275,0.054742,0.916151,0.461319,0.485446,0.473229,0.304040,-0.068890,-4.413412,Strong negative decoupling / Negative decoupling
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,Guyuan,640400,2006,0.129806,0.020694,0.688750,0.075250,0.227659,0.011397,0.663123,...,0.224820,0.005639,0.745015,0.172687,0.375327,0.254586,0.150312,-0.173223,-0.867736,Strong negative decoupling / Negative decoupling
286,Zhongwei,640500,2006,0.126115,0.030682,0.793445,0.078398,0.249409,0.021489,0.644263,...,0.217388,0.012220,0.474050,0.313042,0.243135,0.275883,-0.246529,-0.234007,1.053514,Recession connection / Connection
287,Xinjiang,650000,2006,0.087788,0.075510,0.997170,0.081649,0.285338,0.066786,0.448413,...,0.246183,0.016140,0.671055,0.302887,0.343597,0.322601,0.532082,-0.638332,-0.833551,Strong negative decoupling / Negative decoupling
288,Urumuchi,650100,2006,0.100333,0.097620,0.999906,0.098976,0.314590,0.089127,0.512516,...,0.345146,0.094128,0.686991,0.651100,0.390560,0.504275,0.372347,0.055761,6.677574,Negative decoupling of expansion / Negative de...
289,Kelamayi,650200,2006,0.121824,0.102816,0.996414,0.112320,0.334540,0.094377,0.622335,...,0.327034,0.063062,0.783035,0.525271,0.423048,0.471397,0.288216,-0.291095,-0.990109,Strong negative decoupling / Negative decoupling

In [45]:
# 读取shapefile
shapefile_path = 'data/Chinamap_2019/Merged_Municipalities.shp'
gdf = gpd.read_file(shapefile_path)

In [46]:
gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 317 entries, 0 to 316
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Prvnc_c   317 non-null    float64
 1   City_cd   317 non-null    object
 2   Area      317 non-null    object
 3   Name      286 non-null    object
 4   geometry  317 non-null    geometry
dtypes: float64(1), geometry(1), object(3)
memory usage: 12.5+ KB

In [75]:
df_merged2['Citycode'] = df_merged2['Citycode'].astype(float)
gdf['City_cd'] = gdf['City_cd'].astype(float)

In [76]:

# 根据Citycode和市代码进行连接，保留不匹配的行
data_merged3 = gdf.merge(df_merged2, left_on='City_cd', right_on='Citycode', how='outer')

In [82]:
data_merged3

,Prvnc_c,City_cd,Area,Name,geometry,Name_of_Regions_x_2006,Citycode,Year_x,UER_2006,UI_2006,...,D_2010,UI_normalized_2010,UER_normalized_2010,C2_2010,T2_2010,D2_2010,Delta_UER,Delta_UI,DI,DI_Category
0,460000.0,460000.0,0,Hainan,"MULTIPOLYGON (((509245.473 1880004.210, 509230...",Hainan,460000.0,2006.0,0.126850,0.062596,...,0.279759,0.029700,0.754980,0.381667,0.392340,0.386967,0.192857,-0.353294,-0.545881,Strong negative decoupling / Negative decoupling
1,540000.0,540000.0,0,Tibet,"POLYGON ((-1051759.214 2954966.840, -1051995.7...",Tibet,540000.0,2006.0,0.057672,0.022349,...,0.207468,0.004016,0.595070,0.163205,0.299543,0.221104,1.068123,-0.304972,-3.502358,Strong negative decoupling / Negative decoupling
2,630000.0,630000.0,0,Qinghai,"POLYGON ((-228508.104 3789259.226, -228464.693...",Qinghai,630000.0,2006.0,0.122428,0.054317,...,0.238689,0.012656,0.676889,0.268455,0.344772,0.304230,0.108137,-0.559522,-0.193266,Strong negative decoupling / Negative decoupling
3,650000.0,650000.0,0,xinjiang,"POLYGON ((-1766120.224 3995392.661, -1766246.1...",Xinjiang,650000.0,2006.0,0.087788,0.075510,...,0.246183,0.016140,0.671055,0.302887,0.343597,0.322601,0.532082,-0.638332,-0.833551,Strong negative decoupling / Negative decoupling
4,110000.0,110000.0,16405,Beijing,"POLYGON ((964331.264 4474013.823, 964404.983 4...",Beijing,110000.0,2006.0,0.137433,0.210078,...,0.431877,0.200826,0.839766,0.789294,0.520296,0.640833,0.224613,-0.016062,-13.983872,Strong negative decoupling / Negative decoupling
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312,640000.0,640400.0,10524,Guyuan,"MULTIPOLYGON (((93771.810 3789604.316, 93641.5...",Guyuan,640400.0,2006.0,0.129806,0.020694,...,0.224820,0.005639,0.745015,0.172687,0.375327,0.254586,0.150312,-0.173223,-0.867736,Strong negative decoupling / Negative decoupling
313,640000.0,640500.0,13659,Zhongwei,"POLYGON ((75753.800 4044387.044, 76030.401 404...",Zhongwei,640500.0,2006.0,0.126115,0.030682,...,0.217388,0.012220,0.474050,0.313042,0.243135,0.275883,-0.246529,-0.234007,1.053514,Recession connection / Connection
314,710000.0,710000.0,36200,NaN,"MULTIPOLYGON (((1725282.722 2422889.823, 17253...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315,810000.0,810000.0,1115,NaN,"MULTIPOLYGON (((926766.217 2342789.464, 926841...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316,820000.0,820000.0,34,NaN,"MULTIPOLYGON (((891332.431 2339835.922, 891974...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [81]:
# 查找 Name_of_Regions_x_2010 有值但是 Name 列无值的行
rows_with_value_in_Regions_but_not_in_Name = data_merged3[(data_merged3['Name_of_Regions_x_2010'].notna()) & (data_merged3['Name'].isna())]

# 输出符合条件的行
print(rows_with_value_in_Regions_but_not_in_Name)

Empty GeoDataFrame
Columns: [Prvnc_c, City_cd, Area, Name, geometry, Name_of_Regions_x_2006, Citycode, Year_x, UER_2006, UI_2006, C_2006, T_2006, D_2006, UI_normalized_2006, UER_normalized_2006, C2_2006, T2_2006, D2_2006, Name_of_Regions_x_2010, Year, UER_2010, UI_2010, C_2010, T_2010, D_2010, UI_normalized_2010, UER_normalized_2010, C2_2010, T2_2010, D2_2010, Delta_UER, Delta_UI, DI, DI_Category]
Index: []

[0 rows x 34 columns]

In [79]:
# 删除 geometry 列为空值的行
data_merged3 = data_merged3.dropna(subset=['geometry'])

In [80]:
# 查找 geometry 列为空值的行
rows_with_nan_in_geometry = data_merged3[data_merged3['geometry'].isna()]

# 输出包含 geometry 列为空值的行
print(rows_with_nan_in_geometry)

Empty GeoDataFrame
Columns: [Prvnc_c, City_cd, Area, Name, geometry, Name_of_Regions_x_2006, Citycode, Year_x, UER_2006, UI_2006, C_2006, T_2006, D_2006, UI_normalized_2006, UER_normalized_2006, C2_2006, T2_2006, D2_2006, Name_of_Regions_x_2010, Year, UER_2010, UI_2010, C_2010, T_2010, D_2010, UI_normalized_2010, UER_normalized_2010, C2_2010, T2_2010, D2_2010, Delta_UER, Delta_UI, DI, DI_Category]
Index: []

[0 rows x 34 columns]

In [83]:
# 修改列名称“省代码”为“province”
data_merged3 = data_merged3.rename(columns={'省代码': 'Provincecode'})
# 修改列名称“省代码”为“province”
data_merged3 = data_merged3.rename(columns={'省': 'Province'})
# 修改列名称“省代码”为“province”
data_merged3 = data_merged3.rename(columns={'市代码': 'Citycode1'})
data_merged3 = data_merged3.rename(columns={'市': 'City'})
data_merged3 = data_merged3.rename(columns={'类型': 'Type'})

In [84]:
# 将data_merged导出为新的shapefile
output_shapefile_path = 'data/Chinamap_2019/CouplingValue_20062010.shp'
data_merged3.to_file(output_shapefile_path, driver='ESRI Shapefile')

/tmp/ipykernel_31992/3462740497.py:3: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  data_merged3.to_file(output_shapefile_path, driver='ESRI Shapefile')