In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd
import matplotlib.pyplot as plt

In [2]:
# 导入主表
df = pd.read_excel("UI_UER_2014.xlsx")   # 含 Citycode

In [3]:
df

,UrbanPopulation,Surface_Area_of_Built_District,Road_Surface_Area_Per_Capita_m2,Parkland_per_capita,Rate_of_non_hazardous_treatment_of_domestic_waste(%),Population_urbanization,GDP,First_sector_of_GDP,Industrial_wastewater_discharge_(tonnes),Industrial_fume_emissions_(tonnes),Comprehensive_industrial_solid_waste_utilisation_rate(%),Citycode,Area_of_administrative_districts,Greening_coverage_in_builtup_areas,Year
0,1685.90,1186.00,5.57,11.28,96.95,0.8433,121530000,0.97,8198.0,21266.0,65.82,110000,16405,55.10,2010
1,587.40,686.71,14.89,8.56,100.00,0.7572,75218500,1.71,19680.0,53831.0,98.37,120000,11924,32.04,2010
2,227.60,202.90,16.91,14.39,100.00,0.3904,30012797,10.27,19254.0,32631.0,93.36,130100,14058,43.01,2010
3,193.08,234.00,15.12,15.13,100.00,0.3128,38127192,9.45,18170.0,98670.0,80.55,130200,13808,46.00,2010
4,82.97,89.48,19.44,19.90,100.00,0.4053,8045421,12.72,5608.0,11365.0,59.57,130300,7792,50.24,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,18.33,28.21,20.12,19.19,99.43,0.3104,1858945,16.09,6944.0,14200.0,90.01,640300,16747,38.79,2010
275,15.30,34.62,19.06,8.52,100.00,0.1222,879280,27.45,142.0,1000.0,99.20,640400,10524,28.31,2010
276,18.30,32.04,19.02,11.62,45.09,0.2169,1429824,18.14,5300.0,27833.0,60.61,640500,13659,26.03,2010
277,243.04,342.67,7.18,7.39,87.40,0.9744,10945200,1.50,5822.0,32993.0,68.20,650100,13793,34.77,2010
278,26.13,57.16,23.60,9.04,94.87,0.7686,4802909,0.66,1580.0,6010.0,63.55,650200,7374,50.68,2010

In [3]:
# CO2
co2 = pd.read_excel("CO2_2014.xlsx")      # 含 Citycode, CO2
df = df.merge(co2[['Citycode', 'CO2']], on='Citycode', how='left')

# ISA
isa = pd.read_excel("ISA_2014.xlsx")      # 含 CITY_ID, ISA
df = df.merge(isa[['CITY_ID', 'ISA']], left_on='Citycode', right_on='CITY_ID', how='left')
df = df.drop(columns=['CITY_ID'])

# NPP
npp = pd.read_excel("NPP_2014_withCitycode.xlsx")   # 含 Citycode, NPP
df = df.merge(npp[['Citycode', 'NPP']], on='Citycode', how='left')

# NTL
ntl = pd.read_excel("NTL_2014.xlsx")      # 含 CITY_ID, NTL
df = df.merge(ntl[['CITY_ID', 'NTL']], left_on='Citycode', right_on='CITY_ID', how='left')
df = df.drop(columns=['CITY_ID'])

# PD
pd_df = pd.read_excel("PD_2014.xlsx")     # 含 CITY_ID, PD
df = df.merge(pd_df[['CITY_ID', 'PD']], left_on='Citycode', right_on='CITY_ID', how='left')
df = df.drop(columns=['CITY_ID'])

# PM2.5
pm25 = pd.read_excel("PM25_2014.xlsx")    # 含 CITY_ID, pm2.5
df = df.merge(pm25[['CITY_ID', 'pm2.5']], left_on='Citycode', right_on='CITY_ID', how='left')
df = df.drop(columns=['CITY_ID'])

# Science expenditure
sci = pd.read_excel("SCI_EXP_2014.xlsx")  # 含 Citycode, Science_expend
df = df.merge(sci[['Citycode', 'Science_expend']], on='Citycode', how='left')

# Water & SO2
water = pd.read_excel("Water_SO2_2014.xlsx")   # 含 code, SO2_REMOVE, Sewage
df = df.merge(water[['code', 'SO2_REMOVE', 'Sewage']], left_on='Citycode', right_on='code', how='left')
df = df.drop(columns=['code'])

In [4]:
df

,UrbanPopulation,Surface_Area_of_Built_District,Road_Surface_Area_Per_Capita_m2,Parkland_per_capita,Rate_of_non_hazardous_treatment_of_domestic_waste(%),Population_urbanization,GDP,First_sector_of_GDP,Industrial_wastewater_discharge_(tonnes),Industrial_fume_emissions_(tonnes),...,Year,CO2,ISA,NPP,NTL,PD,pm2.5,Science_expend,SO2_REMOVE,Sewage
0,1859.00,1385.58,7.44,15.94,99.59,0.8640,213308300,0.75,9174,22710,...,2014,7.947549e+07,3636.17,316.633126,18.805726,798.036160,73.765202,2827117.0,198124.000000,86.10
1,642.91,797.10,16.71,9.73,96.23,0.8227,157269300,1.28,19011,112129,...,2014,1.336829e+08,3977.05,243.210207,28.028120,751.646096,88.536822,1089967.0,843998.000000,100.00
2,262.46,264.01,18.57,15.33,71.98,0.4759,51702653,9.43,24024,104277,...,2014,8.738617e+07,2810.34,278.740405,10.160560,496.948052,99.342721,72908.0,747318.000000,95.85
3,193.49,249.00,15.67,15.08,100.00,0.5621,62253023,8.97,13973,536092,...,2014,2.948317e+08,3396.75,304.507580,16.252000,379.086848,79.143114,81583.0,923268.000000,95.00
4,89.56,102.85,19.77,20.41,157.94,0.4359,12000219,14.55,6273,59221,...,2014,2.327059e+07,1000.45,377.527435,7.098423,256.816904,63.802379,18960.0,124658.000000,98.38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,20.40,49.75,25.25,21.74,98.99,0.4370,3834317,14.06,2042,15341,...,2014,2.335684e+07,108.39,191.238508,2.181591,54.772167,44.954210,8199.0,-2705.000000,62.92
275,20.68,44.10,26.65,7.99,92.82,0.3009,2010289,21.80,249,2765,...,2014,4.851992e+06,16.43,408.012815,1.024575,77.405723,47.891727,6003.0,933.428571,79.00
276,18.86,38.68,27.49,20.08,96.90,0.3719,2975704,15.40,2806,60109,...,2014,1.022591e+07,101.09,201.174615,1.456586,58.783350,47.618089,13510.0,-177451.000000,96.70
277,260.50,412.26,10.08,10.66,92.42,0.9712,24614698,1.11,4849,77076,...,2014,6.896316e+07,397.48,156.228330,6.079794,143.845554,49.545593,84677.0,263156.000000,81.98
278,28.08,69.38,28.72,11.48,98.98,0.6482,8476725,0.61,1849,4505,...,2014,8.909936e+06,111.20,61.737599,7.189450,29.826069,41.785921,14071.0,-2354.000000,95.10

In [4]:
# Removes rows containing NaN values in the specified columns
columns_to_check = [ 
    'First_sector_of_GDP', 
    'GDP', 
    'Citycode', 
    'Area_of_administrative_districts',
    'NTL',
    'ISA',
    'PD'
    
]
df_cleaned = df.dropna(subset=columns_to_check)

In [5]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 278 entries, 0 to 278
Data columns (total 24 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   UrbanPopulation                                           278 non-null    float64
 1   Surface_Area_of_Built_District                            278 non-null    float64
 2   Road_Surface_Area_Per_Capita_m2                           278 non-null    float64
 3   Parkland_per_capita                                       278 non-null    float64
 4   Rate_of_non_hazardous_treatment_of_domestic_waste(%)      278 non-null    float64
 5   Population_urbanization                                   278 non-null    float64
 6   GDP                                                       278 non-null    int64
 7   First_sector_of_GDP                                       278 non-null    float64
 8   Industrial_wastewater_discharge_(tonnes)                  278 non-null    int64
 9   Industrial_fume_emissions_(tonnes)                        278 non-null    int64
 10  Comprehensive_industrial_solid_waste_utilisation_rate(%)  278 non-null    float64
 11  Citycode                                                  278 non-null    int64
 12  Area_of_administrative_districts                          278 non-null    int64
 13  Greening_coverage_in_builtup_areas                        278 non-null    float64
 14  Year                                                      278 non-null    int64
 15  CO2                                                       278 non-null    float64
 16  ISA                                                       278 non-null    float64
 17  NPP                                                       278 non-null    float64
 18  NTL                                                       278 non-null    float64
 19  PD                                                        278 non-null    float64
 20  pm2.5                                                     278 non-null    float64
 21  Science_expend                                            278 non-null    float64
 22  SO2_REMOVE                                                275 non-null    float64
 23  Sewage                                                    278 non-null    float64
dtypes: float64(18), int64(6)
memory usage: 54.3 KB

In [7]:
# Specify the columns to check for NaN values
columns_to_check = [
    'Population_urbanization',
    'PD',
    'ISA',
    'UrbanPopulation', 
    'First_sector_of_GDP', 
    'GDP', 
    'NTL',
    'Citycode', 
    'Road_Surface_Area_Per_Capita_m2',
]

# Convert these columns to numeric types to handle non-numeric content
for column in columns_to_check:
    df_cleaned[column] = pd.to_numeric(df_cleaned[column], errors='coerce')

/tmp/ipykernel_75417/2789612693.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned[column] = pd.to_numeric(df_cleaned[column], errors='coerce')

In [8]:
df_cleaned['PUI'] = (df_cleaned['Population_urbanization'])

/tmp/ipykernel_75417/629985429.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['PUI'] = (df_cleaned['Population_urbanization'])

In [10]:
df_cleaned

,UrbanPopulation,Surface_Area_of_Built_District,Road_Surface_Area_Per_Capita_m2,Parkland_per_capita,Rate_of_non_hazardous_treatment_of_domestic_waste(%),Population_urbanization,GDP,First_sector_of_GDP,Industrial_wastewater_discharge_(tonnes),Industrial_fume_emissions_(tonnes),...,CO2,ISA,NPP,NTL,PD,pm2.5,Science_expend,SO2_REMOVE,Sewage,PUI
0,1685.90,1186.00,5.57,11.28,96.95,0.8433,121530000,0.97,8198.0,21266.0,...,7.292345e+07,3333.80,309.232602,18.090527,580.735080,66.177431,1789154.0,129888.0,80.36,0.8433
1,587.40,686.71,14.89,8.56,100.00,0.7572,75218500,1.71,19680.0,53831.0,...,1.187070e+08,3524.78,258.074621,22.253577,601.187944,80.746845,432530.0,374014.0,86.10,0.7572
2,227.60,202.90,16.91,14.39,100.00,0.3904,30012797,10.27,19254.0,32631.0,...,7.539732e+07,2494.87,257.810521,8.821829,464.547330,84.157414,45021.0,371446.0,95.06,0.3904
3,193.08,234.00,15.12,15.13,100.00,0.3128,38127192,9.45,18170.0,98670.0,...,2.337953e+08,3079.26,309.636095,12.898492,371.363943,69.188712,47728.0,410080.0,94.41,0.3128
4,82.97,89.48,19.44,19.90,100.00,0.4053,8045421,12.72,5608.0,11365.0,...,2.081210e+07,898.59,386.528173,6.276958,248.421070,56.350381,7799.0,63450.0,92.52,0.4053
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,18.33,28.21,20.12,19.19,99.43,0.3104,1858945,16.09,6944.0,14200.0,...,2.310977e+07,83.75,163.392834,1.713810,49.170537,44.528475,3424.0,2359.0,35.36,0.3104
275,15.30,34.62,19.06,8.52,100.00,0.1222,879280,27.45,142.0,1000.0,...,4.915335e+06,14.96,353.855949,1.072682,91.216047,44.647602,3865.0,594.0,63.83,0.1222
276,18.30,32.04,19.02,11.62,45.09,0.2169,1429824,18.14,5300.0,27833.0,...,9.040197e+06,86.44,159.453958,1.319449,54.829362,47.924572,2803.0,20325.0,91.82,0.2169
277,243.04,342.67,7.18,7.39,87.40,0.9744,10945200,1.50,5822.0,32993.0,...,5.666714e+07,356.26,163.047724,4.037538,106.633748,46.984990,21497.0,68796.0,73.77,0.9744
278,26.13,57.16,23.60,9.04,94.87,0.7686,4802909,0.66,1580.0,6010.0,...,5.561935e+06,90.73,64.929152,4.031482,21.563319,43.248923,9943.0,18070.0,91.85,0.7686

In [9]:
df_cleaned['PUI'].describe()

count    278.000000
mean       0.531978
std        0.147587
min        0.245600
25%        0.431675
50%        0.504900
75%        0.627450
max        1.000000
Name: PUI, dtype: float64

In [10]:
df_cleaned['PD'].describe()

count     278.000000
mean      347.682976
std       418.112481
min         4.354579
25%       124.716057
50%       247.241717
75%       444.594422
max      4306.430156
Name: PD, dtype: float64

In [11]:
df_cleaned['LUI'] = (df_cleaned['ISA']) / df_cleaned['Area_of_administrative_districts']

/tmp/ipykernel_75417/2781354406.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['LUI'] = (df_cleaned['ISA']) / df_cleaned['Area_of_administrative_districts']

In [12]:
df_cleaned['LUI'].describe()

count    278.000000
mean       0.082914
std        0.085978
min        0.000000
25%        0.016600
50%        0.043350
75%        0.138656
max        0.461400
Name: LUI, dtype: float64

In [13]:
df_cleaned['EUI'] = 1 - (df_cleaned['First_sector_of_GDP']) / 100

/tmp/ipykernel_75417/1051056126.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['EUI'] = 1 - (df_cleaned['First_sector_of_GDP']) / 100

In [14]:
df_cleaned['EUI'].describe()

count    278.000000
mean       0.878184
std        0.075932
min        0.519400
25%        0.833175
50%        0.883900
75%        0.937275
max        0.999700
Name: EUI, dtype: float64

In [15]:
df_cleaned['EAL'] = df_cleaned['NTL']

/tmp/ipykernel_75417/309165452.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['EAL'] = df_cleaned['NTL']

In [16]:
df_cleaned['EAL'].describe()

count    278.000000
mean       7.278301
std        9.229678
min        0.130053
25%        1.688861
50%        3.755663
75%       10.034230
max       55.793469
Name: EAL, dtype: float64

In [17]:
df_cleaned

,UrbanPopulation,Surface_Area_of_Built_District,Road_Surface_Area_Per_Capita_m2,Parkland_per_capita,Rate_of_non_hazardous_treatment_of_domestic_waste(%),Population_urbanization,GDP,First_sector_of_GDP,Industrial_wastewater_discharge_(tonnes),Industrial_fume_emissions_(tonnes),...,NTL,PD,pm2.5,Science_expend,SO2_REMOVE,Sewage,PUI,LUI,EUI,EAL
0,1859.00,1385.58,7.44,15.94,99.59,0.8640,213308300,0.75,9174,22710,...,18.805726,798.036160,73.765202,2827117.0,198124.000000,86.10,0.8640,0.221650,0.9925,18.805726
1,642.91,797.10,16.71,9.73,96.23,0.8227,157269300,1.28,19011,112129,...,28.028120,751.646096,88.536822,1089967.0,843998.000000,100.00,0.8227,0.333533,0.9872,28.028120
2,262.46,264.01,18.57,15.33,71.98,0.4759,51702653,9.43,24024,104277,...,10.160560,496.948052,99.342721,72908.0,747318.000000,95.85,0.4759,0.199910,0.9057,10.160560
3,193.49,249.00,15.67,15.08,100.00,0.5621,62253023,8.97,13973,536092,...,16.252000,379.086848,79.143114,81583.0,923268.000000,95.00,0.5621,0.245999,0.9103,16.252000
4,89.56,102.85,19.77,20.41,157.94,0.4359,12000219,14.55,6273,59221,...,7.098423,256.816904,63.802379,18960.0,124658.000000,98.38,0.4359,0.128395,0.8545,7.098423
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,20.40,49.75,25.25,21.74,98.99,0.4370,3834317,14.06,2042,15341,...,2.181591,54.772167,44.954210,8199.0,-2705.000000,62.92,0.4370,0.006472,0.8594,2.181591
275,20.68,44.10,26.65,7.99,92.82,0.3009,2010289,21.80,249,2765,...,1.024575,77.405723,47.891727,6003.0,933.428571,79.00,0.3009,0.001561,0.7820,1.024575
276,18.86,38.68,27.49,20.08,96.90,0.3719,2975704,15.40,2806,60109,...,1.456586,58.783350,47.618089,13510.0,-177451.000000,96.70,0.3719,0.007401,0.8460,1.456586
277,260.50,412.26,10.08,10.66,92.42,0.9712,24614698,1.11,4849,77076,...,6.079794,143.845554,49.545593,84677.0,263156.000000,81.98,0.9712,0.028818,0.9889,6.079794
278,28.08,69.38,28.72,11.48,98.98,0.6482,8476725,0.61,1849,4505,...,7.189450,29.826069,41.785921,14071.0,-2354.000000,95.10,0.6482,0.015080,0.9939,7.189450

In [18]:
# Import land_use_intensity_by_city2006.csv data
df_land_use = pd.read_csv("land_use_intensity_by_city2014.csv", encoding='ISO-8859-1')

In [19]:
df_land_use

     Citycode  Provincecode          Province            City         LUL
0    110000.0      110000.0            ±±¾©ÊÐ          ±±¾©ÊÐ  267.559962
1    120000.0      120000.0            Ìì½òÊÐ          Ìì½òÊÐ  306.430451
2    130100.0      130000.0            ºÓ±±Ê¡        Ê¯¼Ò×¯ÊÐ  288.052816
3    130200.0      130000.0            ºÓ±±Ê¡          ÌÆÉ½ÊÐ  298.554656
4    130300.0      130000.0            ºÓ±±Ê¡        ÇØ»ÊµºÊÐ  265.773350
..        ...           ...               ...             ...         ...
365  659009.0      650000.0  ÐÂ½®Î¬Îá¶û×ÔÖÎÇø          À¥ÓñÊÐ  132.907938
366  659010.0      650000.0  ÐÂ½®Î¬Îá¶û×ÔÖÎÇø        ºúÑîºÓÊÐ  252.173270
367  710000.0      710000.0            Ì¨ÍåÊ¡          Ì¨ÍåÊ¡  232.482143
368  810000.0      810000.0    Ïã¸ÛÌØ±ðÐÐÕþÇø  Ïã¸ÛÌØ±ðÐÐÕþÇø  223.114956
369  820000.0      820000.0    °ÄÃÅÌØ±ðÐÐÕþÇø  °ÄÃÅÌØ±ðÐÐÕþÇø  201.983475

[370 rows x 5 columns]

In [20]:
df_merged = df_cleaned.merge(df_land_use[['Citycode', 'LUL']], on='Citycode', how='left')

In [24]:
df_merged

,UrbanPopulation,Surface_Area_of_Built_District,Road_Surface_Area_Per_Capita_m2,Parkland_per_capita,Rate_of_non_hazardous_treatment_of_domestic_waste(%),Population_urbanization,GDP,First_sector_of_GDP,Industrial_wastewater_discharge_(tonnes),Industrial_fume_emissions_(tonnes),...,PD,pm2.5,Science_expend,SO2_REMOVE,Sewage,PUI,LUI,EUI,EAL,LUL
0,1685.90,1186.00,5.57,11.28,96.95,0.8433,121530000,0.97,8198.0,21266.0,...,580.735080,66.177431,1789154.0,129888.0,80.36,0.8433,0.203219,0.9903,18.090527,265.965018
1,587.40,686.71,14.89,8.56,100.00,0.7572,75218500,1.71,19680.0,53831.0,...,601.187944,80.746845,432530.0,374014.0,86.10,0.7572,0.295604,0.9829,22.253577,302.537533
2,227.60,202.90,16.91,14.39,100.00,0.3904,30012797,10.27,19254.0,32631.0,...,464.547330,84.157414,45021.0,371446.0,95.06,0.3904,0.177470,0.8973,8.821829,285.652043
3,193.08,234.00,15.12,15.13,100.00,0.3128,38127192,9.45,18170.0,98670.0,...,371.363943,69.188712,47728.0,410080.0,94.41,0.3128,0.223006,0.9055,12.898492,296.218637
4,82.97,89.48,19.44,19.90,100.00,0.4053,8045421,12.72,5608.0,11365.0,...,248.421070,56.350381,7799.0,63450.0,92.52,0.4053,0.115322,0.8728,6.276958,264.130224
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,18.33,28.21,20.12,19.19,99.43,0.3104,1858945,16.09,6944.0,14200.0,...,49.170537,44.528475,3424.0,2359.0,35.36,0.3104,0.005001,0.8391,1.713810,213.451270
274,15.30,34.62,19.06,8.52,100.00,0.1222,879280,27.45,142.0,1000.0,...,91.216047,44.647602,3865.0,594.0,63.83,0.1222,0.001422,0.7255,1.072682,244.783708
275,18.30,32.04,19.02,11.62,45.09,0.2169,1429824,18.14,5300.0,27833.0,...,54.829362,47.924572,2803.0,20325.0,91.82,0.2169,0.006328,0.8186,1.319449,207.569339
276,243.04,342.67,7.18,7.39,87.40,0.9744,10945200,1.50,5822.0,32993.0,...,106.633748,46.984990,21497.0,68796.0,73.77,0.9744,0.025829,0.9850,4.037538,138.231543
277,26.13,57.16,23.60,9.04,94.87,0.7686,4802909,0.66,1580.0,6010.0,...,21.563319,43.248923,9943.0,18070.0,91.85,0.7686,0.012304,0.9934,4.031482,69.640647

In [21]:
columns_to_check1 = ['PUI','PD', 'LUI', 'EUI', 'EAL','LUL']

data_merged = df_merged.dropna(subset=columns_to_check1)

In [26]:
data_merged

,UrbanPopulation,Surface_Area_of_Built_District,Road_Surface_Area_Per_Capita_m2,Parkland_per_capita,Rate_of_non_hazardous_treatment_of_domestic_waste(%),Population_urbanization,GDP,First_sector_of_GDP,Industrial_wastewater_discharge_(tonnes),Industrial_fume_emissions_(tonnes),...,PD,pm2.5,Science_expend,SO2_REMOVE,Sewage,PUI,LUI,EUI,EAL,LUL
0,1685.90,1186.00,5.57,11.28,96.95,0.8433,121530000,0.97,8198.0,21266.0,...,580.735080,66.177431,1789154.0,129888.0,80.36,0.8433,0.203219,0.9903,18.090527,265.965018
1,587.40,686.71,14.89,8.56,100.00,0.7572,75218500,1.71,19680.0,53831.0,...,601.187944,80.746845,432530.0,374014.0,86.10,0.7572,0.295604,0.9829,22.253577,302.537533
2,227.60,202.90,16.91,14.39,100.00,0.3904,30012797,10.27,19254.0,32631.0,...,464.547330,84.157414,45021.0,371446.0,95.06,0.3904,0.177470,0.8973,8.821829,285.652043
3,193.08,234.00,15.12,15.13,100.00,0.3128,38127192,9.45,18170.0,98670.0,...,371.363943,69.188712,47728.0,410080.0,94.41,0.3128,0.223006,0.9055,12.898492,296.218637
4,82.97,89.48,19.44,19.90,100.00,0.4053,8045421,12.72,5608.0,11365.0,...,248.421070,56.350381,7799.0,63450.0,92.52,0.4053,0.115322,0.8728,6.276958,264.130224
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,18.33,28.21,20.12,19.19,99.43,0.3104,1858945,16.09,6944.0,14200.0,...,49.170537,44.528475,3424.0,2359.0,35.36,0.3104,0.005001,0.8391,1.713810,213.451270
274,15.30,34.62,19.06,8.52,100.00,0.1222,879280,27.45,142.0,1000.0,...,91.216047,44.647602,3865.0,594.0,63.83,0.1222,0.001422,0.7255,1.072682,244.783708
275,18.30,32.04,19.02,11.62,45.09,0.2169,1429824,18.14,5300.0,27833.0,...,54.829362,47.924572,2803.0,20325.0,91.82,0.2169,0.006328,0.8186,1.319449,207.569339
276,243.04,342.67,7.18,7.39,87.40,0.9744,10945200,1.50,5822.0,32993.0,...,106.633748,46.984990,21497.0,68796.0,73.77,0.9744,0.025829,0.9850,4.037538,138.231543
277,26.13,57.16,23.60,9.04,94.87,0.7686,4802909,0.66,1580.0,6010.0,...,21.563319,43.248923,9943.0,18070.0,91.85,0.7686,0.012304,0.9934,4.031482,69.640647

In [22]:
columns_to_keep = ['Year', 'Citycode', 'PUI','PD', 'LUI', 'EUI', 'EAL','LUL']
ui_index_2006 = data_merged[columns_to_keep]

ui_index_2006.to_csv('UI_index_2014.csv', index=False)

In [6]:
columns_to_fill = [
    'Industrial_wastewater_discharge_(tonnes)', 
    'Industrial_fume_emissions_(tonnes)', 
    'pm2.5',
    'CO2',
    'Comprehensive_industrial_solid_waste_utilisation_rate(%)', 
    'Rate_of_non_hazardous_treatment_of_domestic_waste(%)', 
    'Sewage',
    'SO2_REMOVE',
    'Greening_coverage_in_builtup_areas', 
    'Parkland_per_capita',
    'NPP',
    'Science_expend'
]

df_cleaned[columns_to_fill] = df_cleaned[columns_to_fill].fillna(0)

/tmp/ipykernel_85896/1814290371.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned[columns_to_fill] = df_cleaned[columns_to_fill].fillna(0)

In [7]:
df_cleaned

,UrbanPopulation,Surface_Area_of_Built_District,Road_Surface_Area_Per_Capita_m2,Parkland_per_capita,Rate_of_non_hazardous_treatment_of_domestic_waste(%),Population_urbanization,GDP,First_sector_of_GDP,Industrial_wastewater_discharge_(tonnes),Industrial_fume_emissions_(tonnes),...,Year,CO2,ISA,NPP,NTL,PD,pm2.5,Science_expend,SO2_REMOVE,Sewage
0,1859.00,1385.58,7.44,15.94,99.59,0.8640,213308300,0.75,9174,22710,...,2014,7.947549e+07,3636.17,316.633126,18.805726,798.036160,73.765202,2827117.0,198124.000000,86.10
1,642.91,797.10,16.71,9.73,96.23,0.8227,157269300,1.28,19011,112129,...,2014,1.336829e+08,3977.05,243.210207,28.028120,751.646096,88.536822,1089967.0,843998.000000,100.00
2,262.46,264.01,18.57,15.33,71.98,0.4759,51702653,9.43,24024,104277,...,2014,8.738617e+07,2810.34,278.740405,10.160560,496.948052,99.342721,72908.0,747318.000000,95.85
3,193.49,249.00,15.67,15.08,100.00,0.5621,62253023,8.97,13973,536092,...,2014,2.948317e+08,3396.75,304.507580,16.252000,379.086848,79.143114,81583.0,923268.000000,95.00
4,89.56,102.85,19.77,20.41,157.94,0.4359,12000219,14.55,6273,59221,...,2014,2.327059e+07,1000.45,377.527435,7.098423,256.816904,63.802379,18960.0,124658.000000,98.38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,20.40,49.75,25.25,21.74,98.99,0.4370,3834317,14.06,2042,15341,...,2014,2.335684e+07,108.39,191.238508,2.181591,54.772167,44.954210,8199.0,-2705.000000,62.92
275,20.68,44.10,26.65,7.99,92.82,0.3009,2010289,21.80,249,2765,...,2014,4.851992e+06,16.43,408.012815,1.024575,77.405723,47.891727,6003.0,933.428571,79.00
276,18.86,38.68,27.49,20.08,96.90,0.3719,2975704,15.40,2806,60109,...,2014,1.022591e+07,101.09,201.174615,1.456586,58.783350,47.618089,13510.0,-177451.000000,96.70
277,260.50,412.26,10.08,10.66,92.42,0.9712,24614698,1.11,4849,77076,...,2014,6.896316e+07,397.48,156.228330,6.079794,143.845554,49.545593,84677.0,263156.000000,81.98
278,28.08,69.38,28.72,11.48,98.98,0.6482,8476725,0.61,1849,4505,...,2014,8.909936e+06,111.20,61.737599,7.189450,29.826069,41.785921,14071.0,-2354.000000,95.10

In [8]:
#导出进行shap
df_cleaned.to_csv('All_indi_2014.csv', index=False)

In [25]:
df_cleaned['Res1'] = df_cleaned['Industrial_wastewater_discharge_(tonnes)'] / df_cleaned['GDP']

/tmp/ipykernel_75417/2666823736.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Res1'] = df_cleaned['Industrial_wastewater_discharge_(tonnes)'] / df_cleaned['GDP']

In [26]:
df_cleaned['Res1'].describe()

count    278.000000
mean       0.000359
std        0.000267
min        0.000011
25%        0.000202
50%        0.000285
75%        0.000465
max        0.002619
Name: Res1, dtype: float64

In [27]:
df_cleaned['Res2'] = df_cleaned['Industrial_fume_emissions_(tonnes)'] / df_cleaned['GDP']

/tmp/ipykernel_75417/2575824147.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Res2'] = df_cleaned['Industrial_fume_emissions_(tonnes)'] / df_cleaned['GDP']

In [28]:
df_cleaned['Res2'].describe()

count    278.000000
mean       0.002879
std        0.003096
min        0.000005
25%        0.000876
50%        0.001828
75%        0.003539
max        0.020200
Name: Res2, dtype: float64

In [29]:
df_cleaned['Res3'] = df_cleaned['pm2.5']

/tmp/ipykernel_75417/2715485576.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Res3'] = df_cleaned['pm2.5']

In [30]:
df_cleaned['Res3'].describe()

count    278.000000
mean      55.889528
std       16.711204
min       21.799186
25%       43.284360
50%       53.001286
75%       64.720836
max      102.920098
Name: Res3, dtype: float64

In [31]:
df_cleaned['Res4'] = df_cleaned['CO2']

/tmp/ipykernel_75417/4017769138.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Res4'] = df_cleaned['CO2']

In [32]:
df_cleaned['Res4'].describe()

count    2.780000e+02
mean     3.398966e+07
std      3.370826e+07
min      1.649482e+06
25%      1.327627e+07
50%      2.374239e+07
75%      4.278993e+07
max      2.948317e+08
Name: Res4, dtype: float64

In [33]:
df_cleaned['Ada1'] = df_cleaned['Comprehensive_industrial_solid_waste_utilisation_rate(%)'] 
df_cleaned['Ada1'].describe()

/tmp/ipykernel_75417/526319254.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Ada1'] = df_cleaned['Comprehensive_industrial_solid_waste_utilisation_rate(%)']

count    278.000000
mean      82.743921
std       21.590427
min        2.800000
25%       74.197500
50%       92.250000
75%       97.630000
max      100.000000
Name: Ada1, dtype: float64

In [34]:
rows_ada1_above_100 = df_cleaned[df_cleaned['Ada1'] > 100]
rows_ada1_above_100

Empty DataFrame
Columns: [UrbanPopulation, Surface_Area_of_Built_District, Road_Surface_Area_Per_Capita_m2, Parkland_per_capita, Rate_of_non_hazardous_treatment_of_domestic_waste(%), Population_urbanization, GDP, First_sector_of_GDP, Industrial_wastewater_discharge_(tonnes), Industrial_fume_emissions_(tonnes), Comprehensive_industrial_solid_waste_utilisation_rate(%), Citycode, Area_of_administrative_districts, Greening_coverage_in_builtup_areas, Year, CO2, ISA, NPP, NTL, PD, pm2.5, Science_expend, SO2_REMOVE, Sewage, PUI, LUI, EUI, EAL, Res1, Res2, Res3, Res4, Ada1]
Index: []

[0 rows x 33 columns]

In [35]:
df_cleaned['Ada2'] = df_cleaned['Rate_of_non_hazardous_treatment_of_domestic_waste(%)'] 
df_cleaned['Ada2'].describe()

/tmp/ipykernel_75417/2482281589.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Ada2'] = df_cleaned['Rate_of_non_hazardous_treatment_of_domestic_waste(%)']

count    278.000000
mean      91.684928
std       15.211934
min        5.490000
25%       90.147500
50%       98.000000
75%      100.000000
max      157.940000
Name: Ada2, dtype: float64

In [36]:
rows_ada2_above_100 = df_cleaned[df_cleaned['Ada2'] > 100]
rows_ada2_above_100

,UrbanPopulation,Surface_Area_of_Built_District,Road_Surface_Area_Per_Capita_m2,Parkland_per_capita,Rate_of_non_hazardous_treatment_of_domestic_waste(%),Population_urbanization,GDP,First_sector_of_GDP,Industrial_wastewater_discharge_(tonnes),Industrial_fume_emissions_(tonnes),...,PUI,LUI,EUI,EAL,Res1,Res2,Res3,Res4,Ada1,Ada2
4,89.56,102.85,19.77,20.41,157.94,0.4359,12000219,14.55,6273,59221,...,0.4359,0.128395,0.8545,7.098423,0.000523,0.004935,63.802379,2.327059e+07,65.0,157.94

In [37]:
df_cleaned['Ada3'] = df_cleaned['SO2_REMOVE'] 
df_cleaned['Ada3'].describe()

/tmp/ipykernel_75417/2674187087.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Ada3'] = df_cleaned['SO2_REMOVE']

count    2.780000e+02
mean     1.699579e+05
std      3.201199e+05
min     -1.000455e+06
25%      9.077250e+03
50%      8.633200e+04
75%      2.351835e+05
max      2.612705e+06
Name: Ada3, dtype: float64

In [38]:
df_cleaned['Ada4'] = df_cleaned['Sewage'] 
df_cleaned['Ada4'].describe()

/tmp/ipykernel_75417/2337404170.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Ada4'] = df_cleaned['Sewage']

count    278.000000
mean      85.347163
std       12.477389
min       22.310000
25%       81.208500
50%       87.915000
75%       93.287500
max      100.000000
Name: Ada4, dtype: float64

In [39]:
df_cleaned['Rec1'] = df_cleaned['Greening_coverage_in_builtup_areas'] 
df_cleaned['Rec2'] = df_cleaned['Parkland_per_capita'] 
df_cleaned['Rec3'] = df_cleaned['NPP'] 
df_cleaned['Rec4'] = df_cleaned['Science_expend']

/tmp/ipykernel_75417/2463940865.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Rec1'] = df_cleaned['Greening_coverage_in_builtup_areas']
/tmp/ipykernel_75417/2463940865.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Rec2'] = df_cleaned['Parkland_per_capita']
/tmp/ipykernel_75417/2463940865.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Rec3'] = df_cleaned['NPP']
/tmp/ipykernel_75417/2463940865.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Rec4'] = df_cleaned['Science_expend']

In [40]:
df_cleaned['Rec3'].describe()

count     278.000000
mean      551.731211
std       221.653138
min        61.737599
25%       385.443126
50%       527.932456
75%       678.301267
max      1247.040878
Name: Rec3, dtype: float64

In [41]:
rows_rec1_above_100 = df_cleaned[df_cleaned['Rec1'] > 100]
rows_rec1_above_100

Empty DataFrame
Columns: [UrbanPopulation, Surface_Area_of_Built_District, Road_Surface_Area_Per_Capita_m2, Parkland_per_capita, Rate_of_non_hazardous_treatment_of_domestic_waste(%), Population_urbanization, GDP, First_sector_of_GDP, Industrial_wastewater_discharge_(tonnes), Industrial_fume_emissions_(tonnes), Comprehensive_industrial_solid_waste_utilisation_rate(%), Citycode, Area_of_administrative_districts, Greening_coverage_in_builtup_areas, Year, CO2, ISA, NPP, NTL, PD, pm2.5, Science_expend, SO2_REMOVE, Sewage, PUI, LUI, EUI, EAL, Res1, Res2, Res3, Res4, Ada1, Ada2, Ada3, Ada4, Rec1, Rec2, Rec3, Rec4]
Index: []

[0 rows x 40 columns]

In [42]:
df_cleaned['Rec4'].describe()

count    2.780000e+02
mean     8.850700e+04
std      2.591170e+05
min      2.160000e+03
25%      1.443550e+04
50%      2.675600e+04
75%      6.687475e+04
max      2.827117e+06
Name: Rec4, dtype: float64

In [43]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 278 entries, 0 to 278
Data columns (total 40 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   UrbanPopulation                                           278 non-null    float64
 1   Surface_Area_of_Built_District                            278 non-null    float64
 2   Road_Surface_Area_Per_Capita_m2                           278 non-null    float64
 3   Parkland_per_capita                                       278 non-null    float64
 4   Rate_of_non_hazardous_treatment_of_domestic_waste(%)      278 non-null    float64
 5   Population_urbanization                                   278 non-null    float64
 6   GDP                                                       278 non-null    int64
 7   First_sector_of_GDP                                       278 non-null    float64
 8   Industrial_wastewater_discharge_(tonnes)                  278 non-null    int64
 9   Industrial_fume_emissions_(tonnes)                        278 non-null    int64
 10  Comprehensive_industrial_solid_waste_utilisation_rate(%)  278 non-null    float64
 11  Citycode                                                  278 non-null    int64
 12  Area_of_administrative_districts                          278 non-null    int64
 13  Greening_coverage_in_builtup_areas                        278 non-null    float64
 14  Year                                                      278 non-null    int64
 15  CO2                                                       278 non-null    float64
 16  ISA                                                       278 non-null    float64
 17  NPP                                                       278 non-null    float64
 18  NTL                                                       278 non-null    float64
 19  PD                                                        278 non-null    float64
 20  pm2.5                                                     278 non-null    float64
 21  Science_expend                                            278 non-null    float64
 22  SO2_REMOVE                                                278 non-null    float64
 23  Sewage                                                    278 non-null    float64
 24  PUI                                                       278 non-null    float64
 25  LUI                                                       278 non-null    float64
 26  EUI                                                       278 non-null    float64
 27  EAL                                                       278 non-null    float64
 28  Res1                                                      278 non-null    float64
 29  Res2                                                      278 non-null    float64
 30  Res3                                                      278 non-null    float64
 31  Res4                                                      278 non-null    float64
 32  Ada1                                                      278 non-null    float64
 33  Ada2                                                      278 non-null    float64
 34  Ada3                                                      278 non-null    float64
 35  Ada4                                                      278 non-null    float64
 36  Rec1                                                      278 non-null    float64
 37  Rec2                                                      278 non-null    float64
 38  Rec3                                                      278 non-null    float64
 39  Rec4                                                      278 non-null    float64
dtypes: float64(34), int64(6)
memory usage: 89.0 KB

In [44]:
columns_to_keep = ['Citycode','Year','Res1','Res2','Res3','Res4','Ada1','Ada2','Ada3','Ada4','Rec1','Rec2','Rec3','Rec4']
uer_index_2006 = df_cleaned[columns_to_keep]
uer_index_2006.to_csv('UER_index_2014.csv', index=False)

# 熵权法
# 标准化

In [45]:
# Initialize a column for the normalized values
data_merged['X1_star'] = pd.Series(dtype='float')
column_to_normalize = 'PUI'
# Iterate over each year to perform the normalization
for year in range(2014, 2015):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X1_max = year_data[column_to_normalize].max()
    X1_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X1_star'] = (year_data[column_to_normalize] - X1_min) / (X1_max - X1_min)

# Initialize a column for the normalized values
data_merged['X2_star'] = pd.Series(dtype='float')
column_to_normalize = 'PD'
# Iterate over each year to perform the normalization
for year in range(2014, 2015):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X2_max = year_data[column_to_normalize].max()
    X2_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X2_star'] = (year_data[column_to_normalize] - X2_min) / (X2_max - X2_min)


data_merged['X3_star'] = pd.Series(dtype='float')
column_to_normalize = 'LUI'
# Iterate over each year to perform the normalization
for year in range(2014, 2015):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X3_max = year_data[column_to_normalize].max()
    X3_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X3_star'] = (year_data[column_to_normalize] - X3_min) / (X3_max - X3_min)

data_merged['X4_star'] = pd.Series(dtype='float')
column_to_normalize = 'EUI'
# Iterate over each year to perform the normalization
for year in range(2014, 2015):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X4_max = year_data[column_to_normalize].max()
    X4_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X4_star'] = (year_data[column_to_normalize] - X4_min) / (X4_max - X4_min)

data_merged['X5_star'] = pd.Series(dtype='float')
column_to_normalize = 'EAL'
# Iterate over each year to perform the normalization
for year in range(2014, 2015):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X5_max = year_data[column_to_normalize].max()
    X5_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X5_star'] = (year_data[column_to_normalize] - X5_min) / (X5_max - X5_min)


data_merged['X6_star'] = pd.Series(dtype='float')
column_to_normalize = 'LUL'
# Iterate over each year to perform the normalization
for year in range(2014, 2015):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X6_max = year_data[column_to_normalize].max()
    X6_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X6_star'] = (year_data[column_to_normalize] - X6_min) / (X6_max - X6_min)

In [46]:
data_merged

,UrbanPopulation,Surface_Area_of_Built_District,Road_Surface_Area_Per_Capita_m2,Parkland_per_capita,Rate_of_non_hazardous_treatment_of_domestic_waste(%),Population_urbanization,GDP,First_sector_of_GDP,Industrial_wastewater_discharge_(tonnes),Industrial_fume_emissions_(tonnes),...,LUI,EUI,EAL,LUL,X1_star,X2_star,X3_star,X4_star,X5_star,X6_star
0,1859.00,1385.58,7.44,15.94,99.59,0.8640,213308300,0.75,9174,22710,...,0.221650,0.9925,18.805726,267.559962,0.819724,0.184488,0.480386,0.985009,0.335511,0.806262
1,642.91,797.10,16.71,9.73,96.23,0.8227,157269300,1.28,19011,112129,...,0.333533,0.9872,28.028120,306.430451,0.764979,0.173705,0.722872,0.973975,0.501192,0.938967
2,262.46,264.01,18.57,15.33,71.98,0.4759,51702653,9.43,24024,104277,...,0.199910,0.9057,10.160560,288.052816,0.305276,0.114501,0.433269,0.804289,0.180199,0.876225
3,193.49,249.00,15.67,15.08,100.00,0.5621,62253023,8.97,13973,536092,...,0.245999,0.9103,16.252000,298.554656,0.419539,0.087105,0.533157,0.813866,0.289633,0.912079
4,89.56,102.85,19.77,20.41,157.94,0.4359,12000219,14.55,6273,59221,...,0.128395,0.8545,7.098423,265.773350,0.252253,0.058684,0.278272,0.697689,0.125188,0.800163
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,20.40,49.75,25.25,21.74,98.99,0.4370,3834317,14.06,2042,15341,...,0.006472,0.8594,2.181591,213.175450,0.253712,0.011719,0.014027,0.707891,0.036856,0.620592
274,20.68,44.10,26.65,7.99,92.82,0.3009,2010289,21.80,249,2765,...,0.001561,0.7820,1.024575,237.388911,0.073303,0.016980,0.003384,0.546742,0.016070,0.703257
275,18.86,38.68,27.49,20.08,96.90,0.3719,2975704,15.40,2806,60109,...,0.007401,0.8460,1.456586,208.074665,0.167418,0.012652,0.016040,0.679992,0.023831,0.603178
276,260.50,412.26,10.08,10.66,92.42,0.9712,24614698,1.11,4849,77076,...,0.028818,0.9889,6.079794,135.964895,0.961824,0.032424,0.062457,0.977514,0.106888,0.356993
277,28.08,69.38,28.72,11.48,98.98,0.6482,8476725,0.61,1849,4505,...,0.015080,0.9939,7.189450,68.179318,0.533669,0.005921,0.032683,0.987924,0.126823,0.125572

In [47]:
columns_to_keep = ['Citycode','Year','X1_star','X2_star','X3_star','X4_star','X5_star','X6_star']
data_process_UI = data_merged[columns_to_keep]

In [48]:
data_process_UI

,Citycode,Year,X1_star,X2_star,X3_star,X4_star,X5_star,X6_star
0,110000,2014,0.819724,0.184488,0.480386,0.985009,0.335511,0.806262
1,120000,2014,0.764979,0.173705,0.722872,0.973975,0.501192,0.938967
2,130100,2014,0.305276,0.114501,0.433269,0.804289,0.180199,0.876225
3,130200,2014,0.419539,0.087105,0.533157,0.813866,0.289633,0.912079
4,130300,2014,0.252253,0.058684,0.278272,0.697689,0.125188,0.800163
...,...,...,...,...,...,...,...,...
273,640300,2014,0.253712,0.011719,0.014027,0.707891,0.036856,0.620592
274,640400,2014,0.073303,0.016980,0.003384,0.546742,0.016070,0.703257
275,640500,2014,0.167418,0.012652,0.016040,0.679992,0.023831,0.603178
276,650100,2014,0.961824,0.032424,0.062457,0.977514,0.106888,0.356993
277,650200,2014,0.533669,0.005921,0.032683,0.987924,0.126823,0.125572

In [49]:
#1.7熵权法

def calculate_entropy(indicator_data):
    # Replace zero values to avoid log(0) and negative infinity in entropy calculation
    indicator_data = indicator_data.replace(0, np.finfo(float).eps)  # Use a small number instead of zero
    p_ij = indicator_data / indicator_data.sum()  # Calculate the proportion p_ij
    K = 1 / np.log(278)  # Calculate the constant K
    e_j = -K * (p_ij * np.log(p_ij)).sum()  # Calculate the entropy e_j
    return e_j

# Initialize an empty list to store DataFrames for each year
dataframes_list = []

# Calculate entropies and weights for each year
for year in range(2014, 2015):
    year_data = data_process_UI[data_process_UI['Year'] == year].copy()
    entropies = year_data[['X1_star', 'X2_star', 'X3_star', 'X4_star','X5_star','X6_star']].apply(calculate_entropy, axis=0)
    weights = (1 - entropies) / (1 - entropies).sum()  # Calculate weights, ensuring they sum up to 1 within the year
    for i, indicator in enumerate(['X1_star', 'X2_star', 'X3_star', 'X4_star','X5_star','X6_star']):
        year_data[indicator + '_weighted'] = year_data[indicator] * weights.values[i]  # Apply weights to the indicators
    dataframes_list.append(year_data)  # Append the yearly data to the list

# Concatenate all DataFrames in the list to create the comprehensive_scores DataFrame
UI = pd.concat(dataframes_list, ignore_index=True)

# Now you should have the comprehensive_scores DataFrame with correctly calculated weights per year

In [50]:
UI

,Citycode,Year,X1_star,X2_star,X3_star,X4_star,X5_star,X6_star,X1_star_weighted,X2_star_weighted,X3_star_weighted,X4_star_weighted,X5_star_weighted,X6_star_weighted
0,110000,2014,0.819724,0.184488,0.480386,0.985009,0.335511,0.806262,0.064765,0.047263,0.139767,0.015036,0.116266,0.009725
1,120000,2014,0.764979,0.173705,0.722872,0.973975,0.501192,0.938967,0.060440,0.044500,0.210317,0.014868,0.173680,0.011326
2,130100,2014,0.305276,0.114501,0.433269,0.804289,0.180199,0.876225,0.024119,0.029333,0.126058,0.012278,0.062445,0.010569
3,130200,2014,0.419539,0.087105,0.533157,0.813866,0.289633,0.912079,0.033147,0.022315,0.155120,0.012424,0.100367,0.011001
4,130300,2014,0.252253,0.058684,0.278272,0.697689,0.125188,0.800163,0.019930,0.015034,0.080962,0.010650,0.043382,0.009652
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,640300,2014,0.253712,0.011719,0.014027,0.707891,0.036856,0.620592,0.020045,0.003002,0.004081,0.010806,0.012772,0.007486
274,640400,2014,0.073303,0.016980,0.003384,0.546742,0.016070,0.703257,0.005792,0.004350,0.000984,0.008346,0.005569,0.008483
275,640500,2014,0.167418,0.012652,0.016040,0.679992,0.023831,0.603178,0.013227,0.003241,0.004667,0.010380,0.008258,0.007275
276,650100,2014,0.961824,0.032424,0.062457,0.977514,0.106888,0.356993,0.075993,0.008307,0.018172,0.014922,0.037040,0.004306
277,650200,2014,0.533669,0.005921,0.032683,0.987924,0.126823,0.125572,0.042165,0.001517,0.009509,0.015081,0.043948,0.001515

In [51]:
# Calculate the combined weighted values for Resistance, Adaptability, and Recovery
UI['PU'] = UI['X1_star_weighted'] + UI['X2_star_weighted']
UI['LU'] = UI['X3_star_weighted'] + UI['X6_star_weighted']
#comprehensive_scores['ADA'] = comprehensive_scores['X2_star_weighted'] 
UI['EU'] = UI['X4_star_weighted'] + UI['X5_star_weighted']

# Assuming data_merged is the DataFrame with the standardized 'RES', 'ADA', and 'REC' columns.

# Define a small positive value to add to REC to avoid zero values
small_positive_value = 1e-6

# Replace zero values in REC with the small positive value
UI['PU_adj'] = UI['PU'].replace(0, small_positive_value)
UI['LU_adj'] = UI['LU'].replace(0, small_positive_value)
UI['EU_adj'] = UI['EU'].replace(0, small_positive_value)

# Now, the UER values should not be zero due to REC being zero, since we have adjusted REC values slightly above zero.

# Calculate the Urban Ecological Resilience (UER) for each borough and year
UI['UI'] = UI['PU_adj'] + UI['LU_adj'] + UI['EU_adj']

# Check the result
UI[['Year', 'Citycode', 'PU', 'LU', 'EU', 'UI']].head()

   Year  Citycode        PU        LU        EU        UI
0  2014    110000  0.112028  0.149492  0.131302  0.392822
1  2014    120000  0.104941  0.221643  0.188548  0.515131
2  2014    130100  0.053453  0.136627  0.074723  0.264803
3  2014    130200  0.055462  0.166122  0.112791  0.334375
4  2014    130300  0.034964  0.090614  0.054032  0.179610

In [52]:
UI

,Citycode,Year,X1_star,X2_star,X3_star,X4_star,X5_star,X6_star,X1_star_weighted,X2_star_weighted,...,X4_star_weighted,X5_star_weighted,X6_star_weighted,PU,LU,EU,PU_adj,LU_adj,EU_adj,UI
0,110000,2014,0.819724,0.184488,0.480386,0.985009,0.335511,0.806262,0.064765,0.047263,...,0.015036,0.116266,0.009725,0.112028,0.149492,0.131302,0.112028,0.149492,0.131302,0.392822
1,120000,2014,0.764979,0.173705,0.722872,0.973975,0.501192,0.938967,0.060440,0.044500,...,0.014868,0.173680,0.011326,0.104941,0.221643,0.188548,0.104941,0.221643,0.188548,0.515131
2,130100,2014,0.305276,0.114501,0.433269,0.804289,0.180199,0.876225,0.024119,0.029333,...,0.012278,0.062445,0.010569,0.053453,0.136627,0.074723,0.053453,0.136627,0.074723,0.264803
3,130200,2014,0.419539,0.087105,0.533157,0.813866,0.289633,0.912079,0.033147,0.022315,...,0.012424,0.100367,0.011001,0.055462,0.166122,0.112791,0.055462,0.166122,0.112791,0.334375
4,130300,2014,0.252253,0.058684,0.278272,0.697689,0.125188,0.800163,0.019930,0.015034,...,0.010650,0.043382,0.009652,0.034964,0.090614,0.054032,0.034964,0.090614,0.054032,0.179610
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,640300,2014,0.253712,0.011719,0.014027,0.707891,0.036856,0.620592,0.020045,0.003002,...,0.010806,0.012772,0.007486,0.023048,0.011567,0.023578,0.023048,0.011567,0.023578,0.058192
274,640400,2014,0.073303,0.016980,0.003384,0.546742,0.016070,0.703257,0.005792,0.004350,...,0.008346,0.005569,0.008483,0.010142,0.009467,0.013915,0.010142,0.009467,0.013915,0.033524
275,640500,2014,0.167418,0.012652,0.016040,0.679992,0.023831,0.603178,0.013227,0.003241,...,0.010380,0.008258,0.007275,0.016469,0.011942,0.018638,0.016469,0.011942,0.018638,0.047049
276,650100,2014,0.961824,0.032424,0.062457,0.977514,0.106888,0.356993,0.075993,0.008307,...,0.014922,0.037040,0.004306,0.084299,0.022478,0.051962,0.084299,0.022478,0.051962,0.158739
277,650200,2014,0.533669,0.005921,0.032683,0.987924,0.126823,0.125572,0.042165,0.001517,...,0.015081,0.043948,0.001515,0.043681,0.011024,0.059029,0.043681,0.011024,0.059029,0.113734

In [53]:
columns_to_keep = ['Citycode','Year','Res1','Res2','Res3','Res4','Ada1','Ada2','Ada3','Ada4','Rec1','Rec2','Rec3','Rec4']
data_merged = df_cleaned[columns_to_keep]

In [54]:
data_merged

,Citycode,Year,Res1,Res2,Res3,Res4,Ada1,Ada2,Ada3,Ada4,Rec1,Rec2,Rec3,Rec4
0,110000,2014,0.000043,0.000106,73.765202,7.947549e+07,87.67,99.59,198124.000000,86.10,60.41,15.94,316.633126,2827117.0
1,120000,2014,0.000121,0.000713,88.536822,1.336829e+08,98.91,96.23,843998.000000,100.00,41.82,9.73,243.210207,1089967.0
2,130100,2014,0.000465,0.002017,99.342721,8.738617e+07,95.10,71.98,747318.000000,95.85,48.98,15.33,278.740405,72908.0
3,130200,2014,0.000224,0.008612,79.143114,2.948317e+08,70.00,100.00,923268.000000,95.00,41.17,15.08,304.507580,81583.0
4,130300,2014,0.000523,0.004935,63.802379,2.327059e+07,65.00,157.94,124658.000000,98.38,92.87,20.41,377.527435,18960.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,640300,2014,0.000533,0.004001,44.954210,2.335684e+07,65.27,98.99,-2705.000000,62.92,40.70,21.74,191.238508,8199.0
275,640400,2014,0.000124,0.001375,47.891727,4.851992e+06,93.70,92.82,933.428571,79.00,27.45,7.99,408.012815,6003.0
276,640500,2014,0.000943,0.020200,47.618089,1.022591e+07,92.74,96.90,-177451.000000,96.70,36.82,20.08,201.174615,13510.0
277,650100,2014,0.000197,0.003131,49.545593,6.896316e+07,93.66,92.42,263156.000000,81.98,38.52,10.66,156.228330,84677.0
278,650200,2014,0.000218,0.000531,41.785921,8.909936e+06,98.61,98.98,-2354.000000,95.10,43.28,11.48,61.737599,14071.0

In [55]:
# Initialize a column for the normalized values
data_merged['X1_star'] = pd.Series(dtype='float')
column_to_normalize = 'Res1'
# Iterate over each year to perform the normalization
for year in range(2014, 2015):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X1_max = year_data[column_to_normalize].max()
    X1_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X1_star'] = (X1_max - year_data[column_to_normalize]) / (X1_max - X1_min)


# Initialize a column for the normalized values
data_merged['X2_star'] = pd.Series(dtype='float')
column_to_normalize = 'Res2'
# Iterate over each year to perform the normalization
for year in range(2014, 2015):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X2_max = year_data[column_to_normalize].max()
    X2_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X2_star'] = (X2_max - year_data[column_to_normalize]) / (X2_max - X2_min)



# Initialize a column for the normalized values
data_merged['X3_star'] = pd.Series(dtype='float')
column_to_normalize = 'Res3'
# Iterate over each year to perform the normalization
for year in range(2014, 2015):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X3_max = year_data[column_to_normalize].max()
    X3_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X3_star'] = (X3_max - year_data[column_to_normalize]) / (X3_max - X3_min)


# Initialize a column for the normalized values
data_merged['X4_star'] = pd.Series(dtype='float')
column_to_normalize = 'Res4'
# Iterate over each year to perform the normalization
for year in range(2014, 2015):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X4_max = year_data[column_to_normalize].max()
    X4_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X4_star'] = (X4_max - year_data[column_to_normalize]) / (X4_max - X4_min)

data_merged['X5_star'] = pd.Series(dtype='float')
column_to_normalize = 'Ada1'
# Iterate over each year to perform the normalization
for year in range(2014, 2015):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X5_max = year_data[column_to_normalize].max()
    X5_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X5_star'] = (year_data[column_to_normalize] - X5_min) / (X5_max - X5_min)

data_merged['X6_star'] = pd.Series(dtype='float')
column_to_normalize = 'Ada2'
# Iterate over each year to perform the normalization
for year in range(2014, 2015):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X6_max = year_data[column_to_normalize].max()
    X6_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X6_star'] = (year_data[column_to_normalize] - X6_min) / (X6_max - X6_min)


data_merged['X7_star'] = pd.Series(dtype='float')
column_to_normalize = 'Ada3'
# Iterate over each year to perform the normalization
for year in range(2014, 2015):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X7_max = year_data[column_to_normalize].max()
    X7_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X7_star'] = (year_data[column_to_normalize] - X7_min) / (X7_max - X7_min)

data_merged['X8_star'] = pd.Series(dtype='float')
column_to_normalize = 'Ada4'
# Iterate over each year to perform the normalization
for year in range(2014, 2015):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X8_max = year_data[column_to_normalize].max()
    X8_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X8_star'] = (year_data[column_to_normalize] - X8_min) / (X8_max - X8_min)

data_merged['X9_star'] = pd.Series(dtype='float')
column_to_normalize = 'Rec1'
# Iterate over each year to perform the normalization
for year in range(2014, 2015):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X9_max = year_data[column_to_normalize].max()
    X9_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X9_star'] = (year_data[column_to_normalize] - X9_min) / (X9_max - X9_min)

data_merged['X10_star'] = pd.Series(dtype='float')
column_to_normalize = 'Rec2'
# Iterate over each year to perform the normalization
for year in range(2014, 2015):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X10_max = year_data[column_to_normalize].max()
    X10_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X10_star'] = (year_data[column_to_normalize] - X10_min) / (X10_max - X10_min)

data_merged['X11_star'] = pd.Series(dtype='float')
column_to_normalize = 'Rec3'
# Iterate over each year to perform the normalization
for year in range(2014, 2015):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X11_max = year_data[column_to_normalize].max()
    X11_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X11_star'] = (year_data[column_to_normalize] - X11_min) / (X11_max - X11_min)

data_merged['X12_star'] = pd.Series(dtype='float')
column_to_normalize = 'Rec4'
# Iterate over each year to perform the normalization
for year in range(2014, 2015):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X12_max = year_data[column_to_normalize].max()
    X12_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X12_star'] = (year_data[column_to_normalize] - X12_min) / (X12_max - X12_min)

/tmp/ipykernel_75417/3903454448.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X1_star'] = pd.Series(dtype='float')
/tmp/ipykernel_75417/3903454448.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X2_star'] = pd.Series(dtype='float')
/tmp/ipykernel_75417/3903454448.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X3_star'] = pd.Series(dtype='float')
/tmp/ipykernel_75417/3903454448.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X4_star'] = pd.Series(dtype='float')
/tmp/ipykernel_75417/3903454448.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X5_star'] = pd.Series(dtype='float')
/tmp/ipykernel_75417/3903454448.py:79: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X6_star'] = pd.Series(dtype='float')
/tmp/ipykernel_75417/3903454448.py:94: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X7_star'] = pd.Series(dtype='float')
/tmp/ipykernel_75417/3903454448.py:108: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X8_star'] = pd.Series(dtype='float')
/tmp/ipykernel_75417/3903454448.py:122: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X9_star'] = pd.Series(dtype='float')
/tmp/ipykernel_75417/3903454448.py:136: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X10_star'] = pd.Series(dtype='float')
/tmp/ipykernel_75417/3903454448.py:150: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X11_star'] = pd.Series(dtype='float')
/tmp/ipykernel_75417/3903454448.py:164: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X12_star'] = pd.Series(dtype='float')

In [56]:
data_merged

,Citycode,Year,Res1,Res2,Res3,Res4,Ada1,Ada2,Ada3,Ada4,...,X3_star,X4_star,X5_star,X6_star,X7_star,X8_star,X9_star,X10_star,X11_star,X12_star
0,110000,2014,0.000043,0.000106,73.765202,7.947549e+07,87.67,99.59,198124.000000,86.10,...,0.359400,0.734547,0.873148,0.617252,0.331726,0.821084,0.630266,0.187826,0.215047,1.000000
1,120000,2014,0.000121,0.000713,88.536822,1.336829e+08,98.91,96.23,843998.000000,100.00,...,0.177307,0.549654,0.988786,0.595212,0.510482,1.000000,0.432983,0.102501,0.153102,0.385070
2,130100,2014,0.000465,0.002017,99.342721,8.738617e+07,95.10,71.98,747318.000000,95.85,...,0.044099,0.707565,0.949588,0.436143,0.483724,0.946583,0.508967,0.179445,0.183078,0.025044
3,130200,2014,0.000224,0.008612,79.143114,2.948317e+08,70.00,100.00,923268.000000,95.00,...,0.293105,0.000000,0.691358,0.619941,0.532421,0.935642,0.426085,0.176010,0.204817,0.028115
4,130300,2014,0.000523,0.004935,63.802379,2.327059e+07,65.00,157.94,124658.000000,98.38,...,0.482215,0.926254,0.639918,1.000000,0.311393,0.979148,0.974743,0.249244,0.266421,0.005947
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,640300,2014,0.000533,0.004001,44.954210,2.335684e+07,65.27,98.99,-2705.000000,62.92,...,0.714562,0.925959,0.642695,0.613316,0.276143,0.522718,0.421097,0.267519,0.109256,0.002138
275,640400,2014,0.000124,0.001375,47.891727,4.851992e+06,93.70,92.82,933.428571,79.00,...,0.678350,0.989077,0.935185,0.572844,0.277150,0.729695,0.280484,0.078593,0.292141,0.001360
276,640500,2014,0.000943,0.020200,47.618089,1.022591e+07,92.74,96.90,-177451.000000,96.70,...,0.681723,0.970747,0.925309,0.599606,0.227780,0.957523,0.379921,0.244710,0.117638,0.004018
277,650100,2014,0.000197,0.003131,49.545593,6.896316e+07,93.66,92.42,263156.000000,81.98,...,0.657962,0.770403,0.934774,0.570220,0.349725,0.768053,0.397962,0.115279,0.079719,0.029210
278,650200,2014,0.000218,0.000531,41.785921,8.909936e+06,98.61,98.98,-2354.000000,95.10,...,0.753618,0.975236,0.985700,0.613250,0.276240,0.936929,0.448477,0.126546,0.000000,0.004216

In [57]:
columns_to_keep = ['Citycode','Year','X1_star','X2_star','X3_star','X4_star','X5_star','X6_star','X7_star','X8_star','X9_star','X10_star','X11_star','X12_star']
data_process = data_merged[columns_to_keep]

In [58]:
#1.7熵权法

def calculate_entropy(indicator_data):
    # Replace zero values to avoid log(0) and negative infinity in entropy calculation
    indicator_data = indicator_data.replace(0, np.finfo(float).eps)  # Use a small number instead of zero
    p_ij = indicator_data / indicator_data.sum()  # Calculate the proportion p_ij
    K = 1 / np.log(278)  # Calculate the constant K
    e_j = -K * (p_ij * np.log(p_ij)).sum()  # Calculate the entropy e_j
    return e_j

# Initialize an empty list to store DataFrames for each year
dataframes_list = []

# Calculate entropies and weights for each year
for year in range(2014, 2015):
    year_data = data_process[data_process['Year'] == year].copy()
    entropies = year_data[['X1_star','X2_star','X3_star','X4_star','X5_star','X6_star','X7_star','X8_star','X9_star','X10_star','X11_star','X12_star']].apply(calculate_entropy, axis=0)
    weights = (1 - entropies) / (1 - entropies).sum()  # Calculate weights, ensuring they sum up to 1 within the year
    for i, indicator in enumerate(['X1_star','X2_star','X3_star','X4_star','X5_star','X6_star','X7_star','X8_star','X9_star','X10_star','X11_star','X12_star']):
        year_data[indicator + '_weighted'] = year_data[indicator] * weights.values[i]  # Apply weights to the indicators
    dataframes_list.append(year_data)  # Append the yearly data to the list

# Concatenate all DataFrames in the list to create the comprehensive_scores DataFrame
UER = pd.concat(dataframes_list, ignore_index=True)

# Now you should have the comprehensive_scores DataFrame with correctly calculated weights per year

In [59]:
UER

,Citycode,Year,X1_star,X2_star,X3_star,X4_star,X5_star,X6_star,X7_star,X8_star,...,X3_star_weighted,X4_star_weighted,X5_star_weighted,X6_star_weighted,X7_star_weighted,X8_star_weighted,X9_star_weighted,X10_star_weighted,X11_star_weighted,X12_star_weighted
0,110000,2014,0.987892,0.994953,0.359400,0.734547,0.873148,0.617252,0.331726,0.821084,...,0.015560,0.004503,0.023386,0.007062,0.006521,0.011663,0.010176,0.009671,0.012980,0.733572
1,120000,2014,0.958029,0.964921,0.177307,0.549654,0.988786,0.595212,0.510482,1.000000,...,0.007676,0.003370,0.026483,0.006810,0.010034,0.014204,0.006991,0.005278,0.009241,0.282477
2,130100,2014,0.826196,0.900357,0.044099,0.707565,0.949588,0.436143,0.483724,0.946583,...,0.001909,0.004338,0.025433,0.004990,0.009508,0.013445,0.008217,0.009239,0.011050,0.018372
3,130200,2014,0.918310,0.573815,0.293105,0.000000,0.691358,0.619941,0.532421,0.935642,...,0.012690,0.000000,0.018517,0.007093,0.010466,0.013290,0.006879,0.009063,0.012362,0.020624
4,130300,2014,0.803921,0.755862,0.482215,0.926254,0.639918,1.000000,0.311393,0.979148,...,0.020877,0.005679,0.017139,0.011441,0.006121,0.013908,0.015737,0.012833,0.016081,0.004363
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,640300,2014,0.800156,0.802111,0.714562,0.925959,0.642695,0.613316,0.276143,0.522718,...,0.030937,0.005677,0.017213,0.007017,0.005428,0.007425,0.006799,0.013774,0.006594,0.001568
274,640400,2014,0.956886,0.932119,0.678350,0.989077,0.935185,0.572844,0.277150,0.729695,...,0.029369,0.006064,0.025047,0.006554,0.005448,0.010365,0.004528,0.004047,0.017633,0.000998
275,640500,2014,0.642769,0.000000,0.681723,0.970747,0.925309,0.599606,0.227780,0.957523,...,0.029515,0.005951,0.024783,0.006860,0.004477,0.013601,0.006134,0.012600,0.007100,0.002947
276,650100,2014,0.928840,0.845174,0.657962,0.770403,0.934774,0.570220,0.349725,0.768053,...,0.028486,0.004723,0.025036,0.006524,0.006874,0.010910,0.006425,0.005936,0.004812,0.021428
277,650200,2014,0.920737,0.973909,0.753618,0.975236,0.985700,0.613250,0.276240,0.936929,...,0.032628,0.005979,0.026400,0.007016,0.005430,0.013308,0.007241,0.006516,0.000000,0.003093

In [60]:
# Calculate the combined weighted values for Resistance, Adaptability, and Recovery
UER['RES'] = UER['X1_star_weighted'] + UER['X2_star_weighted'] + UER['X3_star_weighted'] + UER['X4_star_weighted']
UER['ADA'] = UER['X5_star_weighted'] + UER['X6_star_weighted'] + UER['X7_star_weighted'] + UER['X8_star_weighted']
#comprehensive_scores['ADA'] = comprehensive_scores['X2_star_weighted'] 
UER['REC'] = UER['X9_star_weighted'] + UER['X10_star_weighted'] + UER['X11_star_weighted'] + UER['X12_star_weighted']

# Assuming data_merged is the DataFrame with the standardized 'RES', 'ADA', and 'REC' columns.

# Define a small positive value to add to REC to avoid zero values
small_positive_value = 1e-6

# Replace zero values in REC with the small positive value
UER['REC_adj'] = UER['REC'].replace(0, small_positive_value)
UER['ADA_adj'] = UER['ADA'].replace(0, small_positive_value)
UER['RES_adj'] = UER['RES'].replace(0, small_positive_value)

# Now, the UER values should not be zero due to REC being zero, since we have adjusted REC values slightly above zero.

# Calculate the Urban Ecological Resilience (UER) for each borough and year
UER['UER'] = (UER['RES_adj'] + UER['ADA_adj'] + UER['REC_adj'])

# Check the result
UER[['Year', 'Citycode', 'RES', 'ADA', 'REC', 'UER']].head()

   Year  Citycode       RES       ADA       REC       UER
0  2014    110000  0.036868  0.048631  0.766399  0.851897
1  2014    120000  0.027343  0.057531  0.303986  0.388860
2  2014    130100  0.021102  0.053376  0.046878  0.121357
3  2014    130200  0.024189  0.049365  0.048928  0.122482
4  2014    130300  0.039599  0.048609  0.049014  0.137221

In [61]:
UER

,Citycode,Year,X1_star,X2_star,X3_star,X4_star,X5_star,X6_star,X7_star,X8_star,...,X10_star_weighted,X11_star_weighted,X12_star_weighted,RES,ADA,REC,REC_adj,ADA_adj,RES_adj,UER
0,110000,2014,0.987892,0.994953,0.359400,0.734547,0.873148,0.617252,0.331726,0.821084,...,0.009671,0.012980,0.733572,0.036868,0.048631,0.766399,0.766399,0.048631,0.036868,0.851897
1,120000,2014,0.958029,0.964921,0.177307,0.549654,0.988786,0.595212,0.510482,1.000000,...,0.005278,0.009241,0.282477,0.027343,0.057531,0.303986,0.303986,0.057531,0.027343,0.388860
2,130100,2014,0.826196,0.900357,0.044099,0.707565,0.949588,0.436143,0.483724,0.946583,...,0.009239,0.011050,0.018372,0.021102,0.053376,0.046878,0.046878,0.053376,0.021102,0.121357
3,130200,2014,0.918310,0.573815,0.293105,0.000000,0.691358,0.619941,0.532421,0.935642,...,0.009063,0.012362,0.020624,0.024189,0.049365,0.048928,0.048928,0.049365,0.024189,0.122482
4,130300,2014,0.803921,0.755862,0.482215,0.926254,0.639918,1.000000,0.311393,0.979148,...,0.012833,0.016081,0.004363,0.039599,0.048609,0.049014,0.049014,0.048609,0.039599,0.137221
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,640300,2014,0.800156,0.802111,0.714562,0.925959,0.642695,0.613316,0.276143,0.522718,...,0.013774,0.006594,0.001568,0.050180,0.037083,0.028735,0.028735,0.037083,0.050180,0.115999
274,640400,2014,0.956886,0.932119,0.678350,0.989077,0.935185,0.572844,0.277150,0.729695,...,0.004047,0.017633,0.000998,0.051338,0.047413,0.027206,0.027206,0.047413,0.051338,0.125958
275,640500,2014,0.642769,0.000000,0.681723,0.970747,0.925309,0.599606,0.227780,0.957523,...,0.012600,0.007100,0.002947,0.038799,0.049721,0.028781,0.028781,0.049721,0.038799,0.117301
276,650100,2014,0.928840,0.845174,0.657962,0.770403,0.934774,0.570220,0.349725,0.768053,...,0.005936,0.004812,0.021428,0.047949,0.049344,0.038600,0.038600,0.049344,0.047949,0.135893
277,650200,2014,0.920737,0.973909,0.753618,0.975236,0.985700,0.613250,0.276240,0.936929,...,0.006516,0.000000,0.003093,0.054816,0.052154,0.016849,0.016849,0.052154,0.054816,0.123819

In [62]:
df_merged1 = pd.merge(UI, UER, on=['Citycode', 'Year'])

In [63]:
df_merged1

,Citycode,Year,X1_star_x,X2_star_x,X3_star_x,X4_star_x,X5_star_x,X6_star_x,X1_star_weighted_x,X2_star_weighted_x,...,X10_star_weighted,X11_star_weighted,X12_star_weighted,RES,ADA,REC,REC_adj,ADA_adj,RES_adj,UER
0,110000,2014,0.819724,0.184488,0.480386,0.985009,0.335511,0.806262,0.064765,0.047263,...,0.009671,0.012980,0.733572,0.036868,0.048631,0.766399,0.766399,0.048631,0.036868,0.851897
1,120000,2014,0.764979,0.173705,0.722872,0.973975,0.501192,0.938967,0.060440,0.044500,...,0.005278,0.009241,0.282477,0.027343,0.057531,0.303986,0.303986,0.057531,0.027343,0.388860
2,130100,2014,0.305276,0.114501,0.433269,0.804289,0.180199,0.876225,0.024119,0.029333,...,0.009239,0.011050,0.018372,0.021102,0.053376,0.046878,0.046878,0.053376,0.021102,0.121357
3,130200,2014,0.419539,0.087105,0.533157,0.813866,0.289633,0.912079,0.033147,0.022315,...,0.009063,0.012362,0.020624,0.024189,0.049365,0.048928,0.048928,0.049365,0.024189,0.122482
4,130300,2014,0.252253,0.058684,0.278272,0.697689,0.125188,0.800163,0.019930,0.015034,...,0.012833,0.016081,0.004363,0.039599,0.048609,0.049014,0.049014,0.048609,0.039599,0.137221
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,640300,2014,0.253712,0.011719,0.014027,0.707891,0.036856,0.620592,0.020045,0.003002,...,0.013774,0.006594,0.001568,0.050180,0.037083,0.028735,0.028735,0.037083,0.050180,0.115999
274,640400,2014,0.073303,0.016980,0.003384,0.546742,0.016070,0.703257,0.005792,0.004350,...,0.004047,0.017633,0.000998,0.051338,0.047413,0.027206,0.027206,0.047413,0.051338,0.125958
275,640500,2014,0.167418,0.012652,0.016040,0.679992,0.023831,0.603178,0.013227,0.003241,...,0.012600,0.007100,0.002947,0.038799,0.049721,0.028781,0.028781,0.049721,0.038799,0.117301
276,650100,2014,0.961824,0.032424,0.062457,0.977514,0.106888,0.356993,0.075993,0.008307,...,0.005936,0.004812,0.021428,0.047949,0.049344,0.038600,0.038600,0.049344,0.047949,0.135893
277,650200,2014,0.533669,0.005921,0.032683,0.987924,0.126823,0.125572,0.042165,0.001517,...,0.006516,0.000000,0.003093,0.054816,0.052154,0.016849,0.016849,0.052154,0.054816,0.123819

In [64]:
df_result = df_merged1[['Citycode', 'Year', 'UER', 'UI']]

In [65]:
df_result

     Citycode  Year       UER        UI
0      110000  2014  0.851897  0.392822
1      120000  2014  0.388860  0.515131
2      130100  2014  0.121357  0.264803
3      130200  2014  0.122482  0.334375
4      130300  2014  0.137221  0.179610
..        ...   ...       ...       ...
273    640300  2014  0.115999  0.058192
274    640400  2014  0.125958  0.033524
275    640500  2014  0.117301  0.047049
276    650100  2014  0.135893  0.158739
277    650200  2014  0.123819  0.113734

[278 rows x 4 columns]

In [66]:
# 定义计算公式
def calculate_C(UI, UER):
    return np.sqrt((UI * UER) / ((UI + UER) / 2)**2)

def calculate_T(UI, UER, mu1=0.5, mu2=0.5):
    return mu1 * UI + mu2 * UER

def calculate_D(C, T):
    return np.sqrt(C * T)

# 计算C耦合度
df_result['C'] = df_result.apply(lambda row: calculate_C(row['UI'], row['UER']), axis=1)

# 计算T协调度
df_result['T'] = df_result.apply(lambda row: calculate_T(row['UI'], row['UER']), axis=1)

# 计算D耦合协调度
df_result['D'] = df_result.apply(lambda row: calculate_D(row['C'], row['T']), axis=1)

/tmp/ipykernel_75417/4091750289.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_result['C'] = df_result.apply(lambda row: calculate_C(row['UI'], row['UER']), axis=1)
/tmp/ipykernel_75417/4091750289.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_result['T'] = df_result.apply(lambda row: calculate_T(row['UI'], row['UER']), axis=1)
/tmp/ipykernel_75417/4091750289.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_result['D'] = df_result.apply(lambda row: calculate_D(row['C'], row['T']), axis=1)

In [67]:
# 定义归一化公式
def normalize(column):
    return (column - column.min()) / (column.max() - column.min())

# 归一化处理
df_result['UI_normalized'] = normalize(df_result['UI'])
df_result['UER_normalized'] = normalize(df_result['UER'])

# 定义计算公式
def calculate_C(UI, UER):
    return np.sqrt((UI * UER) / ((UI + UER) / 2)**2)

def calculate_T(UI, UER, mu1=0.5, mu2=0.5):
    return mu1 * UI + mu2 * UER

def calculate_D(C, T):
    return np.sqrt(C * T)

# 计算C耦合度
df_result['C2'] = df_result.apply(lambda row: calculate_C(row['UI_normalized'], row['UER_normalized']), axis=1)

# 计算T协调度
df_result['T2'] = df_result.apply(lambda row: calculate_T(row['UI_normalized'], row['UER_normalized']), axis=1)

# 计算D耦合协调度
df_result['D2'] = df_result.apply(lambda row: calculate_D(row['C2'], row['T2']), axis=1)

/tmp/ipykernel_75417/3512385329.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_result['UI_normalized'] = normalize(df_result['UI'])
/tmp/ipykernel_75417/3512385329.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_result['UER_normalized'] = normalize(df_result['UER'])
/tmp/ipykernel_75417/3512385329.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_result['C2'] = df_result.apply(lambda row: calculate_C(row['UI_normalized'], row['UER_normalized']), axis=1)
/tmp/ipykernel_75417/3512385329.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_result['T2'] = df_result.apply(lambda row: calculate_T(row['UI_normalized'], row['UER_normalized']), axis=1)
/tmp/ipykernel_75417/3512385329.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_result['D2'] = df_result.apply(lambda row: calculate_D(row['C2'], row['T2']), axis=1)

In [68]:
df_result

,Citycode,Year,UER,UI,C,T,D,UI_normalized,UER_normalized,C2,T2,D2
0,110000,2014,0.851897,0.392822,0.929502,0.622360,0.760581,0.393917,1.000000,0.900524,0.696958,0.792230
1,120000,2014,0.388860,0.515131,0.990196,0.451995,0.669002,0.525204,0.387282,0.988511,0.456243,0.671567
2,130100,2014,0.121357,0.264803,0.928446,0.193080,0.423396,0.256500,0.033308,0.637875,0.144904,0.304024
3,130200,2014,0.122482,0.334375,0.885936,0.228428,0.449859,0.331179,0.034796,0.586641,0.182987,0.327640
4,130300,2014,0.137221,0.179610,0.991010,0.158416,0.396221,0.165053,0.054300,0.863174,0.109676,0.307685
...,...,...,...,...,...,...,...,...,...,...,...,...
273,640300,2014,0.115999,0.058192,0.943330,0.087095,0.286635,0.034722,0.026217,0.990212,0.030470,0.173699
274,640400,2014,0.125958,0.033524,0.814907,0.079741,0.254914,0.008243,0.039396,0.756541,0.023819,0.134239
275,640500,2014,0.117301,0.047049,0.904039,0.082175,0.272561,0.022761,0.027941,0.994769,0.025351,0.158803
276,650100,2014,0.135893,0.158739,0.996989,0.147316,0.383239,0.142650,0.052542,0.887068,0.097596,0.294235
277,650200,2014,0.123819,0.113734,0.999098,0.118777,0.344485,0.094341,0.036566,0.897335,0.065453,0.242350

In [69]:
# 导出comprehensive_scores数据框为Excel文件
output_excel_path = 'df_2014_result.xlsx'
df_result.to_excel(output_excel_path, index=False)

In [66]:
file_path = 'data/df_2006_result.xlsx'
df_result_2006 = pd.read_excel(file_path)

In [67]:
df_result_2006

,Name_of_Regions_x,Citycode,Year_x,UER,UI,C,T,D,UI_normalized,UER_normalized,C2,T2,D2
0,Beijing,110000,2006,0.137433,0.210078,0.977907,0.173756,0.412210,0.202760,0.702098,0.833949,0.452429,0.614250
1,Tianjin,120000,2006,0.103581,0.168235,0.971300,0.135908,0.363328,0.160479,0.529117,0.845124,0.344798,0.539812
2,Shijiazhuang,130100,2006,0.135975,0.075086,0.957483,0.105530,0.317873,0.066357,0.694645,0.564248,0.380501,0.463354
3,Tangshan,130200,2006,0.137393,0.076543,0.958697,0.106968,0.320234,0.067829,0.701890,0.566945,0.384860,0.467113
4,Qinhuangdao,130300,2006,0.140799,0.069600,0.941002,0.105200,0.314632,0.060814,0.719298,0.536204,0.390056,0.457329
...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,Guyuan,640400,2006,0.129806,0.020694,0.688750,0.075250,0.227659,0.011397,0.663123,0.257766,0.337260,0.294846
286,Zhongwei,640500,2006,0.126115,0.030682,0.793445,0.078398,0.249409,0.021489,0.644263,0.353476,0.332876,0.343022
287,Xinjiang,650000,2006,0.087788,0.075510,0.997170,0.081649,0.285338,0.066786,0.448413,0.671796,0.257600,0.415998
288,Urumuchi,650100,2006,0.100333,0.097620,0.999906,0.098976,0.314590,0.089127,0.512516,0.710475,0.300821,0.462305
289,Kelamayi,650200,2006,0.121824,0.102816,0.996414,0.112320,0.334540,0.094377,0.622335,0.676287,0.358356,0.492292

In [68]:
# 合并数据
df_merged2 = pd.merge(df_result_2006, df_result, left_on='Citycode', right_on='Citycode', suffixes=('_2006', '_2010'))

In [69]:
df_merged2

,Name_of_Regions_x_2006,Citycode,Year_x,UER_2006,UI_2006,C_2006,T_2006,D_2006,UI_normalized_2006,UER_normalized_2006,...,UER_2010,UI_2010,C_2010,T_2010,D_2010,UI_normalized_2010,UER_normalized_2010,C2_2010,T2_2010,D2_2010
0,Beijing,110000,2006,0.137433,0.210078,0.977907,0.173756,0.412210,0.202760,0.702098,...,0.168303,0.206704,0.994743,0.187503,0.431877,0.200826,0.839766,0.789294,0.520296,0.640833
1,Tianjin,120000,2006,0.103581,0.168235,0.971300,0.135908,0.363328,0.160479,0.529117,...,0.152355,0.197102,0.991768,0.174729,0.416281,0.190941,0.760175,0.801130,0.475558,0.617239
2,Shijiazhuang,130100,2006,0.135975,0.075086,0.957483,0.105530,0.317873,0.066357,0.694645,...,0.174103,0.079555,0.927936,0.126829,0.343059,0.069926,0.868715,0.525158,0.469321,0.496455
3,Tangshan,130200,2006,0.137393,0.076543,0.958697,0.106968,0.320234,0.067829,0.701890,...,0.173093,0.076014,0.920939,0.124553,0.338683,0.066281,0.863673,0.514562,0.464977,0.489142
4,Qinhuangdao,130300,2006,0.140799,0.069600,0.941002,0.105200,0.314632,0.060814,0.719298,...,0.183608,0.064805,0.878226,0.124207,0.330275,0.054742,0.916151,0.461319,0.485446,0.473229
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,Guyuan,640400,2006,0.129806,0.020694,0.688750,0.075250,0.227659,0.011397,0.663123,...,0.149317,0.017109,0.607403,0.083213,0.224820,0.005639,0.745015,0.172687,0.375327,0.254586
286,Zhongwei,640500,2006,0.126115,0.030682,0.793445,0.078398,0.249409,0.021489,0.644263,...,0.095024,0.023502,0.797418,0.059263,0.217388,0.012220,0.474050,0.313042,0.243135,0.275883
287,Xinjiang,650000,2006,0.087788,0.075510,0.997170,0.081649,0.285338,0.066786,0.448413,...,0.134498,0.027310,0.749113,0.080904,0.246183,0.016140,0.671055,0.302887,0.343597,0.322601
288,Urumuchi,650100,2006,0.100333,0.097620,0.999906,0.098976,0.314590,0.089127,0.512516,...,0.137691,0.103063,0.989602,0.120377,0.345146,0.094128,0.686991,0.651100,0.390560,0.504275
289,Kelamayi,650200,2006,0.121824,0.102816,0.996414,0.112320,0.334540,0.094377,0.622335,...,0.156935,0.072887,0.930728,0.114911,0.327034,0.063062,0.783035,0.525271,0.423048,0.471397

# 计算Tapio脱钩模型

In [70]:
# 计算增长率
df_merged2['Delta_UER'] = (df_merged2['UER_2010'] - df_merged2['UER_2006']) / df_merged2['UER_2006']
df_merged2['Delta_UI'] = (df_merged2['UI_2010'] - df_merged2['UI_2006']) / df_merged2['UI_2006']

# 计算脱钩指数DI
df_merged2['DI'] = df_merged2['Delta_UER'] / df_merged2['Delta_UI']

In [71]:
df_merged2

,Name_of_Regions_x_2006,Citycode,Year_x,UER_2006,UI_2006,C_2006,T_2006,D_2006,UI_normalized_2006,UER_normalized_2006,...,T_2010,D_2010,UI_normalized_2010,UER_normalized_2010,C2_2010,T2_2010,D2_2010,Delta_UER,Delta_UI,DI
0,Beijing,110000,2006,0.137433,0.210078,0.977907,0.173756,0.412210,0.202760,0.702098,...,0.187503,0.431877,0.200826,0.839766,0.789294,0.520296,0.640833,0.224613,-0.016062,-13.983872
1,Tianjin,120000,2006,0.103581,0.168235,0.971300,0.135908,0.363328,0.160479,0.529117,...,0.174729,0.416281,0.190941,0.760175,0.801130,0.475558,0.617239,0.470873,0.171589,2.744191
2,Shijiazhuang,130100,2006,0.135975,0.075086,0.957483,0.105530,0.317873,0.066357,0.694645,...,0.126829,0.343059,0.069926,0.868715,0.525158,0.469321,0.496455,0.280409,0.059519,4.711286
3,Tangshan,130200,2006,0.137393,0.076543,0.958697,0.106968,0.320234,0.067829,0.701890,...,0.124553,0.338683,0.066281,0.863673,0.514562,0.464977,0.489142,0.259842,-0.006908,-37.613687
4,Qinhuangdao,130300,2006,0.140799,0.069600,0.941002,0.105200,0.314632,0.060814,0.719298,...,0.124207,0.330275,0.054742,0.916151,0.461319,0.485446,0.473229,0.304040,-0.068890,-4.413412
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,Guyuan,640400,2006,0.129806,0.020694,0.688750,0.075250,0.227659,0.011397,0.663123,...,0.083213,0.224820,0.005639,0.745015,0.172687,0.375327,0.254586,0.150312,-0.173223,-0.867736
286,Zhongwei,640500,2006,0.126115,0.030682,0.793445,0.078398,0.249409,0.021489,0.644263,...,0.059263,0.217388,0.012220,0.474050,0.313042,0.243135,0.275883,-0.246529,-0.234007,1.053514
287,Xinjiang,650000,2006,0.087788,0.075510,0.997170,0.081649,0.285338,0.066786,0.448413,...,0.080904,0.246183,0.016140,0.671055,0.302887,0.343597,0.322601,0.532082,-0.638332,-0.833551
288,Urumuchi,650100,2006,0.100333,0.097620,0.999906,0.098976,0.314590,0.089127,0.512516,...,0.120377,0.345146,0.094128,0.686991,0.651100,0.390560,0.504275,0.372347,0.055761,6.677574
289,Kelamayi,650200,2006,0.121824,0.102816,0.996414,0.112320,0.334540,0.094377,0.622335,...,0.114911,0.327034,0.063062,0.783035,0.525271,0.423048,0.471397,0.288216,-0.291095,-0.990109

In [72]:
def classify_decoupling(row):
    Delta_ER = row['Delta_UER']
    Delta_UI = row['Delta_UI']
    DI = row['DI']
    
    if Delta_ER < 0 and Delta_UI < 0 and 1.2 <= DI < float('inf'):
        return 'Recession decoupling / Decoupling'
    elif Delta_ER < 0 and Delta_UI > 0 and float('-inf') < DI <= 0:
        return 'Strong decoupling / Decoupling'
    elif Delta_ER > 0 and Delta_UI > 0 and 0 <= DI <= 0.8:
        return 'Weak decoupling / Decoupling'
    elif Delta_ER > 0 and Delta_UI > 0 and 0.8 < DI <= 1.2:
        return 'Expansion connection / Connection'
    elif Delta_ER < 0 and Delta_UI < 0 and 0.8 < DI <= 1.2:
        return 'Recession connection / Connection'
    elif Delta_ER > 0 and Delta_UI > 0 and 1.2 <= DI < float('inf'):
        return 'Negative decoupling of expansion / Negative decoupling'
    elif Delta_ER > 0 and Delta_UI < 0 and float('-inf') < DI <= 0:
        return 'Strong negative decoupling / Negative decoupling'
    elif Delta_ER < 0 and Delta_UI < 0 and 0 <= DI <= 0.8:
        return 'Weak negative decoupling / Negative decoupling'
    else:
        return 'Unknown'

# Apply the function to the DataFrame
df_merged2['DI_Category'] = df_merged2.apply(classify_decoupling, axis=1)

In [73]:
df_merged2

,Name_of_Regions_x_2006,Citycode,Year_x,UER_2006,UI_2006,C_2006,T_2006,D_2006,UI_normalized_2006,UER_normalized_2006,...,D_2010,UI_normalized_2010,UER_normalized_2010,C2_2010,T2_2010,D2_2010,Delta_UER,Delta_UI,DI,DI_Category
0,Beijing,110000,2006,0.137433,0.210078,0.977907,0.173756,0.412210,0.202760,0.702098,...,0.431877,0.200826,0.839766,0.789294,0.520296,0.640833,0.224613,-0.016062,-13.983872,Strong negative decoupling / Negative decoupling
1,Tianjin,120000,2006,0.103581,0.168235,0.971300,0.135908,0.363328,0.160479,0.529117,...,0.416281,0.190941,0.760175,0.801130,0.475558,0.617239,0.470873,0.171589,2.744191,Negative decoupling of expansion / Negative de...
2,Shijiazhuang,130100,2006,0.135975,0.075086,0.957483,0.105530,0.317873,0.066357,0.694645,...,0.343059,0.069926,0.868715,0.525158,0.469321,0.496455,0.280409,0.059519,4.711286,Negative decoupling of expansion / Negative de...
3,Tangshan,130200,2006,0.137393,0.076543,0.958697,0.106968,0.320234,0.067829,0.701890,...,0.338683,0.066281,0.863673,0.514562,0.464977,0.489142,0.259842,-0.006908,-37.613687,Strong negative decoupling / Negative decoupling
4,Qinhuangdao,130300,2006,0.140799,0.069600,0.941002,0.105200,0.314632,0.060814,0.719298,...,0.330275,0.054742,0.916151,0.461319,0.485446,0.473229,0.304040,-0.068890,-4.413412,Strong negative decoupling / Negative decoupling
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,Guyuan,640400,2006,0.129806,0.020694,0.688750,0.075250,0.227659,0.011397,0.663123,...,0.224820,0.005639,0.745015,0.172687,0.375327,0.254586,0.150312,-0.173223,-0.867736,Strong negative decoupling / Negative decoupling
286,Zhongwei,640500,2006,0.126115,0.030682,0.793445,0.078398,0.249409,0.021489,0.644263,...,0.217388,0.012220,0.474050,0.313042,0.243135,0.275883,-0.246529,-0.234007,1.053514,Recession connection / Connection
287,Xinjiang,650000,2006,0.087788,0.075510,0.997170,0.081649,0.285338,0.066786,0.448413,...,0.246183,0.016140,0.671055,0.302887,0.343597,0.322601,0.532082,-0.638332,-0.833551,Strong negative decoupling / Negative decoupling
288,Urumuchi,650100,2006,0.100333,0.097620,0.999906,0.098976,0.314590,0.089127,0.512516,...,0.345146,0.094128,0.686991,0.651100,0.390560,0.504275,0.372347,0.055761,6.677574,Negative decoupling of expansion / Negative de...
289,Kelamayi,650200,2006,0.121824,0.102816,0.996414,0.112320,0.334540,0.094377,0.622335,...,0.327034,0.063062,0.783035,0.525271,0.423048,0.471397,0.288216,-0.291095,-0.990109,Strong negative decoupling / Negative decoupling

In [45]:
# 读取shapefile
shapefile_path = 'data/Chinamap_2019/Merged_Municipalities.shp'
gdf = gpd.read_file(shapefile_path)

In [46]:
gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 317 entries, 0 to 316
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Prvnc_c   317 non-null    float64
 1   City_cd   317 non-null    object
 2   Area      317 non-null    object
 3   Name      286 non-null    object
 4   geometry  317 non-null    geometry
dtypes: float64(1), geometry(1), object(3)
memory usage: 12.5+ KB

In [75]:
df_merged2['Citycode'] = df_merged2['Citycode'].astype(float)
gdf['City_cd'] = gdf['City_cd'].astype(float)

In [76]:

# 根据Citycode和市代码进行连接，保留不匹配的行
data_merged3 = gdf.merge(df_merged2, left_on='City_cd', right_on='Citycode', how='outer')

In [82]:
data_merged3

,Prvnc_c,City_cd,Area,Name,geometry,Name_of_Regions_x_2006,Citycode,Year_x,UER_2006,UI_2006,...,D_2010,UI_normalized_2010,UER_normalized_2010,C2_2010,T2_2010,D2_2010,Delta_UER,Delta_UI,DI,DI_Category
0,460000.0,460000.0,0,Hainan,"MULTIPOLYGON (((509245.473 1880004.210, 509230...",Hainan,460000.0,2006.0,0.126850,0.062596,...,0.279759,0.029700,0.754980,0.381667,0.392340,0.386967,0.192857,-0.353294,-0.545881,Strong negative decoupling / Negative decoupling
1,540000.0,540000.0,0,Tibet,"POLYGON ((-1051759.214 2954966.840, -1051995.7...",Tibet,540000.0,2006.0,0.057672,0.022349,...,0.207468,0.004016,0.595070,0.163205,0.299543,0.221104,1.068123,-0.304972,-3.502358,Strong negative decoupling / Negative decoupling
2,630000.0,630000.0,0,Qinghai,"POLYGON ((-228508.104 3789259.226, -228464.693...",Qinghai,630000.0,2006.0,0.122428,0.054317,...,0.238689,0.012656,0.676889,0.268455,0.344772,0.304230,0.108137,-0.559522,-0.193266,Strong negative decoupling / Negative decoupling
3,650000.0,650000.0,0,xinjiang,"POLYGON ((-1766120.224 3995392.661, -1766246.1...",Xinjiang,650000.0,2006.0,0.087788,0.075510,...,0.246183,0.016140,0.671055,0.302887,0.343597,0.322601,0.532082,-0.638332,-0.833551,Strong negative decoupling / Negative decoupling
4,110000.0,110000.0,16405,Beijing,"POLYGON ((964331.264 4474013.823, 964404.983 4...",Beijing,110000.0,2006.0,0.137433,0.210078,...,0.431877,0.200826,0.839766,0.789294,0.520296,0.640833,0.224613,-0.016062,-13.983872,Strong negative decoupling / Negative decoupling
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312,640000.0,640400.0,10524,Guyuan,"MULTIPOLYGON (((93771.810 3789604.316, 93641.5...",Guyuan,640400.0,2006.0,0.129806,0.020694,...,0.224820,0.005639,0.745015,0.172687,0.375327,0.254586,0.150312,-0.173223,-0.867736,Strong negative decoupling / Negative decoupling
313,640000.0,640500.0,13659,Zhongwei,"POLYGON ((75753.800 4044387.044, 76030.401 404...",Zhongwei,640500.0,2006.0,0.126115,0.030682,...,0.217388,0.012220,0.474050,0.313042,0.243135,0.275883,-0.246529,-0.234007,1.053514,Recession connection / Connection
314,710000.0,710000.0,36200,NaN,"MULTIPOLYGON (((1725282.722 2422889.823, 17253...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315,810000.0,810000.0,1115,NaN,"MULTIPOLYGON (((926766.217 2342789.464, 926841...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316,820000.0,820000.0,34,NaN,"MULTIPOLYGON (((891332.431 2339835.922, 891974...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [81]:
# 查找 Name_of_Regions_x_2010 有值但是 Name 列无值的行
rows_with_value_in_Regions_but_not_in_Name = data_merged3[(data_merged3['Name_of_Regions_x_2010'].notna()) & (data_merged3['Name'].isna())]

# 输出符合条件的行
print(rows_with_value_in_Regions_but_not_in_Name)

Empty GeoDataFrame
Columns: [Prvnc_c, City_cd, Area, Name, geometry, Name_of_Regions_x_2006, Citycode, Year_x, UER_2006, UI_2006, C_2006, T_2006, D_2006, UI_normalized_2006, UER_normalized_2006, C2_2006, T2_2006, D2_2006, Name_of_Regions_x_2010, Year, UER_2010, UI_2010, C_2010, T_2010, D_2010, UI_normalized_2010, UER_normalized_2010, C2_2010, T2_2010, D2_2010, Delta_UER, Delta_UI, DI, DI_Category]
Index: []

[0 rows x 34 columns]

In [79]:
# 删除 geometry 列为空值的行
data_merged3 = data_merged3.dropna(subset=['geometry'])

In [80]:
# 查找 geometry 列为空值的行
rows_with_nan_in_geometry = data_merged3[data_merged3['geometry'].isna()]

# 输出包含 geometry 列为空值的行
print(rows_with_nan_in_geometry)

Empty GeoDataFrame
Columns: [Prvnc_c, City_cd, Area, Name, geometry, Name_of_Regions_x_2006, Citycode, Year_x, UER_2006, UI_2006, C_2006, T_2006, D_2006, UI_normalized_2006, UER_normalized_2006, C2_2006, T2_2006, D2_2006, Name_of_Regions_x_2010, Year, UER_2010, UI_2010, C_2010, T_2010, D_2010, UI_normalized_2010, UER_normalized_2010, C2_2010, T2_2010, D2_2010, Delta_UER, Delta_UI, DI, DI_Category]
Index: []

[0 rows x 34 columns]

In [83]:
# 修改列名称“省代码”为“province”
data_merged3 = data_merged3.rename(columns={'省代码': 'Provincecode'})
# 修改列名称“省代码”为“province”
data_merged3 = data_merged3.rename(columns={'省': 'Province'})
# 修改列名称“省代码”为“province”
data_merged3 = data_merged3.rename(columns={'市代码': 'Citycode1'})
data_merged3 = data_merged3.rename(columns={'市': 'City'})
data_merged3 = data_merged3.rename(columns={'类型': 'Type'})

In [84]:
# 将data_merged导出为新的shapefile
output_shapefile_path = 'data/Chinamap_2019/CouplingValue_20062010.shp'
data_merged3.to_file(output_shapefile_path, driver='ESRI Shapefile')

/tmp/ipykernel_31992/3462740497.py:3: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  data_merged3.to_file(output_shapefile_path, driver='ESRI Shapefile')