In [74]:
import pandas as pd
import numpy as np
import geopandas as gpd
import matplotlib.pyplot as plt

In [75]:
# 导入主表
df = pd.read_excel("UI_UER_2018.xlsx")   # 含 Citycode

In [3]:
df

,UrbanPopulation,Surface_Area_of_Built_District,Road_Surface_Area_Per_Capita_m2,Parkland_per_capita,Rate_of_non_hazardous_treatment_of_domestic_waste(%),Population_urbanization,GDP,First_sector_of_GDP,Industrial_wastewater_discharge_(tonnes),Industrial_fume_emissions_(tonnes),Comprehensive_industrial_solid_waste_utilisation_rate(%),Citycode,Area_of_administrative_districts,Greening_coverage_in_builtup_areas,Year
0,1863.40,1469.05,7.57,16.30,99.94,0.8650,303199787,0.39,8422,15343,68.93,110000,16405,48.44,2018
1,1296.81,1077.83,11.67,9.38,98.37,0.8315,188096400,0.92,17729,34837,98.90,120000,11924,38.03,2018
2,281.16,309.12,21.77,16.35,100.00,0.6316,60826180,6.91,6660,27420,84.00,130100,14058,41.16,2018
3,193.99,249.00,18.02,15.54,100.00,0.6314,69549700,7.09,7877,227824,74.41,130200,13808,41.51,2018
4,100.90,138.43,17.74,17.89,100.00,0.5942,16355631,12.43,2023,19289,77.46,130300,7792,41.29,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,18.75,55.13,28.39,23.96,98.00,0.5018,5345336,12.45,1456,9699,61.70,640300,16747,41.04,2018
275,17.65,44.10,28.65,25.55,87.95,0.3793,3031944,19.07,106,1334,77.19,640400,10524,36.45,2018
276,17.24,32.00,31.68,24.14,96.54,0.4441,4029947,14.32,1458,25261,34.50,640500,13659,40.10,2018
277,216.98,458.36,11.76,12.70,99.97,0.9015,30997659,0.82,2739,29183,84.94,650100,13793,41.90,2018
278,30.49,75.78,27.38,11.07,100.00,0.6855,8981420,0.56,1747,2365,95.93,650200,7374,43.29,2018

In [76]:
# CO2
co2 = pd.read_excel("CO2_2018.xlsx")      # 含 Citycode, CO2
df = df.merge(co2[['Citycode', 'CO2']], on='Citycode', how='left')

# ISA
isa = pd.read_excel("ISA_2018.xlsx")      # 含 CITY_ID, ISA
df = df.merge(isa[['CITY_ID', 'ISA']], left_on='Citycode', right_on='CITY_ID', how='left')
df = df.drop(columns=['CITY_ID'])

# NPP
npp = pd.read_excel("NPP_2018_withCitycode.xlsx")   # 含 Citycode, NPP
df = df.merge(npp[['Citycode', 'NPP']], on='Citycode', how='left')

# NTL
ntl = pd.read_excel("NTL_2018.xlsx")      # 含 CITY_ID, NTL
df = df.merge(ntl[['CITY_ID', 'NTL']], left_on='Citycode', right_on='CITY_ID', how='left')
df = df.drop(columns=['CITY_ID'])

# PD
pd_df = pd.read_excel("PD_2018.xlsx")     # 含 CITY_ID, PD
df = df.merge(pd_df[['CITY_ID', 'PD']], left_on='Citycode', right_on='CITY_ID', how='left')
df = df.drop(columns=['CITY_ID'])

# PM2.5
pm25 = pd.read_excel("PM25_2018.xlsx")    # 含 CITY_ID, pm2.5
df = df.merge(pm25[['CITY_ID', 'pm2.5']], left_on='Citycode', right_on='CITY_ID', how='left')
df = df.drop(columns=['CITY_ID'])

# Science expenditure
sci = pd.read_excel("SCI_EXP_2018.xlsx")  # 含 Citycode, Science_expend
df = df.merge(sci[['Citycode', 'Science_expend']], on='Citycode', how='left')

# Water & SO2
water = pd.read_excel("Water_SO2_2018.xlsx")   # 含 code, SO2_REMOVE, Sewage
df = df.merge(water[['code', 'SO2_REMOVE', 'Sewage']], left_on='Citycode', right_on='code', how='left')
df = df.drop(columns=['code'])

In [5]:
df

,UrbanPopulation,Surface_Area_of_Built_District,Road_Surface_Area_Per_Capita_m2,Parkland_per_capita,Rate_of_non_hazardous_treatment_of_domestic_waste(%),Population_urbanization,GDP,First_sector_of_GDP,Industrial_wastewater_discharge_(tonnes),Industrial_fume_emissions_(tonnes),...,Year,CO2,ISA,NPP,NTL,PD,pm2.5,Science_expend,SO2_REMOVE,Sewage
0,1863.40,1469.05,7.57,16.30,99.94,0.8650,303199787,0.39,8422,15343,...,2018,7.770419e+07,3785.89,394.495891,21.822723,815.164360,44.181914,4258712.0,2.663600e+05,93.40
1,1296.81,1077.83,11.67,9.38,98.37,0.8315,188096400,0.92,17729,34837,...,2018,1.363200e+08,4174.41,323.642983,32.245306,773.890543,52.719044,1057097.0,1.313982e+06,97.90
2,281.16,309.12,21.77,16.35,100.00,0.6316,60826180,6.91,6660,27420,...,2018,8.437159e+07,2984.41,331.391650,13.374237,508.018182,60.314583,118720.0,1.123190e+06,99.66
3,193.99,249.00,18.02,15.54,100.00,0.6314,69549700,7.09,7877,227824,...,2018,2.852219e+08,3583.20,379.800367,18.809018,380.437366,47.485508,89057.0,1.436456e+06,98.60
4,100.90,138.43,17.74,17.89,100.00,0.5942,16355631,12.43,2023,19289,...,2018,2.105100e+07,1059.48,457.052577,9.079858,261.978828,39.749057,30638.0,1.858660e+05,97.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,18.75,55.13,28.39,23.96,98.00,0.5018,5345336,12.45,1456,9699,...,2018,3.011434e+07,124.01,204.659870,2.734456,55.286481,37.701536,24809.0,-7.769000e+03,91.30
275,17.65,44.10,28.65,25.55,87.95,0.3793,3031944,19.07,106,1334,...,2018,4.789348e+06,20.02,453.185472,1.712117,78.784283,36.444961,10375.0,1.272857e+03,91.82
276,17.24,32.00,31.68,24.14,96.54,0.4441,4029947,14.32,1458,25261,...,2018,1.296226e+07,107.75,216.261565,2.055808,59.940479,38.600668,17388.0,-3.752270e+05,97.98
277,216.98,458.36,11.76,12.70,99.97,0.9015,30997659,0.82,2739,29183,...,2018,6.563227e+07,429.58,172.610234,7.521938,145.849026,33.497680,102288.0,4.575160e+05,98.73
278,30.49,75.78,27.38,11.07,100.00,0.6855,8981420,0.56,1747,2365,...,2018,9.388422e+06,120.20,81.722208,8.173919,30.396803,34.900966,16272.0,-2.277800e+04,95.11

In [77]:
# Removes rows containing NaN values in the specified columns
columns_to_check = [ 
    'First_sector_of_GDP', 
    'GDP', 
    'Citycode', 
    'Area_of_administrative_districts',
    'NTL',
    'ISA',
    'PD'
    
]
df_cleaned = df.dropna(subset=columns_to_check)

In [7]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 278 entries, 0 to 278
Data columns (total 24 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   UrbanPopulation                                           278 non-null    float64
 1   Surface_Area_of_Built_District                            278 non-null    float64
 2   Road_Surface_Area_Per_Capita_m2                           278 non-null    float64
 3   Parkland_per_capita                                       278 non-null    float64
 4   Rate_of_non_hazardous_treatment_of_domestic_waste(%)      278 non-null    float64
 5   Population_urbanization                                   278 non-null    float64
 6   GDP                                                       278 non-null    int64
 7   First_sector_of_GDP                                       278 non-null    float64
 8   Industrial_wastewater_discharge_(tonnes)                  278 non-null    int64
 9   Industrial_fume_emissions_(tonnes)                        278 non-null    int64
 10  Comprehensive_industrial_solid_waste_utilisation_rate(%)  278 non-null    float64
 11  Citycode                                                  278 non-null    int64
 12  Area_of_administrative_districts                          278 non-null    int64
 13  Greening_coverage_in_builtup_areas                        278 non-null    float64
 14  Year                                                      278 non-null    int64
 15  CO2                                                       278 non-null    float64
 16  ISA                                                       278 non-null    float64
 17  NPP                                                       278 non-null    float64
 18  NTL                                                       278 non-null    float64
 19  PD                                                        278 non-null    float64
 20  pm2.5                                                     278 non-null    float64
 21  Science_expend                                            278 non-null    float64
 22  SO2_REMOVE                                                275 non-null    float64
 23  Sewage                                                    278 non-null    float64
dtypes: float64(18), int64(6)
memory usage: 54.3 KB

In [8]:
# Specify the columns to check for NaN values
columns_to_check = [
    'Population_urbanization',
    'PD',
    'ISA',
    'UrbanPopulation', 
    'First_sector_of_GDP', 
    'GDP', 
    'NTL',
    'Citycode', 
    'Road_Surface_Area_Per_Capita_m2',
]

# Convert these columns to numeric types to handle non-numeric content
for column in columns_to_check:
    df_cleaned[column] = pd.to_numeric(df_cleaned[column], errors='coerce')

/tmp/ipykernel_77677/2789612693.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned[column] = pd.to_numeric(df_cleaned[column], errors='coerce')

In [9]:
df_cleaned['PUI'] = (df_cleaned['Population_urbanization'])

/tmp/ipykernel_77677/629985429.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['PUI'] = (df_cleaned['Population_urbanization'])

In [10]:
df_cleaned

,UrbanPopulation,Surface_Area_of_Built_District,Road_Surface_Area_Per_Capita_m2,Parkland_per_capita,Rate_of_non_hazardous_treatment_of_domestic_waste(%),Population_urbanization,GDP,First_sector_of_GDP,Industrial_wastewater_discharge_(tonnes),Industrial_fume_emissions_(tonnes),...,CO2,ISA,NPP,NTL,PD,pm2.5,Science_expend,SO2_REMOVE,Sewage,PUI
0,1685.90,1186.00,5.57,11.28,96.95,0.8433,121530000,0.97,8198.0,21266.0,...,7.292345e+07,3333.80,309.232602,18.090527,580.735080,66.177431,1789154.0,129888.0,80.36,0.8433
1,587.40,686.71,14.89,8.56,100.00,0.7572,75218500,1.71,19680.0,53831.0,...,1.187070e+08,3524.78,258.074621,22.253577,601.187944,80.746845,432530.0,374014.0,86.10,0.7572
2,227.60,202.90,16.91,14.39,100.00,0.3904,30012797,10.27,19254.0,32631.0,...,7.539732e+07,2494.87,257.810521,8.821829,464.547330,84.157414,45021.0,371446.0,95.06,0.3904
3,193.08,234.00,15.12,15.13,100.00,0.3128,38127192,9.45,18170.0,98670.0,...,2.337953e+08,3079.26,309.636095,12.898492,371.363943,69.188712,47728.0,410080.0,94.41,0.3128
4,82.97,89.48,19.44,19.90,100.00,0.4053,8045421,12.72,5608.0,11365.0,...,2.081210e+07,898.59,386.528173,6.276958,248.421070,56.350381,7799.0,63450.0,92.52,0.4053
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,18.33,28.21,20.12,19.19,99.43,0.3104,1858945,16.09,6944.0,14200.0,...,2.310977e+07,83.75,163.392834,1.713810,49.170537,44.528475,3424.0,2359.0,35.36,0.3104
275,15.30,34.62,19.06,8.52,100.00,0.1222,879280,27.45,142.0,1000.0,...,4.915335e+06,14.96,353.855949,1.072682,91.216047,44.647602,3865.0,594.0,63.83,0.1222
276,18.30,32.04,19.02,11.62,45.09,0.2169,1429824,18.14,5300.0,27833.0,...,9.040197e+06,86.44,159.453958,1.319449,54.829362,47.924572,2803.0,20325.0,91.82,0.2169
277,243.04,342.67,7.18,7.39,87.40,0.9744,10945200,1.50,5822.0,32993.0,...,5.666714e+07,356.26,163.047724,4.037538,106.633748,46.984990,21497.0,68796.0,73.77,0.9744
278,26.13,57.16,23.60,9.04,94.87,0.7686,4802909,0.66,1580.0,6010.0,...,5.561935e+06,90.73,64.929152,4.031482,21.563319,43.248923,9943.0,18070.0,91.85,0.7686

In [10]:
df_cleaned['PUI'].describe()

count    278.000000
mean       0.580101
std        0.132154
min        0.252100
25%        0.492050
50%        0.562750
75%        0.665675
max        0.997500
Name: PUI, dtype: float64

In [11]:
df_cleaned['PD'].describe()

count     278.000000
mean      355.289849
std       427.748954
min         4.453990
25%       128.637603
50%       252.424169
75%       454.018475
max      4397.916256
Name: PD, dtype: float64

In [12]:
df_cleaned['LUI'] = (df_cleaned['ISA']) / df_cleaned['Area_of_administrative_districts']

/tmp/ipykernel_77677/2781354406.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['LUI'] = (df_cleaned['ISA']) / df_cleaned['Area_of_administrative_districts']

In [13]:
df_cleaned['LUI'].describe()

count    278.000000
mean       0.089532
std        0.091340
min        0.000000
25%        0.018329
50%        0.047076
75%        0.149332
max        0.488008
Name: LUI, dtype: float64

In [14]:
df_cleaned['EUI'] = 1 - (df_cleaned['First_sector_of_GDP']) / 100

/tmp/ipykernel_77677/1051056126.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['EUI'] = 1 - (df_cleaned['First_sector_of_GDP']) / 100

In [15]:
df_cleaned['EUI'].describe()

count    278.000000
mean       0.892874
std        0.069785
min        0.558100
25%        0.850750
50%        0.900650
75%        0.945150
max        0.999100
Name: EUI, dtype: float64

In [16]:
df_cleaned['EAL'] = df_cleaned['NTL']

/tmp/ipykernel_77677/309165452.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['EAL'] = df_cleaned['NTL']

In [17]:
df_cleaned['EAL'].describe()

count    278.000000
mean       9.660128
std       10.463958
min        0.215567
25%        2.451119
50%        5.528526
75%       14.323137
max       57.683265
Name: EAL, dtype: float64

In [18]:
df_cleaned

,UrbanPopulation,Surface_Area_of_Built_District,Road_Surface_Area_Per_Capita_m2,Parkland_per_capita,Rate_of_non_hazardous_treatment_of_domestic_waste(%),Population_urbanization,GDP,First_sector_of_GDP,Industrial_wastewater_discharge_(tonnes),Industrial_fume_emissions_(tonnes),...,NTL,PD,pm2.5,Science_expend,SO2_REMOVE,Sewage,PUI,LUI,EUI,EAL
0,1863.40,1469.05,7.57,16.30,99.94,0.8650,303199787,0.39,8422,15343,...,21.822723,815.164360,44.181914,4258712.0,2.663600e+05,93.40,0.8650,0.230777,0.9961,21.822723
1,1296.81,1077.83,11.67,9.38,98.37,0.8315,188096400,0.92,17729,34837,...,32.245306,773.890543,52.719044,1057097.0,1.313982e+06,97.90,0.8315,0.350085,0.9908,32.245306
2,281.16,309.12,21.77,16.35,100.00,0.6316,60826180,6.91,6660,27420,...,13.374237,508.018182,60.314583,118720.0,1.123190e+06,99.66,0.6316,0.212293,0.9309,13.374237
3,193.99,249.00,18.02,15.54,100.00,0.6314,69549700,7.09,7877,227824,...,18.809018,380.437366,47.485508,89057.0,1.436456e+06,98.60,0.6314,0.259502,0.9291,18.809018
4,100.90,138.43,17.74,17.89,100.00,0.5942,16355631,12.43,2023,19289,...,9.079858,261.978828,39.749057,30638.0,1.858660e+05,97.01,0.5942,0.135970,0.8757,9.079858
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,18.75,55.13,28.39,23.96,98.00,0.5018,5345336,12.45,1456,9699,...,2.734456,55.286481,37.701536,24809.0,-7.769000e+03,91.30,0.5018,0.007405,0.8755,2.734456
275,17.65,44.10,28.65,25.55,87.95,0.3793,3031944,19.07,106,1334,...,1.712117,78.784283,36.444961,10375.0,1.272857e+03,91.82,0.3793,0.001902,0.8093,1.712117
276,17.24,32.00,31.68,24.14,96.54,0.4441,4029947,14.32,1458,25261,...,2.055808,59.940479,38.600668,17388.0,-3.752270e+05,97.98,0.4441,0.007889,0.8568,2.055808
277,216.98,458.36,11.76,12.70,99.97,0.9015,30997659,0.82,2739,29183,...,7.521938,145.849026,33.497680,102288.0,4.575160e+05,98.73,0.9015,0.031145,0.9918,7.521938
278,30.49,75.78,27.38,11.07,100.00,0.6855,8981420,0.56,1747,2365,...,8.173919,30.396803,34.900966,16272.0,-2.277800e+04,95.11,0.6855,0.016301,0.9944,8.173919

In [19]:
# Import land_use_intensity_by_city2006.csv data
df_land_use = pd.read_csv("land_use_intensity_by_city2018.csv", encoding='ISO-8859-1')

In [20]:
df_land_use

     Citycode  Provincecode          Province            City         LUL
0    110000.0      110000.0            ±±¾©ÊÐ          ±±¾©ÊÐ  267.981578
1    120000.0      120000.0            Ìì½òÊÐ          Ìì½òÊÐ  308.834991
2    130100.0      130000.0            ºÓ±±Ê¡        Ê¯¼Ò×¯ÊÐ  289.658663
3    130200.0      130000.0            ºÓ±±Ê¡          ÌÆÉ½ÊÐ  300.846836
4    130300.0      130000.0            ºÓ±±Ê¡        ÇØ»ÊµºÊÐ  266.745952
..        ...           ...               ...             ...         ...
365  659009.0      650000.0  ÐÂ½®Î¬Îá¶û×ÔÖÎÇø          À¥ÓñÊÐ  134.378688
366  659010.0      650000.0  ÐÂ½®Î¬Îá¶û×ÔÖÎÇø        ºúÑîºÓÊÐ  259.208600
367  710000.0      710000.0            Ì¨ÍåÊ¡          Ì¨ÍåÊ¡  232.876768
368  810000.0      810000.0    Ïã¸ÛÌØ±ðÐÐÕþÇø  Ïã¸ÛÌØ±ðÐÐÕþÇø  225.626953
369  820000.0      820000.0    °ÄÃÅÌØ±ðÐÐÕþÇø  °ÄÃÅÌØ±ðÐÐÕþÇø  206.124247

[370 rows x 5 columns]

In [21]:
df_merged = df_cleaned.merge(df_land_use[['Citycode', 'LUL']], on='Citycode', how='left')

In [22]:
df_merged

,UrbanPopulation,Surface_Area_of_Built_District,Road_Surface_Area_Per_Capita_m2,Parkland_per_capita,Rate_of_non_hazardous_treatment_of_domestic_waste(%),Population_urbanization,GDP,First_sector_of_GDP,Industrial_wastewater_discharge_(tonnes),Industrial_fume_emissions_(tonnes),...,PD,pm2.5,Science_expend,SO2_REMOVE,Sewage,PUI,LUI,EUI,EAL,LUL
0,1863.40,1469.05,7.57,16.30,99.94,0.8650,303199787,0.39,8422,15343,...,815.164360,44.181914,4258712.0,2.663600e+05,93.40,0.8650,0.230777,0.9961,21.822723,267.981578
1,1296.81,1077.83,11.67,9.38,98.37,0.8315,188096400,0.92,17729,34837,...,773.890543,52.719044,1057097.0,1.313982e+06,97.90,0.8315,0.350085,0.9908,32.245306,308.834991
2,281.16,309.12,21.77,16.35,100.00,0.6316,60826180,6.91,6660,27420,...,508.018182,60.314583,118720.0,1.123190e+06,99.66,0.6316,0.212293,0.9309,13.374237,289.658663
3,193.99,249.00,18.02,15.54,100.00,0.6314,69549700,7.09,7877,227824,...,380.437366,47.485508,89057.0,1.436456e+06,98.60,0.6314,0.259502,0.9291,18.809018,300.846836
4,100.90,138.43,17.74,17.89,100.00,0.5942,16355631,12.43,2023,19289,...,261.978828,39.749057,30638.0,1.858660e+05,97.01,0.5942,0.135970,0.8757,9.079858,266.745952
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,18.75,55.13,28.39,23.96,98.00,0.5018,5345336,12.45,1456,9699,...,55.286481,37.701536,24809.0,-7.769000e+03,91.30,0.5018,0.007405,0.8755,2.734456,214.719458
274,17.65,44.10,28.65,25.55,87.95,0.3793,3031944,19.07,106,1334,...,78.784283,36.444961,10375.0,1.272857e+03,91.82,0.3793,0.001902,0.8093,1.712117,237.684385
275,17.24,32.00,31.68,24.14,96.54,0.4441,4029947,14.32,1458,25261,...,59.940479,38.600668,17388.0,-3.752270e+05,97.98,0.4441,0.007889,0.8568,2.055808,211.193633
276,216.98,458.36,11.76,12.70,99.97,0.9015,30997659,0.82,2739,29183,...,145.849026,33.497680,102288.0,4.575160e+05,98.73,0.9015,0.031145,0.9918,7.521938,135.718171
277,30.49,75.78,27.38,11.07,100.00,0.6855,8981420,0.56,1747,2365,...,30.396803,34.900966,16272.0,-2.277800e+04,95.11,0.6855,0.016301,0.9944,8.173919,70.894451

In [23]:
columns_to_check1 = ['PUI','PD', 'LUI', 'EUI', 'EAL','LUL']

data_merged = df_merged.dropna(subset=columns_to_check1)

In [24]:
data_merged

,UrbanPopulation,Surface_Area_of_Built_District,Road_Surface_Area_Per_Capita_m2,Parkland_per_capita,Rate_of_non_hazardous_treatment_of_domestic_waste(%),Population_urbanization,GDP,First_sector_of_GDP,Industrial_wastewater_discharge_(tonnes),Industrial_fume_emissions_(tonnes),...,PD,pm2.5,Science_expend,SO2_REMOVE,Sewage,PUI,LUI,EUI,EAL,LUL
0,1863.40,1469.05,7.57,16.30,99.94,0.8650,303199787,0.39,8422,15343,...,815.164360,44.181914,4258712.0,2.663600e+05,93.40,0.8650,0.230777,0.9961,21.822723,267.981578
1,1296.81,1077.83,11.67,9.38,98.37,0.8315,188096400,0.92,17729,34837,...,773.890543,52.719044,1057097.0,1.313982e+06,97.90,0.8315,0.350085,0.9908,32.245306,308.834991
2,281.16,309.12,21.77,16.35,100.00,0.6316,60826180,6.91,6660,27420,...,508.018182,60.314583,118720.0,1.123190e+06,99.66,0.6316,0.212293,0.9309,13.374237,289.658663
3,193.99,249.00,18.02,15.54,100.00,0.6314,69549700,7.09,7877,227824,...,380.437366,47.485508,89057.0,1.436456e+06,98.60,0.6314,0.259502,0.9291,18.809018,300.846836
4,100.90,138.43,17.74,17.89,100.00,0.5942,16355631,12.43,2023,19289,...,261.978828,39.749057,30638.0,1.858660e+05,97.01,0.5942,0.135970,0.8757,9.079858,266.745952
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,18.75,55.13,28.39,23.96,98.00,0.5018,5345336,12.45,1456,9699,...,55.286481,37.701536,24809.0,-7.769000e+03,91.30,0.5018,0.007405,0.8755,2.734456,214.719458
274,17.65,44.10,28.65,25.55,87.95,0.3793,3031944,19.07,106,1334,...,78.784283,36.444961,10375.0,1.272857e+03,91.82,0.3793,0.001902,0.8093,1.712117,237.684385
275,17.24,32.00,31.68,24.14,96.54,0.4441,4029947,14.32,1458,25261,...,59.940479,38.600668,17388.0,-3.752270e+05,97.98,0.4441,0.007889,0.8568,2.055808,211.193633
276,216.98,458.36,11.76,12.70,99.97,0.9015,30997659,0.82,2739,29183,...,145.849026,33.497680,102288.0,4.575160e+05,98.73,0.9015,0.031145,0.9918,7.521938,135.718171
277,30.49,75.78,27.38,11.07,100.00,0.6855,8981420,0.56,1747,2365,...,30.396803,34.900966,16272.0,-2.277800e+04,95.11,0.6855,0.016301,0.9944,8.173919,70.894451

In [25]:
columns_to_keep = ['Year', 'Citycode', 'PUI','PD', 'LUI', 'EUI', 'EAL','LUL']
ui_index_2006 = data_merged[columns_to_keep]

ui_index_2006.to_csv('UI_index_2018.csv', index=False)

In [78]:
columns_to_fill = [
    'Industrial_wastewater_discharge_(tonnes)', 
    'Industrial_fume_emissions_(tonnes)', 
    'pm2.5',
    'CO2',
    'Comprehensive_industrial_solid_waste_utilisation_rate(%)', 
    'Rate_of_non_hazardous_treatment_of_domestic_waste(%)', 
    'Sewage',
    'SO2_REMOVE',
    'Greening_coverage_in_builtup_areas', 
    'Parkland_per_capita',
    'NPP',
    'Science_expend'
]

df_cleaned[columns_to_fill] = df_cleaned[columns_to_fill].fillna(0)

/tmp/ipykernel_77677/1814290371.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned[columns_to_fill] = df_cleaned[columns_to_fill].fillna(0)

In [79]:
df_cleaned

,UrbanPopulation,Surface_Area_of_Built_District,Road_Surface_Area_Per_Capita_m2,Parkland_per_capita,Rate_of_non_hazardous_treatment_of_domestic_waste(%),Population_urbanization,GDP,First_sector_of_GDP,Industrial_wastewater_discharge_(tonnes),Industrial_fume_emissions_(tonnes),...,Year,CO2,ISA,NPP,NTL,PD,pm2.5,Science_expend,SO2_REMOVE,Sewage
0,1863.40,1469.05,7.57,16.30,99.94,0.8650,303199787,0.39,8422,15343,...,2018,7.770419e+07,3785.89,394.495891,21.822723,815.164360,44.181914,4258712.0,2.663600e+05,93.40
1,1296.81,1077.83,11.67,9.38,98.37,0.8315,188096400,0.92,17729,34837,...,2018,1.363200e+08,4174.41,323.642983,32.245306,773.890543,52.719044,1057097.0,1.313982e+06,97.90
2,281.16,309.12,21.77,16.35,100.00,0.6316,60826180,6.91,6660,27420,...,2018,8.437159e+07,2984.41,331.391650,13.374237,508.018182,60.314583,118720.0,1.123190e+06,99.66
3,193.99,249.00,18.02,15.54,100.00,0.6314,69549700,7.09,7877,227824,...,2018,2.852219e+08,3583.20,379.800367,18.809018,380.437366,47.485508,89057.0,1.436456e+06,98.60
4,100.90,138.43,17.74,17.89,100.00,0.5942,16355631,12.43,2023,19289,...,2018,2.105100e+07,1059.48,457.052577,9.079858,261.978828,39.749057,30638.0,1.858660e+05,97.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,18.75,55.13,28.39,23.96,98.00,0.5018,5345336,12.45,1456,9699,...,2018,3.011434e+07,124.01,204.659870,2.734456,55.286481,37.701536,24809.0,-7.769000e+03,91.30
275,17.65,44.10,28.65,25.55,87.95,0.3793,3031944,19.07,106,1334,...,2018,4.789348e+06,20.02,453.185472,1.712117,78.784283,36.444961,10375.0,1.272857e+03,91.82
276,17.24,32.00,31.68,24.14,96.54,0.4441,4029947,14.32,1458,25261,...,2018,1.296226e+07,107.75,216.261565,2.055808,59.940479,38.600668,17388.0,-3.752270e+05,97.98
277,216.98,458.36,11.76,12.70,99.97,0.9015,30997659,0.82,2739,29183,...,2018,6.563227e+07,429.58,172.610234,7.521938,145.849026,33.497680,102288.0,4.575160e+05,98.73
278,30.49,75.78,27.38,11.07,100.00,0.6855,8981420,0.56,1747,2365,...,2018,9.388422e+06,120.20,81.722208,8.173919,30.396803,34.900966,16272.0,-2.277800e+04,95.11

In [80]:
#导出进行shap
df_cleaned.to_csv('All_indi_2018.csv', index=False)

In [28]:
df_cleaned['Res1'] = df_cleaned['Industrial_wastewater_discharge_(tonnes)'] / df_cleaned['GDP']

/tmp/ipykernel_77677/2666823736.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Res1'] = df_cleaned['Industrial_wastewater_discharge_(tonnes)'] / df_cleaned['GDP']

In [29]:
df_cleaned['Res1'].describe()

count    278.000000
mean       0.000165
std        0.000177
min        0.000005
25%        0.000077
50%        0.000132
75%        0.000196
max        0.002376
Name: Res1, dtype: float64

In [30]:
df_cleaned['Res2'] = df_cleaned['Industrial_fume_emissions_(tonnes)'] / df_cleaned['GDP']

/tmp/ipykernel_77677/2575824147.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Res2'] = df_cleaned['Industrial_fume_emissions_(tonnes)'] / df_cleaned['GDP']

In [31]:
df_cleaned['Res2'].describe()

count    278.000000
mean       0.000957
std        0.001437
min        0.000002
25%        0.000220
50%        0.000439
75%        0.001180
max        0.014386
Name: Res2, dtype: float64

In [32]:
df_cleaned['Res3'] = df_cleaned['pm2.5']

/tmp/ipykernel_77677/2715485576.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Res3'] = df_cleaned['pm2.5']

In [33]:
df_cleaned['Res3'].describe()

count    278.000000
mean      37.461205
std       10.875807
min       18.020665
25%       29.119663
50%       34.885718
75%       45.247574
max       63.336712
Name: Res3, dtype: float64

In [34]:
df_cleaned['Res4'] = df_cleaned['CO2']

/tmp/ipykernel_77677/4017769138.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Res4'] = df_cleaned['CO2']

In [35]:
df_cleaned['Res4'].describe()

count    2.780000e+02
mean     3.536310e+07
std      3.401502e+07
min      1.860036e+06
25%      1.435859e+07
50%      2.538783e+07
75%      4.486293e+07
max      2.852219e+08
Name: Res4, dtype: float64

In [36]:
df_cleaned['Ada1'] = df_cleaned['Comprehensive_industrial_solid_waste_utilisation_rate(%)'] 
df_cleaned['Ada1'].describe()

/tmp/ipykernel_77677/526319254.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Ada1'] = df_cleaned['Comprehensive_industrial_solid_waste_utilisation_rate(%)']

count    278.000000
mean      74.498489
std       25.273051
min        0.340000
25%       59.845000
50%       83.565000
75%       95.112500
max      100.000000
Name: Ada1, dtype: float64

In [37]:
rows_ada1_above_100 = df_cleaned[df_cleaned['Ada1'] > 100]
rows_ada1_above_100

Empty DataFrame
Columns: [UrbanPopulation, Surface_Area_of_Built_District, Road_Surface_Area_Per_Capita_m2, Parkland_per_capita, Rate_of_non_hazardous_treatment_of_domestic_waste(%), Population_urbanization, GDP, First_sector_of_GDP, Industrial_wastewater_discharge_(tonnes), Industrial_fume_emissions_(tonnes), Comprehensive_industrial_solid_waste_utilisation_rate(%), Citycode, Area_of_administrative_districts, Greening_coverage_in_builtup_areas, Year, CO2, ISA, NPP, NTL, PD, pm2.5, Science_expend, SO2_REMOVE, Sewage, PUI, LUI, EUI, EAL, Res1, Res2, Res3, Res4, Ada1]
Index: []

[0 rows x 33 columns]

In [38]:
df_cleaned['Ada2'] = df_cleaned['Rate_of_non_hazardous_treatment_of_domestic_waste(%)'] 
df_cleaned['Ada2'].describe()

/tmp/ipykernel_77677/2482281589.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Ada2'] = df_cleaned['Rate_of_non_hazardous_treatment_of_domestic_waste(%)']

count    278.000000
mean      98.343381
std        4.107074
min       68.690000
25%       98.962500
50%      100.000000
75%      100.000000
max      100.000000
Name: Ada2, dtype: float64

In [39]:
rows_ada2_above_100 = df_cleaned[df_cleaned['Ada2'] > 100]
rows_ada2_above_100

Empty DataFrame
Columns: [UrbanPopulation, Surface_Area_of_Built_District, Road_Surface_Area_Per_Capita_m2, Parkland_per_capita, Rate_of_non_hazardous_treatment_of_domestic_waste(%), Population_urbanization, GDP, First_sector_of_GDP, Industrial_wastewater_discharge_(tonnes), Industrial_fume_emissions_(tonnes), Comprehensive_industrial_solid_waste_utilisation_rate(%), Citycode, Area_of_administrative_districts, Greening_coverage_in_builtup_areas, Year, CO2, ISA, NPP, NTL, PD, pm2.5, Science_expend, SO2_REMOVE, Sewage, PUI, LUI, EUI, EAL, Res1, Res2, Res3, Res4, Ada1, Ada2]
Index: []

[0 rows x 34 columns]

In [40]:
df_cleaned['Ada3'] = df_cleaned['SO2_REMOVE'] 
df_cleaned['Ada3'].describe()

/tmp/ipykernel_77677/2674187087.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Ada3'] = df_cleaned['SO2_REMOVE']

count    2.780000e+02
mean     2.316365e+05
std      5.214053e+05
min     -2.180303e+06
25%      5.905250e+03
50%      1.130485e+05
75%      3.865942e+05
max      4.559041e+06
Name: Ada3, dtype: float64

In [41]:
df_cleaned['Ada4'] = df_cleaned['Sewage'] 
df_cleaned['Ada4'].describe()

/tmp/ipykernel_77677/2337404170.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Ada4'] = df_cleaned['Sewage']

count    278.000000
mean      92.256552
std        7.809649
min       46.080000
25%       90.322500
50%       94.590000
75%       96.730000
max      100.000000
Name: Ada4, dtype: float64

In [42]:
df_cleaned['Rec1'] = df_cleaned['Greening_coverage_in_builtup_areas'] 
df_cleaned['Rec2'] = df_cleaned['Parkland_per_capita'] 
df_cleaned['Rec3'] = df_cleaned['NPP'] 
df_cleaned['Rec4'] = df_cleaned['Science_expend']

/tmp/ipykernel_77677/2463940865.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Rec1'] = df_cleaned['Greening_coverage_in_builtup_areas']
/tmp/ipykernel_77677/2463940865.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Rec2'] = df_cleaned['Parkland_per_capita']
/tmp/ipykernel_77677/2463940865.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Rec3'] = df_cleaned['NPP']
/tmp/ipykernel_77677/2463940865.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Rec4'] = df_cleaned['Science_expend']

In [43]:
df_cleaned['Rec3'].describe()

count     278.000000
mean      573.306542
std       229.613687
min        81.722208
25%       431.479501
50%       543.679440
75%       693.088222
max      1288.940980
Name: Rec3, dtype: float64

In [44]:
rows_rec1_above_100 = df_cleaned[df_cleaned['Rec1'] > 100]
rows_rec1_above_100

Empty DataFrame
Columns: [UrbanPopulation, Surface_Area_of_Built_District, Road_Surface_Area_Per_Capita_m2, Parkland_per_capita, Rate_of_non_hazardous_treatment_of_domestic_waste(%), Population_urbanization, GDP, First_sector_of_GDP, Industrial_wastewater_discharge_(tonnes), Industrial_fume_emissions_(tonnes), Comprehensive_industrial_solid_waste_utilisation_rate(%), Citycode, Area_of_administrative_districts, Greening_coverage_in_builtup_areas, Year, CO2, ISA, NPP, NTL, PD, pm2.5, Science_expend, SO2_REMOVE, Sewage, PUI, LUI, EUI, EAL, Res1, Res2, Res3, Res4, Ada1, Ada2, Ada3, Ada4, Rec1, Rec2, Rec3, Rec4]
Index: []

[0 rows x 40 columns]

In [46]:
df_cleaned['Rec4'].describe()

count    2.780000e+02
mean     1.646657e+05
std      5.259628e+05
min      1.526000e+03
25%      1.482975e+04
50%      4.175000e+04
75%      1.100018e+05
max      5.549817e+06
Name: Rec4, dtype: float64

In [47]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 278 entries, 0 to 278
Data columns (total 40 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   UrbanPopulation                                           278 non-null    float64
 1   Surface_Area_of_Built_District                            278 non-null    float64
 2   Road_Surface_Area_Per_Capita_m2                           278 non-null    float64
 3   Parkland_per_capita                                       278 non-null    float64
 4   Rate_of_non_hazardous_treatment_of_domestic_waste(%)      278 non-null    float64
 5   Population_urbanization                                   278 non-null    float64
 6   GDP                                                       278 non-null    int64
 7   First_sector_of_GDP                                       278 non-null    float64
 8   Industrial_wastewater_discharge_(tonnes)                  278 non-null    int64
 9   Industrial_fume_emissions_(tonnes)                        278 non-null    int64
 10  Comprehensive_industrial_solid_waste_utilisation_rate(%)  278 non-null    float64
 11  Citycode                                                  278 non-null    int64
 12  Area_of_administrative_districts                          278 non-null    int64
 13  Greening_coverage_in_builtup_areas                        278 non-null    float64
 14  Year                                                      278 non-null    int64
 15  CO2                                                       278 non-null    float64
 16  ISA                                                       278 non-null    float64
 17  NPP                                                       278 non-null    float64
 18  NTL                                                       278 non-null    float64
 19  PD                                                        278 non-null    float64
 20  pm2.5                                                     278 non-null    float64
 21  Science_expend                                            278 non-null    float64
 22  SO2_REMOVE                                                278 non-null    float64
 23  Sewage                                                    278 non-null    float64
 24  PUI                                                       278 non-null    float64
 25  LUI                                                       278 non-null    float64
 26  EUI                                                       278 non-null    float64
 27  EAL                                                       278 non-null    float64
 28  Res1                                                      278 non-null    float64
 29  Res2                                                      278 non-null    float64
 30  Res3                                                      278 non-null    float64
 31  Res4                                                      278 non-null    float64
 32  Ada1                                                      278 non-null    float64
 33  Ada2                                                      278 non-null    float64
 34  Ada3                                                      278 non-null    float64
 35  Ada4                                                      278 non-null    float64
 36  Rec1                                                      278 non-null    float64
 37  Rec2                                                      278 non-null    float64
 38  Rec3                                                      278 non-null    float64
 39  Rec4                                                      278 non-null    float64
dtypes: float64(34), int64(6)
memory usage: 89.0 KB

In [48]:
columns_to_keep = ['Citycode','Year','Res1','Res2','Res3','Res4','Ada1','Ada2','Ada3','Ada4','Rec1','Rec2','Rec3','Rec4']
uer_index_2006 = df_cleaned[columns_to_keep]
uer_index_2006.to_csv('UER_index_2018.csv', index=False)

# 熵权法
# 标准化

In [49]:
# Initialize a column for the normalized values
data_merged['X1_star'] = pd.Series(dtype='float')
column_to_normalize = 'PUI'
# Iterate over each year to perform the normalization
for year in range(2018, 2019):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X1_max = year_data[column_to_normalize].max()
    X1_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X1_star'] = (year_data[column_to_normalize] - X1_min) / (X1_max - X1_min)

# Initialize a column for the normalized values
data_merged['X2_star'] = pd.Series(dtype='float')
column_to_normalize = 'PD'
# Iterate over each year to perform the normalization
for year in range(2018, 2019):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X2_max = year_data[column_to_normalize].max()
    X2_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X2_star'] = (year_data[column_to_normalize] - X2_min) / (X2_max - X2_min)


data_merged['X3_star'] = pd.Series(dtype='float')
column_to_normalize = 'LUI'
# Iterate over each year to perform the normalization
for year in range(2018, 2019):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X3_max = year_data[column_to_normalize].max()
    X3_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X3_star'] = (year_data[column_to_normalize] - X3_min) / (X3_max - X3_min)

data_merged['X4_star'] = pd.Series(dtype='float')
column_to_normalize = 'EUI'
# Iterate over each year to perform the normalization
for year in range(2018, 2019):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X4_max = year_data[column_to_normalize].max()
    X4_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X4_star'] = (year_data[column_to_normalize] - X4_min) / (X4_max - X4_min)

data_merged['X5_star'] = pd.Series(dtype='float')
column_to_normalize = 'EAL'
# Iterate over each year to perform the normalization
for year in range(2018, 2019):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X5_max = year_data[column_to_normalize].max()
    X5_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X5_star'] = (year_data[column_to_normalize] - X5_min) / (X5_max - X5_min)


data_merged['X6_star'] = pd.Series(dtype='float')
column_to_normalize = 'LUL'
# Iterate over each year to perform the normalization
for year in range(2018, 2019):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X6_max = year_data[column_to_normalize].max()
    X6_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X6_star'] = (year_data[column_to_normalize] - X6_min) / (X6_max - X6_min)

In [50]:
data_merged

,UrbanPopulation,Surface_Area_of_Built_District,Road_Surface_Area_Per_Capita_m2,Parkland_per_capita,Rate_of_non_hazardous_treatment_of_domestic_waste(%),Population_urbanization,GDP,First_sector_of_GDP,Industrial_wastewater_discharge_(tonnes),Industrial_fume_emissions_(tonnes),...,LUI,EUI,EAL,LUL,X1_star,X2_star,X3_star,X4_star,X5_star,X6_star
0,1863.40,1469.05,7.57,16.30,99.94,0.8650,303199787,0.39,8422,15343,...,0.230777,0.9961,21.822723,267.981578,0.822243,0.184527,0.472895,0.993197,0.375988,0.800147
1,1296.81,1077.83,11.67,9.38,98.37,0.8315,188096400,0.92,17729,34837,...,0.350085,0.9908,32.245306,308.834991,0.777301,0.175132,0.717375,0.981179,0.557352,0.939051
2,281.16,309.12,21.77,16.35,100.00,0.6316,60826180,6.91,6660,27420,...,0.212293,0.9309,13.374237,289.658663,0.509123,0.114617,0.435019,0.845351,0.228975,0.873850
3,193.99,249.00,18.02,15.54,100.00,0.6314,69549700,7.09,7877,227824,...,0.259502,0.9291,18.809018,300.846836,0.508854,0.085578,0.531757,0.841270,0.323546,0.911891
4,100.90,138.43,17.74,17.89,100.00,0.5942,16355631,12.43,2023,19289,...,0.135970,0.8757,9.079858,266.745952,0.458948,0.058615,0.278623,0.720181,0.154248,0.795946
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,18.75,55.13,28.39,23.96,98.00,0.5018,5345336,12.45,1456,9699,...,0.007405,0.8755,2.734456,214.719458,0.334988,0.011570,0.015174,0.719728,0.043831,0.619052
274,17.65,44.10,28.65,25.55,87.95,0.3793,3031944,19.07,106,1334,...,0.001902,0.8093,1.712117,237.684385,0.170647,0.016918,0.003898,0.569615,0.026042,0.697134
275,17.24,32.00,31.68,24.14,96.54,0.4441,4029947,14.32,1458,25261,...,0.007889,0.8568,2.055808,211.193633,0.257580,0.012629,0.016165,0.677324,0.032022,0.607064
276,216.98,458.36,11.76,12.70,99.97,0.9015,30997659,0.82,2739,29183,...,0.031145,0.9918,7.521938,135.718171,0.871210,0.032183,0.063820,0.983447,0.127139,0.350442
277,30.49,75.78,27.38,11.07,100.00,0.6855,8981420,0.56,1747,2365,...,0.016301,0.9944,8.173919,70.894451,0.581433,0.005905,0.033402,0.989342,0.138484,0.130037

In [51]:
columns_to_keep = ['Citycode','Year','X1_star','X2_star','X3_star','X4_star','X5_star','X6_star']
data_process_UI = data_merged[columns_to_keep]

In [52]:
data_process_UI

,Citycode,Year,X1_star,X2_star,X3_star,X4_star,X5_star,X6_star
0,110000,2018,0.822243,0.184527,0.472895,0.993197,0.375988,0.800147
1,120000,2018,0.777301,0.175132,0.717375,0.981179,0.557352,0.939051
2,130100,2018,0.509123,0.114617,0.435019,0.845351,0.228975,0.873850
3,130200,2018,0.508854,0.085578,0.531757,0.841270,0.323546,0.911891
4,130300,2018,0.458948,0.058615,0.278623,0.720181,0.154248,0.795946
...,...,...,...,...,...,...,...,...
273,640300,2018,0.334988,0.011570,0.015174,0.719728,0.043831,0.619052
274,640400,2018,0.170647,0.016918,0.003898,0.569615,0.026042,0.697134
275,640500,2018,0.257580,0.012629,0.016165,0.677324,0.032022,0.607064
276,650100,2018,0.871210,0.032183,0.063820,0.983447,0.127139,0.350442
277,650200,2018,0.581433,0.005905,0.033402,0.989342,0.138484,0.130037

In [53]:
#1.7熵权法

def calculate_entropy(indicator_data):
    # Replace zero values to avoid log(0) and negative infinity in entropy calculation
    indicator_data = indicator_data.replace(0, np.finfo(float).eps)  # Use a small number instead of zero
    p_ij = indicator_data / indicator_data.sum()  # Calculate the proportion p_ij
    K = 1 / np.log(278)  # Calculate the constant K
    e_j = -K * (p_ij * np.log(p_ij)).sum()  # Calculate the entropy e_j
    return e_j

# Initialize an empty list to store DataFrames for each year
dataframes_list = []

# Calculate entropies and weights for each year
for year in range(2018, 2019):
    year_data = data_process_UI[data_process_UI['Year'] == year].copy()
    entropies = year_data[['X1_star', 'X2_star', 'X3_star', 'X4_star','X5_star','X6_star']].apply(calculate_entropy, axis=0)
    weights = (1 - entropies) / (1 - entropies).sum()  # Calculate weights, ensuring they sum up to 1 within the year
    for i, indicator in enumerate(['X1_star', 'X2_star', 'X3_star', 'X4_star','X5_star','X6_star']):
        year_data[indicator + '_weighted'] = year_data[indicator] * weights.values[i]  # Apply weights to the indicators
    dataframes_list.append(year_data)  # Append the yearly data to the list

# Concatenate all DataFrames in the list to create the comprehensive_scores DataFrame
UI = pd.concat(dataframes_list, ignore_index=True)

# Now you should have the comprehensive_scores DataFrame with correctly calculated weights per year

In [54]:
UI

,Citycode,Year,X1_star,X2_star,X3_star,X4_star,X5_star,X6_star,X1_star_weighted,X2_star_weighted,X3_star_weighted,X4_star_weighted,X5_star_weighted,X6_star_weighted
0,110000,2018,0.822243,0.184527,0.472895,0.993197,0.375988,0.800147,0.043922,0.052345,0.147637,0.016542,0.120486,0.010886
1,120000,2018,0.777301,0.175132,0.717375,0.981179,0.557352,0.939051,0.041521,0.049680,0.223963,0.016341,0.178605,0.012775
2,130100,2018,0.509123,0.114617,0.435019,0.845351,0.228975,0.873850,0.027196,0.032514,0.135812,0.014079,0.073376,0.011888
3,130200,2018,0.508854,0.085578,0.531757,0.841270,0.323546,0.911891,0.027182,0.024276,0.166014,0.014011,0.103681,0.012406
4,130300,2018,0.458948,0.058615,0.278623,0.720181,0.154248,0.795946,0.024516,0.016628,0.086986,0.011995,0.049429,0.010828
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,640300,2018,0.334988,0.011570,0.015174,0.719728,0.043831,0.619052,0.017894,0.003282,0.004737,0.011987,0.014046,0.008422
274,640400,2018,0.170647,0.016918,0.003898,0.569615,0.026042,0.697134,0.009115,0.004799,0.001217,0.009487,0.008345,0.009484
275,640500,2018,0.257580,0.012629,0.016165,0.677324,0.032022,0.607064,0.013759,0.003583,0.005047,0.011281,0.010262,0.008259
276,650100,2018,0.871210,0.032183,0.063820,0.983447,0.127139,0.350442,0.046538,0.009129,0.019925,0.016379,0.040742,0.004768
277,650200,2018,0.581433,0.005905,0.033402,0.989342,0.138484,0.130037,0.031058,0.001675,0.010428,0.016477,0.044377,0.001769

In [55]:
# Calculate the combined weighted values for Resistance, Adaptability, and Recovery
UI['PU'] = UI['X1_star_weighted'] + UI['X2_star_weighted']
UI['LU'] = UI['X3_star_weighted'] + UI['X6_star_weighted']
#comprehensive_scores['ADA'] = comprehensive_scores['X2_star_weighted'] 
UI['EU'] = UI['X4_star_weighted'] + UI['X5_star_weighted']

# Assuming data_merged is the DataFrame with the standardized 'RES', 'ADA', and 'REC' columns.

# Define a small positive value to add to REC to avoid zero values
small_positive_value = 1e-6

# Replace zero values in REC with the small positive value
UI['PU_adj'] = UI['PU'].replace(0, small_positive_value)
UI['LU_adj'] = UI['LU'].replace(0, small_positive_value)
UI['EU_adj'] = UI['EU'].replace(0, small_positive_value)

# Now, the UER values should not be zero due to REC being zero, since we have adjusted REC values slightly above zero.

# Calculate the Urban Ecological Resilience (UER) for each borough and year
UI['UI'] = UI['PU_adj'] + UI['LU_adj'] + UI['EU_adj']

# Check the result
UI[['Year', 'Citycode', 'PU', 'LU', 'EU', 'UI']].head()

   Year  Citycode        PU        LU        EU        UI
0  2018    110000  0.096267  0.158523  0.137028  0.391817
1  2018    120000  0.091201  0.236738  0.194946  0.522886
2  2018    130100  0.059710  0.147700  0.087455  0.294865
3  2018    130200  0.051458  0.178419  0.117692  0.347569
4  2018    130300  0.041143  0.097814  0.061424  0.200381

In [56]:
UI

,Citycode,Year,X1_star,X2_star,X3_star,X4_star,X5_star,X6_star,X1_star_weighted,X2_star_weighted,...,X4_star_weighted,X5_star_weighted,X6_star_weighted,PU,LU,EU,PU_adj,LU_adj,EU_adj,UI
0,110000,2018,0.822243,0.184527,0.472895,0.993197,0.375988,0.800147,0.043922,0.052345,...,0.016542,0.120486,0.010886,0.096267,0.158523,0.137028,0.096267,0.158523,0.137028,0.391817
1,120000,2018,0.777301,0.175132,0.717375,0.981179,0.557352,0.939051,0.041521,0.049680,...,0.016341,0.178605,0.012775,0.091201,0.236738,0.194946,0.091201,0.236738,0.194946,0.522886
2,130100,2018,0.509123,0.114617,0.435019,0.845351,0.228975,0.873850,0.027196,0.032514,...,0.014079,0.073376,0.011888,0.059710,0.147700,0.087455,0.059710,0.147700,0.087455,0.294865
3,130200,2018,0.508854,0.085578,0.531757,0.841270,0.323546,0.911891,0.027182,0.024276,...,0.014011,0.103681,0.012406,0.051458,0.178419,0.117692,0.051458,0.178419,0.117692,0.347569
4,130300,2018,0.458948,0.058615,0.278623,0.720181,0.154248,0.795946,0.024516,0.016628,...,0.011995,0.049429,0.010828,0.041143,0.097814,0.061424,0.041143,0.097814,0.061424,0.200381
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,640300,2018,0.334988,0.011570,0.015174,0.719728,0.043831,0.619052,0.017894,0.003282,...,0.011987,0.014046,0.008422,0.021176,0.013159,0.026033,0.021176,0.013159,0.026033,0.060368
274,640400,2018,0.170647,0.016918,0.003898,0.569615,0.026042,0.697134,0.009115,0.004799,...,0.009487,0.008345,0.009484,0.013915,0.010701,0.017832,0.013915,0.010701,0.017832,0.042448
275,640500,2018,0.257580,0.012629,0.016165,0.677324,0.032022,0.607064,0.013759,0.003583,...,0.011281,0.010262,0.008259,0.017342,0.013305,0.021542,0.017342,0.013305,0.021542,0.052189
276,650100,2018,0.871210,0.032183,0.063820,0.983447,0.127139,0.350442,0.046538,0.009129,...,0.016379,0.040742,0.004768,0.055667,0.024692,0.057121,0.055667,0.024692,0.057121,0.137480
277,650200,2018,0.581433,0.005905,0.033402,0.989342,0.138484,0.130037,0.031058,0.001675,...,0.016477,0.044377,0.001769,0.032734,0.012197,0.060855,0.032734,0.012197,0.060855,0.105786

In [57]:
columns_to_keep = ['Citycode','Year','Res1','Res2','Res3','Res4','Ada1','Ada2','Ada3','Ada4','Rec1','Rec2','Rec3','Rec4']
data_merged = df_cleaned[columns_to_keep]

In [58]:
data_merged

,Citycode,Year,Res1,Res2,Res3,Res4,Ada1,Ada2,Ada3,Ada4,Rec1,Rec2,Rec3,Rec4
0,110000,2018,0.000028,0.000051,44.181914,7.770419e+07,68.93,99.94,2.663600e+05,93.40,48.44,16.30,394.495891,4258712.0
1,120000,2018,0.000094,0.000185,52.719044,1.363200e+08,98.90,98.37,1.313982e+06,97.90,38.03,9.38,323.642983,1057097.0
2,130100,2018,0.000109,0.000451,60.314583,8.437159e+07,84.00,100.00,1.123190e+06,99.66,41.16,16.35,331.391650,118720.0
3,130200,2018,0.000113,0.003276,47.485508,2.852219e+08,74.41,100.00,1.436456e+06,98.60,41.51,15.54,379.800367,89057.0
4,130300,2018,0.000124,0.001179,39.749057,2.105100e+07,77.46,100.00,1.858660e+05,97.01,41.29,17.89,457.052577,30638.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,640300,2018,0.000272,0.001814,37.701536,3.011434e+07,61.70,98.00,-7.769000e+03,91.30,41.04,23.96,204.659870,24809.0
275,640400,2018,0.000035,0.000440,36.444961,4.789348e+06,77.19,87.95,1.272857e+03,91.82,36.45,25.55,453.185472,10375.0
276,640500,2018,0.000362,0.006268,38.600668,1.296226e+07,34.50,96.54,-3.752270e+05,97.98,40.10,24.14,216.261565,17388.0
277,650100,2018,0.000088,0.000941,33.497680,6.563227e+07,84.94,99.97,4.575160e+05,98.73,41.90,12.70,172.610234,102288.0
278,650200,2018,0.000195,0.000263,34.900966,9.388422e+06,95.93,100.00,-2.277800e+04,95.11,43.29,11.07,81.722208,16272.0

In [59]:
# Initialize a column for the normalized values
data_merged['X1_star'] = pd.Series(dtype='float')
column_to_normalize = 'Res1'
# Iterate over each year to perform the normalization
for year in range(2018, 2019):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X1_max = year_data[column_to_normalize].max()
    X1_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X1_star'] = (X1_max - year_data[column_to_normalize]) / (X1_max - X1_min)


# Initialize a column for the normalized values
data_merged['X2_star'] = pd.Series(dtype='float')
column_to_normalize = 'Res2'
# Iterate over each year to perform the normalization
for year in range(2018, 2019):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X2_max = year_data[column_to_normalize].max()
    X2_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X2_star'] = (X2_max - year_data[column_to_normalize]) / (X2_max - X2_min)



# Initialize a column for the normalized values
data_merged['X3_star'] = pd.Series(dtype='float')
column_to_normalize = 'Res3'
# Iterate over each year to perform the normalization
for year in range(2018, 2019):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X3_max = year_data[column_to_normalize].max()
    X3_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X3_star'] = (X3_max - year_data[column_to_normalize]) / (X3_max - X3_min)


# Initialize a column for the normalized values
data_merged['X4_star'] = pd.Series(dtype='float')
column_to_normalize = 'Res4'
# Iterate over each year to perform the normalization
for year in range(2018, 2019):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X4_max = year_data[column_to_normalize].max()
    X4_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X4_star'] = (X4_max - year_data[column_to_normalize]) / (X4_max - X4_min)

data_merged['X5_star'] = pd.Series(dtype='float')
column_to_normalize = 'Ada1'
# Iterate over each year to perform the normalization
for year in range(2018, 2019):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X5_max = year_data[column_to_normalize].max()
    X5_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X5_star'] = (year_data[column_to_normalize] - X5_min) / (X5_max - X5_min)

data_merged['X6_star'] = pd.Series(dtype='float')
column_to_normalize = 'Ada2'
# Iterate over each year to perform the normalization
for year in range(2018, 2019):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X6_max = year_data[column_to_normalize].max()
    X6_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X6_star'] = (year_data[column_to_normalize] - X6_min) / (X6_max - X6_min)


data_merged['X7_star'] = pd.Series(dtype='float')
column_to_normalize = 'Ada3'
# Iterate over each year to perform the normalization
for year in range(2018, 2019):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X7_max = year_data[column_to_normalize].max()
    X7_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X7_star'] = (year_data[column_to_normalize] - X7_min) / (X7_max - X7_min)

data_merged['X8_star'] = pd.Series(dtype='float')
column_to_normalize = 'Ada4'
# Iterate over each year to perform the normalization
for year in range(2018, 2019):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X8_max = year_data[column_to_normalize].max()
    X8_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X8_star'] = (year_data[column_to_normalize] - X8_min) / (X8_max - X8_min)

data_merged['X9_star'] = pd.Series(dtype='float')
column_to_normalize = 'Rec1'
# Iterate over each year to perform the normalization
for year in range(2018, 2019):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X9_max = year_data[column_to_normalize].max()
    X9_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X9_star'] = (year_data[column_to_normalize] - X9_min) / (X9_max - X9_min)

data_merged['X10_star'] = pd.Series(dtype='float')
column_to_normalize = 'Rec2'
# Iterate over each year to perform the normalization
for year in range(2018, 2019):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X10_max = year_data[column_to_normalize].max()
    X10_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X10_star'] = (year_data[column_to_normalize] - X10_min) / (X10_max - X10_min)

data_merged['X11_star'] = pd.Series(dtype='float')
column_to_normalize = 'Rec3'
# Iterate over each year to perform the normalization
for year in range(2018, 2019):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X11_max = year_data[column_to_normalize].max()
    X11_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X11_star'] = (year_data[column_to_normalize] - X11_min) / (X11_max - X11_min)

data_merged['X12_star'] = pd.Series(dtype='float')
column_to_normalize = 'Rec4'
# Iterate over each year to perform the normalization
for year in range(2018, 2019):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X12_max = year_data[column_to_normalize].max()
    X12_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X12_star'] = (year_data[column_to_normalize] - X12_min) / (X12_max - X12_min)

/tmp/ipykernel_77677/2020470230.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X1_star'] = pd.Series(dtype='float')
/tmp/ipykernel_77677/2020470230.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X2_star'] = pd.Series(dtype='float')
/tmp/ipykernel_77677/2020470230.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X3_star'] = pd.Series(dtype='float')
/tmp/ipykernel_77677/2020470230.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X4_star'] = pd.Series(dtype='float')
/tmp/ipykernel_77677/2020470230.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X5_star'] = pd.Series(dtype='float')
/tmp/ipykernel_77677/2020470230.py:79: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X6_star'] = pd.Series(dtype='float')
/tmp/ipykernel_77677/2020470230.py:94: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X7_star'] = pd.Series(dtype='float')
/tmp/ipykernel_77677/2020470230.py:108: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X8_star'] = pd.Series(dtype='float')
/tmp/ipykernel_77677/2020470230.py:122: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X9_star'] = pd.Series(dtype='float')
/tmp/ipykernel_77677/2020470230.py:136: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X10_star'] = pd.Series(dtype='float')
/tmp/ipykernel_77677/2020470230.py:150: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X11_star'] = pd.Series(dtype='float')
/tmp/ipykernel_77677/2020470230.py:164: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X12_star'] = pd.Series(dtype='float')

In [60]:
data_merged

,Citycode,Year,Res1,Res2,Res3,Res4,Ada1,Ada2,Ada3,Ada4,...,X3_star,X4_star,X5_star,X6_star,X7_star,X8_star,X9_star,X10_star,X11_star,X12_star
0,110000,2018,0.000028,0.000051,44.181914,7.770419e+07,68.93,99.94,2.663600e+05,93.40,...,0.422693,0.732342,0.688240,0.998084,0.363042,0.877596,0.359271,0.314476,0.259086,0.767297
1,120000,2018,0.000094,0.000185,52.719044,1.363200e+08,98.90,98.37,1.313982e+06,97.90,...,0.234303,0.525483,0.988962,0.947940,0.518490,0.961053,0.212258,0.113722,0.200395,0.190252
2,130100,2018,0.000109,0.000451,60.314583,8.437159e+07,84.00,100.00,1.123190e+06,99.66,...,0.066690,0.708812,0.839454,1.000000,0.490180,0.993694,0.256461,0.315927,0.206814,0.021123
3,130200,2018,0.000113,0.003276,47.485508,2.852219e+08,74.41,100.00,1.436456e+06,98.60,...,0.349792,0.000000,0.743227,1.000000,0.536663,0.974036,0.261404,0.292428,0.246913,0.015776
4,130300,2018,0.000124,0.001179,39.749057,2.105100e+07,77.46,100.00,1.858660e+05,97.01,...,0.520514,0.932274,0.773831,1.000000,0.351098,0.944547,0.258297,0.360603,0.310905,0.005247
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,640300,2018,0.000272,0.001814,37.701536,3.011434e+07,61.70,98.00,-7.769000e+03,91.30,...,0.565698,0.900289,0.615693,0.936123,0.322366,0.838650,0.254766,0.536699,0.101835,0.004196
275,640400,2018,0.000035,0.000440,36.444961,4.789348e+06,77.19,87.95,1.272857e+03,91.82,...,0.593427,0.989662,0.771122,0.615139,0.323707,0.848294,0.189945,0.582826,0.307702,0.001595
276,640500,2018,0.000362,0.006268,38.600668,1.296226e+07,34.50,96.54,-3.752270e+05,97.98,...,0.545856,0.960820,0.342765,0.889492,0.267841,0.962537,0.241491,0.541921,0.111446,0.002859
277,650100,2018,0.000088,0.000941,33.497680,6.563227e+07,84.94,99.97,4.575160e+05,98.73,...,0.658465,0.774944,0.848886,0.999042,0.391406,0.976447,0.266911,0.210038,0.075287,0.018161
278,650200,2018,0.000195,0.000263,34.900966,9.388422e+06,95.93,100.00,-2.277800e+04,95.11,...,0.627498,0.973432,0.959161,1.000000,0.320139,0.909310,0.286541,0.162750,0.000000,0.002658

In [61]:
columns_to_keep = ['Citycode','Year','X1_star','X2_star','X3_star','X4_star','X5_star','X6_star','X7_star','X8_star','X9_star','X10_star','X11_star','X12_star']
data_process = data_merged[columns_to_keep]

In [62]:
#1.7熵权法

def calculate_entropy(indicator_data):
    # Replace zero values to avoid log(0) and negative infinity in entropy calculation
    indicator_data = indicator_data.replace(0, np.finfo(float).eps)  # Use a small number instead of zero
    p_ij = indicator_data / indicator_data.sum()  # Calculate the proportion p_ij
    K = 1 / np.log(278)  # Calculate the constant K
    e_j = -K * (p_ij * np.log(p_ij)).sum()  # Calculate the entropy e_j
    return e_j

# Initialize an empty list to store DataFrames for each year
dataframes_list = []

# Calculate entropies and weights for each year
for year in range(2018, 2019):
    year_data = data_process[data_process['Year'] == year].copy()
    entropies = year_data[['X1_star','X2_star','X3_star','X4_star','X5_star','X6_star','X7_star','X8_star','X9_star','X10_star','X11_star','X12_star']].apply(calculate_entropy, axis=0)
    weights = (1 - entropies) / (1 - entropies).sum()  # Calculate weights, ensuring they sum up to 1 within the year
    for i, indicator in enumerate(['X1_star','X2_star','X3_star','X4_star','X5_star','X6_star','X7_star','X8_star','X9_star','X10_star','X11_star','X12_star']):
        year_data[indicator + '_weighted'] = year_data[indicator] * weights.values[i]  # Apply weights to the indicators
    dataframes_list.append(year_data)  # Append the yearly data to the list

# Concatenate all DataFrames in the list to create the comprehensive_scores DataFrame
UER = pd.concat(dataframes_list, ignore_index=True)

# Now you should have the comprehensive_scores DataFrame with correctly calculated weights per year

In [63]:
UER

,Citycode,Year,X1_star,X2_star,X3_star,X4_star,X5_star,X6_star,X7_star,X8_star,...,X3_star_weighted,X4_star_weighted,X5_star_weighted,X6_star_weighted,X7_star_weighted,X8_star_weighted,X9_star_weighted,X10_star_weighted,X11_star_weighted,X12_star_weighted
0,110000,2018,0.990271,0.996617,0.422693,0.732342,0.688240,0.998084,0.363042,0.877596,...,0.023832,0.004382,0.025275,0.006515,0.004284,0.008731,0.008056,0.015224,0.014451,0.567415
1,120000,2018,0.962242,0.987259,0.234303,0.525483,0.988962,0.947940,0.518490,0.961053,...,0.013210,0.003144,0.036319,0.006188,0.006118,0.009561,0.004760,0.005505,0.011177,0.140691
2,130100,2018,0.955817,0.968794,0.066690,0.708812,0.839454,1.000000,0.490180,0.993694,...,0.003760,0.004241,0.030828,0.006528,0.005784,0.009886,0.005751,0.015294,0.011535,0.015620
3,130200,2018,0.954230,0.772397,0.349792,0.000000,0.743227,1.000000,0.536663,0.974036,...,0.019721,0.000000,0.027295,0.006528,0.006333,0.009690,0.005862,0.014157,0.013772,0.011666
4,130300,2018,0.949832,0.918143,0.520514,0.932274,0.773831,1.000000,0.351098,0.944547,...,0.029347,0.005578,0.028418,0.006528,0.004143,0.009397,0.005792,0.017457,0.017341,0.003880
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,640300,2018,0.887136,0.873986,0.565698,0.900289,0.615693,0.936123,0.322366,0.838650,...,0.031894,0.005387,0.022611,0.006111,0.003804,0.008343,0.005713,0.025982,0.005680,0.003103
274,640400,2018,0.987242,0.969546,0.593427,0.989662,0.771122,0.615139,0.323707,0.848294,...,0.033458,0.005922,0.028319,0.004016,0.003820,0.008439,0.004259,0.028215,0.017162,0.001179
275,640500,2018,0.849441,0.564340,0.545856,0.960820,0.342765,0.889492,0.267841,0.962537,...,0.030776,0.005749,0.012588,0.005806,0.003161,0.009576,0.005415,0.026234,0.006216,0.002114
276,650100,2018,0.964727,0.934682,0.658465,0.774944,0.848886,0.999042,0.391406,0.976447,...,0.037125,0.004637,0.031175,0.006522,0.004619,0.009714,0.005985,0.010168,0.004199,0.013430
277,650200,2018,0.919970,0.981828,0.627498,0.973432,0.959161,1.000000,0.320139,0.909310,...,0.035379,0.005824,0.035225,0.006528,0.003778,0.009046,0.006425,0.007879,0.000000,0.001965

In [64]:
# Calculate the combined weighted values for Resistance, Adaptability, and Recovery
UER['RES'] = UER['X1_star_weighted'] + UER['X2_star_weighted'] + UER['X3_star_weighted'] + UER['X4_star_weighted']
UER['ADA'] = UER['X5_star_weighted'] + UER['X6_star_weighted'] + UER['X7_star_weighted'] + UER['X8_star_weighted']
#comprehensive_scores['ADA'] = comprehensive_scores['X2_star_weighted'] 
UER['REC'] = UER['X9_star_weighted'] + UER['X10_star_weighted'] + UER['X11_star_weighted'] + UER['X12_star_weighted']

# Assuming data_merged is the DataFrame with the standardized 'RES', 'ADA', and 'REC' columns.

# Define a small positive value to add to REC to avoid zero values
small_positive_value = 1e-6

# Replace zero values in REC with the small positive value
UER['REC_adj'] = UER['REC'].replace(0, small_positive_value)
UER['ADA_adj'] = UER['ADA'].replace(0, small_positive_value)
UER['RES_adj'] = UER['RES'].replace(0, small_positive_value)

# Now, the UER values should not be zero due to REC being zero, since we have adjusted REC values slightly above zero.

# Calculate the Urban Ecological Resilience (UER) for each borough and year
UER['UER'] = (UER['RES_adj'] + UER['ADA_adj'] + UER['REC_adj'])

# Check the result
UER[['Year', 'Citycode', 'RES', 'ADA', 'REC', 'UER']].head()

   Year  Citycode       RES       ADA       REC       UER
0  2018    110000  0.034703  0.044805  0.605145  0.684654
1  2018    120000  0.022735  0.058186  0.162133  0.243055
2  2018    130100  0.014292  0.053026  0.048200  0.115519
3  2018    130200  0.025225  0.049845  0.045456  0.120527
4  2018    130300  0.040999  0.048486  0.044470  0.133955

In [65]:
UER

,Citycode,Year,X1_star,X2_star,X3_star,X4_star,X5_star,X6_star,X7_star,X8_star,...,X10_star_weighted,X11_star_weighted,X12_star_weighted,RES,ADA,REC,REC_adj,ADA_adj,RES_adj,UER
0,110000,2018,0.990271,0.996617,0.422693,0.732342,0.688240,0.998084,0.363042,0.877596,...,0.015224,0.014451,0.567415,0.034703,0.044805,0.605145,0.605145,0.044805,0.034703,0.684654
1,120000,2018,0.962242,0.987259,0.234303,0.525483,0.988962,0.947940,0.518490,0.961053,...,0.005505,0.011177,0.140691,0.022735,0.058186,0.162133,0.162133,0.058186,0.022735,0.243055
2,130100,2018,0.955817,0.968794,0.066690,0.708812,0.839454,1.000000,0.490180,0.993694,...,0.015294,0.011535,0.015620,0.014292,0.053026,0.048200,0.048200,0.053026,0.014292,0.115519
3,130200,2018,0.954230,0.772397,0.349792,0.000000,0.743227,1.000000,0.536663,0.974036,...,0.014157,0.013772,0.011666,0.025225,0.049845,0.045456,0.045456,0.049845,0.025225,0.120527
4,130300,2018,0.949832,0.918143,0.520514,0.932274,0.773831,1.000000,0.351098,0.944547,...,0.017457,0.017341,0.003880,0.040999,0.048486,0.044470,0.044470,0.048486,0.040999,0.133955
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,640300,2018,0.887136,0.873986,0.565698,0.900289,0.615693,0.936123,0.322366,0.838650,...,0.025982,0.005680,0.003103,0.043020,0.040869,0.040478,0.040478,0.040869,0.043020,0.124366
274,640400,2018,0.987242,0.969546,0.593427,0.989662,0.771122,0.615139,0.323707,0.848294,...,0.028215,0.017162,0.001179,0.045753,0.044594,0.050816,0.050816,0.044594,0.045753,0.141162
275,640500,2018,0.849441,0.564340,0.545856,0.960820,0.342765,0.889492,0.267841,0.962537,...,0.026234,0.006216,0.002114,0.040933,0.031131,0.039980,0.039980,0.031131,0.040933,0.112043
276,650100,2018,0.964727,0.934682,0.658465,0.774944,0.848886,0.999042,0.391406,0.976447,...,0.010168,0.004199,0.013430,0.047939,0.052029,0.033782,0.033782,0.052029,0.047939,0.133751
277,650200,2018,0.919970,0.981828,0.627498,0.973432,0.959161,1.000000,0.320139,0.909310,...,0.007879,0.000000,0.001965,0.047455,0.054576,0.016269,0.016269,0.054576,0.047455,0.118301

In [66]:
df_merged1 = pd.merge(UI, UER, on=['Citycode', 'Year'])

In [67]:
df_merged1

,Citycode,Year,X1_star_x,X2_star_x,X3_star_x,X4_star_x,X5_star_x,X6_star_x,X1_star_weighted_x,X2_star_weighted_x,...,X10_star_weighted,X11_star_weighted,X12_star_weighted,RES,ADA,REC,REC_adj,ADA_adj,RES_adj,UER
0,110000,2018,0.822243,0.184527,0.472895,0.993197,0.375988,0.800147,0.043922,0.052345,...,0.015224,0.014451,0.567415,0.034703,0.044805,0.605145,0.605145,0.044805,0.034703,0.684654
1,120000,2018,0.777301,0.175132,0.717375,0.981179,0.557352,0.939051,0.041521,0.049680,...,0.005505,0.011177,0.140691,0.022735,0.058186,0.162133,0.162133,0.058186,0.022735,0.243055
2,130100,2018,0.509123,0.114617,0.435019,0.845351,0.228975,0.873850,0.027196,0.032514,...,0.015294,0.011535,0.015620,0.014292,0.053026,0.048200,0.048200,0.053026,0.014292,0.115519
3,130200,2018,0.508854,0.085578,0.531757,0.841270,0.323546,0.911891,0.027182,0.024276,...,0.014157,0.013772,0.011666,0.025225,0.049845,0.045456,0.045456,0.049845,0.025225,0.120527
4,130300,2018,0.458948,0.058615,0.278623,0.720181,0.154248,0.795946,0.024516,0.016628,...,0.017457,0.017341,0.003880,0.040999,0.048486,0.044470,0.044470,0.048486,0.040999,0.133955
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,640300,2018,0.334988,0.011570,0.015174,0.719728,0.043831,0.619052,0.017894,0.003282,...,0.025982,0.005680,0.003103,0.043020,0.040869,0.040478,0.040478,0.040869,0.043020,0.124366
274,640400,2018,0.170647,0.016918,0.003898,0.569615,0.026042,0.697134,0.009115,0.004799,...,0.028215,0.017162,0.001179,0.045753,0.044594,0.050816,0.050816,0.044594,0.045753,0.141162
275,640500,2018,0.257580,0.012629,0.016165,0.677324,0.032022,0.607064,0.013759,0.003583,...,0.026234,0.006216,0.002114,0.040933,0.031131,0.039980,0.039980,0.031131,0.040933,0.112043
276,650100,2018,0.871210,0.032183,0.063820,0.983447,0.127139,0.350442,0.046538,0.009129,...,0.010168,0.004199,0.013430,0.047939,0.052029,0.033782,0.033782,0.052029,0.047939,0.133751
277,650200,2018,0.581433,0.005905,0.033402,0.989342,0.138484,0.130037,0.031058,0.001675,...,0.007879,0.000000,0.001965,0.047455,0.054576,0.016269,0.016269,0.054576,0.047455,0.118301

In [68]:
df_result = df_merged1[['Citycode', 'Year', 'UER', 'UI']]

In [69]:
df_result

     Citycode  Year       UER        UI
0      110000  2018  0.684654  0.391817
1      120000  2018  0.243055  0.522886
2      130100  2018  0.115519  0.294865
3      130200  2018  0.120527  0.347569
4      130300  2018  0.133955  0.200381
..        ...   ...       ...       ...
273    640300  2018  0.124366  0.060368
274    640400  2018  0.141162  0.042448
275    640500  2018  0.112043  0.052189
276    650100  2018  0.133751  0.137480
277    650200  2018  0.118301  0.105786

[278 rows x 4 columns]

In [70]:
# 定义计算公式
def calculate_C(UI, UER):
    return np.sqrt((UI * UER) / ((UI + UER) / 2)**2)

def calculate_T(UI, UER, mu1=0.5, mu2=0.5):
    return mu1 * UI + mu2 * UER

def calculate_D(C, T):
    return np.sqrt(C * T)

# 计算C耦合度
df_result['C'] = df_result.apply(lambda row: calculate_C(row['UI'], row['UER']), axis=1)

# 计算T协调度
df_result['T'] = df_result.apply(lambda row: calculate_T(row['UI'], row['UER']), axis=1)

# 计算D耦合协调度
df_result['D'] = df_result.apply(lambda row: calculate_D(row['C'], row['T']), axis=1)

/tmp/ipykernel_77677/4091750289.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_result['C'] = df_result.apply(lambda row: calculate_C(row['UI'], row['UER']), axis=1)
/tmp/ipykernel_77677/4091750289.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_result['T'] = df_result.apply(lambda row: calculate_T(row['UI'], row['UER']), axis=1)
/tmp/ipykernel_77677/4091750289.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_result['D'] = df_result.apply(lambda row: calculate_D(row['C'], row['T']), axis=1)

In [71]:
# 定义归一化公式
def normalize(column):
    return (column - column.min()) / (column.max() - column.min())

# 归一化处理
df_result['UI_normalized'] = normalize(df_result['UI'])
df_result['UER_normalized'] = normalize(df_result['UER'])

# 定义计算公式
def calculate_C(UI, UER):
    return np.sqrt((UI * UER) / ((UI + UER) / 2)**2)

def calculate_T(UI, UER, mu1=0.5, mu2=0.5):
    return mu1 * UI + mu2 * UER

def calculate_D(C, T):
    return np.sqrt(C * T)

# 计算C耦合度
df_result['C2'] = df_result.apply(lambda row: calculate_C(row['UI_normalized'], row['UER_normalized']), axis=1)

# 计算T协调度
df_result['T2'] = df_result.apply(lambda row: calculate_T(row['UI_normalized'], row['UER_normalized']), axis=1)

# 计算D耦合协调度
df_result['D2'] = df_result.apply(lambda row: calculate_D(row['C2'], row['T2']), axis=1)

/tmp/ipykernel_77677/3512385329.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_result['UI_normalized'] = normalize(df_result['UI'])
/tmp/ipykernel_77677/3512385329.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_result['UER_normalized'] = normalize(df_result['UER'])
/tmp/ipykernel_77677/3512385329.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_result['C2'] = df_result.apply(lambda row: calculate_C(row['UI_normalized'], row['UER_normalized']), axis=1)
/tmp/ipykernel_77677/3512385329.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_result['T2'] = df_result.apply(lambda row: calculate_T(row['UI_normalized'], row['UER_normalized']), axis=1)
/tmp/ipykernel_77677/3512385329.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_result['D2'] = df_result.apply(lambda row: calculate_D(row['C2'], row['T2']), axis=1)

In [72]:
df_result

,Citycode,Year,UER,UI,C,T,D,UI_normalized,UER_normalized,C2,T2,D2
0,110000,2018,0.684654,0.391817,0.962288,0.538236,0.719679,0.395335,0.744839,0.951859,0.570087,0.736643
1,120000,2018,0.243055,0.522886,0.930873,0.382970,0.597073,0.537648,0.200356,0.889449,0.369002,0.572895
2,130100,2018,0.115519,0.294865,0.899451,0.205192,0.429604,0.290065,0.043106,0.671245,0.166586,0.334395
3,130200,2018,0.120527,0.347569,0.874496,0.234048,0.452409,0.347292,0.049282,0.659776,0.198287,0.361697
4,130300,2018,0.133955,0.200381,0.980064,0.167168,0.404766,0.187476,0.065838,0.877167,0.126657,0.333316
...,...,...,...,...,...,...,...,...,...,...,...,...
273,640300,2018,0.124366,0.060368,0.938074,0.092367,0.294359,0.035452,0.054016,0.978236,0.044734,0.209189
274,640400,2018,0.141162,0.042448,0.843180,0.091805,0.278223,0.015994,0.074725,0.762158,0.045359,0.185933
275,640500,2018,0.112043,0.052189,0.931226,0.082116,0.276530,0.026572,0.038821,0.982299,0.032696,0.179214
276,650100,2018,0.133751,0.137480,0.999905,0.135615,0.368243,0.119179,0.065586,0.957008,0.092383,0.297340
277,650200,2018,0.118301,0.105786,0.998439,0.112043,0.334467,0.084766,0.046537,0.956679,0.065651,0.250614

In [73]:
# 导出comprehensive_scores数据框为Excel文件
output_excel_path = 'df_2018_result.xlsx'
df_result.to_excel(output_excel_path, index=False)

In [66]:
file_path = 'data/df_2006_result.xlsx'
df_result_2006 = pd.read_excel(file_path)

In [67]:
df_result_2006

,Name_of_Regions_x,Citycode,Year_x,UER,UI,C,T,D,UI_normalized,UER_normalized,C2,T2,D2
0,Beijing,110000,2006,0.137433,0.210078,0.977907,0.173756,0.412210,0.202760,0.702098,0.833949,0.452429,0.614250
1,Tianjin,120000,2006,0.103581,0.168235,0.971300,0.135908,0.363328,0.160479,0.529117,0.845124,0.344798,0.539812
2,Shijiazhuang,130100,2006,0.135975,0.075086,0.957483,0.105530,0.317873,0.066357,0.694645,0.564248,0.380501,0.463354
3,Tangshan,130200,2006,0.137393,0.076543,0.958697,0.106968,0.320234,0.067829,0.701890,0.566945,0.384860,0.467113
4,Qinhuangdao,130300,2006,0.140799,0.069600,0.941002,0.105200,0.314632,0.060814,0.719298,0.536204,0.390056,0.457329
...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,Guyuan,640400,2006,0.129806,0.020694,0.688750,0.075250,0.227659,0.011397,0.663123,0.257766,0.337260,0.294846
286,Zhongwei,640500,2006,0.126115,0.030682,0.793445,0.078398,0.249409,0.021489,0.644263,0.353476,0.332876,0.343022
287,Xinjiang,650000,2006,0.087788,0.075510,0.997170,0.081649,0.285338,0.066786,0.448413,0.671796,0.257600,0.415998
288,Urumuchi,650100,2006,0.100333,0.097620,0.999906,0.098976,0.314590,0.089127,0.512516,0.710475,0.300821,0.462305
289,Kelamayi,650200,2006,0.121824,0.102816,0.996414,0.112320,0.334540,0.094377,0.622335,0.676287,0.358356,0.492292

In [68]:
# 合并数据
df_merged2 = pd.merge(df_result_2006, df_result, left_on='Citycode', right_on='Citycode', suffixes=('_2006', '_2010'))

In [69]:
df_merged2

,Name_of_Regions_x_2006,Citycode,Year_x,UER_2006,UI_2006,C_2006,T_2006,D_2006,UI_normalized_2006,UER_normalized_2006,...,UER_2010,UI_2010,C_2010,T_2010,D_2010,UI_normalized_2010,UER_normalized_2010,C2_2010,T2_2010,D2_2010
0,Beijing,110000,2006,0.137433,0.210078,0.977907,0.173756,0.412210,0.202760,0.702098,...,0.168303,0.206704,0.994743,0.187503,0.431877,0.200826,0.839766,0.789294,0.520296,0.640833
1,Tianjin,120000,2006,0.103581,0.168235,0.971300,0.135908,0.363328,0.160479,0.529117,...,0.152355,0.197102,0.991768,0.174729,0.416281,0.190941,0.760175,0.801130,0.475558,0.617239
2,Shijiazhuang,130100,2006,0.135975,0.075086,0.957483,0.105530,0.317873,0.066357,0.694645,...,0.174103,0.079555,0.927936,0.126829,0.343059,0.069926,0.868715,0.525158,0.469321,0.496455
3,Tangshan,130200,2006,0.137393,0.076543,0.958697,0.106968,0.320234,0.067829,0.701890,...,0.173093,0.076014,0.920939,0.124553,0.338683,0.066281,0.863673,0.514562,0.464977,0.489142
4,Qinhuangdao,130300,2006,0.140799,0.069600,0.941002,0.105200,0.314632,0.060814,0.719298,...,0.183608,0.064805,0.878226,0.124207,0.330275,0.054742,0.916151,0.461319,0.485446,0.473229
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,Guyuan,640400,2006,0.129806,0.020694,0.688750,0.075250,0.227659,0.011397,0.663123,...,0.149317,0.017109,0.607403,0.083213,0.224820,0.005639,0.745015,0.172687,0.375327,0.254586
286,Zhongwei,640500,2006,0.126115,0.030682,0.793445,0.078398,0.249409,0.021489,0.644263,...,0.095024,0.023502,0.797418,0.059263,0.217388,0.012220,0.474050,0.313042,0.243135,0.275883
287,Xinjiang,650000,2006,0.087788,0.075510,0.997170,0.081649,0.285338,0.066786,0.448413,...,0.134498,0.027310,0.749113,0.080904,0.246183,0.016140,0.671055,0.302887,0.343597,0.322601
288,Urumuchi,650100,2006,0.100333,0.097620,0.999906,0.098976,0.314590,0.089127,0.512516,...,0.137691,0.103063,0.989602,0.120377,0.345146,0.094128,0.686991,0.651100,0.390560,0.504275
289,Kelamayi,650200,2006,0.121824,0.102816,0.996414,0.112320,0.334540,0.094377,0.622335,...,0.156935,0.072887,0.930728,0.114911,0.327034,0.063062,0.783035,0.525271,0.423048,0.471397

# 计算Tapio脱钩模型

In [70]:
# 计算增长率
df_merged2['Delta_UER'] = (df_merged2['UER_2010'] - df_merged2['UER_2006']) / df_merged2['UER_2006']
df_merged2['Delta_UI'] = (df_merged2['UI_2010'] - df_merged2['UI_2006']) / df_merged2['UI_2006']

# 计算脱钩指数DI
df_merged2['DI'] = df_merged2['Delta_UER'] / df_merged2['Delta_UI']

In [71]:
df_merged2

,Name_of_Regions_x_2006,Citycode,Year_x,UER_2006,UI_2006,C_2006,T_2006,D_2006,UI_normalized_2006,UER_normalized_2006,...,T_2010,D_2010,UI_normalized_2010,UER_normalized_2010,C2_2010,T2_2010,D2_2010,Delta_UER,Delta_UI,DI
0,Beijing,110000,2006,0.137433,0.210078,0.977907,0.173756,0.412210,0.202760,0.702098,...,0.187503,0.431877,0.200826,0.839766,0.789294,0.520296,0.640833,0.224613,-0.016062,-13.983872
1,Tianjin,120000,2006,0.103581,0.168235,0.971300,0.135908,0.363328,0.160479,0.529117,...,0.174729,0.416281,0.190941,0.760175,0.801130,0.475558,0.617239,0.470873,0.171589,2.744191
2,Shijiazhuang,130100,2006,0.135975,0.075086,0.957483,0.105530,0.317873,0.066357,0.694645,...,0.126829,0.343059,0.069926,0.868715,0.525158,0.469321,0.496455,0.280409,0.059519,4.711286
3,Tangshan,130200,2006,0.137393,0.076543,0.958697,0.106968,0.320234,0.067829,0.701890,...,0.124553,0.338683,0.066281,0.863673,0.514562,0.464977,0.489142,0.259842,-0.006908,-37.613687
4,Qinhuangdao,130300,2006,0.140799,0.069600,0.941002,0.105200,0.314632,0.060814,0.719298,...,0.124207,0.330275,0.054742,0.916151,0.461319,0.485446,0.473229,0.304040,-0.068890,-4.413412
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,Guyuan,640400,2006,0.129806,0.020694,0.688750,0.075250,0.227659,0.011397,0.663123,...,0.083213,0.224820,0.005639,0.745015,0.172687,0.375327,0.254586,0.150312,-0.173223,-0.867736
286,Zhongwei,640500,2006,0.126115,0.030682,0.793445,0.078398,0.249409,0.021489,0.644263,...,0.059263,0.217388,0.012220,0.474050,0.313042,0.243135,0.275883,-0.246529,-0.234007,1.053514
287,Xinjiang,650000,2006,0.087788,0.075510,0.997170,0.081649,0.285338,0.066786,0.448413,...,0.080904,0.246183,0.016140,0.671055,0.302887,0.343597,0.322601,0.532082,-0.638332,-0.833551
288,Urumuchi,650100,2006,0.100333,0.097620,0.999906,0.098976,0.314590,0.089127,0.512516,...,0.120377,0.345146,0.094128,0.686991,0.651100,0.390560,0.504275,0.372347,0.055761,6.677574
289,Kelamayi,650200,2006,0.121824,0.102816,0.996414,0.112320,0.334540,0.094377,0.622335,...,0.114911,0.327034,0.063062,0.783035,0.525271,0.423048,0.471397,0.288216,-0.291095,-0.990109

In [72]:
def classify_decoupling(row):
    Delta_ER = row['Delta_UER']
    Delta_UI = row['Delta_UI']
    DI = row['DI']
    
    if Delta_ER < 0 and Delta_UI < 0 and 1.2 <= DI < float('inf'):
        return 'Recession decoupling / Decoupling'
    elif Delta_ER < 0 and Delta_UI > 0 and float('-inf') < DI <= 0:
        return 'Strong decoupling / Decoupling'
    elif Delta_ER > 0 and Delta_UI > 0 and 0 <= DI <= 0.8:
        return 'Weak decoupling / Decoupling'
    elif Delta_ER > 0 and Delta_UI > 0 and 0.8 < DI <= 1.2:
        return 'Expansion connection / Connection'
    elif Delta_ER < 0 and Delta_UI < 0 and 0.8 < DI <= 1.2:
        return 'Recession connection / Connection'
    elif Delta_ER > 0 and Delta_UI > 0 and 1.2 <= DI < float('inf'):
        return 'Negative decoupling of expansion / Negative decoupling'
    elif Delta_ER > 0 and Delta_UI < 0 and float('-inf') < DI <= 0:
        return 'Strong negative decoupling / Negative decoupling'
    elif Delta_ER < 0 and Delta_UI < 0 and 0 <= DI <= 0.8:
        return 'Weak negative decoupling / Negative decoupling'
    else:
        return 'Unknown'

# Apply the function to the DataFrame
df_merged2['DI_Category'] = df_merged2.apply(classify_decoupling, axis=1)

In [73]:
df_merged2

,Name_of_Regions_x_2006,Citycode,Year_x,UER_2006,UI_2006,C_2006,T_2006,D_2006,UI_normalized_2006,UER_normalized_2006,...,D_2010,UI_normalized_2010,UER_normalized_2010,C2_2010,T2_2010,D2_2010,Delta_UER,Delta_UI,DI,DI_Category
0,Beijing,110000,2006,0.137433,0.210078,0.977907,0.173756,0.412210,0.202760,0.702098,...,0.431877,0.200826,0.839766,0.789294,0.520296,0.640833,0.224613,-0.016062,-13.983872,Strong negative decoupling / Negative decoupling
1,Tianjin,120000,2006,0.103581,0.168235,0.971300,0.135908,0.363328,0.160479,0.529117,...,0.416281,0.190941,0.760175,0.801130,0.475558,0.617239,0.470873,0.171589,2.744191,Negative decoupling of expansion / Negative de...
2,Shijiazhuang,130100,2006,0.135975,0.075086,0.957483,0.105530,0.317873,0.066357,0.694645,...,0.343059,0.069926,0.868715,0.525158,0.469321,0.496455,0.280409,0.059519,4.711286,Negative decoupling of expansion / Negative de...
3,Tangshan,130200,2006,0.137393,0.076543,0.958697,0.106968,0.320234,0.067829,0.701890,...,0.338683,0.066281,0.863673,0.514562,0.464977,0.489142,0.259842,-0.006908,-37.613687,Strong negative decoupling / Negative decoupling
4,Qinhuangdao,130300,2006,0.140799,0.069600,0.941002,0.105200,0.314632,0.060814,0.719298,...,0.330275,0.054742,0.916151,0.461319,0.485446,0.473229,0.304040,-0.068890,-4.413412,Strong negative decoupling / Negative decoupling
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,Guyuan,640400,2006,0.129806,0.020694,0.688750,0.075250,0.227659,0.011397,0.663123,...,0.224820,0.005639,0.745015,0.172687,0.375327,0.254586,0.150312,-0.173223,-0.867736,Strong negative decoupling / Negative decoupling
286,Zhongwei,640500,2006,0.126115,0.030682,0.793445,0.078398,0.249409,0.021489,0.644263,...,0.217388,0.012220,0.474050,0.313042,0.243135,0.275883,-0.246529,-0.234007,1.053514,Recession connection / Connection
287,Xinjiang,650000,2006,0.087788,0.075510,0.997170,0.081649,0.285338,0.066786,0.448413,...,0.246183,0.016140,0.671055,0.302887,0.343597,0.322601,0.532082,-0.638332,-0.833551,Strong negative decoupling / Negative decoupling
288,Urumuchi,650100,2006,0.100333,0.097620,0.999906,0.098976,0.314590,0.089127,0.512516,...,0.345146,0.094128,0.686991,0.651100,0.390560,0.504275,0.372347,0.055761,6.677574,Negative decoupling of expansion / Negative de...
289,Kelamayi,650200,2006,0.121824,0.102816,0.996414,0.112320,0.334540,0.094377,0.622335,...,0.327034,0.063062,0.783035,0.525271,0.423048,0.471397,0.288216,-0.291095,-0.990109,Strong negative decoupling / Negative decoupling

In [45]:
# 读取shapefile
shapefile_path = 'data/Chinamap_2019/Merged_Municipalities.shp'
gdf = gpd.read_file(shapefile_path)

In [46]:
gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 317 entries, 0 to 316
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Prvnc_c   317 non-null    float64
 1   City_cd   317 non-null    object
 2   Area      317 non-null    object
 3   Name      286 non-null    object
 4   geometry  317 non-null    geometry
dtypes: float64(1), geometry(1), object(3)
memory usage: 12.5+ KB

In [75]:
df_merged2['Citycode'] = df_merged2['Citycode'].astype(float)
gdf['City_cd'] = gdf['City_cd'].astype(float)

In [76]:

# 根据Citycode和市代码进行连接，保留不匹配的行
data_merged3 = gdf.merge(df_merged2, left_on='City_cd', right_on='Citycode', how='outer')

In [82]:
data_merged3

,Prvnc_c,City_cd,Area,Name,geometry,Name_of_Regions_x_2006,Citycode,Year_x,UER_2006,UI_2006,...,D_2010,UI_normalized_2010,UER_normalized_2010,C2_2010,T2_2010,D2_2010,Delta_UER,Delta_UI,DI,DI_Category
0,460000.0,460000.0,0,Hainan,"MULTIPOLYGON (((509245.473 1880004.210, 509230...",Hainan,460000.0,2006.0,0.126850,0.062596,...,0.279759,0.029700,0.754980,0.381667,0.392340,0.386967,0.192857,-0.353294,-0.545881,Strong negative decoupling / Negative decoupling
1,540000.0,540000.0,0,Tibet,"POLYGON ((-1051759.214 2954966.840, -1051995.7...",Tibet,540000.0,2006.0,0.057672,0.022349,...,0.207468,0.004016,0.595070,0.163205,0.299543,0.221104,1.068123,-0.304972,-3.502358,Strong negative decoupling / Negative decoupling
2,630000.0,630000.0,0,Qinghai,"POLYGON ((-228508.104 3789259.226, -228464.693...",Qinghai,630000.0,2006.0,0.122428,0.054317,...,0.238689,0.012656,0.676889,0.268455,0.344772,0.304230,0.108137,-0.559522,-0.193266,Strong negative decoupling / Negative decoupling
3,650000.0,650000.0,0,xinjiang,"POLYGON ((-1766120.224 3995392.661, -1766246.1...",Xinjiang,650000.0,2006.0,0.087788,0.075510,...,0.246183,0.016140,0.671055,0.302887,0.343597,0.322601,0.532082,-0.638332,-0.833551,Strong negative decoupling / Negative decoupling
4,110000.0,110000.0,16405,Beijing,"POLYGON ((964331.264 4474013.823, 964404.983 4...",Beijing,110000.0,2006.0,0.137433,0.210078,...,0.431877,0.200826,0.839766,0.789294,0.520296,0.640833,0.224613,-0.016062,-13.983872,Strong negative decoupling / Negative decoupling
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312,640000.0,640400.0,10524,Guyuan,"MULTIPOLYGON (((93771.810 3789604.316, 93641.5...",Guyuan,640400.0,2006.0,0.129806,0.020694,...,0.224820,0.005639,0.745015,0.172687,0.375327,0.254586,0.150312,-0.173223,-0.867736,Strong negative decoupling / Negative decoupling
313,640000.0,640500.0,13659,Zhongwei,"POLYGON ((75753.800 4044387.044, 76030.401 404...",Zhongwei,640500.0,2006.0,0.126115,0.030682,...,0.217388,0.012220,0.474050,0.313042,0.243135,0.275883,-0.246529,-0.234007,1.053514,Recession connection / Connection
314,710000.0,710000.0,36200,NaN,"MULTIPOLYGON (((1725282.722 2422889.823, 17253...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315,810000.0,810000.0,1115,NaN,"MULTIPOLYGON (((926766.217 2342789.464, 926841...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316,820000.0,820000.0,34,NaN,"MULTIPOLYGON (((891332.431 2339835.922, 891974...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [81]:
# 查找 Name_of_Regions_x_2010 有值但是 Name 列无值的行
rows_with_value_in_Regions_but_not_in_Name = data_merged3[(data_merged3['Name_of_Regions_x_2010'].notna()) & (data_merged3['Name'].isna())]

# 输出符合条件的行
print(rows_with_value_in_Regions_but_not_in_Name)

Empty GeoDataFrame
Columns: [Prvnc_c, City_cd, Area, Name, geometry, Name_of_Regions_x_2006, Citycode, Year_x, UER_2006, UI_2006, C_2006, T_2006, D_2006, UI_normalized_2006, UER_normalized_2006, C2_2006, T2_2006, D2_2006, Name_of_Regions_x_2010, Year, UER_2010, UI_2010, C_2010, T_2010, D_2010, UI_normalized_2010, UER_normalized_2010, C2_2010, T2_2010, D2_2010, Delta_UER, Delta_UI, DI, DI_Category]
Index: []

[0 rows x 34 columns]

In [79]:
# 删除 geometry 列为空值的行
data_merged3 = data_merged3.dropna(subset=['geometry'])

In [80]:
# 查找 geometry 列为空值的行
rows_with_nan_in_geometry = data_merged3[data_merged3['geometry'].isna()]

# 输出包含 geometry 列为空值的行
print(rows_with_nan_in_geometry)

Empty GeoDataFrame
Columns: [Prvnc_c, City_cd, Area, Name, geometry, Name_of_Regions_x_2006, Citycode, Year_x, UER_2006, UI_2006, C_2006, T_2006, D_2006, UI_normalized_2006, UER_normalized_2006, C2_2006, T2_2006, D2_2006, Name_of_Regions_x_2010, Year, UER_2010, UI_2010, C_2010, T_2010, D_2010, UI_normalized_2010, UER_normalized_2010, C2_2010, T2_2010, D2_2010, Delta_UER, Delta_UI, DI, DI_Category]
Index: []

[0 rows x 34 columns]

In [83]:
# 修改列名称“省代码”为“province”
data_merged3 = data_merged3.rename(columns={'省代码': 'Provincecode'})
# 修改列名称“省代码”为“province”
data_merged3 = data_merged3.rename(columns={'省': 'Province'})
# 修改列名称“省代码”为“province”
data_merged3 = data_merged3.rename(columns={'市代码': 'Citycode1'})
data_merged3 = data_merged3.rename(columns={'市': 'City'})
data_merged3 = data_merged3.rename(columns={'类型': 'Type'})

In [84]:
# 将data_merged导出为新的shapefile
output_shapefile_path = 'data/Chinamap_2019/CouplingValue_20062010.shp'
data_merged3.to_file(output_shapefile_path, driver='ESRI Shapefile')

/tmp/ipykernel_31992/3462740497.py:3: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  data_merged3.to_file(output_shapefile_path, driver='ESRI Shapefile')