In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd
import matplotlib.pyplot as plt

In [2]:
# 导入主表
df = pd.read_excel("UI_UER_2022.xlsx")   # 含 Citycode

In [3]:
df

,UrbanPopulation,Surface_Area_of_Built_District,Road_Surface_Area_Per_Capita_m2,Parkland_per_capita,Rate_of_non_hazardous_treatment_of_domestic_waste(%),Population_urbanization,GDP,First_sector_of_GDP,Industrial_wastewater_discharge_(tonnes),Industrial_fume_emissions_(tonnes),Comprehensive_industrial_solid_waste_utilisation_rate(%),Citycode,Area_of_administrative_districts,Greening_coverage_in_builtup_areas,Year
0,1912.80,1469.05,8.04,16.63,100.0,0.8757,416110000,0.27,7291,4037,53.92,110000,16405,49.77,2022
1,1160.07,1264.46,16.11,9.98,100.0,0.8511,163110000,1.67,18074,6501,98.90,120000,11924,38.41,2022
2,349.41,334.52,17.06,14.59,100.0,0.7144,71010000,7.86,7706,6933,78.34,130100,14058,41.33,2022
3,195.67,249.50,20.76,16.69,100.0,0.6579,89010000,7.17,9719,37965,73.17,130200,13808,43.97,2022
4,106.55,149.81,18.16,17.25,100.0,0.6547,19100000,13.21,2420,13898,60.51,130300,7792,40.75,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,21.81,57.32,26.91,32.21,100.0,0.3397,8670000,13.86,1681,7516,46.57,640300,16747,41.69,2022
275,20.21,45.06,30.96,32.10,100.0,0.4480,4100000,18.26,104,914,66.38,640400,10524,41.99,2022
276,15.42,30.86,34.87,23.68,100.0,0.5083,5640000,14.15,1049,4709,64.74,640500,13659,43.99,2022
277,234.21,545.10,15.68,13.17,100.0,0.9650,38930000,0.80,2948,16258,89.42,650100,13793,39.73,2022
278,31.97,79.42,37.18,14.26,100.0,0.9897,11880000,1.56,1752,1701,92.94,650200,7374,43.94,2022

In [4]:
# CO2
co2 = pd.read_excel("CO2_2022.xlsx")      # 含 Citycode, CO2
df = df.merge(co2[['Citycode', 'CO2']], on='Citycode', how='left')

# ISA
isa = pd.read_excel("ISA_2022.xlsx")      # 含 CITY_ID, ISA
df = df.merge(isa[['CITY_ID', 'ISA']], left_on='Citycode', right_on='CITY_ID', how='left')
df = df.drop(columns=['CITY_ID'])

# NPP
npp = pd.read_excel("NPP_2022_withCitycode.xlsx")   # 含 Citycode, NPP
df = df.merge(npp[['Citycode', 'NPP']], on='Citycode', how='left')

# NTL
ntl = pd.read_excel("NTL_2022.xlsx")      # 含 CITY_ID, NTL
df = df.merge(ntl[['CITY_ID', 'NTL']], left_on='Citycode', right_on='CITY_ID', how='left')
df = df.drop(columns=['CITY_ID'])

# PD
pd_df = pd.read_excel("PD_2022.xlsx")     # 含 CITY_ID, PD
df = df.merge(pd_df[['CITY_ID', 'PD']], left_on='Citycode', right_on='CITY_ID', how='left')
df = df.drop(columns=['CITY_ID'])

# PM2.5
pm25 = pd.read_excel("PM25_2022.xlsx")    # 含 CITY_ID, pm2.5
df = df.merge(pm25[['CITY_ID', 'pm2.5']], left_on='Citycode', right_on='CITY_ID', how='left')
df = df.drop(columns=['CITY_ID'])

# Science expenditure
sci = pd.read_excel("SCI_EXP_2022.xlsx")  # 含 Citycode, Science_expend
df = df.merge(sci[['Citycode', 'Science_expend']], on='Citycode', how='left')

# Water & SO2
water = pd.read_excel("Water_SO2_2022.xlsx")   # 含 code, SO2_REMOVE, Sewage
df = df.merge(water[['code', 'SO2_REMOVE', 'Sewage']], left_on='Citycode', right_on='code', how='left')
df = df.drop(columns=['code'])

In [5]:
df

,UrbanPopulation,Surface_Area_of_Built_District,Road_Surface_Area_Per_Capita_m2,Parkland_per_capita,Rate_of_non_hazardous_treatment_of_domestic_waste(%),Population_urbanization,GDP,First_sector_of_GDP,Industrial_wastewater_discharge_(tonnes),Industrial_fume_emissions_(tonnes),...,Year,CO2,ISA,NPP,NTL,PD,pm2.5,Science_expend,SO2_REMOVE,Sewage
0,1912.80,1469.05,8.04,16.63,100.0,0.8757,416110000,0.27,7291,4037,...,2022,7.715725e+07,3841.57,448.204742,27.314734,830.569440,29.685238,4887041.0,3.345960e+05,98.07
1,1160.07,1264.46,16.11,9.98,100.0,0.8511,163110000,1.67,18074,6501,...,2022,1.430185e+08,4342.19,367.199027,34.214298,777.648646,37.163210,621605.0,1.783966e+06,98.45
2,349.41,334.52,17.06,14.59,100.0,0.7144,71010000,7.86,7706,6933,...,2022,8.713324e+07,3064.13,378.859732,17.973036,517.712843,42.988152,214508.0,1.499062e+06,99.76
3,195.67,249.50,20.76,16.69,100.0,0.6579,89010000,7.17,9719,37965,...,2022,2.740486e+08,3806.00,437.419146,22.738887,381.832125,34.794611,105424.0,1.949644e+06,99.27
4,106.55,149.81,18.16,17.25,100.0,0.6547,19100000,13.21,2420,13898,...,2022,2.496936e+07,1109.92,512.896991,14.395518,266.253383,30.552807,20585.0,2.470740e+05,97.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,21.81,57.32,26.91,32.21,100.0,0.3397,8670000,13.86,1681,7516,...,2022,3.511949e+07,136.67,166.548417,7.768196,56.285252,31.273616,22487.0,-1.283300e+04,96.90
275,20.21,45.06,30.96,32.10,100.0,0.4480,4100000,18.26,104,914,...,2022,4.957629e+06,23.97,423.422813,6.239852,80.361617,27.794994,11676.0,1.612286e+03,99.31
276,15.42,30.86,34.87,23.68,100.0,0.5083,5640000,14.15,1049,4709,...,2022,1.703148e+07,112.64,181.663914,5.704916,60.797757,30.565761,18950.0,-5.730030e+05,99.87
277,234.21,545.10,15.68,13.17,100.0,0.9650,38930000,0.80,2948,16258,...,2022,6.568320e+07,476.94,146.764204,9.936326,148.548791,27.954844,33008.0,6.518760e+05,99.38
278,31.97,79.42,37.18,14.26,100.0,0.9897,11880000,1.56,1752,1701,...,2022,1.002891e+07,133.02,46.929996,12.739544,31.079839,31.710007,18672.0,-4.320200e+04,99.60

In [5]:
# Removes rows containing NaN values in the specified columns
columns_to_check = [ 
    'First_sector_of_GDP', 
    'GDP', 
    'Citycode', 
    'Area_of_administrative_districts',
    'NTL',
    'ISA',
    'PD'
    
]
df_cleaned = df.dropna(subset=columns_to_check)

In [6]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 278 entries, 0 to 278
Data columns (total 24 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   UrbanPopulation                                           278 non-null    float64
 1   Surface_Area_of_Built_District                            278 non-null    float64
 2   Road_Surface_Area_Per_Capita_m2                           278 non-null    float64
 3   Parkland_per_capita                                       278 non-null    float64
 4   Rate_of_non_hazardous_treatment_of_domestic_waste(%)      278 non-null    float64
 5   Population_urbanization                                   278 non-null    float64
 6   GDP                                                       278 non-null    int64
 7   First_sector_of_GDP                                       278 non-null    float64
 8   Industrial_wastewater_discharge_(tonnes)                  278 non-null    int64
 9   Industrial_fume_emissions_(tonnes)                        278 non-null    int64
 10  Comprehensive_industrial_solid_waste_utilisation_rate(%)  278 non-null    float64
 11  Citycode                                                  278 non-null    int64
 12  Area_of_administrative_districts                          278 non-null    int64
 13  Greening_coverage_in_builtup_areas                        278 non-null    float64
 14  Year                                                      278 non-null    int64
 15  CO2                                                       278 non-null    float64
 16  ISA                                                       278 non-null    float64
 17  NPP                                                       278 non-null    float64
 18  NTL                                                       278 non-null    float64
 19  PD                                                        278 non-null    float64
 20  pm2.5                                                     278 non-null    float64
 21  Science_expend                                            278 non-null    float64
 22  SO2_REMOVE                                                273 non-null    float64
 23  Sewage                                                    276 non-null    float64
dtypes: float64(18), int64(6)
memory usage: 54.3 KB

In [7]:
# Specify the columns to check for NaN values
columns_to_check = [
    'Population_urbanization',
    'PD',
    'ISA',
    'UrbanPopulation', 
    'First_sector_of_GDP', 
    'GDP', 
    'NTL',
    'Citycode', 
    'Road_Surface_Area_Per_Capita_m2',
]

# Convert these columns to numeric types to handle non-numeric content
for column in columns_to_check:
    df_cleaned[column] = pd.to_numeric(df_cleaned[column], errors='coerce')

/tmp/ipykernel_349/2789612693.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned[column] = pd.to_numeric(df_cleaned[column], errors='coerce')

In [8]:
df_cleaned['PUI'] = (df_cleaned['Population_urbanization'])

/tmp/ipykernel_349/629985429.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['PUI'] = (df_cleaned['Population_urbanization'])

In [9]:
df_cleaned

,UrbanPopulation,Surface_Area_of_Built_District,Road_Surface_Area_Per_Capita_m2,Parkland_per_capita,Rate_of_non_hazardous_treatment_of_domestic_waste(%),Population_urbanization,GDP,First_sector_of_GDP,Industrial_wastewater_discharge_(tonnes),Industrial_fume_emissions_(tonnes),...,CO2,ISA,NPP,NTL,PD,pm2.5,Science_expend,SO2_REMOVE,Sewage,PUI
0,1912.80,1469.05,8.04,16.63,100.0,0.8757,416110000,0.27,7291,4037,...,7.715725e+07,3841.57,448.204742,27.314734,830.569440,29.685238,4887041.0,3.345960e+05,98.07,0.8757
1,1160.07,1264.46,16.11,9.98,100.0,0.8511,163110000,1.67,18074,6501,...,1.430185e+08,4342.19,367.199027,34.214298,777.648646,37.163210,621605.0,1.783966e+06,98.45,0.8511
2,349.41,334.52,17.06,14.59,100.0,0.7144,71010000,7.86,7706,6933,...,8.713324e+07,3064.13,378.859732,17.973036,517.712843,42.988152,214508.0,1.499062e+06,99.76,0.7144
3,195.67,249.50,20.76,16.69,100.0,0.6579,89010000,7.17,9719,37965,...,2.740486e+08,3806.00,437.419146,22.738887,381.832125,34.794611,105424.0,1.949644e+06,99.27,0.6579
4,106.55,149.81,18.16,17.25,100.0,0.6547,19100000,13.21,2420,13898,...,2.496936e+07,1109.92,512.896991,14.395518,266.253383,30.552807,20585.0,2.470740e+05,97.10,0.6547
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,21.81,57.32,26.91,32.21,100.0,0.3397,8670000,13.86,1681,7516,...,3.511949e+07,136.67,166.548417,7.768196,56.285252,31.273616,22487.0,-1.283300e+04,96.90,0.3397
275,20.21,45.06,30.96,32.10,100.0,0.4480,4100000,18.26,104,914,...,4.957629e+06,23.97,423.422813,6.239852,80.361617,27.794994,11676.0,1.612286e+03,99.31,0.4480
276,15.42,30.86,34.87,23.68,100.0,0.5083,5640000,14.15,1049,4709,...,1.703148e+07,112.64,181.663914,5.704916,60.797757,30.565761,18950.0,-5.730030e+05,99.87,0.5083
277,234.21,545.10,15.68,13.17,100.0,0.9650,38930000,0.80,2948,16258,...,6.568320e+07,476.94,146.764204,9.936326,148.548791,27.954844,33008.0,6.518760e+05,99.38,0.9650
278,31.97,79.42,37.18,14.26,100.0,0.9897,11880000,1.56,1752,1701,...,1.002891e+07,133.02,46.929996,12.739544,31.079839,31.710007,18672.0,-4.320200e+04,99.60,0.9897

In [10]:
df_cleaned['PUI'].describe()

count    278.000000
mean       0.618986
std        0.131109
min        0.339700
25%        0.522598
50%        0.605300
75%        0.699800
max        0.997900
Name: PUI, dtype: float64

In [11]:
df_cleaned['PD'].describe()

count     278.000000
mean      358.485556
std       425.773979
min         4.539412
25%       130.602224
50%       256.811017
75%       462.113554
max      4411.571545
Name: PD, dtype: float64

In [12]:
df_cleaned['LUI'] = (df_cleaned['ISA']) / df_cleaned['Area_of_administrative_districts']

/tmp/ipykernel_349/2781354406.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['LUI'] = (df_cleaned['ISA']) / df_cleaned['Area_of_administrative_districts']

In [13]:
df_cleaned['LUI'].describe()

count    278.000000
mean       0.095376
std        0.095920
min        0.000001
25%        0.020873
50%        0.051581
75%        0.159607
max        0.504927
Name: LUI, dtype: float64

In [14]:
df_cleaned['EUI'] = 1 - (df_cleaned['First_sector_of_GDP']) / 100

/tmp/ipykernel_349/1051056126.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['EUI'] = 1 - (df_cleaned['First_sector_of_GDP']) / 100

In [15]:
df_cleaned['EUI'].describe()

count    278.000000
mean       0.882046
std        0.080447
min        0.524700
25%        0.836775
50%        0.897150
75%        0.938400
max        0.999200
Name: EUI, dtype: float64

In [16]:
df_cleaned['EAL'] = df_cleaned['NTL']

/tmp/ipykernel_349/309165452.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['EAL'] = df_cleaned['NTL']

In [17]:
df_cleaned['EAL'].describe()

count    278.000000
mean      14.994206
std       10.639330
min        0.863278
25%        7.575834
50%       11.658553
75%       20.590044
max       59.541852
Name: EAL, dtype: float64

In [18]:
df_cleaned

,UrbanPopulation,Surface_Area_of_Built_District,Road_Surface_Area_Per_Capita_m2,Parkland_per_capita,Rate_of_non_hazardous_treatment_of_domestic_waste(%),Population_urbanization,GDP,First_sector_of_GDP,Industrial_wastewater_discharge_(tonnes),Industrial_fume_emissions_(tonnes),...,NTL,PD,pm2.5,Science_expend,SO2_REMOVE,Sewage,PUI,LUI,EUI,EAL
0,1912.80,1469.05,8.04,16.63,100.0,0.8757,416110000,0.27,7291,4037,...,27.314734,830.569440,29.685238,4887041.0,3.345960e+05,98.07,0.8757,0.234171,0.9973,27.314734
1,1160.07,1264.46,16.11,9.98,100.0,0.8511,163110000,1.67,18074,6501,...,34.214298,777.648646,37.163210,621605.0,1.783966e+06,98.45,0.8511,0.364155,0.9833,34.214298
2,349.41,334.52,17.06,14.59,100.0,0.7144,71010000,7.86,7706,6933,...,17.973036,517.712843,42.988152,214508.0,1.499062e+06,99.76,0.7144,0.217963,0.9214,17.973036
3,195.67,249.50,20.76,16.69,100.0,0.6579,89010000,7.17,9719,37965,...,22.738887,381.832125,34.794611,105424.0,1.949644e+06,99.27,0.6579,0.275637,0.9283,22.738887
4,106.55,149.81,18.16,17.25,100.0,0.6547,19100000,13.21,2420,13898,...,14.395518,266.253383,30.552807,20585.0,2.470740e+05,97.10,0.6547,0.142444,0.8679,14.395518
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,21.81,57.32,26.91,32.21,100.0,0.3397,8670000,13.86,1681,7516,...,7.768196,56.285252,31.273616,22487.0,-1.283300e+04,96.90,0.3397,0.008161,0.8614,7.768196
275,20.21,45.06,30.96,32.10,100.0,0.4480,4100000,18.26,104,914,...,6.239852,80.361617,27.794994,11676.0,1.612286e+03,99.31,0.4480,0.002278,0.8174,6.239852
276,15.42,30.86,34.87,23.68,100.0,0.5083,5640000,14.15,1049,4709,...,5.704916,60.797757,30.565761,18950.0,-5.730030e+05,99.87,0.5083,0.008247,0.8585,5.704916
277,234.21,545.10,15.68,13.17,100.0,0.9650,38930000,0.80,2948,16258,...,9.936326,148.548791,27.954844,33008.0,6.518760e+05,99.38,0.9650,0.034578,0.9920,9.936326
278,31.97,79.42,37.18,14.26,100.0,0.9897,11880000,1.56,1752,1701,...,12.739544,31.079839,31.710007,18672.0,-4.320200e+04,99.60,0.9897,0.018039,0.9844,12.739544

In [20]:
# Import land_use_intensity_by_city2006.csv data
df_land_use = pd.read_csv("land_use_intensity_by_city2022.csv", encoding='ISO-8859-1')

In [21]:
df_land_use

     Citycode  Provincecode          Province            City         LUL
0    110000.0      110000.0            ±±¾©ÊÐ          ±±¾©ÊÐ  268.575017
1    120000.0      120000.0            Ìì½òÊÐ          Ìì½òÊÐ  323.775440
2    130100.0      130000.0            ºÓ±±Ê¡        Ê¯¼Ò×¯ÊÐ  291.100760
3    130200.0      130000.0            ºÓ±±Ê¡          ÌÆÉ½ÊÐ  311.211194
4    130300.0      130000.0            ºÓ±±Ê¡        ÇØ»ÊµºÊÐ  267.822668
..        ...           ...               ...             ...         ...
365  659009.0      650000.0  ÐÂ½®Î¬Îá¶û×ÔÖÎÇø          À¥ÓñÊÐ  143.930203
366  659010.0      650000.0  ÐÂ½®Î¬Îá¶û×ÔÖÎÇø        ºúÑîºÓÊÐ  258.529846
367  710000.0      710000.0            Ì¨ÍåÊ¡          Ì¨ÍåÊ¡  237.160046
368  810000.0      810000.0    Ïã¸ÛÌØ±ðÐÐÕþÇø  Ïã¸ÛÌØ±ðÐÐÕþÇø  244.003156
369  820000.0      820000.0    °ÄÃÅÌØ±ðÐÐÕþÇø  °ÄÃÅÌØ±ðÐÐÕþÇø  338.145439

[370 rows x 5 columns]

In [22]:
df_merged = df_cleaned.merge(df_land_use[['Citycode', 'LUL']], on='Citycode', how='left')

In [23]:
df_merged

,UrbanPopulation,Surface_Area_of_Built_District,Road_Surface_Area_Per_Capita_m2,Parkland_per_capita,Rate_of_non_hazardous_treatment_of_domestic_waste(%),Population_urbanization,GDP,First_sector_of_GDP,Industrial_wastewater_discharge_(tonnes),Industrial_fume_emissions_(tonnes),...,PD,pm2.5,Science_expend,SO2_REMOVE,Sewage,PUI,LUI,EUI,EAL,LUL
0,1912.80,1469.05,8.04,16.63,100.0,0.8757,416110000,0.27,7291,4037,...,830.569440,29.685238,4887041.0,3.345960e+05,98.07,0.8757,0.234171,0.9973,27.314734,268.575017
1,1160.07,1264.46,16.11,9.98,100.0,0.8511,163110000,1.67,18074,6501,...,777.648646,37.163210,621605.0,1.783966e+06,98.45,0.8511,0.364155,0.9833,34.214298,323.775440
2,349.41,334.52,17.06,14.59,100.0,0.7144,71010000,7.86,7706,6933,...,517.712843,42.988152,214508.0,1.499062e+06,99.76,0.7144,0.217963,0.9214,17.973036,291.100760
3,195.67,249.50,20.76,16.69,100.0,0.6579,89010000,7.17,9719,37965,...,381.832125,34.794611,105424.0,1.949644e+06,99.27,0.6579,0.275637,0.9283,22.738887,311.211194
4,106.55,149.81,18.16,17.25,100.0,0.6547,19100000,13.21,2420,13898,...,266.253383,30.552807,20585.0,2.470740e+05,97.10,0.6547,0.142444,0.8679,14.395518,267.822668
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,21.81,57.32,26.91,32.21,100.0,0.3397,8670000,13.86,1681,7516,...,56.285252,31.273616,22487.0,-1.283300e+04,96.90,0.3397,0.008161,0.8614,7.768196,213.262429
274,20.21,45.06,30.96,32.10,100.0,0.4480,4100000,18.26,104,914,...,80.361617,27.794994,11676.0,1.612286e+03,99.31,0.4480,0.002278,0.8174,6.239852,232.605304
275,15.42,30.86,34.87,23.68,100.0,0.5083,5640000,14.15,1049,4709,...,60.797757,30.565761,18950.0,-5.730030e+05,99.87,0.5083,0.008247,0.8585,5.704916,207.871637
276,234.21,545.10,15.68,13.17,100.0,0.9650,38930000,0.80,2948,16258,...,148.548791,27.954844,33008.0,6.518760e+05,99.38,0.9650,0.034578,0.9920,9.936326,130.022680
277,31.97,79.42,37.18,14.26,100.0,0.9897,11880000,1.56,1752,1701,...,31.079839,31.710007,18672.0,-4.320200e+04,99.60,0.9897,0.018039,0.9844,12.739544,69.553037

In [24]:
columns_to_check1 = ['PUI','PD', 'LUI', 'EUI', 'EAL','LUL']

data_merged = df_merged.dropna(subset=columns_to_check1)

In [25]:
data_merged

,UrbanPopulation,Surface_Area_of_Built_District,Road_Surface_Area_Per_Capita_m2,Parkland_per_capita,Rate_of_non_hazardous_treatment_of_domestic_waste(%),Population_urbanization,GDP,First_sector_of_GDP,Industrial_wastewater_discharge_(tonnes),Industrial_fume_emissions_(tonnes),...,PD,pm2.5,Science_expend,SO2_REMOVE,Sewage,PUI,LUI,EUI,EAL,LUL
0,1912.80,1469.05,8.04,16.63,100.0,0.8757,416110000,0.27,7291,4037,...,830.569440,29.685238,4887041.0,3.345960e+05,98.07,0.8757,0.234171,0.9973,27.314734,268.575017
1,1160.07,1264.46,16.11,9.98,100.0,0.8511,163110000,1.67,18074,6501,...,777.648646,37.163210,621605.0,1.783966e+06,98.45,0.8511,0.364155,0.9833,34.214298,323.775440
2,349.41,334.52,17.06,14.59,100.0,0.7144,71010000,7.86,7706,6933,...,517.712843,42.988152,214508.0,1.499062e+06,99.76,0.7144,0.217963,0.9214,17.973036,291.100760
3,195.67,249.50,20.76,16.69,100.0,0.6579,89010000,7.17,9719,37965,...,381.832125,34.794611,105424.0,1.949644e+06,99.27,0.6579,0.275637,0.9283,22.738887,311.211194
4,106.55,149.81,18.16,17.25,100.0,0.6547,19100000,13.21,2420,13898,...,266.253383,30.552807,20585.0,2.470740e+05,97.10,0.6547,0.142444,0.8679,14.395518,267.822668
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,21.81,57.32,26.91,32.21,100.0,0.3397,8670000,13.86,1681,7516,...,56.285252,31.273616,22487.0,-1.283300e+04,96.90,0.3397,0.008161,0.8614,7.768196,213.262429
274,20.21,45.06,30.96,32.10,100.0,0.4480,4100000,18.26,104,914,...,80.361617,27.794994,11676.0,1.612286e+03,99.31,0.4480,0.002278,0.8174,6.239852,232.605304
275,15.42,30.86,34.87,23.68,100.0,0.5083,5640000,14.15,1049,4709,...,60.797757,30.565761,18950.0,-5.730030e+05,99.87,0.5083,0.008247,0.8585,5.704916,207.871637
276,234.21,545.10,15.68,13.17,100.0,0.9650,38930000,0.80,2948,16258,...,148.548791,27.954844,33008.0,6.518760e+05,99.38,0.9650,0.034578,0.9920,9.936326,130.022680
277,31.97,79.42,37.18,14.26,100.0,0.9897,11880000,1.56,1752,1701,...,31.079839,31.710007,18672.0,-4.320200e+04,99.60,0.9897,0.018039,0.9844,12.739544,69.553037

In [26]:
columns_to_keep = ['Year', 'Citycode', 'PUI','PD', 'LUI', 'EUI', 'EAL','LUL']
ui_index_2006 = data_merged[columns_to_keep]

ui_index_2006.to_csv('UI_index_2022.csv', index=False)

In [27]:
columns_to_fill = [
    'Industrial_wastewater_discharge_(tonnes)', 
    'Industrial_fume_emissions_(tonnes)', 
    'pm2.5',
    'CO2',
    'Comprehensive_industrial_solid_waste_utilisation_rate(%)', 
    'Rate_of_non_hazardous_treatment_of_domestic_waste(%)', 
    'Sewage',
    'SO2_REMOVE',
    'Greening_coverage_in_builtup_areas', 
    'Parkland_per_capita',
    'NPP',
    'Science_expend'
]

df_cleaned[columns_to_fill] = df_cleaned[columns_to_fill].fillna(0)

/tmp/ipykernel_349/1814290371.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned[columns_to_fill] = df_cleaned[columns_to_fill].fillna(0)

In [28]:
df_cleaned

,UrbanPopulation,Surface_Area_of_Built_District,Road_Surface_Area_Per_Capita_m2,Parkland_per_capita,Rate_of_non_hazardous_treatment_of_domestic_waste(%),Population_urbanization,GDP,First_sector_of_GDP,Industrial_wastewater_discharge_(tonnes),Industrial_fume_emissions_(tonnes),...,NTL,PD,pm2.5,Science_expend,SO2_REMOVE,Sewage,PUI,LUI,EUI,EAL
0,1912.80,1469.05,8.04,16.63,100.0,0.8757,416110000,0.27,7291,4037,...,27.314734,830.569440,29.685238,4887041.0,3.345960e+05,98.07,0.8757,0.234171,0.9973,27.314734
1,1160.07,1264.46,16.11,9.98,100.0,0.8511,163110000,1.67,18074,6501,...,34.214298,777.648646,37.163210,621605.0,1.783966e+06,98.45,0.8511,0.364155,0.9833,34.214298
2,349.41,334.52,17.06,14.59,100.0,0.7144,71010000,7.86,7706,6933,...,17.973036,517.712843,42.988152,214508.0,1.499062e+06,99.76,0.7144,0.217963,0.9214,17.973036
3,195.67,249.50,20.76,16.69,100.0,0.6579,89010000,7.17,9719,37965,...,22.738887,381.832125,34.794611,105424.0,1.949644e+06,99.27,0.6579,0.275637,0.9283,22.738887
4,106.55,149.81,18.16,17.25,100.0,0.6547,19100000,13.21,2420,13898,...,14.395518,266.253383,30.552807,20585.0,2.470740e+05,97.10,0.6547,0.142444,0.8679,14.395518
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,21.81,57.32,26.91,32.21,100.0,0.3397,8670000,13.86,1681,7516,...,7.768196,56.285252,31.273616,22487.0,-1.283300e+04,96.90,0.3397,0.008161,0.8614,7.768196
275,20.21,45.06,30.96,32.10,100.0,0.4480,4100000,18.26,104,914,...,6.239852,80.361617,27.794994,11676.0,1.612286e+03,99.31,0.4480,0.002278,0.8174,6.239852
276,15.42,30.86,34.87,23.68,100.0,0.5083,5640000,14.15,1049,4709,...,5.704916,60.797757,30.565761,18950.0,-5.730030e+05,99.87,0.5083,0.008247,0.8585,5.704916
277,234.21,545.10,15.68,13.17,100.0,0.9650,38930000,0.80,2948,16258,...,9.936326,148.548791,27.954844,33008.0,6.518760e+05,99.38,0.9650,0.034578,0.9920,9.936326
278,31.97,79.42,37.18,14.26,100.0,0.9897,11880000,1.56,1752,1701,...,12.739544,31.079839,31.710007,18672.0,-4.320200e+04,99.60,0.9897,0.018039,0.9844,12.739544

In [29]:
#导出进行shap
df_cleaned.to_csv('All_indi_2022.csv', index=False)

In [30]:
df_cleaned['Res1'] = df_cleaned['Industrial_wastewater_discharge_(tonnes)'] / df_cleaned['GDP']

/tmp/ipykernel_349/2666823736.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Res1'] = df_cleaned['Industrial_wastewater_discharge_(tonnes)'] / df_cleaned['GDP']

In [31]:
df_cleaned['Res1'].describe()

count    278.000000
mean       0.000131
std        0.000121
min        0.000006
25%        0.000059
50%        0.000096
75%        0.000167
max        0.001072
Name: Res1, dtype: float64

In [32]:
df_cleaned['Res2'] = df_cleaned['Industrial_fume_emissions_(tonnes)'] / df_cleaned['GDP']

/tmp/ipykernel_349/2575824147.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Res2'] = df_cleaned['Industrial_fume_emissions_(tonnes)'] / df_cleaned['GDP']

In [33]:
df_cleaned['Res2'].describe()

count    278.000000
mean       0.000435
std        0.000803
min        0.000003
25%        0.000078
50%        0.000182
75%        0.000442
max        0.006318
Name: Res2, dtype: float64

In [34]:
df_cleaned['Res3'] = df_cleaned['pm2.5']

/tmp/ipykernel_349/2715485576.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Res3'] = df_cleaned['pm2.5']

In [35]:
df_cleaned['Res3'].describe()

count    278.000000
mean      28.750611
std        8.287053
min       11.659725
25%       22.600184
50%       27.783272
75%       33.028952
max       50.935074
Name: Res3, dtype: float64

In [36]:
df_cleaned['Res4'] = df_cleaned['CO2']

/tmp/ipykernel_349/4017769138.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Res4'] = df_cleaned['CO2']

In [37]:
df_cleaned['Res4'].describe()

count    2.780000e+02
mean     3.757253e+07
std      3.491910e+07
min      1.801036e+06
25%      1.559365e+07
50%      2.793258e+07
75%      4.814351e+07
max      2.740486e+08
Name: Res4, dtype: float64

In [38]:
df_cleaned['Ada1'] = df_cleaned['Comprehensive_industrial_solid_waste_utilisation_rate(%)'] 
df_cleaned['Ada1'].describe()

/tmp/ipykernel_349/526319254.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Ada1'] = df_cleaned['Comprehensive_industrial_solid_waste_utilisation_rate(%)']

count    278.000000
mean      74.762338
std       24.763912
min        2.520000
25%       61.997500
50%       82.120000
75%       94.267500
max      150.620000
Name: Ada1, dtype: float64

In [39]:
rows_ada1_above_100 = df_cleaned[df_cleaned['Ada1'] > 100]
rows_ada1_above_100

,UrbanPopulation,Surface_Area_of_Built_District,Road_Surface_Area_Per_Capita_m2,Parkland_per_capita,Rate_of_non_hazardous_treatment_of_domestic_waste(%),Population_urbanization,GDP,First_sector_of_GDP,Industrial_wastewater_discharge_(tonnes),Industrial_fume_emissions_(tonnes),...,Sewage,PUI,LUI,EUI,EAL,Res1,Res2,Res3,Res4,Ada1
67,184.78,278.74,24.45,15.58,100.0,0.7801,95500000,1.80,11710,18452,...,93.13,0.7801,0.219577,0.9820,38.713008,0.000123,0.000193,31.753849,6.983994e+07,100.05
81,48.31,134.92,30.30,18.19,100.0,0.6636,38500000,4.19,7643,7223,...,98.54,0.6636,0.120320,0.9581,30.253908,0.000199,0.000188,26.905132,2.232971e+07,100.27
84,30.34,87.70,37.17,17.11,100.0,0.5930,20030000,4.65,8992,6895,...,97.45,0.5930,0.052338,0.9535,13.336610,0.000449,0.000344,21.424618,2.764443e+07,100.02
119,123.56,222.22,27.67,17.84,100.0,0.5700,45240000,9.97,6171,10930,...,95.37,0.5700,0.030611,0.9003,6.372447,0.000136,0.000242,19.364931,3.047333e+07,104.31
123,69.88,105.51,31.35,23.43,100.0,0.5594,33100000,10.02,6371,22567,...,100.00,0.5594,0.046719,0.8998,7.901046,0.000192,0.000682,22.337024,1.840727e+07,150.62
174,68.22,130.60,27.51,13.46,100.0,0.5770,42750000,11.58,273,8568,...,98.22,0.5770,0.027035,0.8842,8.566397,0.000006,0.000200,33.122231,2.863313e+07,100.44

In [40]:
df_cleaned['Ada2'] = df_cleaned['Rate_of_non_hazardous_treatment_of_domestic_waste(%)'] 
df_cleaned['Ada2'].describe()

/tmp/ipykernel_349/2482281589.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Ada2'] = df_cleaned['Rate_of_non_hazardous_treatment_of_domestic_waste(%)']

count    278.000000
mean      99.970827
std        0.282267
min       95.850000
25%      100.000000
50%      100.000000
75%      100.000000
max      100.000000
Name: Ada2, dtype: float64

In [41]:
rows_ada2_above_100 = df_cleaned[df_cleaned['Ada2'] > 100]
rows_ada2_above_100

Empty DataFrame
Columns: [UrbanPopulation, Surface_Area_of_Built_District, Road_Surface_Area_Per_Capita_m2, Parkland_per_capita, Rate_of_non_hazardous_treatment_of_domestic_waste(%), Population_urbanization, GDP, First_sector_of_GDP, Industrial_wastewater_discharge_(tonnes), Industrial_fume_emissions_(tonnes), Comprehensive_industrial_solid_waste_utilisation_rate(%), Citycode, Area_of_administrative_districts, Greening_coverage_in_builtup_areas, Year, CO2, ISA, NPP, NTL, PD, pm2.5, Science_expend, SO2_REMOVE, Sewage, PUI, LUI, EUI, EAL, Res1, Res2, Res3, Res4, Ada1, Ada2]
Index: []

[0 rows x 34 columns]

In [42]:
df_cleaned['Ada3'] = df_cleaned['SO2_REMOVE'] 
df_cleaned['Ada3'].describe()

/tmp/ipykernel_349/2674187087.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Ada3'] = df_cleaned['SO2_REMOVE']

count    2.780000e+02
mean     2.918483e+05
std      7.332033e+05
min     -3.360151e+06
25%      4.464750e+03
50%      1.369900e+05
75%      5.086288e+05
max      6.505377e+06
Name: Ada3, dtype: float64

In [43]:
df_cleaned['Ada4'] = df_cleaned['Sewage'] 
df_cleaned['Ada4'].describe()

/tmp/ipykernel_349/2337404170.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Ada4'] = df_cleaned['Sewage']

count    278.000000
mean      96.386331
std        9.065277
min        0.000000
25%       96.330000
50%       98.000000
75%       99.147500
max      101.670000
Name: Ada4, dtype: float64

In [44]:
df_cleaned['Rec1'] = df_cleaned['Greening_coverage_in_builtup_areas'] 
df_cleaned['Rec2'] = df_cleaned['Parkland_per_capita'] 
df_cleaned['Rec3'] = df_cleaned['NPP'] 
df_cleaned['Rec4'] = df_cleaned['Science_expend']

/tmp/ipykernel_349/2463940865.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Rec1'] = df_cleaned['Greening_coverage_in_builtup_areas']
/tmp/ipykernel_349/2463940865.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Rec2'] = df_cleaned['Parkland_per_capita']
/tmp/ipykernel_349/2463940865.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Rec3'] = df_cleaned['NPP']
/tmp/ipykernel_349/2463940865.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Rec4'] = df_cleaned['Science_expend']

In [45]:
df_cleaned['Rec3'].describe()

count     278.000000
mean      571.937935
std       233.659431
min        46.929996
25%       417.239457
50%       532.919333
75%       669.600250
max      1367.773655
Name: Rec3, dtype: float64

In [46]:
rows_rec1_above_100 = df_cleaned[df_cleaned['Rec1'] > 100]
rows_rec1_above_100

Empty DataFrame
Columns: [UrbanPopulation, Surface_Area_of_Built_District, Road_Surface_Area_Per_Capita_m2, Parkland_per_capita, Rate_of_non_hazardous_treatment_of_domestic_waste(%), Population_urbanization, GDP, First_sector_of_GDP, Industrial_wastewater_discharge_(tonnes), Industrial_fume_emissions_(tonnes), Comprehensive_industrial_solid_waste_utilisation_rate(%), Citycode, Area_of_administrative_districts, Greening_coverage_in_builtup_areas, Year, CO2, ISA, NPP, NTL, PD, pm2.5, Science_expend, SO2_REMOVE, Sewage, PUI, LUI, EUI, EAL, Res1, Res2, Res3, Res4, Ada1, Ada2, Ada3, Ada4, Rec1, Rec2, Rec3, Rec4]
Index: []

[0 rows x 40 columns]

In [47]:
df_cleaned['Rec4'].describe()

count    2.780000e+02
mean     2.078944e+05
std      5.580190e+05
min      1.401000e+03
25%      1.907300e+04
50%      5.499950e+04
75%      1.591332e+05
max      4.887041e+06
Name: Rec4, dtype: float64

In [48]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 278 entries, 0 to 278
Data columns (total 40 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   UrbanPopulation                                           278 non-null    float64
 1   Surface_Area_of_Built_District                            278 non-null    float64
 2   Road_Surface_Area_Per_Capita_m2                           278 non-null    float64
 3   Parkland_per_capita                                       278 non-null    float64
 4   Rate_of_non_hazardous_treatment_of_domestic_waste(%)      278 non-null    float64
 5   Population_urbanization                                   278 non-null    float64
 6   GDP                                                       278 non-null    int64
 7   First_sector_of_GDP                                       278 non-null    float64
 8   Industrial_wastewater_discharge_(tonnes)                  278 non-null    int64
 9   Industrial_fume_emissions_(tonnes)                        278 non-null    int64
 10  Comprehensive_industrial_solid_waste_utilisation_rate(%)  278 non-null    float64
 11  Citycode                                                  278 non-null    int64
 12  Area_of_administrative_districts                          278 non-null    int64
 13  Greening_coverage_in_builtup_areas                        278 non-null    float64
 14  Year                                                      278 non-null    int64
 15  CO2                                                       278 non-null    float64
 16  ISA                                                       278 non-null    float64
 17  NPP                                                       278 non-null    float64
 18  NTL                                                       278 non-null    float64
 19  PD                                                        278 non-null    float64
 20  pm2.5                                                     278 non-null    float64
 21  Science_expend                                            278 non-null    float64
 22  SO2_REMOVE                                                278 non-null    float64
 23  Sewage                                                    278 non-null    float64
 24  PUI                                                       278 non-null    float64
 25  LUI                                                       278 non-null    float64
 26  EUI                                                       278 non-null    float64
 27  EAL                                                       278 non-null    float64
 28  Res1                                                      278 non-null    float64
 29  Res2                                                      278 non-null    float64
 30  Res3                                                      278 non-null    float64
 31  Res4                                                      278 non-null    float64
 32  Ada1                                                      278 non-null    float64
 33  Ada2                                                      278 non-null    float64
 34  Ada3                                                      278 non-null    float64
 35  Ada4                                                      278 non-null    float64
 36  Rec1                                                      278 non-null    float64
 37  Rec2                                                      278 non-null    float64
 38  Rec3                                                      278 non-null    float64
 39  Rec4                                                      278 non-null    float64
dtypes: float64(34), int64(6)
memory usage: 89.0 KB

In [49]:
columns_to_keep = ['Citycode','Year','Res1','Res2','Res3','Res4','Ada1','Ada2','Ada3','Ada4','Rec1','Rec2','Rec3','Rec4']
uer_index_2006 = df_cleaned[columns_to_keep]
uer_index_2006.to_csv('UER_index_2022.csv', index=False)

# 熵权法
# 标准化

In [50]:
# Initialize a column for the normalized values
data_merged['X1_star'] = pd.Series(dtype='float')
column_to_normalize = 'PUI'
# Iterate over each year to perform the normalization
for year in range(2022,2023):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X1_max = year_data[column_to_normalize].max()
    X1_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X1_star'] = (year_data[column_to_normalize] - X1_min) / (X1_max - X1_min)

# Initialize a column for the normalized values
data_merged['X2_star'] = pd.Series(dtype='float')
column_to_normalize = 'PD'
# Iterate over each year to perform the normalization
for year in range(2022,2023):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X2_max = year_data[column_to_normalize].max()
    X2_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X2_star'] = (year_data[column_to_normalize] - X2_min) / (X2_max - X2_min)


data_merged['X3_star'] = pd.Series(dtype='float')
column_to_normalize = 'LUI'
# Iterate over each year to perform the normalization
for year in range(2022,2023):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X3_max = year_data[column_to_normalize].max()
    X3_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X3_star'] = (year_data[column_to_normalize] - X3_min) / (X3_max - X3_min)

data_merged['X4_star'] = pd.Series(dtype='float')
column_to_normalize = 'EUI'
# Iterate over each year to perform the normalization
for year in range(2022,2023):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X4_max = year_data[column_to_normalize].max()
    X4_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X4_star'] = (year_data[column_to_normalize] - X4_min) / (X4_max - X4_min)

data_merged['X5_star'] = pd.Series(dtype='float')
column_to_normalize = 'EAL'
# Iterate over each year to perform the normalization
for year in range(2022,2023):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X5_max = year_data[column_to_normalize].max()
    X5_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X5_star'] = (year_data[column_to_normalize] - X5_min) / (X5_max - X5_min)


data_merged['X6_star'] = pd.Series(dtype='float')
column_to_normalize = 'LUL'
# Iterate over each year to perform the normalization
for year in range(2022,2023):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X6_max = year_data[column_to_normalize].max()
    X6_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X6_star'] = (year_data[column_to_normalize] - X6_min) / (X6_max - X6_min)

In [51]:
data_merged

,UrbanPopulation,Surface_Area_of_Built_District,Road_Surface_Area_Per_Capita_m2,Parkland_per_capita,Rate_of_non_hazardous_treatment_of_domestic_waste(%),Population_urbanization,GDP,First_sector_of_GDP,Industrial_wastewater_discharge_(tonnes),Industrial_fume_emissions_(tonnes),...,LUI,EUI,EAL,LUL,X1_star,X2_star,X3_star,X4_star,X5_star,X6_star
0,1912.80,1469.05,8.04,16.63,100.0,0.8757,416110000,0.27,7291,4037,...,0.234171,0.9973,27.314734,268.575017,0.814342,0.187435,0.463770,0.995996,0.450786,0.802021
1,1160.07,1264.46,16.11,9.98,100.0,0.8511,163110000,1.67,18074,6501,...,0.364155,0.9833,34.214298,323.775440,0.776967,0.175426,0.721204,0.966491,0.568368,0.987936
2,349.41,334.52,17.06,14.59,100.0,0.7144,71010000,7.86,7706,6933,...,0.217963,0.9214,17.973036,291.100760,0.569280,0.116444,0.431672,0.836038,0.291584,0.877887
3,195.67,249.50,20.76,16.69,100.0,0.6579,89010000,7.17,9719,37965,...,0.275637,0.9283,22.738887,311.211194,0.483440,0.085612,0.545895,0.850580,0.372804,0.945619
4,106.55,149.81,18.16,17.25,100.0,0.6547,19100000,13.21,2420,13898,...,0.142444,0.8679,14.395518,267.822668,0.478578,0.059386,0.282106,0.723288,0.230616,0.799487
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,21.81,57.32,26.91,32.21,100.0,0.3397,8670000,13.86,1681,7516,...,0.008161,0.8614,7.768196,213.262429,0.000000,0.011742,0.016160,0.709589,0.117674,0.615728
274,20.21,45.06,30.96,32.10,100.0,0.4480,4100000,18.26,104,914,...,0.002278,0.8174,6.239852,232.605304,0.164540,0.017205,0.004508,0.616860,0.091628,0.680874
275,15.42,30.86,34.87,23.68,100.0,0.5083,5640000,14.15,1049,4709,...,0.008247,0.8585,5.704916,207.871637,0.256153,0.012766,0.016330,0.703477,0.082511,0.597571
276,234.21,545.10,15.68,13.17,100.0,0.9650,38930000,0.80,2948,16258,...,0.034578,0.9920,9.936326,130.022680,0.950015,0.032677,0.068480,0.984826,0.154623,0.335376
277,31.97,79.42,37.18,14.26,100.0,0.9897,11880000,1.56,1752,1701,...,0.018039,0.9844,12.739544,69.553037,0.987542,0.006022,0.035724,0.968809,0.202395,0.131714

In [52]:
columns_to_keep = ['Citycode','Year','X1_star','X2_star','X3_star','X4_star','X5_star','X6_star']
data_process_UI = data_merged[columns_to_keep]

In [53]:
data_process_UI

,Citycode,Year,X1_star,X2_star,X3_star,X4_star,X5_star,X6_star
0,110000,2022,0.814342,0.187435,0.463770,0.995996,0.450786,0.802021
1,120000,2022,0.776967,0.175426,0.721204,0.966491,0.568368,0.987936
2,130100,2022,0.569280,0.116444,0.431672,0.836038,0.291584,0.877887
3,130200,2022,0.483440,0.085612,0.545895,0.850580,0.372804,0.945619
4,130300,2022,0.478578,0.059386,0.282106,0.723288,0.230616,0.799487
...,...,...,...,...,...,...,...,...
273,640300,2022,0.000000,0.011742,0.016160,0.709589,0.117674,0.615728
274,640400,2022,0.164540,0.017205,0.004508,0.616860,0.091628,0.680874
275,640500,2022,0.256153,0.012766,0.016330,0.703477,0.082511,0.597571
276,650100,2022,0.950015,0.032677,0.068480,0.984826,0.154623,0.335376
277,650200,2022,0.987542,0.006022,0.035724,0.968809,0.202395,0.131714

In [54]:
#1.7熵权法

def calculate_entropy(indicator_data):
    # Replace zero values to avoid log(0) and negative infinity in entropy calculation
    indicator_data = indicator_data.replace(0, np.finfo(float).eps)  # Use a small number instead of zero
    p_ij = indicator_data / indicator_data.sum()  # Calculate the proportion p_ij
    K = 1 / np.log(278)  # Calculate the constant K
    e_j = -K * (p_ij * np.log(p_ij)).sum()  # Calculate the entropy e_j
    return e_j

# Initialize an empty list to store DataFrames for each year
dataframes_list = []

# Calculate entropies and weights for each year
for year in range(2022, 2023):
    year_data = data_process_UI[data_process_UI['Year'] == year].copy()
    entropies = year_data[['X1_star', 'X2_star', 'X3_star', 'X4_star','X5_star','X6_star']].apply(calculate_entropy, axis=0)
    weights = (1 - entropies) / (1 - entropies).sum()  # Calculate weights, ensuring they sum up to 1 within the year
    for i, indicator in enumerate(['X1_star', 'X2_star', 'X3_star', 'X4_star','X5_star','X6_star']):
        year_data[indicator + '_weighted'] = year_data[indicator] * weights.values[i]  # Apply weights to the indicators
    dataframes_list.append(year_data)  # Append the yearly data to the list

# Concatenate all DataFrames in the list to create the comprehensive_scores DataFrame
UI = pd.concat(dataframes_list, ignore_index=True)

# Now you should have the comprehensive_scores DataFrame with correctly calculated weights per year

In [55]:
UI

,Citycode,Year,X1_star,X2_star,X3_star,X4_star,X5_star,X6_star,X1_star_weighted,X2_star_weighted,X3_star_weighted,X4_star_weighted,X5_star_weighted,X6_star_weighted
0,110000,2022,0.814342,0.187435,0.463770,0.995996,0.450786,0.802021,0.069446,0.061153,0.165566,0.023248,0.086726,0.012615
1,120000,2022,0.776967,0.175426,0.721204,0.966491,0.568368,0.987936,0.066259,0.057235,0.257469,0.022560,0.109348,0.015539
2,130100,2022,0.569280,0.116444,0.431672,0.836038,0.291584,0.877887,0.048547,0.037991,0.154107,0.019515,0.056098,0.013808
3,130200,2022,0.483440,0.085612,0.545895,0.850580,0.372804,0.945619,0.041227,0.027932,0.194884,0.019854,0.071724,0.014874
4,130300,2022,0.478578,0.059386,0.282106,0.723288,0.230616,0.799487,0.040812,0.019375,0.100711,0.016883,0.044368,0.012575
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,640300,2022,0.000000,0.011742,0.016160,0.709589,0.117674,0.615728,0.000000,0.003831,0.005769,0.016563,0.022639,0.009685
274,640400,2022,0.164540,0.017205,0.004508,0.616860,0.091628,0.680874,0.014032,0.005613,0.001609,0.014399,0.017628,0.010710
275,640500,2022,0.256153,0.012766,0.016330,0.703477,0.082511,0.597571,0.021844,0.004165,0.005830,0.016421,0.015874,0.009399
276,650100,2022,0.950015,0.032677,0.068480,0.984826,0.154623,0.335376,0.081016,0.010661,0.024447,0.022988,0.029748,0.005275
277,650200,2022,0.987542,0.006022,0.035724,0.968809,0.202395,0.131714,0.084216,0.001965,0.012753,0.022614,0.038939,0.002072

In [56]:
# Calculate the combined weighted values for Resistance, Adaptability, and Recovery
UI['PU'] = UI['X1_star_weighted'] + UI['X2_star_weighted']
UI['LU'] = UI['X3_star_weighted'] + UI['X6_star_weighted']
#comprehensive_scores['ADA'] = comprehensive_scores['X2_star_weighted'] 
UI['EU'] = UI['X4_star_weighted'] + UI['X5_star_weighted']

# Assuming data_merged is the DataFrame with the standardized 'RES', 'ADA', and 'REC' columns.

# Define a small positive value to add to REC to avoid zero values
small_positive_value = 1e-6

# Replace zero values in REC with the small positive value
UI['PU_adj'] = UI['PU'].replace(0, small_positive_value)
UI['LU_adj'] = UI['LU'].replace(0, small_positive_value)
UI['EU_adj'] = UI['EU'].replace(0, small_positive_value)

# Now, the UER values should not be zero due to REC being zero, since we have adjusted REC values slightly above zero.

# Calculate the Urban Ecological Resilience (UER) for each borough and year
UI['UI'] = UI['PU_adj'] + UI['LU_adj'] + UI['EU_adj']

# Check the result
UI[['Year', 'Citycode', 'PU', 'LU', 'EU', 'UI']].head()

   Year  Citycode        PU        LU        EU        UI
0  2022    110000  0.130599  0.178181  0.109975  0.418754
1  2022    120000  0.123494  0.273009  0.131908  0.528410
2  2022    130100  0.086539  0.167915  0.075613  0.330066
3  2022    130200  0.069159  0.209758  0.091578  0.370494
4  2022    130300  0.060188  0.113287  0.061251  0.234725

In [57]:
UI

,Citycode,Year,X1_star,X2_star,X3_star,X4_star,X5_star,X6_star,X1_star_weighted,X2_star_weighted,...,X4_star_weighted,X5_star_weighted,X6_star_weighted,PU,LU,EU,PU_adj,LU_adj,EU_adj,UI
0,110000,2022,0.814342,0.187435,0.463770,0.995996,0.450786,0.802021,0.069446,0.061153,...,0.023248,0.086726,0.012615,0.130599,0.178181,0.109975,0.130599,0.178181,0.109975,0.418754
1,120000,2022,0.776967,0.175426,0.721204,0.966491,0.568368,0.987936,0.066259,0.057235,...,0.022560,0.109348,0.015539,0.123494,0.273009,0.131908,0.123494,0.273009,0.131908,0.528410
2,130100,2022,0.569280,0.116444,0.431672,0.836038,0.291584,0.877887,0.048547,0.037991,...,0.019515,0.056098,0.013808,0.086539,0.167915,0.075613,0.086539,0.167915,0.075613,0.330066
3,130200,2022,0.483440,0.085612,0.545895,0.850580,0.372804,0.945619,0.041227,0.027932,...,0.019854,0.071724,0.014874,0.069159,0.209758,0.091578,0.069159,0.209758,0.091578,0.370494
4,130300,2022,0.478578,0.059386,0.282106,0.723288,0.230616,0.799487,0.040812,0.019375,...,0.016883,0.044368,0.012575,0.060188,0.113287,0.061251,0.060188,0.113287,0.061251,0.234725
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,640300,2022,0.000000,0.011742,0.016160,0.709589,0.117674,0.615728,0.000000,0.003831,...,0.016563,0.022639,0.009685,0.003831,0.015454,0.039202,0.003831,0.015454,0.039202,0.058487
274,640400,2022,0.164540,0.017205,0.004508,0.616860,0.091628,0.680874,0.014032,0.005613,...,0.014399,0.017628,0.010710,0.019645,0.012319,0.032027,0.019645,0.012319,0.032027,0.063991
275,640500,2022,0.256153,0.012766,0.016330,0.703477,0.082511,0.597571,0.021844,0.004165,...,0.016421,0.015874,0.009399,0.026009,0.015229,0.032295,0.026009,0.015229,0.032295,0.073533
276,650100,2022,0.950015,0.032677,0.068480,0.984826,0.154623,0.335376,0.081016,0.010661,...,0.022988,0.029748,0.005275,0.091677,0.029722,0.052736,0.091677,0.029722,0.052736,0.174135
277,650200,2022,0.987542,0.006022,0.035724,0.968809,0.202395,0.131714,0.084216,0.001965,...,0.022614,0.038939,0.002072,0.086181,0.014825,0.061553,0.086181,0.014825,0.061553,0.162559

In [58]:
columns_to_keep = ['Citycode','Year','Res1','Res2','Res3','Res4','Ada1','Ada2','Ada3','Ada4','Rec1','Rec2','Rec3','Rec4']
data_merged = df_cleaned[columns_to_keep]

In [59]:
data_merged

,Citycode,Year,Res1,Res2,Res3,Res4,Ada1,Ada2,Ada3,Ada4,Rec1,Rec2,Rec3,Rec4
0,110000,2022,0.000018,0.000010,29.685238,7.715725e+07,53.92,100.0,3.345960e+05,98.07,49.77,16.63,448.204742,4887041.0
1,120000,2022,0.000111,0.000040,37.163210,1.430185e+08,98.90,100.0,1.783966e+06,98.45,38.41,9.98,367.199027,621605.0
2,130100,2022,0.000109,0.000098,42.988152,8.713324e+07,78.34,100.0,1.499062e+06,99.76,41.33,14.59,378.859732,214508.0
3,130200,2022,0.000109,0.000427,34.794611,2.740486e+08,73.17,100.0,1.949644e+06,99.27,43.97,16.69,437.419146,105424.0
4,130300,2022,0.000127,0.000728,30.552807,2.496936e+07,60.51,100.0,2.470740e+05,97.10,40.75,17.25,512.896991,20585.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,640300,2022,0.000194,0.000867,31.273616,3.511949e+07,46.57,100.0,-1.283300e+04,96.90,41.69,32.21,166.548417,22487.0
275,640400,2022,0.000025,0.000223,27.794994,4.957629e+06,66.38,100.0,1.612286e+03,99.31,41.99,32.10,423.422813,11676.0
276,640500,2022,0.000186,0.000835,30.565761,1.703148e+07,64.74,100.0,-5.730030e+05,99.87,43.99,23.68,181.663914,18950.0
277,650100,2022,0.000076,0.000418,27.954844,6.568320e+07,89.42,100.0,6.518760e+05,99.38,39.73,13.17,146.764204,33008.0
278,650200,2022,0.000147,0.000143,31.710007,1.002891e+07,92.94,100.0,-4.320200e+04,99.60,43.94,14.26,46.929996,18672.0

In [60]:
# Initialize a column for the normalized values
data_merged['X1_star'] = pd.Series(dtype='float')
column_to_normalize = 'Res1'
# Iterate over each year to perform the normalization
for year in range(2022, 2023):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X1_max = year_data[column_to_normalize].max()
    X1_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X1_star'] = (X1_max - year_data[column_to_normalize]) / (X1_max - X1_min)


# Initialize a column for the normalized values
data_merged['X2_star'] = pd.Series(dtype='float')
column_to_normalize = 'Res2'
# Iterate over each year to perform the normalization
for year in range(2022, 2023):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X2_max = year_data[column_to_normalize].max()
    X2_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X2_star'] = (X2_max - year_data[column_to_normalize]) / (X2_max - X2_min)



# Initialize a column for the normalized values
data_merged['X3_star'] = pd.Series(dtype='float')
column_to_normalize = 'Res3'
# Iterate over each year to perform the normalization
for year in range(2022, 2023):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X3_max = year_data[column_to_normalize].max()
    X3_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X3_star'] = (X3_max - year_data[column_to_normalize]) / (X3_max - X3_min)


# Initialize a column for the normalized values
data_merged['X4_star'] = pd.Series(dtype='float')
column_to_normalize = 'Res4'
# Iterate over each year to perform the normalization
for year in range(2022, 2023):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X4_max = year_data[column_to_normalize].max()
    X4_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X4_star'] = (X4_max - year_data[column_to_normalize]) / (X4_max - X4_min)

data_merged['X5_star'] = pd.Series(dtype='float')
column_to_normalize = 'Ada1'
# Iterate over each year to perform the normalization
for year in range(2022, 2023):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X5_max = year_data[column_to_normalize].max()
    X5_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X5_star'] = (year_data[column_to_normalize] - X5_min) / (X5_max - X5_min)

data_merged['X6_star'] = pd.Series(dtype='float')
column_to_normalize = 'Ada2'
# Iterate over each year to perform the normalization
for year in range(2022, 2023):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X6_max = year_data[column_to_normalize].max()
    X6_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X6_star'] = (year_data[column_to_normalize] - X6_min) / (X6_max - X6_min)


data_merged['X7_star'] = pd.Series(dtype='float')
column_to_normalize = 'Ada3'
# Iterate over each year to perform the normalization
for year in range(2022, 2023):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X7_max = year_data[column_to_normalize].max()
    X7_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X7_star'] = (year_data[column_to_normalize] - X7_min) / (X7_max - X7_min)

data_merged['X8_star'] = pd.Series(dtype='float')
column_to_normalize = 'Ada4'
# Iterate over each year to perform the normalization
for year in range(2022, 2023):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X8_max = year_data[column_to_normalize].max()
    X8_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X8_star'] = (year_data[column_to_normalize] - X8_min) / (X8_max - X8_min)

data_merged['X9_star'] = pd.Series(dtype='float')
column_to_normalize = 'Rec1'
# Iterate over each year to perform the normalization
for year in range(2022, 2023):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X9_max = year_data[column_to_normalize].max()
    X9_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X9_star'] = (year_data[column_to_normalize] - X9_min) / (X9_max - X9_min)

data_merged['X10_star'] = pd.Series(dtype='float')
column_to_normalize = 'Rec2'
# Iterate over each year to perform the normalization
for year in range(2022, 2023):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X10_max = year_data[column_to_normalize].max()
    X10_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X10_star'] = (year_data[column_to_normalize] - X10_min) / (X10_max - X10_min)

data_merged['X11_star'] = pd.Series(dtype='float')
column_to_normalize = 'Rec3'
# Iterate over each year to perform the normalization
for year in range(2022, 2023):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X11_max = year_data[column_to_normalize].max()
    X11_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X11_star'] = (year_data[column_to_normalize] - X11_min) / (X11_max - X11_min)

data_merged['X12_star'] = pd.Series(dtype='float')
column_to_normalize = 'Rec4'
# Iterate over each year to perform the normalization
for year in range(2022, 2023):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X12_max = year_data[column_to_normalize].max()
    X12_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X12_star'] = (year_data[column_to_normalize] - X12_min) / (X12_max - X12_min)

/tmp/ipykernel_349/2021451082.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X1_star'] = pd.Series(dtype='float')
/tmp/ipykernel_349/2021451082.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X2_star'] = pd.Series(dtype='float')
/tmp/ipykernel_349/2021451082.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X3_star'] = pd.Series(dtype='float')
/tmp/ipykernel_349/2021451082.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X4_star'] = pd.Series(dtype='float')
/tmp/ipykernel_349/2021451082.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X5_star'] = pd.Series(dtype='float')
/tmp/ipykernel_349/2021451082.py:79: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X6_star'] = pd.Series(dtype='float')
/tmp/ipykernel_349/2021451082.py:94: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X7_star'] = pd.Series(dtype='float')
/tmp/ipykernel_349/2021451082.py:108: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X8_star'] = pd.Series(dtype='float')
/tmp/ipykernel_349/2021451082.py:122: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X9_star'] = pd.Series(dtype='float')
/tmp/ipykernel_349/2021451082.py:136: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X10_star'] = pd.Series(dtype='float')
/tmp/ipykernel_349/2021451082.py:150: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X11_star'] = pd.Series(dtype='float')
/tmp/ipykernel_349/2021451082.py:164: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X12_star'] = pd.Series(dtype='float')

In [61]:
data_merged

,Citycode,Year,Res1,Res2,Res3,Res4,Ada1,Ada2,Ada3,Ada4,...,X3_star,X4_star,X5_star,X6_star,X7_star,X8_star,X9_star,X10_star,X11_star,X12_star
0,110000,2022,0.000018,0.000010,29.685238,7.715725e+07,53.92,100.0,3.345960e+05,98.07,...,0.541048,0.723207,0.347063,1.0,0.374511,0.964591,0.570107,0.331031,0.303802,1.000000
1,120000,2022,0.000111,0.000040,37.163210,1.430185e+08,98.90,100.0,1.783966e+06,98.45,...,0.350649,0.481290,0.650777,1.0,0.521423,0.968329,0.241688,0.147278,0.242473,0.126944
2,130100,2022,0.000109,0.000098,42.988152,8.713324e+07,78.34,100.0,1.499062e+06,99.76,...,0.202339,0.686564,0.511951,1.0,0.492545,0.981214,0.326106,0.274662,0.251301,0.043619
3,130200,2022,0.000109,0.000427,34.794611,2.740486e+08,73.17,100.0,1.949644e+06,99.27,...,0.410957,0.000000,0.477043,1.0,0.538217,0.976394,0.402428,0.332689,0.295636,0.021292
4,130300,2022,0.000127,0.000728,30.552807,2.496936e+07,60.51,100.0,2.470740e+05,97.10,...,0.518958,0.914900,0.391560,1.0,0.365639,0.955051,0.309338,0.348162,0.352780,0.003927
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,640300,2022,0.000194,0.000867,31.273616,3.511949e+07,46.57,100.0,-1.283300e+04,96.90,...,0.500606,0.877617,0.297434,1.0,0.339294,0.953084,0.336513,0.761536,0.090562,0.004316
275,640400,2022,0.000025,0.000223,27.794994,4.957629e+06,66.38,100.0,1.612286e+03,99.31,...,0.589176,0.988405,0.431195,1.0,0.340759,0.976788,0.345186,0.758497,0.285040,0.002103
276,640500,2022,0.000186,0.000835,30.565761,1.703148e+07,64.74,100.0,-5.730030e+05,99.87,...,0.518628,0.944057,0.420122,1.0,0.282514,0.982296,0.403007,0.525836,0.102006,0.003592
277,650100,2022,0.000076,0.000418,27.954844,6.568320e+07,89.42,100.0,6.518760e+05,99.38,...,0.585106,0.765353,0.586766,1.0,0.406671,0.977476,0.279850,0.235424,0.075584,0.006469
278,650200,2022,0.000147,0.000143,31.710007,1.002891e+07,92.94,100.0,-4.320200e+04,99.60,...,0.489494,0.969778,0.610533,1.0,0.336216,0.979640,0.401561,0.265543,0.000000,0.003535

In [62]:
columns_to_keep = ['Citycode','Year','X1_star','X2_star','X3_star','X4_star','X5_star','X6_star','X7_star','X8_star','X9_star','X10_star','X11_star','X12_star']
data_process = data_merged[columns_to_keep]

In [63]:
#1.7熵权法

def calculate_entropy(indicator_data):
    # Replace zero values to avoid log(0) and negative infinity in entropy calculation
    indicator_data = indicator_data.replace(0, np.finfo(float).eps)  # Use a small number instead of zero
    p_ij = indicator_data / indicator_data.sum()  # Calculate the proportion p_ij
    K = 1 / np.log(278)  # Calculate the constant K
    e_j = -K * (p_ij * np.log(p_ij)).sum()  # Calculate the entropy e_j
    return e_j

# Initialize an empty list to store DataFrames for each year
dataframes_list = []

# Calculate entropies and weights for each year
for year in range(2022, 2023):
    year_data = data_process[data_process['Year'] == year].copy()
    entropies = year_data[['X1_star','X2_star','X3_star','X4_star','X5_star','X6_star','X7_star','X8_star','X9_star','X10_star','X11_star','X12_star']].apply(calculate_entropy, axis=0)
    weights = (1 - entropies) / (1 - entropies).sum()  # Calculate weights, ensuring they sum up to 1 within the year
    for i, indicator in enumerate(['X1_star','X2_star','X3_star','X4_star','X5_star','X6_star','X7_star','X8_star','X9_star','X10_star','X11_star','X12_star']):
        year_data[indicator + '_weighted'] = year_data[indicator] * weights.values[i]  # Apply weights to the indicators
    dataframes_list.append(year_data)  # Append the yearly data to the list

# Concatenate all DataFrames in the list to create the comprehensive_scores DataFrame
UER = pd.concat(dataframes_list, ignore_index=True)

# Now you should have the comprehensive_scores DataFrame with correctly calculated weights per year

In [65]:
UER
UER.to_csv('UER_for_EWM.csv', index=False)

In [64]:
# Calculate the combined weighted values for Resistance, Adaptability, and Recovery
UER['RES'] = UER['X1_star_weighted'] + UER['X2_star_weighted'] + UER['X3_star_weighted'] + UER['X4_star_weighted']
UER['ADA'] = UER['X5_star_weighted'] + UER['X6_star_weighted'] + UER['X7_star_weighted'] + UER['X8_star_weighted']
#comprehensive_scores['ADA'] = comprehensive_scores['X2_star_weighted'] 
UER['REC'] = UER['X9_star_weighted'] + UER['X10_star_weighted'] + UER['X11_star_weighted'] + UER['X12_star_weighted']

# Assuming data_merged is the DataFrame with the standardized 'RES', 'ADA', and 'REC' columns.

# Define a small positive value to add to REC to avoid zero values
small_positive_value = 1e-6

# Replace zero values in REC with the small positive value
UER['REC_adj'] = UER['REC'].replace(0, small_positive_value)
UER['ADA_adj'] = UER['ADA'].replace(0, small_positive_value)
UER['RES_adj'] = UER['RES'].replace(0, small_positive_value)

# Now, the UER values should not be zero due to REC being zero, since we have adjusted REC values slightly above zero.

# Calculate the Urban Ecological Resilience (UER) for each borough and year
UER['UER'] = (UER['RES_adj'] + UER['ADA_adj'] + UER['REC_adj'])

# Check the result
UER[['Year', 'Citycode', 'RES', 'ADA', 'REC', 'UER']].head()

   Year  Citycode       RES       ADA       REC       UER
0  2022    110000  0.045709  0.026190  0.797299  0.869199
1  2022    120000  0.033998  0.040934  0.119612  0.194544
2  2022    130100  0.028386  0.034719  0.062965  0.126070
3  2022    130200  0.032645  0.033751  0.052004  0.118400
4  2022    130300  0.044651  0.027941  0.040882  0.113474

In [65]:
UER

,Citycode,Year,X1_star,X2_star,X3_star,X4_star,X5_star,X6_star,X7_star,X8_star,...,X10_star_weighted,X11_star_weighted,X12_star_weighted,RES,ADA,REC,REC_adj,ADA_adj,RES_adj,UER
0,110000,2022,0.989552,0.998962,0.541048,0.723207,0.347063,1.0,0.374511,0.964591,...,0.011495,0.017246,0.757888,0.045709,0.026190,0.797299,0.797299,0.026190,0.045709,0.869199
1,120000,2022,0.902023,0.994186,0.350649,0.481290,0.650777,1.0,0.521423,0.968329,...,0.005114,0.013765,0.096210,0.033998,0.040934,0.119612,0.119612,0.040934,0.033998,0.194544
2,130100,2022,0.904171,0.985036,0.202339,0.686564,0.511951,1.0,0.492545,0.981214,...,0.009538,0.014266,0.033058,0.028386,0.034719,0.062965,0.062965,0.034719,0.028386,0.126070
3,130200,2022,0.903542,0.932951,0.410957,0.000000,0.477043,1.0,0.538217,0.976394,...,0.011553,0.016783,0.016137,0.032645,0.033751,0.052004,0.052004,0.033751,0.032645,0.118400
4,130300,2022,0.887111,0.885263,0.518958,0.914900,0.391560,1.0,0.365639,0.955051,...,0.012090,0.020026,0.002976,0.044651,0.027941,0.040882,0.040882,0.027941,0.044651,0.113474
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,640300,2022,0.824073,0.863210,0.500606,0.877617,0.297434,1.0,0.339294,0.953084,...,0.026445,0.005141,0.003271,0.042909,0.023597,0.041155,0.041155,0.023597,0.042909,0.107660
274,640400,2022,0.982192,0.965194,0.589176,0.988405,0.431195,1.0,0.340759,0.976788,...,0.026339,0.016181,0.001594,0.049834,0.029438,0.050574,0.050574,0.029438,0.049834,0.129846
275,640500,2022,0.831480,0.868273,0.518628,0.944057,0.420122,1.0,0.282514,0.982296,...,0.018260,0.005791,0.002722,0.044392,0.028295,0.034315,0.034315,0.028295,0.044392,0.107002
276,650100,2022,0.934940,0.934361,0.585106,0.765353,0.586766,1.0,0.406671,0.977476,...,0.008175,0.004291,0.004903,0.047342,0.036873,0.022606,0.022606,0.036873,0.047342,0.106822
277,650200,2022,0.867620,0.977823,0.489494,0.969778,0.610533,1.0,0.336216,0.979640,...,0.009221,0.000000,0.002679,0.044250,0.037057,0.019416,0.019416,0.037057,0.044250,0.100723

In [66]:
df_merged1 = pd.merge(UI, UER, on=['Citycode', 'Year'])

In [67]:
df_merged1

,Citycode,Year,X1_star_x,X2_star_x,X3_star_x,X4_star_x,X5_star_x,X6_star_x,X1_star_weighted_x,X2_star_weighted_x,...,X10_star_weighted,X11_star_weighted,X12_star_weighted,RES,ADA,REC,REC_adj,ADA_adj,RES_adj,UER
0,110000,2022,0.814342,0.187435,0.463770,0.995996,0.450786,0.802021,0.069446,0.061153,...,0.011495,0.017246,0.757888,0.045709,0.026190,0.797299,0.797299,0.026190,0.045709,0.869199
1,120000,2022,0.776967,0.175426,0.721204,0.966491,0.568368,0.987936,0.066259,0.057235,...,0.005114,0.013765,0.096210,0.033998,0.040934,0.119612,0.119612,0.040934,0.033998,0.194544
2,130100,2022,0.569280,0.116444,0.431672,0.836038,0.291584,0.877887,0.048547,0.037991,...,0.009538,0.014266,0.033058,0.028386,0.034719,0.062965,0.062965,0.034719,0.028386,0.126070
3,130200,2022,0.483440,0.085612,0.545895,0.850580,0.372804,0.945619,0.041227,0.027932,...,0.011553,0.016783,0.016137,0.032645,0.033751,0.052004,0.052004,0.033751,0.032645,0.118400
4,130300,2022,0.478578,0.059386,0.282106,0.723288,0.230616,0.799487,0.040812,0.019375,...,0.012090,0.020026,0.002976,0.044651,0.027941,0.040882,0.040882,0.027941,0.044651,0.113474
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,640300,2022,0.000000,0.011742,0.016160,0.709589,0.117674,0.615728,0.000000,0.003831,...,0.026445,0.005141,0.003271,0.042909,0.023597,0.041155,0.041155,0.023597,0.042909,0.107660
274,640400,2022,0.164540,0.017205,0.004508,0.616860,0.091628,0.680874,0.014032,0.005613,...,0.026339,0.016181,0.001594,0.049834,0.029438,0.050574,0.050574,0.029438,0.049834,0.129846
275,640500,2022,0.256153,0.012766,0.016330,0.703477,0.082511,0.597571,0.021844,0.004165,...,0.018260,0.005791,0.002722,0.044392,0.028295,0.034315,0.034315,0.028295,0.044392,0.107002
276,650100,2022,0.950015,0.032677,0.068480,0.984826,0.154623,0.335376,0.081016,0.010661,...,0.008175,0.004291,0.004903,0.047342,0.036873,0.022606,0.022606,0.036873,0.047342,0.106822
277,650200,2022,0.987542,0.006022,0.035724,0.968809,0.202395,0.131714,0.084216,0.001965,...,0.009221,0.000000,0.002679,0.044250,0.037057,0.019416,0.019416,0.037057,0.044250,0.100723

In [68]:
df_result = df_merged1[['Citycode', 'Year', 'UER', 'UI']]

In [69]:
df_result

     Citycode  Year       UER        UI
0      110000  2022  0.869199  0.418754
1      120000  2022  0.194544  0.528410
2      130100  2022  0.126070  0.330066
3      130200  2022  0.118400  0.370494
4      130300  2022  0.113474  0.234725
..        ...   ...       ...       ...
273    640300  2022  0.107660  0.058487
274    640400  2022  0.129846  0.063991
275    640500  2022  0.107002  0.073533
276    650100  2022  0.106822  0.174135
277    650200  2022  0.100723  0.162559

[278 rows x 4 columns]

In [70]:
# 定义计算公式
def calculate_C(UI, UER):
    return np.sqrt((UI * UER) / ((UI + UER) / 2)**2)

def calculate_T(UI, UER, mu1=0.5, mu2=0.5):
    return mu1 * UI + mu2 * UER

def calculate_D(C, T):
    return np.sqrt(C * T)

# 计算C耦合度
df_result['C'] = df_result.apply(lambda row: calculate_C(row['UI'], row['UER']), axis=1)

# 计算T协调度
df_result['T'] = df_result.apply(lambda row: calculate_T(row['UI'], row['UER']), axis=1)

# 计算D耦合协调度
df_result['D'] = df_result.apply(lambda row: calculate_D(row['C'], row['T']), axis=1)

/tmp/ipykernel_79879/4091750289.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_result['C'] = df_result.apply(lambda row: calculate_C(row['UI'], row['UER']), axis=1)
/tmp/ipykernel_79879/4091750289.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_result['T'] = df_result.apply(lambda row: calculate_T(row['UI'], row['UER']), axis=1)
/tmp/ipykernel_79879/4091750289.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_result['D'] = df_result.apply(lambda row: calculate_D(row['C'], row['T']), axis=1)

In [71]:
# 定义归一化公式
def normalize(column):
    return (column - column.min()) / (column.max() - column.min())

# 归一化处理
df_result['UI_normalized'] = normalize(df_result['UI'])
df_result['UER_normalized'] = normalize(df_result['UER'])

# 定义计算公式
def calculate_C(UI, UER):
    return np.sqrt((UI * UER) / ((UI + UER) / 2)**2)

def calculate_T(UI, UER, mu1=0.5, mu2=0.5):
    return mu1 * UI + mu2 * UER

def calculate_D(C, T):
    return np.sqrt(C * T)

# 计算C耦合度
df_result['C2'] = df_result.apply(lambda row: calculate_C(row['UI_normalized'], row['UER_normalized']), axis=1)

# 计算T协调度
df_result['T2'] = df_result.apply(lambda row: calculate_T(row['UI_normalized'], row['UER_normalized']), axis=1)

# 计算D耦合协调度
df_result['D2'] = df_result.apply(lambda row: calculate_D(row['C2'], row['T2']), axis=1)

/tmp/ipykernel_79879/3512385329.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_result['UI_normalized'] = normalize(df_result['UI'])
/tmp/ipykernel_79879/3512385329.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_result['UER_normalized'] = normalize(df_result['UER'])
/tmp/ipykernel_79879/3512385329.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_result['C2'] = df_result.apply(lambda row: calculate_C(row['UI_normalized'], row['UER_normalized']), axis=1)
/tmp/ipykernel_79879/3512385329.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_result['T2'] = df_result.apply(lambda row: calculate_T(row['UI_normalized'], row['UER_normalized']), axis=1)
/tmp/ipykernel_79879/3512385329.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_result['D2'] = df_result.apply(lambda row: calculate_D(row['C2'], row['T2']), axis=1)

In [72]:
df_result

,Citycode,Year,UER,UI,C,T,D,UI_normalized,UER_normalized,C2,T2,D2
0,110000,2022,0.869199,0.418754,0.936848,0.643976,0.776729,0.421583,1.000000,0.913481,0.710792,0.805788
1,120000,2022,0.194544,0.528410,0.886980,0.361477,0.566236,0.543002,0.144117,0.814247,0.343560,0.528907
2,130100,2022,0.126070,0.330066,0.894421,0.228068,0.451652,0.323381,0.057250,0.714941,0.190315,0.368869
3,130200,2022,0.118400,0.370494,0.856804,0.244447,0.457650,0.368146,0.047519,0.636399,0.207833,0.363682
4,130300,2022,0.113474,0.234725,0.937411,0.174100,0.403984,0.217813,0.041270,0.731896,0.129541,0.307914
...,...,...,...,...,...,...,...,...,...,...,...,...
273,640300,2022,0.107660,0.058487,0.955200,0.083074,0.281695,0.022669,0.033894,0.980110,0.028281,0.166490
274,640400,2022,0.129846,0.063991,0.940517,0.096919,0.301917,0.028763,0.062040,0.930427,0.045402,0.205531
275,640500,2022,0.107002,0.073533,0.982665,0.090268,0.297830,0.039329,0.033059,0.996243,0.036194,0.189890
276,650100,2022,0.106822,0.174135,0.970875,0.140478,0.369306,0.150723,0.032830,0.766469,0.091777,0.265224
277,650200,2022,0.100723,0.162559,0.972028,0.131641,0.357713,0.137904,0.025093,0.721798,0.081499,0.242540

In [73]:
# 导出comprehensive_scores数据框为Excel文件
output_excel_path = 'df_2022_result.xlsx'
df_result.to_excel(output_excel_path, index=False)

In [66]:
file_path = 'data/df_2006_result.xlsx'
df_result_2006 = pd.read_excel(file_path)

In [67]:
df_result_2006

,Name_of_Regions_x,Citycode,Year_x,UER,UI,C,T,D,UI_normalized,UER_normalized,C2,T2,D2
0,Beijing,110000,2006,0.137433,0.210078,0.977907,0.173756,0.412210,0.202760,0.702098,0.833949,0.452429,0.614250
1,Tianjin,120000,2006,0.103581,0.168235,0.971300,0.135908,0.363328,0.160479,0.529117,0.845124,0.344798,0.539812
2,Shijiazhuang,130100,2006,0.135975,0.075086,0.957483,0.105530,0.317873,0.066357,0.694645,0.564248,0.380501,0.463354
3,Tangshan,130200,2006,0.137393,0.076543,0.958697,0.106968,0.320234,0.067829,0.701890,0.566945,0.384860,0.467113
4,Qinhuangdao,130300,2006,0.140799,0.069600,0.941002,0.105200,0.314632,0.060814,0.719298,0.536204,0.390056,0.457329
...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,Guyuan,640400,2006,0.129806,0.020694,0.688750,0.075250,0.227659,0.011397,0.663123,0.257766,0.337260,0.294846
286,Zhongwei,640500,2006,0.126115,0.030682,0.793445,0.078398,0.249409,0.021489,0.644263,0.353476,0.332876,0.343022
287,Xinjiang,650000,2006,0.087788,0.075510,0.997170,0.081649,0.285338,0.066786,0.448413,0.671796,0.257600,0.415998
288,Urumuchi,650100,2006,0.100333,0.097620,0.999906,0.098976,0.314590,0.089127,0.512516,0.710475,0.300821,0.462305
289,Kelamayi,650200,2006,0.121824,0.102816,0.996414,0.112320,0.334540,0.094377,0.622335,0.676287,0.358356,0.492292

In [68]:
# 合并数据
df_merged2 = pd.merge(df_result_2006, df_result, left_on='Citycode', right_on='Citycode', suffixes=('_2006', '_2010'))

In [69]:
df_merged2

,Name_of_Regions_x_2006,Citycode,Year_x,UER_2006,UI_2006,C_2006,T_2006,D_2006,UI_normalized_2006,UER_normalized_2006,...,UER_2010,UI_2010,C_2010,T_2010,D_2010,UI_normalized_2010,UER_normalized_2010,C2_2010,T2_2010,D2_2010
0,Beijing,110000,2006,0.137433,0.210078,0.977907,0.173756,0.412210,0.202760,0.702098,...,0.168303,0.206704,0.994743,0.187503,0.431877,0.200826,0.839766,0.789294,0.520296,0.640833
1,Tianjin,120000,2006,0.103581,0.168235,0.971300,0.135908,0.363328,0.160479,0.529117,...,0.152355,0.197102,0.991768,0.174729,0.416281,0.190941,0.760175,0.801130,0.475558,0.617239
2,Shijiazhuang,130100,2006,0.135975,0.075086,0.957483,0.105530,0.317873,0.066357,0.694645,...,0.174103,0.079555,0.927936,0.126829,0.343059,0.069926,0.868715,0.525158,0.469321,0.496455
3,Tangshan,130200,2006,0.137393,0.076543,0.958697,0.106968,0.320234,0.067829,0.701890,...,0.173093,0.076014,0.920939,0.124553,0.338683,0.066281,0.863673,0.514562,0.464977,0.489142
4,Qinhuangdao,130300,2006,0.140799,0.069600,0.941002,0.105200,0.314632,0.060814,0.719298,...,0.183608,0.064805,0.878226,0.124207,0.330275,0.054742,0.916151,0.461319,0.485446,0.473229
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,Guyuan,640400,2006,0.129806,0.020694,0.688750,0.075250,0.227659,0.011397,0.663123,...,0.149317,0.017109,0.607403,0.083213,0.224820,0.005639,0.745015,0.172687,0.375327,0.254586
286,Zhongwei,640500,2006,0.126115,0.030682,0.793445,0.078398,0.249409,0.021489,0.644263,...,0.095024,0.023502,0.797418,0.059263,0.217388,0.012220,0.474050,0.313042,0.243135,0.275883
287,Xinjiang,650000,2006,0.087788,0.075510,0.997170,0.081649,0.285338,0.066786,0.448413,...,0.134498,0.027310,0.749113,0.080904,0.246183,0.016140,0.671055,0.302887,0.343597,0.322601
288,Urumuchi,650100,2006,0.100333,0.097620,0.999906,0.098976,0.314590,0.089127,0.512516,...,0.137691,0.103063,0.989602,0.120377,0.345146,0.094128,0.686991,0.651100,0.390560,0.504275
289,Kelamayi,650200,2006,0.121824,0.102816,0.996414,0.112320,0.334540,0.094377,0.622335,...,0.156935,0.072887,0.930728,0.114911,0.327034,0.063062,0.783035,0.525271,0.423048,0.471397

# 计算Tapio脱钩模型

In [70]:
# 计算增长率
df_merged2['Delta_UER'] = (df_merged2['UER_2010'] - df_merged2['UER_2006']) / df_merged2['UER_2006']
df_merged2['Delta_UI'] = (df_merged2['UI_2010'] - df_merged2['UI_2006']) / df_merged2['UI_2006']

# 计算脱钩指数DI
df_merged2['DI'] = df_merged2['Delta_UER'] / df_merged2['Delta_UI']

In [71]:
df_merged2

,Name_of_Regions_x_2006,Citycode,Year_x,UER_2006,UI_2006,C_2006,T_2006,D_2006,UI_normalized_2006,UER_normalized_2006,...,T_2010,D_2010,UI_normalized_2010,UER_normalized_2010,C2_2010,T2_2010,D2_2010,Delta_UER,Delta_UI,DI
0,Beijing,110000,2006,0.137433,0.210078,0.977907,0.173756,0.412210,0.202760,0.702098,...,0.187503,0.431877,0.200826,0.839766,0.789294,0.520296,0.640833,0.224613,-0.016062,-13.983872
1,Tianjin,120000,2006,0.103581,0.168235,0.971300,0.135908,0.363328,0.160479,0.529117,...,0.174729,0.416281,0.190941,0.760175,0.801130,0.475558,0.617239,0.470873,0.171589,2.744191
2,Shijiazhuang,130100,2006,0.135975,0.075086,0.957483,0.105530,0.317873,0.066357,0.694645,...,0.126829,0.343059,0.069926,0.868715,0.525158,0.469321,0.496455,0.280409,0.059519,4.711286
3,Tangshan,130200,2006,0.137393,0.076543,0.958697,0.106968,0.320234,0.067829,0.701890,...,0.124553,0.338683,0.066281,0.863673,0.514562,0.464977,0.489142,0.259842,-0.006908,-37.613687
4,Qinhuangdao,130300,2006,0.140799,0.069600,0.941002,0.105200,0.314632,0.060814,0.719298,...,0.124207,0.330275,0.054742,0.916151,0.461319,0.485446,0.473229,0.304040,-0.068890,-4.413412
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,Guyuan,640400,2006,0.129806,0.020694,0.688750,0.075250,0.227659,0.011397,0.663123,...,0.083213,0.224820,0.005639,0.745015,0.172687,0.375327,0.254586,0.150312,-0.173223,-0.867736
286,Zhongwei,640500,2006,0.126115,0.030682,0.793445,0.078398,0.249409,0.021489,0.644263,...,0.059263,0.217388,0.012220,0.474050,0.313042,0.243135,0.275883,-0.246529,-0.234007,1.053514
287,Xinjiang,650000,2006,0.087788,0.075510,0.997170,0.081649,0.285338,0.066786,0.448413,...,0.080904,0.246183,0.016140,0.671055,0.302887,0.343597,0.322601,0.532082,-0.638332,-0.833551
288,Urumuchi,650100,2006,0.100333,0.097620,0.999906,0.098976,0.314590,0.089127,0.512516,...,0.120377,0.345146,0.094128,0.686991,0.651100,0.390560,0.504275,0.372347,0.055761,6.677574
289,Kelamayi,650200,2006,0.121824,0.102816,0.996414,0.112320,0.334540,0.094377,0.622335,...,0.114911,0.327034,0.063062,0.783035,0.525271,0.423048,0.471397,0.288216,-0.291095,-0.990109

In [72]:
def classify_decoupling(row):
    Delta_ER = row['Delta_UER']
    Delta_UI = row['Delta_UI']
    DI = row['DI']
    
    if Delta_ER < 0 and Delta_UI < 0 and 1.2 <= DI < float('inf'):
        return 'Recession decoupling / Decoupling'
    elif Delta_ER < 0 and Delta_UI > 0 and float('-inf') < DI <= 0:
        return 'Strong decoupling / Decoupling'
    elif Delta_ER > 0 and Delta_UI > 0 and 0 <= DI <= 0.8:
        return 'Weak decoupling / Decoupling'
    elif Delta_ER > 0 and Delta_UI > 0 and 0.8 < DI <= 1.2:
        return 'Expansion connection / Connection'
    elif Delta_ER < 0 and Delta_UI < 0 and 0.8 < DI <= 1.2:
        return 'Recession connection / Connection'
    elif Delta_ER > 0 and Delta_UI > 0 and 1.2 <= DI < float('inf'):
        return 'Negative decoupling of expansion / Negative decoupling'
    elif Delta_ER > 0 and Delta_UI < 0 and float('-inf') < DI <= 0:
        return 'Strong negative decoupling / Negative decoupling'
    elif Delta_ER < 0 and Delta_UI < 0 and 0 <= DI <= 0.8:
        return 'Weak negative decoupling / Negative decoupling'
    else:
        return 'Unknown'

# Apply the function to the DataFrame
df_merged2['DI_Category'] = df_merged2.apply(classify_decoupling, axis=1)

In [73]:
df_merged2

,Name_of_Regions_x_2006,Citycode,Year_x,UER_2006,UI_2006,C_2006,T_2006,D_2006,UI_normalized_2006,UER_normalized_2006,...,D_2010,UI_normalized_2010,UER_normalized_2010,C2_2010,T2_2010,D2_2010,Delta_UER,Delta_UI,DI,DI_Category
0,Beijing,110000,2006,0.137433,0.210078,0.977907,0.173756,0.412210,0.202760,0.702098,...,0.431877,0.200826,0.839766,0.789294,0.520296,0.640833,0.224613,-0.016062,-13.983872,Strong negative decoupling / Negative decoupling
1,Tianjin,120000,2006,0.103581,0.168235,0.971300,0.135908,0.363328,0.160479,0.529117,...,0.416281,0.190941,0.760175,0.801130,0.475558,0.617239,0.470873,0.171589,2.744191,Negative decoupling of expansion / Negative de...
2,Shijiazhuang,130100,2006,0.135975,0.075086,0.957483,0.105530,0.317873,0.066357,0.694645,...,0.343059,0.069926,0.868715,0.525158,0.469321,0.496455,0.280409,0.059519,4.711286,Negative decoupling of expansion / Negative de...
3,Tangshan,130200,2006,0.137393,0.076543,0.958697,0.106968,0.320234,0.067829,0.701890,...,0.338683,0.066281,0.863673,0.514562,0.464977,0.489142,0.259842,-0.006908,-37.613687,Strong negative decoupling / Negative decoupling
4,Qinhuangdao,130300,2006,0.140799,0.069600,0.941002,0.105200,0.314632,0.060814,0.719298,...,0.330275,0.054742,0.916151,0.461319,0.485446,0.473229,0.304040,-0.068890,-4.413412,Strong negative decoupling / Negative decoupling
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,Guyuan,640400,2006,0.129806,0.020694,0.688750,0.075250,0.227659,0.011397,0.663123,...,0.224820,0.005639,0.745015,0.172687,0.375327,0.254586,0.150312,-0.173223,-0.867736,Strong negative decoupling / Negative decoupling
286,Zhongwei,640500,2006,0.126115,0.030682,0.793445,0.078398,0.249409,0.021489,0.644263,...,0.217388,0.012220,0.474050,0.313042,0.243135,0.275883,-0.246529,-0.234007,1.053514,Recession connection / Connection
287,Xinjiang,650000,2006,0.087788,0.075510,0.997170,0.081649,0.285338,0.066786,0.448413,...,0.246183,0.016140,0.671055,0.302887,0.343597,0.322601,0.532082,-0.638332,-0.833551,Strong negative decoupling / Negative decoupling
288,Urumuchi,650100,2006,0.100333,0.097620,0.999906,0.098976,0.314590,0.089127,0.512516,...,0.345146,0.094128,0.686991,0.651100,0.390560,0.504275,0.372347,0.055761,6.677574,Negative decoupling of expansion / Negative de...
289,Kelamayi,650200,2006,0.121824,0.102816,0.996414,0.112320,0.334540,0.094377,0.622335,...,0.327034,0.063062,0.783035,0.525271,0.423048,0.471397,0.288216,-0.291095,-0.990109,Strong negative decoupling / Negative decoupling

In [45]:
# 读取shapefile
shapefile_path = 'data/Chinamap_2019/Merged_Municipalities.shp'
gdf = gpd.read_file(shapefile_path)

In [46]:
gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 317 entries, 0 to 316
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Prvnc_c   317 non-null    float64
 1   City_cd   317 non-null    object
 2   Area      317 non-null    object
 3   Name      286 non-null    object
 4   geometry  317 non-null    geometry
dtypes: float64(1), geometry(1), object(3)
memory usage: 12.5+ KB

In [75]:
df_merged2['Citycode'] = df_merged2['Citycode'].astype(float)
gdf['City_cd'] = gdf['City_cd'].astype(float)

In [76]:

# 根据Citycode和市代码进行连接，保留不匹配的行
data_merged3 = gdf.merge(df_merged2, left_on='City_cd', right_on='Citycode', how='outer')

In [82]:
data_merged3

,Prvnc_c,City_cd,Area,Name,geometry,Name_of_Regions_x_2006,Citycode,Year_x,UER_2006,UI_2006,...,D_2010,UI_normalized_2010,UER_normalized_2010,C2_2010,T2_2010,D2_2010,Delta_UER,Delta_UI,DI,DI_Category
0,460000.0,460000.0,0,Hainan,"MULTIPOLYGON (((509245.473 1880004.210, 509230...",Hainan,460000.0,2006.0,0.126850,0.062596,...,0.279759,0.029700,0.754980,0.381667,0.392340,0.386967,0.192857,-0.353294,-0.545881,Strong negative decoupling / Negative decoupling
1,540000.0,540000.0,0,Tibet,"POLYGON ((-1051759.214 2954966.840, -1051995.7...",Tibet,540000.0,2006.0,0.057672,0.022349,...,0.207468,0.004016,0.595070,0.163205,0.299543,0.221104,1.068123,-0.304972,-3.502358,Strong negative decoupling / Negative decoupling
2,630000.0,630000.0,0,Qinghai,"POLYGON ((-228508.104 3789259.226, -228464.693...",Qinghai,630000.0,2006.0,0.122428,0.054317,...,0.238689,0.012656,0.676889,0.268455,0.344772,0.304230,0.108137,-0.559522,-0.193266,Strong negative decoupling / Negative decoupling
3,650000.0,650000.0,0,xinjiang,"POLYGON ((-1766120.224 3995392.661, -1766246.1...",Xinjiang,650000.0,2006.0,0.087788,0.075510,...,0.246183,0.016140,0.671055,0.302887,0.343597,0.322601,0.532082,-0.638332,-0.833551,Strong negative decoupling / Negative decoupling
4,110000.0,110000.0,16405,Beijing,"POLYGON ((964331.264 4474013.823, 964404.983 4...",Beijing,110000.0,2006.0,0.137433,0.210078,...,0.431877,0.200826,0.839766,0.789294,0.520296,0.640833,0.224613,-0.016062,-13.983872,Strong negative decoupling / Negative decoupling
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312,640000.0,640400.0,10524,Guyuan,"MULTIPOLYGON (((93771.810 3789604.316, 93641.5...",Guyuan,640400.0,2006.0,0.129806,0.020694,...,0.224820,0.005639,0.745015,0.172687,0.375327,0.254586,0.150312,-0.173223,-0.867736,Strong negative decoupling / Negative decoupling
313,640000.0,640500.0,13659,Zhongwei,"POLYGON ((75753.800 4044387.044, 76030.401 404...",Zhongwei,640500.0,2006.0,0.126115,0.030682,...,0.217388,0.012220,0.474050,0.313042,0.243135,0.275883,-0.246529,-0.234007,1.053514,Recession connection / Connection
314,710000.0,710000.0,36200,NaN,"MULTIPOLYGON (((1725282.722 2422889.823, 17253...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315,810000.0,810000.0,1115,NaN,"MULTIPOLYGON (((926766.217 2342789.464, 926841...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316,820000.0,820000.0,34,NaN,"MULTIPOLYGON (((891332.431 2339835.922, 891974...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [81]:
# 查找 Name_of_Regions_x_2010 有值但是 Name 列无值的行
rows_with_value_in_Regions_but_not_in_Name = data_merged3[(data_merged3['Name_of_Regions_x_2010'].notna()) & (data_merged3['Name'].isna())]

# 输出符合条件的行
print(rows_with_value_in_Regions_but_not_in_Name)

Empty GeoDataFrame
Columns: [Prvnc_c, City_cd, Area, Name, geometry, Name_of_Regions_x_2006, Citycode, Year_x, UER_2006, UI_2006, C_2006, T_2006, D_2006, UI_normalized_2006, UER_normalized_2006, C2_2006, T2_2006, D2_2006, Name_of_Regions_x_2010, Year, UER_2010, UI_2010, C_2010, T_2010, D_2010, UI_normalized_2010, UER_normalized_2010, C2_2010, T2_2010, D2_2010, Delta_UER, Delta_UI, DI, DI_Category]
Index: []

[0 rows x 34 columns]

In [79]:
# 删除 geometry 列为空值的行
data_merged3 = data_merged3.dropna(subset=['geometry'])

In [80]:
# 查找 geometry 列为空值的行
rows_with_nan_in_geometry = data_merged3[data_merged3['geometry'].isna()]

# 输出包含 geometry 列为空值的行
print(rows_with_nan_in_geometry)

Empty GeoDataFrame
Columns: [Prvnc_c, City_cd, Area, Name, geometry, Name_of_Regions_x_2006, Citycode, Year_x, UER_2006, UI_2006, C_2006, T_2006, D_2006, UI_normalized_2006, UER_normalized_2006, C2_2006, T2_2006, D2_2006, Name_of_Regions_x_2010, Year, UER_2010, UI_2010, C_2010, T_2010, D_2010, UI_normalized_2010, UER_normalized_2010, C2_2010, T2_2010, D2_2010, Delta_UER, Delta_UI, DI, DI_Category]
Index: []

[0 rows x 34 columns]

In [83]:
# 修改列名称“省代码”为“province”
data_merged3 = data_merged3.rename(columns={'省代码': 'Provincecode'})
# 修改列名称“省代码”为“province”
data_merged3 = data_merged3.rename(columns={'省': 'Province'})
# 修改列名称“省代码”为“province”
data_merged3 = data_merged3.rename(columns={'市代码': 'Citycode1'})
data_merged3 = data_merged3.rename(columns={'市': 'City'})
data_merged3 = data_merged3.rename(columns={'类型': 'Type'})

In [84]:
# 将data_merged导出为新的shapefile
output_shapefile_path = 'data/Chinamap_2019/CouplingValue_20062010.shp'
data_merged3.to_file(output_shapefile_path, driver='ESRI Shapefile')

/tmp/ipykernel_31992/3462740497.py:3: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  data_merged3.to_file(output_shapefile_path, driver='ESRI Shapefile')